<!--订单准备-->
<#if subPage=='number'>
<h2 class="h2_title">改号<span id="cgnum_view"></span></h2>
<div class="order"  id="order_div">
    <div class="order_content" style="border:none; padding:10px">      
        <!--挑靓号-->
        <div class="order_tab_panel" style="display:block;">
</#if>	  
		  <div  id="change_order_phonenumber">
          <input type="hidden" id="subPage" value="${subPage}" />
          <input type="hidden" id="subFlag" value="" />
          <input type="hidden" id="subnum" value="" />
             <div class="selectList">
                 
                 <dl>
                 <dt>号池：</dt>
                       <dd id="change_nbrPool">
                         
					   </dd>
                       <dt>查预占号码：</dt>
                       <dd>
                         <input type="text" id="idCode" class="numberTextBox inputWidth103px" value="请输入身份证查询被预占的号码" onblur="javascript:if($(this).val()==''){$(this).val('请输入身份证查询被预占的号码');}" onfocus="javascript:if($(this).val()=='请输入身份证查询被预占的号码'){$(this).val('')}"/>
                         <input type="button" value="查 询" class="numberSearch" id="change_btnNumExistSearch"/>
                       </dd>
                 </dl>
                 <dl>
                       <dt>号码自定义：</dt>
                       <dd id="change_pnHead">
                       </dd>
                       <dd>
                       	 <input type="hidden" id="phoneNum" class="numberTextBox width82" maxlength="4" value="任意四位" onblur="javascript:if($(this).val()==''){$(this).val('任意四位');}" onfocus="javascript:if($(this).val()=='任意四位'){$(this).val('')}"/>
                       	 <input type="text" id = "change_pnFour" class="numberTextBox width82 input-box" maxlength="1" placeholder="四" title = "中间四位"/>
                       	 <input type="text" id = "change_pnFive" class="numberTextBox width82 input-box" maxlength="1" placeholder="五" title = "中间四位"/>
                       	 <input type="text" id = "change_pnSix" class="numberTextBox width82 input-box" maxlength="1" placeholder="六" title = "中间四位"/>
                       	 <input type="text" id = "change_pnSeven" class="numberTextBox width82 input-box" maxlength="1" placeholder="七" title = "中间四位"/>
                         <input type="text" id="change_pnEnd" class="numberTextBox width82" maxlength="4" value="最后四位" onblur="javascript:if($(this).val()==''){$(this).val('最后四位');}" onfocus="javascript:if($(this).val()=='最后四位'){$(this).val('')}"/>
                         <input type="text" id="change_pnNotExitNum" class="numberTextBox width82" maxlength="1" value="后四位不含" onblur="javascript:if($(this).val()==''){$(this).val('后四位不含');}" onfocus="javascript:if($(this).val()=='后四位不含'){$(this).val('')}"/>
                         <input type="button" value="搜 索" class="numberSearch" id="change_btnNumSearch" />
                         <input type="button" value="换一组" class="numberSearch" id="change_btnSwitchNbr"/>
                       </dd>
                 </dl>
                 <dl>
                     <dt>号码类型：</dt>
                     <dd id="change_pnCharacterId_basic" style="width: 700px;">
					 </dd>
					 <dd id="change_pnCharacterId_all" style="display: none;width: 700px;" >
				     </dd>
				     <span id="change_pnCharacterId_more" style="display: none;">
				     <a href="javascript:void(0);" val="更多" class="btn_more">展开</a>
				     </span>
				     <div class="clear"></div>
				 </dl> 
                 <dl class="noBorder">
                     <dt>预存话费：</dt>
                     <dd  id="change_preStore">
                     </dd>
                 </dl>
                 <dl class="noBorder">
                     <dt>号码排序：</dt>
                     <dd id="change_pnOrder">
                    	<a href="javascript:void(0);" class="selected" onclick="order.phoneNumber.numOrder('#change_pnOrder a', this, 1, 'value')">顺序升序</a>
                     	<a href="javascript:void(0);" onclick="order.phoneNumber.numOrder('#change_pnOrder a', this, -1, 'value')">顺序降序</a>
                     	<a href="javascript:void(0);" onclick="order.phoneNumber.numOrder('#change_pnOrder a', this, 1, 'level')">等级升序</a>
                     	<a href="javascript:void(0);" onclick="order.phoneNumber.numOrder('#change_pnOrder a', this, -1, 'level')">等级降序</a>
                     </dd>
                 </dl>                        
             </div>
             <!--号码列表-->      
            <div class="phone_warp"> 
            <#include "/loading-template.html"/>
            </div>
            <!--号码列表 end-->  
            </div>
<#if subPage=='number'>                    
		</div>
	<!--挑靓号 end-->  
	<!--购物车订单属性展示-->
	<div id="orderAttrDiv">
		<@block name="orderAttr">
			<#include "/order/order-attr.html" />
		</@block>
	</div>                       
	</div>
</div>
</#if>
<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a class="btna_o" href="javascript:order.prodModify.cancel();"><span >取消</span></a>
	<#if can_change_level??&&can_change_level=='0'> 
	<!-- <a class="btna_o" href="javascript:prod.telnum.qryPhoneNbrLevelInfoList();"><span >调整号码等级</span></a> -->
	</#if>
	<a class="btna_o" href="javascript:prod.telnum.endSelectNum();"><span>下一步</span></a> </div>
<!--订单准备 end-->