<#if code?? && (code>=0) >
<table class="numberList" id="tab_orderList">
	<thead>
		<tr>
			<td width="80">收货人</td>
			<td width="120">外部订单号</td>
			<td width="120">手机号码</td>
			<td width="70">地区</td>
			<td width="70">补贴类型</td>
			<td width="70">终端类型</td>
			<td width="60">终端规格</td>
			<td width="80">规格描述</td>
			<td width="120">终端实例编码</td>
			<td width="80">终端状态</td>
			<td width="80">状态</td>
			<td width="80">状态时间</td>
			<td width="80">备注</td>
			<td width="80">操作</td>
		</tr>
	</thead>
	<tbody>
		<#if (pageModel.list)?? &&((pageModel.list)?size>0)> 
		<#list pageModel.list as orderLists >
		<tr>
			<td>${orderLists.consignee}</td>
			<td>${orderLists.extCustOrderId}</td>
			<td>${orderLists.accNbr}</td>
			<td>${orderLists.regionName}</td>
			<td>${orderLists.offerTypeName}</td>
			<td colspan ="5">
			    <table class="numberList" >
			        <tbody>
			        <#if (orderLists.mktResInst)?? &&((orderLists.mktResInst)?size>0)> 
		            <#list orderLists.mktResInst as mktResInsts>
		                <tr>
		                    <#if mktResInsts.mktResType == '103006000'>
		                    <td width="70">UIM卡</td>
		                    <#elseif mktResInsts.mktResType == '101001000'>
		                    <td width="70">手机终端</td>
		                    </#if>
		                    <td width="60">${mktResInsts.mktResCd}</td>
		                    <td width="80"> ${mktResInsts.mktResCdName}</td> 
		                    <td width="120">${mktResInsts.mktResInstCode}</td>
		                    <td width="80">${mktResInsts.statusCdName}</td>
		                </tr>
		            </#list>
		            </#if>
		            </tbody>
			    </table>
			</td>
			<td>${orderLists.statusCdName}</td>
			<td>${orderLists.version}</td>
			<td>${orderLists.remark}</td>
			<td><a class="purchase"
				href="javascript:essMktRes.terminal.showTerminalBackfill('${orderLists.extCustOrderId}','${orderLists.commonRegionId}','${orderLists.channelId}')"
				type="main">终端回填</a></td>
		</tr>
		</#list>
		<#else>
		<tr>
			<td colspan="9">没有查询到结果</td>
		</tr>
		</#if>
	</tbody>
</table>
<@portal.simplifyModelPagination pageModel "essMktRes.terminal.queryOrderList"/>
<!--历史订单轨迹弹窗-->
<div class="easyDialogdiv" style="width:500px;height:460px;" id="div_orderEvent_dialog">
</div>
<!--页码 end-->
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}"
	type="text/javascript"></script>
<#else>
    ${mess}
</#if>
