<#if code?? && (code>=0) >
<table class="numberList" id="tab_orderList">
	<thead>
		<tr>
			<td width="40">收货人</td>
			<td width="70">外部订单号</td>
			<td width="60">手机号码</td>
			<td width="40">地区</td>
			<td width="40">省份</td>
			<td width="40">补贴类型</td>
			<td width="40">终端类型</td>
			<td width="40">终端规格</td>
			<td width="100">规格描述</td>
			<td width="100">终端实例编码</td>
			<td width="60">终端实例状态</td>
			<td width="80">主套餐</td>
			<td width="40">状态</td>
			<td width="100">状态时间</td>
			<td width="80">操作</td>
		</tr>
	</thead>
	<tbody>
		<#if (pageModel.list)?? &&((pageModel.list)?size>0)> 
		<#list pageModel.list as orderLists >
		<tr>
			<td>${orderLists.consignee}</td>
			<td>${orderLists.extCustOrderId}</td>
			<td>${orderLists.accNbr}</td>
			<td>${orderLists.regionName}</td>
			<td>${orderLists.provinceName}</td>
			<td>${orderLists.offerTypeName}</td> 
			<#if (orderLists.mktResInst)?? &&((orderLists.mktResInst)?size>0)>
			<#list orderLists.mktResInst as mktResInsts>
			<#if mktResInsts.mktResType == '103006000'>
			<td>UIM卡</td>
			<td>${mktResInsts.mktResCd}</td>
			<td> ${mktResInsts.mktResCdName}</td> 
			<td>${mktResInsts.mktResInstCode}</td>
			<td>${mktResInsts.statusCdName}
			     <input type="hidden" id="${orderLists.extCustOrderId}"  value=${mktResInsts.orderItemGroupId}>
			     <input type="hidden" id="${orderLists.accNbr}"  value=${mktResInsts.orderItemGroupId}>
			</td>
			</#if>
			</#list>
			<#else>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</#if>
			<td>${orderLists.mainOfferName}</td>
			<td>${orderLists.statusCdName}</td>
			<td>${orderLists.version}</td>
			<td>
			    <form method="post" id="realNameAuth_action">
			    <a class="purchase"
				href="javascript:ess.writeCard.realNameAuth('${orderLists.extCustOrderId}')"
				type="main">实名制认证</a>
				</form>
			    <a class="purchase"
				href="javascript:order.writeCard.essWriteReadCard('${orderLists.accNbr}','${orderLists.extCustOrderId}','${orderLists.orderNeedAction}','${orderLists.commonRegionId}','${orderLists.zoneNumber}')"
				type="main">写卡</a>
				<#if writeCard_test =="0">
				<a class="purchase"
				href="javascript:order.writeCard.essMNWriteCard('${orderLists.accNbr}','${orderLists.extCustOrderId}','${orderLists.orderNeedAction}','${orderLists.commonRegionId}','${orderLists.zoneNumber}')"
				type="main">模拟写卡</a>
				</#if>
			</td>
		</tr>
		</#list>
		<#else>
		<tr>
			<td colspan="9">没有查询到结果</td>
		</tr>
		</#if>
	</tbody>
</table>
<@portal.simplifyModelPagination pageModel "ess.writeCard.queryOrderList"/>
<!--历史订单轨迹弹窗-->
<div class="easyDialogdiv" style="width:500px;height:460px;" id="div_orderEvent_dialog">
</div>
<!--页码 end-->
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}"
	type="text/javascript"></script>
<#else>
    ${mess}
</#if>
