<!--订单状态历史-->
<h2 class="h2_title">
	订单状态历史展示<span></span> <a href="javascript:void(0);"
		class="numberSearch back3" onclick="easyDialog.close();"><span>返回</span>
	</a>
</h2>
<div class="order">
	<div class="order_content" style="border: none; padding: 10px">
		<div class="order_tab_panel lazyloadModule" style="display: block;"
			id="ess_order_event">
			<div class="order_tab_header">
				<div class="selectList">
					<table class="numberList" id="tab_orderList">
						<thead>
							<tr>
								<td width="50">序号</td>
								<td width="100">事件名称</td>
								<td width="100">状态</td>
								<td width="100">状态时间</td>
							</tr>
						</thead>
						<tbody>
							<#if (orderInfo.orderEvent)?? &&((orderInfo.orderEvent)?size>0)> 
							<#list orderInfo.orderEvent as orderEvents >
							<tr>
								<td>${orderEvents.sequence}</td>
								<td>${orderEvents.eventReason}</td>
								<td>${orderEvents.stateName}</td>
								<td>${orderEvents.createDt}</td>
							</tr>
							</#list>
							<#else>
							<tr>
								<td colspan="9">没有查询到结果</td>
							</tr>
							</#if>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--订单状态历史 end-->