<!-- 靓号调级-->
<div class="order_confirmation ordertabcon" style="display: none" id="ordertabcon">
	<h2 class="h2_title">
		<span>${boActionTypeName}</span>
		<span class="showhide"></span>
	</h2>
	
	<div class="main_body">
		<!--购物车订单信息展示-->
		<div class="height18"></div>
		<#if baseInfo??>
			<div id="orderInfoDetail">
				<h5 class="s_title">变更信息</h5>
				<ul class="fillin">
					<li class="full" id="li_order_remark">
						<label>调级靓号：</label> 
						<span style="line-height: 28px; float:left;">${baseInfo.phoneNumber}</span>
						<input type="hidden" value="${baseInfo.phoneNumber}" id="baseInfoPhoneNumber">
						<input type="hidden" value="${baseInfo.phoneNumId}" id="baseInfoPhoneNumId">
						<input type="hidden" value="${baseInfo.phoneLevelId}" id="baseInfoPhoneLevelId">
					</li>
					<li class="full" id="li_order_remark">
						<label>靓号低消：</label> 
						<span style="line-height: 28px; float:left;">${baseInfo.pnPrice}</span>
						<input type="hidden" value="${baseInfo.pnPrice}" id="baseInfoPnPrice">
					</li>
					<li class="full" id="li_order_remark">
						<label>靓号预存：</label> 
						<span style="line-height: 28px; float:left;">${baseInfo.prePrice}</span>
						<input type="hidden" value="${baseInfo.prePrice}" id="baseInfoPrePrice">
					</li>
				</ul>
			</div>
		<#else>
			<div id="orderInfoDetail">
				<h5 class="s_title">变更信息</h5>
				<ul class="fillin">
					<li class="full" id="li_order_remark">
						<label>数据返回异常，未获取到号码调级信息</label> 
					</li>
				</ul>
			</div>
		</#if>
		<!-- 发展人 -->
		<!-- 
			<div class="height18"></div>
			<div id="dealerAidDiv" >
				<@block name="dealer">
					<#include "/order/order-dealer.html" />
				</@block>
			</div>
		 -->
			
		<!--购物车订单备注展示-->
		<div class="height18"></div>
		<div id="orderRemarkDiv">
			<@block name="remark"> 
				<#include "/order/order-remark.html" /> 
			</@block>
		</div>
		
		<!--购物车订单属性展示-->
		<div class="height18"></div>
		<div id="orderAttrDiv">
			<@block name="orderAttr"> 
				<#include "/order/order-attr.html" /> 
			</@block>
		</div>
	</div>
</div>
<div align="right" style="margin: 20px auto; padding: 0 20px;">
	<a id="fillLastStep" href="javascript:void(0)" class="btna_o"><span>取消</span></a> 
	<a id="fillNextStep" href="javascript:void(0)" class="btna_o" style="margin-left: 20px;"><span>下一步</span></a>
</div>