<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
<style>
	.reportform thead tr:nth-child(3) td {
		background: #71ab5a;
		color: #fff;
	}
	.reportform td {
		border: 1px solid #d3d8d0;
	}		
</style>

<div class="phone_warp">
	<table class="numberList reportform">
		<thead>
			<#if qryType == "0"> <!-- 精品渠道终端进销存明细报表 -->
				<tr>
					<td width="11%">品牌</td>
					<td width="21%">机型颜色</td>
					<td width="17%">串码</td>
					<td width="17%">操作</td>
					<td width="17%">操作时间</td>
					<td width="17%">操作工号</td>
				</tr>
			<#else> <!-- 精品渠道终端进销存(库存量)明细报表 -->
				<tr>
					<td width="12%">品牌</td>
					<td width="22%">机型颜色</td>
					<td width="22%">串码</td>
					<td width="22%">入库时间</td>
					<td width="22%">是否注册激活</td>
				</tr>
			</#if>
		</thead>
		<tbody>
			<#list pageModel.list as childList>
			   	<#if qryType == "0"> <!-- 精品渠道终端进销存明细报表 -->
					<tr>
					    <td>${childList.brand}</td>		<!-- 品牌 -->
						<td>${childList.desc}</td>		<!-- 机型颜色 -->
						<td>${childList.instCode}</td>	<!-- 串码 -->
						<td>							<!-- 操作 -->
							<#if childList.dealType == "0">领用
				     	 	<#elseif childList.dealType == "1">回退
				     	 	<#elseif childList.dealType == "2">裸机销售
				     	 	<#elseif childList.dealType == "3">合约销售
				     	 	<#else>未知状态
				     	 	</#if>
						</td>
						<td>${childList.dealTime}</td>	<!-- 操作时间 -->
						<td>${childList.staffCode}</td>	<!-- 操作工号 -->
				   	</tr>
				<#else> <!-- 精品渠道终端进销存(库存量)明细报表 -->
					<tr>
					    <td>${childList.brand}</td>			<!-- 品牌 -->
						<td>${childList.desc}</td>			<!-- 机型颜色 -->
						<td>${childList.instCode}</td>		<!-- 串码 -->
						<td>${childList.dealTime}</td>		<!-- 入库时间 -->
						<td>								<!-- 是否注册激活 -->
							<#if childList.isSelfRegister == "0">否
				     	 	<#elseif childList.isSelfRegister == "1">是
				     	 	<#else>未知状态
				     	 	</#if>
						</td>
				   	</tr>
				</#if>
		   	</#list>
		</tbody>
	</table>
	
	<!--页码-->
	<@portal.terminalModelPagination pageModel 5 "mktRes.terminal.terminalStatisticDetailQuery"/>
	<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
	<!--页码 end-->

</div>
<#else>
	<div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>