<@override name="title"><#if pageType=="detail">受理订单查询<#elseif pageType=="voucher">重打回执<#elseif pageType=="reInvoice">重打发票<#elseif pageType=="addInvoice">补打发票<#elseif pageType=="link">受理流程查询</#if></@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>
<style>
.cartLink_fail:hover {
    text-decoration : underline;
    cursor : pointer;
}
</style>
</@override>

<@override name="content">

<div class="main_div" id="d_query" >
<div class="main_warp"> 
  <!--订单准备-->
  <#if flag == "1">
    <h2 class="h2_title">终端领用<span></span></h2>
  <#else>
     <h2 class="h2_title">终端退回<span></span></h2>
   </#if>
    
  <div class="order">
    <div class="order_content" style="border:none; padding:10px">
      <h5 class="s_title">领取仓库</h5>
      <div class="order_tab_panel" style="display:block;">
        <div class="selectList">
          <dl class="noBorder">
            <dt>仓库：</dt>
            <dd>
               <select id="storeSel" class="selectNumbertype" style="width:260px;margin:6px 7px 10px 13px;" onchange="javascript:mktRes.terminal.receive.changeStore()">
                 <#list list as list>
                    <option value="${list.mktResStoreId}">${list.mktResStoreName}</option>  
                 </#list>     
              </select> 
              <label class="f_red">*</label>
             </dd>
             <dd>
             	<input type="text" id="storeNameQryInp" class="numberTextBox width198" />
             	<input type="button" value="仓库查询" onclick="javascript:mktRes.terminal.receive.queryStore()" class="numberSearch" />
             	<input type="button" value="重置" onclick="javascript:mktRes.terminal.receive.queryStoreReset()" class="numberSearch" />
             </dd>
          </dl>
        </div>
        <h5 class="s_title">串码所在仓库</h5>
        <div class="order_tab_panel" style="display:block;">
          <div class="selectList">
            <dl class="noBorder">
              <dt>串码：</dt>
              <dd>
                <input type="text" class="numberTextBox width198" id="termCode">
              </dd>
              <dd>
                <input type="button" value="添 加" onclick = "javascript:mktRes.terminal.receive.btnAddTerminal()" class="numberSearch" />
                <input type="button" value="删 除" onclick = "javascript:mktRes.terminal.receive.btnDelTerminal()" class="numberSearch" />
              </dd>
            </dl>
          </div>
         <div class="phone_warp">
            <table class="numberList">
              <thead>
                <tr>
                  <td width="5%"><input type="checkbox" value="" name="range_all_check" onClick = "javascript:mktRes.terminal.receive.checkAll(this)"></td>
                  <td width="10%">机型编码</td>
                  <td width="10%">机型</td>
                  <td width="10%">供货商</td>
                  <td width="10%">串号</td>
                  <td width="10%">归属仓库</td>
                  <td width="10%">串号状态</td>
                  <td width="10%">批次</td>
                </tr>
              </thead>
              <tbody id = "terminalTable">
                
              </tbody>
            </table>
            <!--页码-->
            <!-- <div class="paging">
              <label> <span class="pageUpGray">上一页</span> </label>
              <label id="pageNum"><a class="pagingSelect" href="#">1</a><a class="fontBlueB" href="#">2</a><a class="fontBlueB" href="#">3</a></label>
              <span class="nextPageGrayOrange">下一页</span>
              </label>
              <label class="marginTop4">共3 页</label>
              <label class="marginTop4">跳转至</label>
              <input type="text" class="inputW20H20" />
              <label class="marginTop4">页</label>
              <a href="#" class="determineBtn">跳转</a>
              </div> -->
            <!--页码 end--> 
            
          </div>
          <!--列表 end--> 
          
        </div>
       </div>
    </div>
     <input type="hidden" id="flag" value="${flag}" />
    <!--订单准备 end--> 
  </div>
  <#if flag == 1>
    <div align="right" style="margin: 20px auto; padding:0 20px;"> <a class="btna_o" onclick = "javascript:mktRes.terminal.receive.btnTerminalUse()" ><span >确认领取</span></a> <a style=" margin-left:20px;" class="btna_o" ></a> </div>
  <#else>
    <div align="right" style="margin: 20px auto; padding:0 20px;"> <a class="btna_o" onclick = "javascript:mktRes.terminal.receive.btnTerminalUse()" ><span >确认回退</span></a> <a style=" margin-left:20px;" class="btna_o" ></a> </div>
  </#if>
  
</div>
    </div>
    
</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
<!--内容 end--> 

