<!--订单准备-->
<h2 class="h2_title">
	终端预约<span></span>
	<a href="javascript:void(0);" class="numberSearch back3" onclick="easyDialog.close();"><span>返回</span></a>
</h2>
<input id="pageType" type="hidden" value="zdyy"/> 
<div class="order">
	<div class="order_content" style="border: none; padding: 10px">
		<!--购手机-->
		<div class="order_tab_panel lazyloadModule" style="display: block;"
			id="order_tab_panel_terminal">
			<div class="order_tab_header">
				<div class="selectList">
					<dl>
						<dt>终端名称：</dt>
						<dd>
						
							<input id="commCond" type="text" class="numberTextBox"
								style="color: rgb(153, 153, 153);" maxlength="11" /> 
 						</dd>
						<dd>
                            <input id="btn_search" type="button" value="搜&nbsp;索" class="numberSearch"  onclick="mktRes.terminal.btnQueryTerminal(1)"/>
 						</dd>
					</dl>
				</div>
			</div>
			<!--终端列表-->
			<div class="order_tab_content">
				<div id="order_term_list">
				</div>
				<div id="order_term_detail" style="display: none;"></div>
			</div>
			<!--终端列表 end-->
		</div>
		<!--购手机 end-->
	</div>
</div>
<!--订单准备 end-->