<!-- 精品渠道终端(库存)汇总报表 -->
<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
<style>
	.reportform thead tr:nth-child(3) td {
		background: #71ab5a;
		color: #fff;
	}
	.reportform td {
		border: 1px solid #d3d8d0;
	}		
</style>
<input type="hidden" id="terminalStatisticTotalSize" value="${totalResultNum}">
<div class="phone_warp">
	<table class="numberList reportform">
		<thead>
			<tr>
				<td colspan="3">终端描述</td>
				<td colspan="3">库存量</td>
			</tr>
				<tr>
					<td width="17%">品牌</td>
					<td width="15%">机型</td>
					<td width="14%">颜色</td>
					<td width="18%">库存量</td>
					<td width="18%">超期库存量</td>
					<td width="18%">自注册激活量</td>
				</tr>
		</thead>
		<tbody>
			<#list pageModel.list as childList>
			    <tr>
				    <td>${childList.brand}</td>		<!-- 品牌 -->
					<td>${childList.type}</td>		<!-- 机型 -->
					<td>${childList.color}</td>		<!-- 颜色 -->
					<td>${childList.kcQty}</td>		<!-- 库存量 -->
					<td>${childList.cqkcQty}</td>	<!-- 超期库存量 -->
					<td>${childList.zzcQty}</td>	<!-- 自注册激活量 -->
			   	</tr>
		   	</#list>
		</tbody>
	</table>
	
	<!--页码-->
	<!-- 
		<@portal.terminalModelPagination pageModel 5 "mktRes.terminal.terminalStatisticQuery"/> 
		<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
	-->
	<!--页码 end-->

</div>
<#else>
	<div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>