<div id="terminal_deatil">
	<#if mktRes??>
	<!--购手机-->
	<div style="display: block;" class="order_tab_panel">
		<!--手机基本信息-->
		<div class="phone_info">
			<div class="phone_info_l floatleft">
				<div id="preview">
					<div class="jqzoom">
						<#assign intf_pic = false>
						<#assign p_pic =
							contextPath+'/image/temp_term_pic/mobile_phone.png'>
						<#if (mktRes.mktPicA)??>
							<#assign p_pic = mktRes.mktPicA>
							<#assign intf_pic = true>
						</#if>
						<img src="${p_pic}" width="170" height="170" id="term_pic_id"/>
					</div>
				</div>
			</div>
			<div class="phone_info_r floatleft">
				<div class="Info_txt">
					<h2 id="mkt_resname_id">${(mktRes.mktResName)?default("--")}</h2>
					<dl>
						<dt>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</dt>
						<dd class="Pricestyle">
							<span id="mkt_saleprice_id"><#if (mktRes.contractPrice)?default(0) != 0>${mktRes.contractPrice / 100}<#else>&nbsp;--</#if> 元</span>
						</dd>
					</dl>
					
					<#if mktResList?? &&(mktResList?size>0)>
					<dl>
						<dt >颜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：</dt>
						<#list mktResList as mkt>
							<#assign contractFlag = mkt.contractFlag>
							<#assign mktResId = mkt.mktResId>
							<#assign mktResName = (mkt.mktResName)?default("--")>
							<#assign mktResTypeCd = mkt.mktResTypeCd>
							<#if (mkt.contractPrice)?default(0) != 0>
							<#assign mktSalePrice = (mkt.contractPrice / 100)>
							<#else><#assign mktSalePrice = '--'></#if>
							<#assign flag = true>
							<#assign p_pic_color =
								contextPath+'/image/common/phone/20120409123004-1319113024_170_170.jpg'>
						<#if (mkt.attrList)??>
						<#list mkt.attrList as mktSpecCodes>
							<#if (mktSpecCodes.attrId)?? && (mktSpecCodes.attrId) =='60010005'>
								<#assign mktSpecCode = mktSpecCodes.attrValue>
							</#if>
						</#list>
						<#list mkt.attrList as attrList>
						<#if (attrList.attrId)?? && (attrList.attrId) =='60019454'>
							<#assign flag = false>
							<#assign p_pic_color = mktResPicUrl+attrList.attrValue>
							<#list mkt.attrList as attrListTmp>
								<#if (attrListTmp.attrId)?? && (attrListTmp.attrId) =='60010004'>
								<#if (mkt_index)%3=0&&(mkt_index)!=0>
								<br><br><dt></dt>
								</#if>
								<#if mkt.mktResId == (mktRes.mktResId)>
								<dd>
									<a name="selectBox" class="selectNumbel selectBoxTwoOn" onclick="javascript:mktRes.terminal.selectColor(this)" mktResId="${mktResId}" mktResName="${mktResName}" mktSalePrice="${(mkt.salePrice)?default(0)}" mktNormalSalePrice="${(mkt.contractPrice)?default(0)}" p_pic="${p_pic_color}" mktResTypeCd="${mktResTypeCd}" mktSpecCode="${mktSpecCode}">${attrListTmp.attrValue}<u></u></a>
								</dd>
								<#else>
								<dd>
									<a name="selectBox" class="selectNumbel selectBoxTwo" onclick="javascript:mktRes.terminal.selectColor(this)" mktResId="${mktResId}" mktResName="${mktResName}" mktSalePrice="${(mkt.salePrice)?default(0)}" p_pic="${p_pic_color}" mktNormalSalePrice="${(mkt.contractPrice)?default(0)}" mktResTypeCd="${mktResTypeCd}" mktSpecCode="${mktSpecCode}">${attrListTmp.attrValue}<u></u></a>
								</dd>
								</#if>
								</#if>
							</#list>
						</#if>
						</#list>
						<#if flag=='true'>
							<#list mkt.attrList as attrListTmp>
								<#if (attrListTmp.attrId)?? && (attrListTmp.attrId) =='60010004'>
								<#if (mkt_index+1)%4=0>
								<br><br><dt></dt>
								</#if>
								<#if mkt.mktResId == (mktRes.mktResId)>
								<dd>
									<a name="selectBox" class="selectNumbel selectBoxTwoOn" onclick="javascript:mktRes.terminal.selectColor(this)" mktResId="${mktResId}" mktResName="${mktResName}" mktSalePrice="${(mkt.salePrice)?default(0)}" mktNormalSalePrice="${(mkt.contractPrice)?default(0)}" p_pic="${p_pic}" mktResTypeCd="${mktResTypeCd}" mktSpecCode="${mktSpecCode}">${attrListTmp.attrValue}<u></u></a>
								</dd>
								<#else>
								<dd>
									<a name="selectBox" class="selectNumbel selectBoxTwo" onclick="javascript:mktRes.terminal.selectColor(this)" mktResId="${mktResId}" mktResName="${mktResName}" mktSalePrice="${(mkt.salePrice)?default(0)}" p_pic="${p_pic_color}" mktNormalSalePrice="${(mkt.contractPrice)?default(0)}" mktResTypeCd="${mktResTypeCd}" mktSpecCode="${mktSpecCode}">${attrListTmp.attrValue}<u></u></a>
								</dd>
								</#if>
								</#if>
							</#list>
						</#if>
						</#if>
						</#list>
					</dl>
					</#if>
					
					<dl style="display: block;" class="sel_plan_content">
						<dt class="planstyle">购机方式：</dt>
						<dd>
							<a id="lj" class="selectBoxTwoOn selectNumbel">购买裸机<u></u></a>
						</dd>
						<dd>
						    <#if contractFlag == '1' >
							   <a id="hy" class="selectBoxTwo selectNumbel">合约套餐<u></u></a>
							</#if>
						</dd>
					</dl>
					<dl style="display: none;" class="sel_plan_content"
						id="sel_number">
						<dt class="planstyle" id="phone_info_number">号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</dt>
						<dd>
							<a class="selectBoxTwo selectNumbel" id="cNumA">选择号码<u></u></a>
						</dd>
						<dd class="txt" id="selected_phone_number">已选号码：<span id="choosedNumSpan"></span></dd>
					</dl>
					<dl style="display: none;" class="sel_plan_content" id="treaty">
						<dt class="planstyle">合约套餐：</dt>
						<dd>
							<a class="selectBoxTwo selectNumbel" id="cfsjA">存费送机<u></u></a>
						</dd>
						<dd>
							<a class="selectBoxTwo selectNumbel" id="gjsfA">购机送费<u></u></a>
						</dd>
						<dd class="txt" id="selected_terminal_offer">已选合约：<span id="choosedOfferPlan"></span></dd>
					</dl>
					<form id ="chkTsnAForm" >
					<dl style="display: block;" class="sel_plan_content" id="treaty">
						<dt class="planstyle">终端串码：</dt>
						<dd>
							<input type="text" class="inputWidth228px inputMargin0" id="tsn" placeholder="请先输入终端串号" maxlength="50"  data-validate="validate(terminalCodeCheck) on(keyup blur)" />
						</dd>
						<dd>
							<a id="chkTsnA" class="purchase kh_btn" style="margin: 3px 0 0 5px;">校验</a>
						</dd>
					</dl>
				    </form>
					<dl style="display: block;" class="sel_plan_content" id="reserveCodeDl">
					    <dt style="width:110px"><input type="checkbox" id="if_p_reserveCode" >使用预约码：</dt>
                        <dd>
                            <input type="text" class="inputWidth228px inputMargin0" id="reserveCode" value="" disabled="disabled" style="width:160px;background-color: #E8E8E8;" />
                            <label class="f_red" >&nbsp;</label>
                        </dd>
                        <dd>
							<a id="chkReserveCode" class="purchase kh_btn" style="margin: 3px 0 0 5px;">校验</a>
						</dd>
					</dl>
					
					<#--终端的三个属性-->
					<dl id="terminal3attr" class="planstyle" style="color: red;display: none;width: auto"></dl>
					<!-- 协销人展示 -->
					<div id="dealerMktDiv" >
						<@block name="dealerMkt">
							<#include "/order/order-dealer-mkt.html" />
						</@block>
					</div>
					<dl style="display: block; margin-top: 10px;"
						class="sel_plan_content">
						<a id="purchaseTermA" class="btna_g"><span>立即购买</span></a>
					</dl>
				</div>
			</div>
		</div>
	</div>
	</#if>
</div>
<!--弹出框的内容-->
<div style="display: none" id="ec-dialog-form-container-gjhy"
	class="ec-dialog-form-container">
	<div class="ec-dialog-form-top heightChg">
		<h1 class="ec-dialog-form-title">选择合约</h1>
		<a id="hy_nav_confirm_a" style="position:absolute; right:16px;top:6px;" class="btn_h30"><span>确定</span></a>
	</div>
	<div class="ec-dialog-form-content">
		<div class="ec-dialog-form-loading" style="display: none"></div>
		<div class="ec-dialog-form-message" style="display: none"></div>
		<div class="ec-dialog-form-form">
			<form action="#" style="" id="dialogForm1">
				<div class="form-content" id="gjhyContent">
				</div>
			</form>
		</div>
	</div>
	<div class="ec-dialog-form-bottom"></div>
</div>

<!--弹出框的内容-->
<!-- term info -->
<input type="hidden" id="mktResType" value="${(mktRes.mktResTypeCd)?default('')}" />
<input type="hidden" id="mktResId" value="${(mktRes.mktResId)?default('')}" />
<input type="hidden" id="mktResCd" value="${(mktRes.mktResCd)?default('')}" />
<input type="hidden" id="mktResName" value="${(mktRes.mktResName)?default('')}" />
<input type="hidden" id="mktLjPrice" value="${(mktRes.salePrice)?default('0')}" />
<input type="hidden" id="price" value="${(mktRes.contractPrice)?default('0')}" />
<input type="hidden" id="brand" value="${(mktRes.brand)?default('')}" />
<input type="hidden" id="type" value="${(mktRes.phoneType)?default('')}" />
<input type="hidden" id="color" value="${(mktRes.phoneColor)?default('')}" />
<input type="hidden" id="tsn_hid" value="" />
<input type="hidden" id="mktSpecCode" value="${(mktRes.mktSpecCode)?default('')}" />
<div id="terminal_plan_offer" style="display: none"></div>
