<!-- 精品渠道终端(操作)汇总报表 -->
<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
<style>
	.reportform thead tr:nth-child(3) td {
		background: #71ab5a;
		color: #fff;
	}
	.reportform td {
		border: 1px solid #d3d8d0;
	}		
</style>
<input type="hidden" id="terminalStatisticTotalSize" value="${totalResultNum}">
<div class="phone_warp">
	<table class="numberList reportform">
		<thead>
			<tr>
				<td colspan="3">终端描述</td>
				<td colspan="3">进货量</td>
				<td colspan="3">核销量</td>
			</tr>
				<tr>
					<td width="10%">品牌</td>
					<td width="15%">机型</td>
					<td width="15%">颜色</td>
					<td width="10%">领用量</td>
					<td width="10%">退回量</td>
					<td width="10%">领用合计</td>
					<td width="10%">合约</td>
					<td width="10%">裸机</td>
					<td width="10%">合计</td>
				</tr>
		</thead>
		<tbody>
			<#list pageModel.list as childList>
			    <tr>
				    <td>${childList.brand}</td>		<!-- 品牌 -->
					<td>${childList.type}</td>		<!-- 机型 -->
					<td>${childList.color}</td>		<!-- 颜色 -->
					<td>${childList.lyQty}</td>		<!-- 领用量 -->
					<td>${childList.htQty}</td>		<!-- 退回量 -->
					<td>${childList.lyhjQty}</td>	<!-- 领用量合计 -->
					<td>${childList.hyxsQty}</td>	<!-- 合约 -->
					<td>${childList.ljxsQty}</td>	<!-- 裸机 -->
					<td>${childList.xsQty}</td>		<!-- 合计 -->
			   	</tr>
		   	</#list>
		</tbody>
	</table>
	
	<!--页码-->
	<!-- 
		<@portal.terminalModelPagination pageModel 5 "mktRes.terminal.terminalStatisticQuery"/> 
		<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
	-->
	<!--页码 end-->

</div>
<#else>
	<div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>