<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>山东电信</title>
<link rel="stylesheet" href="../../../resources/css/pad-css/jquery.mobile-1.4.2.css">
<link rel="stylesheet" href="../../../resources/css/pad-css/pad.css">
<script src="../../../resources/js/pad-js/third-js/jquery-1.9.1.min.js"></script>
<script src="../../../resources/js/pad-js/third-js/jquery.mobile-1.4.2.min.js"></script>
<script src="../../../resources/js/pad-js/our-js/layout.js"></script>
<script type="text/javascript">
//$.get("top.html",function(data){
//$("#top").html(data);
//});
$(document).ready(function(){
$("#logobar").click(function(){
$("#navbar").slideToggle(400);
});
$("#otabs li").bind("click", function () {
var index = $(this).index();
var divs = $("#otabs-body > div");
$(this).parent().children("li").attr("class", "otab-nav");//将所有选项置为未选中
$(this).attr("class", "otab-nav-action"); //设置当前选中项为选中样式
$(this).parent().children("li").find(".ui-input-search").hide();
$(this).parent().children("li").find(".ui-select").hide(); 
$(this).children("div").show();
divs.hide();//隐藏所有选中项内容
divs.eq(index).show(); //显示选中项对应内容
});
$(".navbar4g li").bind("click", function () {
$(".tabnav").show("fast");
var _width = window.innerWidth;
var _height = window.innerHeight;
var htmlstr = '<div id="pad-lock-layer" style="width:'+_width+'px;height:'
    +_height+'px;position:fixed;top:0px;left:0px;opacity:0.2;z-index:1001;" class="loader-bg"></div>';
$("#pad-lock-layer").remove();
$("body").append(htmlstr);
var index = $(this).index();
var divs = $(".tabnav > div");
$(this).parent().children("li").find("a").removeClass("onclick");//将所有选项置为未选中
$(this).find("a").addClass("onclick"); //设置当前选中项为选中样式
divs.eq(index).addClass("onmouse").removeClass("onmouseout").siblings("div").addClass("onmouseout").removeClass("onmouse");
$("#pad-lock-layer").on("tap",function(){
$(".tabnav > div.onmouse").addClass("onmouseout").removeClass("onmouse");
$("#pad-lock-layer").remove();
$(".navbar4g li").find("a").removeClass("onclick");
$(".tabnav").hide("slow");
});
});
$("#quickset li").on("tap",function(){
if ($(this).hasClass("set")) {
$(this).removeClass("set");
} else {
$(this).addClass("set");
}
});
});
</script>
</head>
<body>
<div data-role="page" class="index">
  <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="i" id="top"> <span class="logo4g"></span>
    <form method="post" action="demoform.asp" class="usersearch">
      <label>客户定位</label>
      <select name="user" id="user" data-native-menu="false" class="searchselect"  data-icon="select">
        <option value=”京” selected=”selected”>北京</option>
        <option value=”沪”>上海</option>
        <option value=”津”>天津</option>
        <option value=”渝”>重庆</option>
        <option value=”冀”>河北</option>
        <option value=”豫”>河南</option>
        <option value=”鄂”>湖北</option>
        <option value=”湘”>湖南</option>
        <option value=”苏”>江苏</option>
        <option value=”赣”>江西</option>
        <option value=”辽”>辽宁</option>
        <option value=”吉”>吉林</option>
        <option value=”黑”>黑龙江</option>
        <option value=”陕”>陕西</option>
        <option value=”鲁”>山东</option>
        <option value=”晋”>山西</option>
        <option value=”川”>四川</option>
        <option value=”青”>青海</option>
        <option value=”皖”>安徽</option>
        <option value=”琼”>海南</option>
        <option value=”粤”>广东</option>
        <option value=”桂”>广西</option>
        <option value=”贵”>贵州</option>
        <option value=”浙”>浙江</option>
        <option value=”闽”>福建</option>
        <option value=”甘”>甘肃</option>
        <option value=”云”>云南</option>
        <option value=”蒙”>内蒙古</option>
        <option value=”宁”>宁夏</option>
        <option value=”新”>新疆</option>
        <option value=”藏”>西藏</option>
        <option value=”港澳台”>港澳台</option>
      </select>
      <select name="usertype" id="usertype" data-native-menu="false" class="searchselect" data-icon="select">
        <option value="mon">接入号码</option>
      </select>
      <select name="numonoff" id="numonoff" data-role="slider" class="numonoff">
        <option value="numon">指定号码</option>
        <option value="numoff">不指定号码</option>
      </select>
      <input type="text" name="usernum" id="usernum" placeholder="请输入接入号码" class="searchtext">
      <a href="#userresult" data-role="button" data-icon="search" data-theme="g">查询</a> <a href="#adduser" data-transition="slideup" data-rel="popup" data-position-to="window" data-role="button" data-icon="plus" data-theme="g">新建客户</a>
    </form>
  </div>
  <div data-role="content">
    <div class="width100"> <span class="iconindex icon-news">&nbsp;</span> <span class="time">2014/01-04</span> <a href="#" class="news">营业门户2.0风格即将上线</a> </div>
    <div class="w100">
      <div class="wleft"> <span class="iconindex icon-user">&nbsp;</span> <span class="font20">李东健</span> <span class="font12">欢迎使用4G营业门户</span> <a href="#" data-role="button" data-icon="out" data-iconpos="notext" data-theme="i">退出</a> </div>
      <div class="wright"> <span class="iconindex icon-channel">&nbsp;</span> <span class="font16">西城区营业厅</span> <a href="#" data-role="button" data-icon="choose" data-iconpos="notext" data-theme="i">退出</a> </div>
    </div>
    <ul class="go">
      <li> <span class="goimg icon-package">
        <p>Package</p>
        </span> <a>办套餐</a> </li>
      <li> <span class="goimg icon-phone">
        <p>Phone</p>
        </span> <a>购手机</a> </li>
      <li> <span class="goimg icon-number">
        <p>Number</p>
        </span> <a>挑靓号</a> </li>
    </ul>
    <div class="width100"> <span class="iconindex icon-quick">&nbsp;</span> <span class="font16">常用操作</span> <a href="#quicknav" data-transition="slideup" data-rel="popup" data-position-to="window" data-role="button" data-icon="settings" data-iconpos="notext" data-theme="i">设置</a> </div>
    <ul class="quick">
      <li> <span class="quickimg icon-q01"></span>
        <p>天翼合约新装</p>
      </li>
      <li> <span class="quickimg icon-q02"></span>
        <p>密码修改</p>
      </li>
      <li> <span class="quickimg icon-q03"></span>
        <p>订单返销</p>
      </li>
      <li> <span class="quickimg icon-q04"></span>
        <p>套餐返档</p>
      </li>
      <li> <span class="quickimg icon-q05"></span>
        <p>菜单管理</p>
      </li>
    </ul>
  </div>
  <a class="logo" id="logobar"></a>
  <div id="navbar" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="i" style="display:block;">
    <div data-role="navbar">
      <ul class="navbar4g">
        <li><a href="#" data-icon="bar01">营业受理</a></li>
        <li><a href="#" data-icon="bar02">批量受理</a></li>
        <li><a href="#" data-icon="bar03">费用管理</a></li>
        <li><a href="#" data-icon="bar04">综合查询</a></li>
        <li><a href="#" data-icon="bar05">营业报表</a></li>
        <li><a href="#" data-icon="bar06">营业报表</a></li>
      </ul>
    </div>
  </div>
  <div class="tabnav">
    <div>
      <ul class="quick">
        <li> <span class="quickimg icon-q01"></span>
          <p>天翼合约新装</p>
        </li>
        <li> <span class="quickimg icon-q02"></span>
          <p>密码修改</p>
        </li>
        <li> <span class="quickimg icon-q03"></span>
          <p>订单返销</p>
        </li>
        <li> <span class="quickimg icon-q04"></span>
          <p>套餐返档</p>
        </li>
        <li> <span class="quickimg icon-q05"></span>
          <p>菜单管理</p>
        </li>
      </ul>
    </div>
    <div>
      <ul class="quick">
        <li> <span class="quickimg icon-q01"></span>
          <p>天翼合约新装</p>
        </li>
        <li> <span class="quickimg icon-q02"></span>
          <p>密码修改</p>
        </li>
        <li> <span class="quickimg icon-q03"></span>
          <p>订单返销</p>
        </li>
        <li> <span class="quickimg icon-q04"></span>
          <p>套餐返档</p>
        </li>
        <li> <span class="quickimg icon-q05"></span>
          <p>菜单管理</p>
        </li>
      </ul>
    </div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
  </div>
  <div data-role="panel" data-position="right" id="userresult" data-display="reveal">
    <div class="panel_title"> <a href="#" data-role="button" data-icon="delete" data-rel="close" data-inline	="true" data-theme="p" data-iconpos="notext">返回</a> 客户定位 </div>
    <ul data-role="listview" data-inset="false" data-icon="arrow-l">
      <li> <a href="#">
        <h2>王某王</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
      <li> <a href="#">
        <h2>张某张</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
      <li> <a href="#">
        <h2>张某张</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
      <li> <a href="#">
        <h2>张某张</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
      <li> <a href="#">
        <h2>张某张</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
      <li> <a href="#">
        <h2>张某张</h2>
        <p>身份证：372032198310230232</p>
        </a> </li>
    </ul>
  </div>
  <div data-role="popup" data-corners="false" id="adduser" class="pop80 popwindow" data-overlay-theme="b" data-dismissible="false">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="t"> <a href="#" data-role="button" data-icon="back" data-rel="back" data-iconpos="notext">返回</a>
      <h1>新建客户</h1>
    </div>
    <div data-role="content">
      <div class="orderform">
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>客户姓名：</label>
              </div>
              <div class="ui-block-b">
                <input type="text" name="Recommend" id="Recommend">
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
          <div class="ui-block-b">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>客户类型：</label>
              </div>
              <div class="ui-block-b">
                <select name="traffic" id="traffic" data-native-menu="false" data-icon="select">
                  <option value="0">不限</option>
                </select>
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>证件类型：</label>
              </div>
              <div class="ui-block-b">
                <select name="traffic" id="traffic" data-native-menu="false" data-icon="select">
                  <option value="0">不限</option>
                </select>
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
          <div class="ui-block-b">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>证件号码：</label>
              </div>
              <div class="ui-block-b">
                <input type="text" name="Recommend" id="Recommend">
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>客户地址：</label>
              </div>
              <div class="ui-block-b">
                <input type="text" name="Recommend" id="Recommend">
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
          <div class="ui-block-b">
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <label for="recommend"><font>*</font>通信地址：</label>
              </div>
              <div class="ui-block-b">
                <input type="text" name="Recommend" id="Recommend">
              </div>
              <div class="ui-block-c"> </div>
            </div>
          </div>
        </div>
      </div>
      <div data-role="collapsible" class="morecon">
        <h1>更多属性</h1>
        <div class="usercon">
          <div class="otabs">
            <ul id="otabs">
              <li class="otab-nav-action"> <span>客户联系人</span> </li>
              <li class="otab-nav"><span>个人基本特征</span></li>
              <li class="otab-nav"><span>纳税人客户属性</span></li>
              <li class="otab-nav"><span>经办人信息</span></li>
              <li class="otab-nav"><span>客户联系信息</span></li>
            </ul>
          </div>
          <div id="otabs-body" class="otabs-body">
            <div class="orderform" style="display:block;">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend"><font>*</font>联系人姓名：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系类型</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="traffic" id="traffic" data-native-menu="false" data-icon="select">
                        <option value="0">主要联系人</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">首要联系人：</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="numonoff" id="numonoff" data-role="slider">
                        <option value="numon">是</option>
                        <option value="numoff">否</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">性别：</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="traffic" id="traffic" data-native-menu="false" data-icon="select">
                        <option value="0">男</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系地址</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">雇佣单位</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">家庭电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">办公室电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">移动电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系信息：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">邮箱地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">邮政编码：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">邮寄地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">传真号：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderform">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">发证机关：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderform">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">一般纳税人：</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="numonoff" id="numonoff" data-role="slider">
                        <option value="numon">是</option>
                        <option value="numoff">否</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">纳税人标识：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">开户行及账号：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderform">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">经办人姓名：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">证件号码：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">证件地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderform">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系人性别：</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="traffic" id="traffic" data-native-menu="false" data-icon="select">
                        <option value="0">男</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">首选联系人</label>
                    </div>
                    <div class="ui-block-b">
                      <select name="numonoff" id="numonoff" data-role="slider">
                        <option value="numon">是</option>
                        <option value="numoff">否</option>
                      </select>
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">Email：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">邮政地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">邮政编码：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">家庭电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">办公电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系人类型：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系地址：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">移动电话：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系人姓名：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">详细信息：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">联系单位：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
                <div class="ui-block-b">
                  <div class="ui-grid-b">
                    <div class="ui-block-a">
                      <label for="recommend">传真：</label>
                    </div>
                    <div class="ui-block-b">
                      <input type="text" name="Recommend" id="Recommend">
                    </div>
                    <div class="ui-block-c"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="n">
      <button data-inline="true" data-icon="next">确定</button>
      <button data-inline="true" data-icon="next" data-rel="back">取消</button>
    </div>
  </div>
  <div data-role="popup" data-corners="false" id="quicknav" class="pop90 popwindow" data-overlay-theme="b" data-dismissible="false">
    <div data-role="header" data-tap-toggle="false" data-theme="t"> <a href="#" data-role="button" data-icon="back" data-rel="back" data-iconpos="notext">返回</a>
      <h1>设置快捷菜单</h1>
    </div>
    <div data-role="content">
      <ul class="quick" id="quickset">
        <li> <span class="quickimg icon-q01"></span>
          <p>天翼合约新装</p>
        </li>
        <li> <span class="quickimg icon-q02"></span>
          <p>密码修改</p>
        </li>
        <li> <span class="quickimg icon-q03"></span>
          <p>订单返销</p>
        </li>
        <li> <span class="quickimg icon-q04"></span>
          <p>套餐返档</p>
        </li>
        <li> <span class="quickimg icon-q05"></span>
          <p>菜单管理</p>
        </li>
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="n">
      <button data-inline="true" data-icon="next">确定</button>
      <button data-inline="true" data-icon="next" data-rel="back">取消</button>
    </div>
    <div data-role="panel" data-position="right" id="orderlistmenu" data-display="overlay">
      <div class="panel_title"> <a href="#" data-role="button" data-icon="delete" data-rel="close" data-inline	="true" data-theme="p" data-iconpos="notext">返回</a> 业务办理 </div>
      <ul data-role="listview">
        <li><a href="#">改产品属性</a></li>
        <li><a href="#">挂失</a></li>
        <li><a href="#">停机</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>