@charset "UTF-8";
/* CSS Document */

body {
	padding-bottom:50px;
	background: #f6f6f6;
}
#UseSearch {
	margin-top:8px;
}

/* 头部 */
.navbar-default.navbar-fixed-top {
	background:#329ff1;
	border-bottom:2px solid #329ff1;
	box-shadow:none;
	margin-bottom:0;
}
.navbar-default.navbar-fixed-top h4 {
	color:#fff;
}
.navbar-fixed-top .container-fluid {
	padding:0;
}
.navbar-fixed-top .col-xs-2, .navbar .col-xs-3 {
	padding:0;
}
.navbar-fixed-top .form-horizontal {
	margin-top:8px;
}
.navbar-fixed-top button {
	margin:0;
	padding:8px 15px;
	background:none;
	border:none;
	font-size:12px;
	border-radius:0;
	color:#fff;
}
.navbar-fixed-top .has-feedback .glyphicon {
	color:#ff6600;
}
.navbar-fixed-top a.btn {
	text-align:left;
	background:#f6f6f6;
	border:none;
	border-radius:0;
	height:42px;
	padding:3px;
	margin:4px 0;
}
.navbar-fixed-top .btn.active {
	background:#ff8202;
	color:#fff;
}
.navbar-fixed-top a.btn small {
	color:#c4c4c4;
}
.navbar-fixed-top a.btn span {
	float:right;
	margin-top:-10px;
	margin-right:5px;
}
.navbar-fixed-top .dropdown-menu {
	border-radius:0;
	margin-top:-4px;
	border:none;
}
.navbar-fixed-top .dropdown-menu li a {
	line-height:30px;
	border-bottom:1px dashed #c4c4c4;
}

.navbar-fixed-top .dropdown-menu li a small {
	width:100%;
	display:block;
	color:#c4c4c4;
	height:20px;
}

/* 底部导航 */
.navbar-default.navbar-fixed-bottom .container-fluid {
	padding:0;
}
.navbar-default.navbar-fixed-bottom .container-fluid .navbar-btn {
	margin:0;
}
.navbar-default.navbar-fixed-bottom .container-fluid .navbar-btn .btn-lg {
	border-radius:0;
	height:50px;
}

/* 表格 */
table.tabletop thead tr {
	background:#75d753;
	color:#fff;
}
table.tabletop thead tr th {
	text-align:left;
}
table.tabletop thead tr th:first-child {
	padding-left:30px;
}
table.tabletop > tbody > tr > td {
	padding-top:0;
	padding-bottom:0;
	line-height:60px;
}
table.paddingnone > thead > tr > th,
table.paddingnone > tbody > tr > td {
	padding:0;
}
table.paddingnone > thead > tr > th {
	line-height:36px;
}
table.tabletop > tbody > tr > td h4 {
	margin:10px;
	padding-left:20px;
}
table.tabletop tbody tr td h4 small {
	font-size:12px;
	color:#75d753;
	line-height:20px;
}
.tablein tbody td {
	background:#fff;
	color:#000;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.tablein tbody td:first-child {
	color:#75d753;
}
.tablein .list-group {
	border-radius:0;
	margin:0;
	padding:0;
}
.tablein .list-group .list-group-item {
	background:none;
	padding:0;
	border:none;
	border-bottom:1px solid #ddd;
	line-height:30px;
}
.tablein .list-group .list-group-item:last-child {
	border-radius:0;
	border:none;
}

table.tablecenter.table-bordered>thead>tr>th {
	background:#eee;
	color:#000;
}
table.tablecenter>tbody>tr>td {
}
table.tablecenter>tbody>tr>td .btn {
	margin:0;
}

/* panel */
.paneltop {
	border:none;
}
.paneltop > .panel-heading {
	background:#75d753;
	border-bottom:1px solid #75d753;
	color:#fff;
	padding:10px;
	margin: 0 0 18px 0;
	border-radius:0;
}
.paneltop .list-group h4 {
	color:#75d753;
}
.panelcon {
	border-radius:0;
	background: #fff;
	margin: 0px;
	border: none;
}
.panelcon .panel-heading {
	border-radius:0;
	background:none;
	color:#4c4c4c;
	padding: 5px 12px;
	text-align:left;
	border:none;
	font-size: 15px;
	font-weight: bold;
}
.panelcon .panel-body {
	background:#fff;
}



/* 垂直居中模态框 */
.modal_wrapper{
	display: table;
	height: 100%;
	width:100%;
	margin: 0px auto;
}
.modal_top{
	display:table;
	width:100%;
	margin: 0px auto;
}
.modal_top .modal-content {
	border-radius:0;
}
.modal_top .modal-content .panel {
	border-radius:0;
}
.modal-dialog{
	display: table-cell;
	vertical-align: middle;
}
.modal_left{
	display:table;
	width:50%;
}
.modal_left .modal-content {
	border-radius:0;
}
.modal_left .modal-content .list-group-item {
	border-radius:0;
}

/* 全局 */
.text-warning {
	color:#ff6600;
}
.no-body {
}
.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
.nav-top {
	background:#45DAEF;
	position:relative;
}
.nav-top .line {
	border:1px solid #fff;
	border-bottom:none;
	position:absolute;
	top:35px;
	left:0px;
	width:100%;
}
.nav-top li {

}

.nav-top li a {
	border-radius:0;
	color:#c4e6f4;
	padding-top:0;
	padding-bottom:2px;
}
.nav-top li a span {
	display:block;
	border-bottom:3px solid #45DAEF;
	width:60%;
	padding:7px 0;
	margin:auto;
}
.nav-top li.active a {
	background:#45DAEF;
}
.nav-top li.active a span {
	display:block;
	border-bottom:3px solid #fff;
	width:60%;
	padding:7px 0;
	margin:auto;
}
.nav-top li a:hover,.nav-top li.active a:hover, .nav-top li a:focus {
	background:none;
}
.divtab {
	background:#75d753;
	color: #3b994a;
}
.divtab.row {
	margin:0;
}
.btn-group-noborder {
	padding:5px 3px;
}
.divtab .col-xs-10, .divtab .col-xs-2 {
	padding:0;
}
.btn-group-noborder .btn-group button{
	border-radius:0;
}
.btn-group-noborder .btn-group button{
	border:none;
	background: none;
	text-align:center;
	padding: 8px 0;
	color:#3b994a;
}


/* 通用按钮 */
.no-mp {
	margin:0;
	border:none;
	border-radius:0;
	padding:4px 0;
	font-size:18px;
	color: #fff;
	background: none;
	line-height: 38px;
}

/* medialist */
.medialist .media img {
	width:60px;
	height:60px;
	border:1px solid #67bb1b;
}
.medialist .media {
	padding:5px;
	margin:0;
	border-bottom:1px solid #f2f2f2;
}
.medialist .media .media-body {
	font-size:14px;
	color:#ff8202;
}

.medialist .media .media-heading {
	margin:10px 0;
	font-size:14px;
	color:#444;
}
.medialist .media .media-heading span.glyphicon {
	margin-top:20px;
}
.table-head thead tr th {
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:none;
}
.table-head tbody tr td:first-child {
	font-size:21px;
	display: block;
}
.table-head tbody tr td {
	line-height:18px;
	border: none;
}

.search-top, .select-top {
	margin:3px 0 0 3px;
}
/* 轮播样式 */
.carousel-indicators {
	bottom:60px;
}
.carousel-indicators li {
	background:#dbdbdb;
}
.carousel-indicators li.active {
	background:#ffc717;
}

.button-right {
	border-radius:0;
	border:none;
	border-top:1px solid #c9c9c9;
	padding:10px 10px;
	text-align:right;
}

/*.noUiSlider.horizontal*/
.noUiSlider.horizontal {
	width:100%;
}
.noUiSlider {
	box-shadow:0px 1px 7px #B6B4A8 inset;
	border:none;
	background:#f2f2f2;
	border-radius:1em;
	margin-top:10px;
}
.noUiSlider div {
	width:24px;
	height:24px;
	border-radius:1em;
	background:#ffc717;
	border:1px solid #fff;
	box-shadow:0px 1px 7px #B6B4A8;
}
.noUiSlider.horizontal div {
	margin:-8px 0 0 -9px;
}

.modal_search .modal-footer {
	padding:0;
}
.modal_search .modal-footer .col-xs-10, .modal_search .modal-footer .col-xs-2 {
	margin:0;
	padding:0;
}
.modal_search .modal-footer .col-xs-10 .btn {
	color:#ff8202;
	border:none;
	border-radius:0;
	padding:11px;
	border-left:1px solid #ccc;
}
.modal_search .modal-footer .col-xs-2 .btn {
	border-left:1px solid #ccc;
}
.modal_search .panel {
	margin-bottom:0;
}
.tabsa.nav-tabs.nav-justified {
	background:#75d753;
}
.tabsa.nav-tabs.nav-justified > li {
	float:left;
	width:33.3333%;
	margin-bottom:0;
}
.tabsa.nav-tabs.nav-justified > li > a {
	margin-bottom:0;
	border-radius:0;
	border:none;
	color:#fff;
	border-bottom:1px solid #4dc3ef;
}
.tabsa.nav-tabs.nav-justified > li > a:hover {
	margin-bottom:-1px;
	border-radius:0;
	border:none;
	color:#444;
	background:#d6edff;
}
.tabsa.nav-tabs.nav-justified > li.open > a {
	margin-bottom:-1px;
	border-radius:0;
	border:none;
}
.tabsa.nav-tabs.nav-justified > li.active > a {
	background:#58bd37;
	color:#fff;
}

.phoneimg .item {
	text-align:center;
}
.phoneimg .item img {
	width:100%;
	margin:auto;
}
#phoneimg {
	margin-bottom:30px;
}

.btn-group .btn-default.active {
	color:#fff;
	box-shadow:none;
	text-align:center;
	border-bottom:3px solid #fff;
}


.row.contract {
	padding-top:5px;
}
.name {
	background:#f8f8f8;
	border:1px solid #E2E2E2;
	text-align:center;
	font-size:30px;
	padding:10px;
	margin:20px;
}
.btn-primary {
	background-color:#ffffff;
	border-color:#ffffff;
	color: #75d753;
}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{
	color:#66bd4a;
	background-color:#ddd;
	border-color:#ddd;
}
.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
	background-color:#c5c5c5;
	border-color:#c5c5c5;
}
.btn-info {
	background-color:#eee;
	border-color:#eee;
	color: #75d753;
}
.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{
	color:#75d753;
	background-color:#ddd;
	border-color:#ddd;
}
.scan a img {
	width:100px;
	margin:20px;
}
.scan p {
	font-size:14px;
}
.idimg {
	padding-top:20px;
}
.form-group label {
	color:#696969;
	width: 22%;
	text-align: right;
	margin-right: 4%;
	font-weight: norma;
}
p {
	color:#fff;
}
a.list-group-item .list-group-item-heading {
	color:#4c4c4c;
	font-weight: normal;
}
a.list-group-item small {
	color:8b8b8b;
	padding-right: 0px;
}
.list-group-item:first-child, .list-group-item:last-child {
	border-radius:0;

}
.list-group-item {
	border:none;
	margin-bottom: 10px;
	padding: 18px 15px;
}

.order-list .list-group-item {
	
}
.btn-span .btn {
	border-radius:1.5em;
	width:30px;
	height:30px;
	padding:0;
	float:right;
	position:absolute;
	right:40px;
	bottom:6px;
}
li.form-group {
	list-style:none;
}
.list-group a span.del {
  text-decoration: line-through;
  color: #f15a1f;
}
.form-group .input-group select{
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
}
.input-group .select-span{
  background-color: white;
  display: none;
}
.form-list {
	margin-top:20px;
}

/*新增样式*/
.form-control{ 
	border-radius: 2px;
	border-color:#cecece;
	color: #000000;
	width: 72%; 
	vertical-align: middle;
	display: inline-block;
	
}

.modal-content{
	background: #efefef;
}
.btn{
	border-radius: 2px;
}
.list-group{ margin-bottom: 0;}
.cheng{
	color:#ff7f1a;
}
.big{
	font-size: 16px;
}
.dinggou{
	position: absolute;
	display: block;
	right: 0;
	bottom: 40px;
	background: #75d753;
	color: #fff;
	width: 42px;
	font-size: 12px;
	line-height:17px;
	text-align: center;
	z-index: 10;
}
#div_offer_list{
	background: #f6f6f6;
}
.div_number_list{
	background: #f6f6f6;
}
.div_number_list h5{
	font-size: 21px;
}
.select-box{
	display: inline-block;
	width: 72%;
	vertical-align: middle;
}
.lanya{ background: #fff;
		height: 56px;
		padding: 0;
}
.lanya .navbar-btn{
	margin: 0;
	height: 100%;
}
.lanya .navbar-btn button{
	border:none;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}
.title_lv{ 
	display: inline-block;
	width: 3px;
	height: 13px;
	background: #53d769;
	vertical-align: top;
	margin-right: 6px;
	margin-top: 3px;
	z-index: 10;
}
.glyphicon-chevron-right{
	color:#b9b9b9;
}
.lanya .btn-default.active, .lanya .btn-default.focus, .lanya .btn-default:active, .lanya .btn-default:focus, .lanya .btn-default:hover{
	background: none;
}
.title_{
	padding: 12px;;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}
.new_user_box{
	background: #fff;
}
.input-group  w-72{
	width: 72%;
}
.select-box .input-group-btn, .select-box .input-group-btn:active{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 20;
	width: auto;
}
.form-group .w-100{
	width: 100%;
	text-align: left;
}
.modal-footer .col-xs-6{
	padding:0;
}
.modal-footer .col-xs-6 .btn{
	color: #74d854;
	border: none;
	background: #f6f6f6;
	border-radius: 0;
}
.modal-footer .col-xs-6 .btn:nth-child(1){
	border-right: 1px solid #d6d6d6;
}
.modal-footer{
	padding: 0;
}
.tab-pane{
	background: #f6f6f6;
}
.col-xs-4 .toggle{
	background: #fff;
	border: 1px solid #ddd;
}
.col-xs-4 .toggle-off{
	border-color: #fff;
	background: #fff;
	box-shadow: none;
}
.col-xs-4 .toggle-handle{
	display: none;
}
.phone-info .btn-group .active{
	color: #fff;
	border: none;
	background: #75d753;
}

.media{
	position: relative;
}
.container-fluid .has-feedback i{
	top: 0px;
}
.list-group-item .list-group-item-text{
	color: #000;
}
.img_box{
	list-style-type: none;
	margin: 0;
	
	height: 100%; 
	position: absolute;
	left: 50px; 
	top: 0;
}
.img_box li{
	float: left;
	height: 100%;
	padding: 13px;
}
.img_box li img{
	height: 30px;
}
.btn{
	padding: 8px 12px;
}
.form-group input,.form-group select{
	height: 38px;
	border-color: #999999;
}
.form-group input{
	background: #fff;
}
.form-group select{
	 background: #f4f4f4f;
}
.dingdan-list-box li{
	margin-top: 0;
	padding-top: 0;
}
.main{ position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
.nav_top{ list-style-type: none; width: 100%; padding: 5px 0; background: #76d754; position: absolute; top: 0; left: 0;}
.nav_top li{ display: inline-block; width: 30%; margin: 0 0 0 2.4%; height: 50px; float: left; background: #fff; border-radius: 3px; color: #333333; font-size: 13px; text-align: center; line-height: 50px;}
.nav_top .active{ border: 1.5px solid #fd9426; margin-top: -1px;}
.info_box{ width: 100%; height: 100%; margin: 60px 0 45px 0;overflow-y: scroll;}
.info{width: 100%; height: 100%; }

.nav_bottom{ width: 100%; height: 44px; border-top: 1px solid #b2b2b2; position: absolute; bottom: 0; left: 0;background: #fff;}
.nav_bottom li{ width: 33.33%; float: left;}
.nav_bottom li div{ height: 22px; margin: 11px 0; text-align: center; border-right: 1px solid #cecece;}
.nav_bottom li div img{ height: 100%; vertical-align: middle;}
.nav_bottom li div span{ font-size: 13px; color: #53d769; font-weight: bold;}
body .row .gwc-box h4{ display: inline-block; color:#4c4c4c;}
.row .gwc-box .list-group-item-text{ color: #74d854;}
.gwc-box .list-group-item{background: #fff; margin-bottom: 10px; padding-top: 20px;}
@media (max-height: 738px) and (min-height: 668px){
	.info_box{ height: 545px;}
}

@media (max-height: 667px) and (min-height: 569px){
	.info_box{ height: 474px;}
}

@media (max-height: 569px){
	.info_box{ height: 376px;}
}
@media screen and (max-height:400px){
	.carousel-indicators{
		display: none;
	}
}
/*
.pack-pro-box label{
	display: block;
	width: 100%;
	text-align: left;
}
.pack-pro-box .inputWidth183px {
	width: 100%;
}
*/
.school-list{
	margin: 5px 0;
	padding: 5px 10px;
	background: #f6f6f6;
	border: 1px solid #d5d5d5;
}
.school-list h5{
	margin-bottom: 0px!important;
	line-height: 24px;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default{
	background: #75d753;
	color: #fff;
}

.inputWidth183px {
    width: 183px;
    border: 1px solid #d3d8d0;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
}


.icon-star {
	position: absolute;
	top: 18px;
	left: 10px;
	font-size: 30px;
	color: #fac126;
	!important
}
.nostar {
	position: absolute;
	top: 18px;
	left: 10px;
	font-size: 30px;
	color: #e5e5e5;
	!important
}