<!--内容-->
<div class="main_div"> 
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
	<div class="order_confirmation ordertabcon" style="display:block">
  <h2 class="h2_title"><span>终端预约详情</span><span class="showhide"></span></h2>
  <div id="zdyypage" class="main_body">
  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">详情信息</h5>
  <form id="custCreateForm">
  <ul class="fillin show">
    <li style="height:28px">
      <div style="float:left;">终端预约号：</div>
      <div id="attr_so_num"></div>
    </li>
    <li style="height:28px">
      <div style="float:left;">客户名称：</div>
      <div id="attr_name"></div>
    </li>
    <li style="height:28px">
      <div style="float:left;">电话号码：</div>
      <div id="attr_num"></div>
    </li>
    <li style="height:28px">
      <div style="float:left;">地区：</div>
      <div id="attr_area"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">渠道：</div>
      <div id="attr_channel"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">品牌：</div>
      <div id="attr_brand"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">型号：</div>
      <div id="attr_type"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">颜色：</div>
      <div id="attr_color"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">预约类别：</div>
      <div id="attr_yx_type"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">用户类型：</div>
      <div id="attr_use_type"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">拟选号码前三位：</div>
      <div id="attr_num3"></div>
    </li>
     <li style="height:28px">
      <div style="float:left;">拟选号码后四位：</div>
      <div id="attr_num4"></div>
    </li>
  </ul>
  </form>
  <div class="height18"></div>
  <div class="cardtabcon" id="attr_list" style="display:block;">
  </div>
</div>
</div>
<!--订单填写 end-->
<div align="right" style="margin: 20px auto; padding:0 20px;"> <a style=" margin-left:20px;" class="btna_o" href="javascript:order.zdyy.showMain()"><span>返回</span></a> </div>

<input type="hidden" id="qzdyy" value="szdyy">
</div>
</div>
<!--内容 end--> 

<script>
$(document).ready(function(e) {
	var $ = function(){
		return document.getElementById(arguments[0]);
	};
		
	var btnFn = function( e ){
		alert( e.target );
		return false;
	};

});
</script>
<script type="text/javascript"> 
$(".allsort").hoverForIE6({current:"allsorthover",delay:0});
$(".allsort .item").hoverForIE6({delay:0});
</script>

