
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<link href="${contextPath}/css/system/css/main.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/css/system/css/tree.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
function getToken(){var token="${Request['_al_ec_token']}";return token;}
</script>

<script type="text/javascript" src="${contextPath}/js/third-js/jquery/jquery-1.7.2.js"></script>
<script type="text/javascript" src="${contextPath}/js/third-js/ligerUI/ligerui.min.js"></script>
<script type="text/javascript" src="${contextPath}/js/third-js/json/json2.js"></script>
<!-- 
<script type="text/javascript" src="${contextPath}/js/third-js/common/jqueryUtils.js?${jsversion}"></script>
http://localhost:8881/ltePortal/js/our-js/serviceAxClient.js?20151112100542
 -->
<script type="text/javascript" src="${contextPath}/js/our-js/serviceAxClient.js?${jsversion}"></script>
<script type="text/javascript" src="${contextPath}/js/4g-js/include.js"></script>
<script src="${contextPath}/js/third-js/jquery/jquery.overlay/jquery.overlay.js" type="text/javascript"></script>

<title>地区树</title>
<script>
<#escape x as x?html>
var contextPath="${contextPath}";
var areaType = "${areaType}" ;
var areaLeve = "${areaLeve}"==""?3:"${areaLeve}" ;
var areaLimit = "${areaLimit}"==""?0:"${areaLimit}" ;
var areaData = [] ;
</#escape>
function areaValSet(parentId,parentNodeName){
	parent.areaNameVal = parentNodeName ;
	var p_id = parentId ;
	for(var i=0;i<areaLeve-2;i++){
		var parentData = getParentData(p_id);
		if(parentData!=null){
			p_id = parentData.parentId ;
			parent.areaNameVal = parentData.regionName + " > " + parent.areaNameVal ;
		}
	}
	parent.areaNameVal = parent.areaNameVal.replace("[受理渠道地区]","");
	parent.areaNameVal = parent.areaNameVal.replace("*","");
	parent.areaNameVal = parent.areaNameVal.replace(/&gt;/g,">");
}
function getParentData(parentId){
	for (var key in areaData) {
		var rowData = areaData[key] ;
		if(rowData.commonRegionId==parentId){
			return rowData;
		}
    }
	return null ;
}

initTree = function(){
	$.callServiceAsJson(contextPath + "/orderQuery/areaManager", {"areaType":areaType,"areaLimit":areaLimit}, {
		"before":function(){
			$("#dic_mess").html("地区加载中......");
			$.ecOverlay("地区加载中，请稍等...");
		},
		"always":function(){
			$.unecOverlay();
		},
		"done": function(response){
			if(response){
				var result = response;
				if(result.data){
					var resData = result.data ;
					if(resData.errMsg){
						$("#dic_mess").html(JSON.stringify(result.data));
					}else{
						if(resData.length<1){
							$("#dic_mess").html("无地区数据");
						}else{
							$("#dic_mess").html("").hide();
							ztree=$('#commonRegionTree').ligerTree({
								 data:resData,
								 nodeWidth: 200,
						         checkbox: false,
						         idFieldName: 'commonRegionId',
						         textFieldName: 'regionName', 
						         isExpand: false, 
						         slide: false ,
								 //url:contextPath+'/orderQuery/areaManager?areaType='+areaType,
								 onClick:queryChildNode
							});
							parent.ztree=manager=$('#commonRegionTree').ligerGetTreeManager();
							$('#commonRegionTree').css("width","307px");
						}
					}
				}else{
					if(typeof response == undefined){
						alert("地区查询异常，可能原因服务停止或者数据解析异常");
					}else if (response.code == -2) {
						alert(response.data);
					}else{
						var msg="";
						if(response.data!=undefined&&response.data.msg!=undefined){
							msg=response.data.msg;
						}else{
							msg="地区数据获取失败";
						}
						alert("接口异常，可能原因:"+msg);
					}
				}
			}else{
				alert("接口异常，可能原因:"+response.mess);
			}
		},
		fail:function(response){
			$.unecOverlay();
			$.alert("提示","请求可能发生异常，请稍后再试！");
		}
	}
	);
};
queryChildNode = function(node){
	if(node && node.data){
		var parentNodeId=node.data.commonRegionId;
		var parentNodeName = node.data.regionName;
		var parentId = node.data.parentId;
		var nodeLevel = node.data.areaLevel;
		var isChannelArea = node.data.isChannelArea;
		var parentNode=node.data;
		areaValSet(parentId,parentNodeName);
		if(parentNodeId===null || parentNodeId===' ' || parentNodeId===''){// || parentNodeName.indexOf("[受理渠道地区]")>0){
			return;
		}
		if(parentNode.children===null || parentNode.children===undefined){
			if(nodeLevel<=areaLeve){
				var params = {
						'leve': nodeLevel,
						'parentAreaId': parentNodeId,
						'areaType':areaType,
						"areaLimit":areaLimit,
						"isChannelArea":isChannelArea
				};
				$.callServiceAsJson(contextPath + "/orderQuery/commonRegionChildenManager", params, {
					"before":function(){
						$.ecOverlay("地区加载中，请稍等...");
					},
					"always":function(){
						$.unecOverlay();
					},
					"done": function(response){
						var resData = response ;
						var list = resData.data ;
						if(list.length>0){
							areaData[parentNodeId] = parentNode ;
							var childrenNode=response.data;
							ztree.append(parentNode,childrenNode);
							$('#commonRegionTree').css("width","307px");
						}
					}}
				);
			}
		}	
	}
};

$(function(){
	initTree();
});

</script>
</head>
<body>
<div id="commonRegionTree"></div>
<div id="dic_mess" style="font-size: 12px;" >地区加载中......</div>
</body>
</html>