<#if code?? && (code>=0) ><table class="numberList" id="tab_orderList" >
              <thead>
                <tr>
                  <td width="130">预约购物车流水</td>
                  <td width="130">终端名称</td>
                  <td width="80">终端价格</td>
                  <td width="130">预约时间</td>
                  <td width="130">预约政策</td>
                  <td width="150">订单项ID</td>
                  <td width="80">预约码状态</td>
                  <td width="150">业务受理购物车流水</td>
                  <td width="80">操作</td>
               	 </tr>
              </thead>
              <tbody>
              <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
              <#list pageModel.list as orderLists >
                <tr>
                  <td>${orderLists.custSoNumber}</td>
                  <td>${orderLists.couponName}</td>
                  <td>${(orderLists.apCharge)/100}</td>
                  <td>${orderLists.reserveTime}</td>
                  <td>${orderLists.cfgRuleName}</td>
                  <td>${orderLists.boId}</td>
                  <#if orderLists.codeStatus ?? && (orderLists.codeStatus=="N")>
                  <td>可销售</td>
                  <#elseif orderLists.codeStatus=="C">
                  <td>已取消</td>
                  <#elseif orderLists.codeStatus=="S">
                  <td>已销售</td>
                  </#if>
                  <td>${orderLists.useCustSoNumber}</td>
                  <td>
                  <#if orderLists.codeStatus ?? && (orderLists.codeStatus=="N")>
                  <a class="purchase" href="javascript:order.zdyy.zdyyUnsubscribe('${orderLists.id}')" boId="${orderLists.boId}"id="${orderLists.id}" apCharge="${orderLists.apCharge}" reserveNbr = "${orderLists.reserveNbr}"  couponName = "${orderLists.couponName}" couponId="${orderLists.couponId}" reserveNbr="${orderLists.reserveNbr}">取消预约</a>
                  </#if>
                  </td>
               	</tr>
              </#list>
              <#else>
              <tr>
                <td colspan="9">没有查询到结果</td> 
              </tr>
              </#if>
              </tbody>
            </table>
            
            <!--页码-->
            <#if pageType=="queryCashier">
            <@portal.simplifyModelPagination pageModel "cashier.main.queryCartList"/>
            <#else>
			<@portal.simplifyModelPagination pageModel "order.zdyy.queryCouponReserve"/>
			</#if>
			<!--页码 end-->

<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>

<#else>${mess}</#if>