<@override name="title">预受理单查询</@override> 
<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/order/order-ysl.js?${jsversion}" type="text/javascript"></script>
</@override> 
<@override name="content">
<!--内容-->
<div class="main_div" id="d_query">
    <div class="main_warp">
        <!--订单准备-->
        <h2 class="h2_title">预受理单查询</h2>
        <div class="order">
            <div class="order_content" style="border:none; padding:10px">
                
                <!--挑靓号-->
                <div class="order_tab_panel" style="display:block;">
                        <div class="selectList">
                            <dl>
                            	<dt>选择地区：</dt>
                                  <dd>
                                  	<input type="text" class="numberTextBox width198" readonly="readonly" id="p_areaId_val" onclick="order.ysl.chooseArea()" value="${p_areaId_val}" placeholder="请选择地区" />
                                  	<input type="hidden" id="p_areaId" value="${p_areaId}">
                                  	<label class="f_red">*</label>
                                  </dd>
                                  <dt style="width:100px">开始时间：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox" style="width:160px" id="p_startDt" readonly="readonly" value="${p_startDt}"  />
                                    <label class="f_red">*</label>
                                  </dd>
                                  <dt style="width:122px">结束时间：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox" style="width:160px" id="p_endDt" readonly="readonly" value="${p_endDt}" />
                                    <label class="f_red">*</label>
                                  </dd>
                            </dl>
                            <dl>
                            	  <dt>业务类型：</dt>
                                  <dd><select name="" class="width202" id="busitype">
                                  	<option value="">请选择</option>
                                  </select></dd>
                                  <dt style="width:115px">产品号码：</dt>
                                  <dd><input type="text" class="numberTextBox width198" id="accnum"/></dd>
                                  <dt style="width:100px">预受理流水号：</dt>
                                  <dd><input type="text" class="numberTextBox width198" id="olNbr"/></dd>
                          </dl>
                            <dl>
                            	  <dt>渠道：</dt>
                                  <dd>
                                  	<select id="p_channelId" class="width202" >
                                  	<option value="" >--选择渠道--</option>
                                	<#if Session["_staff_channel"]?? && (Session["_staff_channel"]?size>0) >
										<#list Session["_staff_channel"] as channel>
		                                 	<option value="${channel.id}" areaid="${channel.areaId}" >${channel.name}</option>
		                                </#list>
									</#if>	
                                	</select>
                                  	<label class="f_red">&nbsp;&nbsp;</label>
                                  </dd>
                            	  <dt style="width:100px">客户姓名：</dt>
                                  <dd><input type="text" class="numberTextBox width198" id="custname"/></dd>
                                  <dt style="width:100px">证件号码：</dt>
                                  <dd><input type="text" class="numberTextBox width198" id="CustIdCard"/></dd>
                                  <dd><input type="button" value="搜 索" class="numberSearch" onclick="order.ysl.queryyslinfos(1)"/></dd>
                            </dl>
                                
                  </div>
                    <!--号码列表-->
                    <div class="phone_warp" id="ysl_list">
                        <table class="numberList">
                          <thead>
                          	<tr>
                          	  <td width="20"></td>
                              <td width="30" align="left">预受理流水号</td>
                              <td width="125">客户名称</td>
                              <td width="71">产品号码</td>
                              <td width="64">地区</td>
                              <td width="96">渠道</td>
                              <td width="76">操作</td>
                            </tr>
                          </thead>
                          <!-- <tbody>
                            <tr>
                              <td></td>
                              <td align="left">1029324124</td>
                              <td>张贤东</td>
                              <td>XLD09302</td>
                              <td>北京</td>
                              <td>西城区营业厅</td>
                              <td><a type="main" href="#" class="purchase">取消</a> <a type="main" href="#" class="purchase">修改</a></td>
                            </tr>
                          </tbody> -->
                        </table>
                        <!--页码-->
                        <div class="paging">
                            <label><span class="pageUpGray">上一页</span></label>
                            <label id="pageNum">
                            	<a class="pagingSelect" href="#">1</a>
                            </label> 
                            <label><span class="pageUpGray">下一页</span></label>
                            <label class="marginTop4">共0 页</label>
                            <label class="marginTop4">跳转至</label>
                            <input type="text" class="inputW20H20" />
                            <label class="marginTop4">页</label>
                            <a href="javascript:void(0)" class="determineBtn">跳转</a>
                        </div>                             
                        <!--页码 end-->
                    
                  </div>
                    <!--号码列表 end--> 
                                       
                                       
                </div>
                <!--挑靓号 end-->
                                        
            </div>
        </div>
        <!--订单准备 end-->
    </div>
<input type="hidden" id="qysl" value="qysl">
</div>
<!--内容 end-->

<div id="d_yslInfo" style="display: none" >
<#include "/orderQuery/order-ysl-info.html"/>
</div>

<script type="text/javascript"> 
$(".allsort").hoverForIE6({current:"allsorthover",delay:0});
$(".allsort .item").hoverForIE6({delay:0});
</script>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="LTE" >
<@extends name="/content-template.html"/>
<#else>
<@extends name="/mvno-template.html"/>
</#if>