<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
    <table class="numberList" >
       <thead>
	     <tr>
	       <td width="15%">批次号</td>
	       <td width="10%">受理类型</td>
	       <td width="10%">受理工号</td>
	       <td width="10%">创建日期</td>
	       <td width="10%">更新日期</td>
	       <td width="10%">描 述</td>
	       <td width="11%">备 注</td>
	       <td width="10%">操 作</td>
	     </tr>
	     </thead>
	     <tbody>
	     <#list pageModel.list as childList>
	     	 <tr>
	     	 	<td>${childList.BATCH_ID}</td>
	     	 	<td>
	     	 		<#if childList.MKT_RES_BATCH_TYPE=="BATCH30001">批量终端领用
		     	 	<#elseif childList.MKT_RES_BATCH_TYPE=="BATCH30002">批量领用回退
		     	 	<#elseif childList.MKT_RES_BATCH_TYPE=="BATCH30003">批量终端销售
		     	 	</#if>
				</td>
	     	 	<td>${childList.STAFF_CODE}</td>
	     	 	<td>${childList.CREATE_DATE}</td>
	     	 	<td>${childList.UPDATE_DATE}</td>
	     	 	<td>${childList.BATCH_DESC}</td>
	     	 	<td>${childList.REMARK}</td>
	     	 	<td>
		     	 	<i id="plan_detail" onclick="order.batch.queryEcsBatchOrderDetail('${childList.BATCH_ID}', '1')">批次详情</i>
		     	 	<i id="plan_detail" onclick="order.batch.ecsBatchOrderExport('${childList.BATCH_ID}')">导出Excel</i>
	     	 	</td>
	     	 </tr>
	     </#list>
	   </tbody>
	</table>
	
	<!-- 导出Excel使用form表单提交 -->
	<form method="post" id="ecsBatchOrderExportForm"></form>
	
	<!-- 批次详情查询弹出框 --start-->	 
	<div id = "queryEcsBatchOrderDetail_dialog" class="easyDialogdiv" style="width: 1080px; height: 460px; display: none; margin: 0px;"></div>	
	<!-- 批次详情查询弹出框 --end-->

<@portal.modelPagination pageModel 5 "order.batch.queryEcsBatchOrderList"/>
<input type="hidden" name="totalNum" id="totalNum" value="${totalNum}"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<#else>
    <div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>

