<@override name="title">详单查询</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/bill/billQuery.js" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_div"> 
  <div class=" main_warp">
    <div class="ordercon">	
      <div class="order_confirmation ordertabcon">
        <h2 class="h2_title">详单查询<span class="showhide"></span></h2>
        <div class="main_body" style="margin-bottom:36px;">
          <h5 class="s_title">详单详情</h5>
          <br/>
          <ul class="fillin show billSearch" style="height:82px">
            <li class="full">
              <label>待查号码：</label>
              <input type="text" class="inputWidth315px" style="width:200px;" id="phoneNumber"/>
              <label class="f_red">*</label> 
              <label>详单类型：</label>
              <select id="billTypeCd" class="inputWidth183px" style="margin-top:2.5px;width:120px;padding:2px;">
                <option value="1">语音详单</option>
                <option value="2">短信详单</option>
                <option value="3">数据详单</option>
                <option value="4">增值业务详单</option>       
              </select>
            </li>                                
            <li class="full noBorder">
              <label>查询时段：</label>
              <input name="yuhou1" type="radio" value="${thisCycle}" checked="checked"/>
              <label class="radioinput">当月</label>
              <#list billingDates as billingDate>
              <input name="yuhou1" type="radio" value="${billingDate.billingCycle}"/>
      		  <label class="radioinput">${billingDate.billingMonth}</label>
      		  </#list>  
      		  <a class="btn_h30" href="javascript:bill.query.queryDetail(1)" style="margin:0px 20px;"><span>查询</span></a>
            </li>      
          </ul>
          <ul id="billDetail" class="billSearch" style="margin-top:10px;display:none;">
          
          </ul>
        </div>
      </div>    
    </div>
  </div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
