@charset "utf-8";

.footer {
	background: #eef3eb none repeat scroll 0 0;
	border-top: 1px solid #d3d8d0;
	color: #b7c8ad;
	font-size: 13px;
	height: 63px;
	margin-top: -1px;
	position: relative;
	z-index: 99;
}
/**问卷结束**/
.survey-finish-icon {
	background: rgba(0, 0, 0, 0) url("finish_icon.png") no-repeat scroll
		center center;
	height: 48px;
	margin-top: 75px;
	width: 100%;
}

.survey-finish-tip {
	font-size: 24px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.survey-wrap {
	background: #fff none repeat scroll 0 0;
	line-height: 22px;
	margin: 20px auto auto;
	min-height: 300px;
	padding: 20px;
	text-align: center;
}

.dialog-alert-icon {
	background: rgba(0, 0, 0, 0) url("../image/dialog-alert-icon.png")
		no-repeat scroll center center;
	height: 62px;
	margin-top: 75px;
	width: 100%;
}
/****布局***/
.l-layout-collapse-left, .l-layout-collapse-right {
	width: 17px;
	position: absolute;
	z-index: 10;
	border: 0px;
	top: 0px;
	display: none;
	height: 100%;
}

.l-layout-collapse-left {
	left: 2px;
}

.l-layout-collapse-left-toggle {
	background: url(../image/togglebar.png) no-repeat 0 0;;
	cursor: pointer;
	height: 114px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 200px;
	width: 17px;
}
/****表单*****/
input.form_choese {
	width: 25px;
	border: 0px;
}

input.l-button-short {
	background: url(../image/button_short.png) no-repeat;
	border: 0px;
	color: #fff;
	cursor: pointer;
	height: 29px;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 50px;
	margin-left: 20px;
}

input.l-button-short:hover {
	background: url(../image/button_short_hover.png) no-repeat;
}
/*****列表*******/
.l-frozen .l-grid2 .l-grid-body {
	overflow-x: scroll;
}

.l-checked .l-grid-row-cell-checkbox span, .l-checked  .l-grid-hd-cell-checkbox .l-grid-hd-cell-inner div
	{
	background-position: 0px -13px;
}

.l-selected .l-grid-row-cell-checkbox span, .l-selected  .l-grid-hd-cell-checkbox .l-grid-hd-cell-inner div
	{
	background-position: 0px -13px;
}

.l-grid-hd-cell-checkbox {
	padding: 0;
	margin: 0;
}
/*
    编辑
*/
.l-grid-row-cell-editing-topcell {
	border-bottom-color: #CC8F81;
}

.l-grid-row-cell-editing-leftcell {
	border-right-color: #CC8F81;
}

.l-grid-row-cell-editing {
	border-color: #CC8F81;
}

.l-grid-row-cell .l-text, .l-grid-editor .l-text {
	border: 0px;
	border: none;
}

.l-grid-detailpanel-edit {
	padding-top: 7px;
	padding-bottom: 3px;
	background-color: #FAFAFF;
}

.l-grid-detailpanel .l-editbox {
	float: left;
	margin: 2px;
	margin-left: 6px;
	margin-right: 10px;
}

.l-grid-detailpanel .l-button {
	float: left;
	margin: 2px;
	margin-left: 4px;
	margin-right: 6px;
}

.l-grid-detailpanel .l-clear {
	clear: both;
}

.l-grid-row-alt .l-grid-row-cell-rownumbers, .l-selected .l-grid-row-cell-rownumbers,
	.l-grid-row-over .l-grid-row-cell-rownumbers,
	.l-grid-row-cell-rownumbers {
	background: #E0ECFF;
}

.l-grid-editor {
	position: absolute;
	z-index: 999;
	display: none;
	text-align: center;
}

.l-bar-group span input {
	width: 13px;
	height: 22px;
	text-align: center
}

.l-grid-popup table {
	display: table;
	border-collapse: separate;
	border-color: gray;
	margin: 2px;
}

.l-grid-popup table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.l-grid-popup table td {
	padding: 2px 3px;
	cursor: default;
}

.l-grid-popup td.l-column-left {
	border-right: 1px solid #ccc;
}

.l-grid-popup td.l-column-right {
	border-left: 1px solid #fff;
	padding-right: 10px;
}

.l-grid-popup tr:hover .l-column-right, .l-grid-popup tr.l-popup-row-over .l-column-right
	{
	border-right: 1px solid #d2e3ec;
	border-top: 1px solid #d2e3ec;
	border-bottom: 1px solid #d2e3ec;
}

.l-grid-popup tr:hover .l-column-left, .l-grid-popup tr.l-popup-row-over .l-column-left
	{
	border-left: 1px solid #d2e3ec;
	border-top: 1px solid #d2e3ec;
	border-bottom: 1px solid #d2e3ec;
}

.l-grid-popup table tr:hover, .l-grid-popup table tr.l-popup-row-over {
	background: #d5effc url(../image/popup-row-over.gif) repeat-x top;
	border: 1px solid #a8d8eb;
}
/*********tab*********/
.l-tab-content-item iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.l-tab-loading {
	position: absolute;
	z-index: 91000;
	top: 0;
	left: 0;
	background: white url('../image/bigloading.gif') no-repeat center 40%;
	width: 100%;
	height: 100%;
	_height: 800px;
	display: none;
}

.l-tab-links-left {
	position: absolute;
	top: 6px;
	left: 0;
	width: 19px;
	height: 19px;
	overflow: hidden;
	background: url(../image/tabs-tools.png) 0px 0px;
	z-index: 13;
	cursor: pointer;
}

.l-tab-links-right {
	position: absolute;
	top: 6px;
	right: 0;
	width: 19px;
	height: 19px;
	overflow: hidden;
	background: url(../image/tabs-tools.png) -19px 0px;
	z-index: 13;
	cursor: pointer;
}

.l-tab-links-left-over {
	background-position: -38px 0px;
}

.l-tab-links-right-over {
	background-position: right 0px;
}

.l-tab-links-left-invalid {
	background-position: -38px 0px;
}

.l-tab-links-right-invalid {
	background-position: -57px 0px;
}
/*********window********/
.l-window-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 25);
	opacity: 0.25;
	background: #777;
	display1: none;
	font-size: 1px;
	*zoom: 1;
	overflow: hidden;
	display: none;
	z-index: 9000;
}

.l-window-mask-nobackground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display1: none;
	font-size: 1px;
	*zoom: 1;
	overflow: hidden;
	display: none;
	z-index: 9000;
}

.l-window-dragging {
	filter: alpha(opacity = 80);
	opacity: 0.80;
}

.l-window-dragging .l-window-content {
	visibility: hidden;
}
/*弹出窗口样式*/
.l-dialog {
	position: absolute;
	z-index: 10000;
	display: none;
}

.l-dialog table {
	table-layout: auto;
}

.l-dialog-fixed {
	position: fixed;
	right: 0px;
	bottom: -100px;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop + 
		 document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

.l-dialog-table {
	
}

.l-dialog-body {
	position: relative;
	overflow: hidden;
}

.l-dialog {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.l-dialog td, .l-dialog tr, .l-dialog td div {
	font-size: 12px;
}

.l-dialog-cc {
	background: white;
}

.l-dialog-btn, .l-dialog-btn-over, .l-dialog-btn-l, .l-dialog-btn-r {
	background: url('../image/form_button.png') no-repeat;
}

.l-dialog-btn:hover {
	background: url(../image/form_button_hover.png) no-repeat;
}

.l-dialog-btn-l, .l-dialog-btn-r {
	background-repeat: no-repeat;
}

.l-dialog-btn {
	height: 33px;
	overflow: hidden;
	width: 111px;
	cursor: pointer;
	margin: 0 auto;
	float: right;
	position: relative;
	margin-right: 10px;
}

.l-dialog-btn-inner {
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding-top: 0px;
}

.l-dialog-content {
	padding-left: 18px;
	padding-top: 25px;
	padding-bottom: 12px;
	overflow: auto;
}

.l-dialog-content-noimage {
	padding-left: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.l-dialog-win .l-dialog-content {
	padding-top: 3px;
	padding-bottom: 3px;
}

.l-dialog-content-nopadding {
	padding: 0;
}

.l-dialog-content iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.l-dialog-image {
	width: 48px;
	height: 48px;
	overflow: hidden;
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	background: url('../image/dialog-icons.gif') no-repeat;
}

.l-dialog-image-donne {
	background-position: 0px 0px;
}

.l-dialog-image-error {
	background-position: 0px -48px;
}

.l-dialog-image-question {
	background-position: 0px -144px;
}

.l-dialog-image-warn {
	background-position: 0px -96px;
}
/* -------------表单控件------------------------*/
.l-text-wrapper {
	position: relative;
}

.l-text {
	position: relative;
	width: 100%;
	max-width: 203px;
	background: white;
}

.l-box-select {
	width: 100%;
	max-width: 203px;
	height: 120px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 4px;
	display: none;
	position: absolute;
	padding: 0px;
	margin-top: 1px;
	z-index: 9300;
	font-size: 12px;
	line-height: 18px;
}

.l-box-select-absolute {
	margin-top: 0px;
}
/* 下拉框 右下角调整大小图标 */
.l-btn-nw-drop {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 8px;
	height: 8px;
	background: url('../image/icon-drop.gif') no-repeat 50% 50%;
}
/* 下拉框/日期 右侧那个可点击的区域里面的图标 */
.l-trigger-icon {
	width: 16px;
	height: 16px;
	background: url('../image/icon-down.gif') no-repeat 50% 50%;
}

.l-box-select-inner {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: auto;
	height: 100%;
	color: #333;
}

.l-box-select-inner .l-box-select-table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.l-box-select .l-table-nocheckbox td:hover, .l-box-select .l-table-nocheckbox td.l-over
	{
	background-color: #FFE7A2;
	cursor: pointer;
}

.l-box-select .l-table-nocheckbox td.l-selected {
	background-color: #FFBD69;
}

.l-box-select .l-box-select-table td {
	padding: 2px;
	text-align: left;
}

/* 下拉框/日期/调整器 右侧那个可点击的区域 分别是普通、经过、按住状态 */
.l-trigger, .l-trigger-hover, .l-trigger-pressed {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 3px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.l-trigger {
	border: 1px solid #707070;
	background: #DBEBFF url('../image/bg-trigger.gif') repeat-x left;
}

.l-trigger-hover {
	border: 1px solid #3c7fb1;
	background: #fedc75 url('../image/bg-trigger-over.gif') repeat-x left;
}

.l-trigger-pressed {
	border: 1px solid #3c7fb1;
	background: #fedc75 url('../image/bg-trigger-pressed.gif') repeat-x left;
}

.l-dialog-txt-tree {
	border: 1px solid #D2D2D2;
	color: #434343;
	font-family: "微软雅黑", "宋体";
	height: 24px;
	max-width: 203px;
	vertical-align: middle;
	width: 100%;
}