<#if pageType?? && pageType=="cashier">
	<#assign namespace = "cashier.main" > 
<#else>
	<#assign namespace = "cart.main" >
</#if>
<div class="easyDialogclose" id="staff_dialog_close" onclick="easyDialog.close()"></div>
  <table class="contract_list">
            <thead>
                <tr>
                    <td>受理工号查询</td>                   
                    <td align="right" style="width:230px" >
					<input type="button" class="numberSearch" value="确 认" onclick="${namespace}.setStaff()" >
					<input type="button" class="numberSearch" value="取消" style="margin-right: 20px" onclick="easyDialog.close();" >
					</td>
                </tr>                                                    
            </thead>
        </table>
  <div class="form-content">
    <div class="selectList">
      <dl>
        <dt>渠道：</dt>
        <dd>&nbsp;<input type="text" class="inputWidth150px" id="channelId_dialog" readonly="readonly" value="${pageParam.channelName}"></dd>
        <dt>受理工号：</dt>
        <dd>&nbsp;<input type="text" class="inputWidth150px" id="staffCode_dialog" value=""><label class="f_red">&nbsp;&nbsp;</label></dd>
        <dt>受理人：</dt>
        <dd>&nbsp;<input type="text" class="inputWidth150px" id="staffName_dialog" value=""><label class="f_red">&nbsp;&nbsp;</label></dd>
        <dd>
          &nbsp;<input type="button" class="numberSearch" value="查 询" onclick="${namespace}.qureyStaffAndChlPage(1)" >
          <input type="hidden" id="queryFlag_dialog" value="queryStaff"/>
        </dd>
      </dl>
    </div>
    <div class="phone_warp">
      <table class="contract_list numberList222">
        <thead>
          <tr>
          	<td class="borderLTB" style="width:40px">&nbsp;&nbsp;</td>
            <td class="borderLTB">地区</td>
            <td class="borderLTB">渠道</td>
            <td class="borderLTB">受理工号</td>
            <td class="borderLTB">受理人</td>
          </tr>
        </thead>
        <tbody id="staff_list_body">
        	<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
        	<#list pageModel.list as staffInfo >
        	<tr commonRegionId="${staffInfo.commonRegionId}" staffId="${staffInfo.staffId}" staffCode="${staffInfo.staffCode}" >
	            <td class="teleNum"></td>
	            <td>${pageParam.areaId_val}</td>
	            <td>${staffInfo.channelName}</td>
	          	<td>${staffInfo.staffCode}</td>
	          	<td>${staffInfo.staffName}</td>
          	</tr>
        	</#list>
        	</#if>
        </tbody>
      </table>
                       
            <!--页码-->
			<@portal.modelPagination pageModel 5 "${namespace}.qureyStaffAndChlPage"/>
			<!--页码 end-->

		<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>

    </div>
  </div>
<!--帐户选择弹窗 End-->