<#if flag==0>
<table width="100%" cellpadding="0" cellspacing="0" class="top_background">
  <tbody>
    <tr>
      <td align="right" class="green" width="100px">详单类型：</td>
      <#if type==1>
      <td align="left"><font>语音详单</font></td>
      <#elseif type==2>
      <td align="left"><font>短信详单</font></td>
      <#elseif type==3>
      <td align="left"><font>数据详单</font></td>
      <#else>
      <td align="left"><font>增值业务详单</font></td>
      </#if>
      <td align="right" class="green" width="100px">计费时段：</td>
      <td align="left"><font>${billingCycle}</font></td>
      <td align="right" class="green" width="100px">费用合计：</td>
      <td align="left"><font>${sumCharge} 元</font></td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <thead>
    <#if type==1>
    <tr>
      <td align="center">序号</td>
      <td align="center">对方号码</td>
      <td align="center">呼叫类型</td>
      <td align="center">拨打日期</td>
      <td align="center">通话开始时间（时分秒）</td>
      <td align="center">通话时长（时分秒）</td>
      <td align="center">基本费（元）</td>
      <td align="center">长途费（元）</td>
      <td align="center" class="noBorder_r">此项小计（元）</td>
    </tr>
    <#elseif type==2>
    <tr>
      <td align="center">序号</td>
      <td align="center">对方号码</td>
      <td align="center">发送时间</td>
      <td align="center" class="noBorder_r">费用（元）</td>
    </tr>
    <#elseif type==3>
    <tr>
      <td align="center">序号</td>
      <td align="center">起始时间</td>
      <td align="center">结束时间</td>
      <td align="center">流量（KB）</td>
      <td align="center">漫游地长途区号</td>
      <td align="center" class="noBorder_r">费用（元）</td>
    </tr>
    <#else>
    <tr>
      <td align="center">序号</td>
      <td align="center">业务名称</td>
      <td align="center">提供商代码</td>
      <td align="center">发生时间</td>
      <td align="center" class="noBorder_r">费用（元）</td>
    </tr>
    </#if>
  </thead>
  <tbody>
    <#if type==1>
    <#list pageModel.list as voiceInfo>
    <tr>
      <td align="center">${voiceInfo_index+1}</td>
      <td align="center">${voiceInfo.otherPartyNum}</td>
      <td align="center">${voiceInfo.callType}</td>
      <#if (voiceInfo.callStartTime)??>
      <td align="center">${voiceInfo.callStartTime[0..10]}</td>
      <td align="center">${voiceInfo.callStartTime[11..18]}</td>
      <#else>
      <td align="center"></td>
      <td align="center"></td>
      </#if>
      <#if (voiceInfo.callDur)??>
      <#assign callDurH = (voiceInfo.callDur?number/3600)?int/>
      <#assign callDurM = (voiceInfo.callDur?number%3600/60)?int/>
      <#assign callDurS = voiceInfo.callDur?number%3600%60/>
      <td align="center"><#if (callDurH<10)>0${callDurH}<#else>${callDurH}</#if>:<#if (callDurM<10)>0${callDurM}<#else>${callDurM}</#if>:<#if (callDurS<10)>0${callDurS}<#else>${callDurS}</#if></td>
      <#else>
      <td align="center"></td>
      </#if>
      <#if (voiceInfo.basicFee)??>
      <td align="center">${voiceInfo.basicFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
      <#if (voiceInfo.tollFee)??>
      <td align="center">${voiceInfo.tollFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
      <#if (voiceInfo.totalFee)??>
      <td align="center" class="noBorder_r">${voiceInfo.totalFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
    </tr>
    </#list>
    <#elseif type==2>
    <#list pageModel.list as smsInfo>
    <tr>
      <td align="center">${smsInfo_index+1}</td>
      <td align="center">${smsInfo.otherPartyNum}</td>
      <td align="center">${smsInfo.smsTime}</td>
      <#if (smsInfo.basicFee)??>
      <td align="center" class="noBorder_r">${smsInfo.basicFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
    </tr>
    </#list>
    <#elseif type==3>
    <#list pageModel.list as dataInfo>
    <tr>
      <td align="center">${dataInfo_index+1}</td>
      <td align="center">${dataInfo.sessionStartTime}</td>
      <td align="center">${dataInfo.sessionEndTime}</td>
      <#if (dataInfo.volumn)??>
      <td align="center">${dataInfo.volumn}</td>
      <#else>
      <td align="center"></td>
      </#if>
      <td align="center">${dataInfo.roamAreaCode}</td>
      <#if (dataInfo.basicFee)??>
      <td align="center" class="noBorder_r">${dataInfo.basicFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
    </tr>
    </#list>
    <#else>
    <#list pageModel.list as spInfo>
    <tr>
      <td align="center">${spInfo_index+1}</td>
      <td align="center">${spInfo.spServiceName}</td>
      <td align="center">${spInfo.spCode}</td>
      <td align="center">${spInfo.eventTime}</td>
      <#if (spInfo.basicFee)??>
      <td align="center" class="noBorder_r">${spInfo.basicFee}</td>
      <#else>
      <td align="center"></td>
      </#if>
    </tr>
    </#list>
    </#if>
  </tbody>
</table>
<!--页码-->
<@portal.modelPagination pageModel 5 "bill.query.queryDetail"/> 
<script src="${contextPath}/js/our-js/ec.pagination.js" type="text/javascript"></script>          
<!--页码 end-->   
<#elseif flag==1>
<#if errorMsg??><i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">查询失败：${errorMsg}</p><#else>fail</#if>
<#else>
error
</#if>