<@override name="title">押金查询</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/bill/foregift.js" type="text/javascript"></script>

</@override>
<@override name="content">

<div class="main_div">
	<div class="main_warp" id="d_undo_main">
		<!--订单准备-->
		<h2 class="h2_title">
			押金查询
			<span></span>
			<!-- <a href="业务办理_客户定位完成.html" class="numberSearch back3"><span>返回</span></a> -->
		</h2>
		<div class="order">
			<div class="order_content" style="border: none; padding: 10px">
				<div class="order_tab_panel" style="display: block;">
					<div class="selectList">
						<dl class="noBorder">
							<dt style="display:none;">
								选择地区：
							</dt>
							<dd style="display:none;">
								<input type="text" class="numberTextBox width198"
									readonly="readonly" id="p_areaId_val"
									onclick="order.query.showArea()" value="" />
								<input type="hidden" id="p_areaId">
								<label class="f_red">
									*
								</label>
							</dd>
							<dt>
								业务类型：
							</dt>
							<dd>
								<select id="bussType" class="width202">
									<option value="1">
										电信客户押金
									</option>
									<option value="2">
										电信产品押金
									</option>
								</select>
								<label class="f_red">
									&nbsp;
								</label>
							</dd>
							<dt id="typename1">
								身份证号：
							</dt>
							<dd id="typeval1">
								<input type="text" class="numberTextBox width198"
									style="width: 160px" id="identityNum" value="" />
								<label class="f_red">*</label>
							</dd>
							<dt id="typename2" style="display:none">
								接入号：
							</dt>
							<dd id="typeval2" style="display:none">
								<input type="text" class="numberTextBox width198"
									style="width: 160px" id="p_hm" value="" />
								<label class="f_red">*</label>
							</dd>
							<dd>
								<label class="f_red">&nbsp;</label>
								<input type="button" value="搜 索" class="numberSearch"
									id="btn_foregiftQry" />
							</dd>
						</dl>
						<dl class="noBorder"></dl>
					</div>
					<!--号码列表-->
					<div class="phone_warp" id="cust_list" style="display:none;">
						
					</div>
				</div>
			</div>
		</div>
		<div class="main_body" style="padding-top: 0px">
		
		<h5 class="s_title">
			押金列表
		</h5>
		<div class="height18"></div>
		<div class="cardtab">	
  			<ul id="acct_tab" class="pdcard">      
    			<li id="tab_1" class="setcon" onclick="bill.foregiftMgr.changeTab(1)">押金列表</li>
    			<li id="tab_2" onclick="bill.foregiftMgr.changeTab(2)">押金历史</li>
    			<div class="clear"></div>
 			</ul>
  			<div class="clear"></div>
		</div>
		<div class="order" id="foregift_list">
			<!--押金列表-->
			<div class="order_content" id="foregiftcontent" style="border: none; padding: 10px">
				<div id="foregiftlist">
					<table class="contract_list numberList">
						<thead>
							<tr>
						    	<td width="80">类型</td>
						        <td width="100">流水号</td>
						        <td width="100">客户名称</td>
						        <td width="100">接入号码</td>
						       	<td width="80">押金金额/元</td>
						        <td width="50">状态</td>
						        <td width="80">费用项</td>
						        <td width="150">生效时间</td>
						        <td width="150">失效时间</td>
						        <td width="150">收费时间</td>
						        <td width="100">操作</td>
						    </tr>
    					</thead>
    					<tbody id="foregiftList">
    					</tbody>
    				</table>
				</div>
				<div style="text-align: right; padding-top: 20px;">
					<input type="button" value="收费" class="numberSearch"
						onclick="bill.foregiftMgr.showSaveForegift();" />
					<input type="button" value="退费" class="numberSearch"
						onclick="bill.foregiftMgr.returnForegift();" />
					<!-- <input type="button" value="重打票据" class="numberSearch"
						onclick="alert('重打票据');" /> -->
				</div>
			</div>
		</div>
		
		<div class="order" id="foregift_history" style="display:none;">
			<!-- 押金历史列表 -->
			<div class="order_content" id="foregifthistory" style="border: none; padding: 10px">
				<table class="contract_list numberList">
					<thead>
       					<tr>
           					<td width="100">操作名称</td>
           					<td width="100">押金金额/元</td>
           					<td width="100">费用项</td>
           					<td width="100">收/退押金时间</td>
           					<td width="150">生效时间</td>
           					<td width="150">失效时间</td>
       					</tr>
    				</thead>
				</table>
			</div>
		</div>
		</div>
		<!--订单准备 end-->
	</div>
	
	<!--弹出款的内容-->
	<div style="display:none" id="ec-dialog-form-container-foregiftDialog" class="ec-dialog-form-container">
  		<div class="ec-dialog-form-top">
    		<h1 class="ec-dialog-form-title">收取押金</h1>
  		</div>
  		<div class="ec-dialog-form-content">
    		<div class="ec-dialog-form-loading" style="display:none"></div>
    		<div class="ec-dialog-form-message" style="display:none"></div>
    		<div class="ec-dialog-form-form" >
      			<form action="#" style="text-align:center;" id="dialogForm">
        			<div class="form-content" id="rolesdiv">
        				<div class="selectList">
        					<dl>
        						<dd style="display:none;" id="saveinfo">
	        					</dd>
	        					<dt id="custinfo">
	        					</dt>
	        					<dd id="custval">
	        						<input type="text" class="numberTextBox width198" style="width: 160px" disabled="disabled"/>
	        					</dd>	
								<dt>
									收费项目：
								</dt>
								<dd>
									<select id="acctItemType" class="width202" style="width:165px;">
										<option value="2060000">押金</option>
										<option value="2017000">保证金</option>
									</select>
								</dd>
	        				</dl>
	        				<dl>
	        					<dt>
									付费方式：
								</dt>
								<dd>
									<!--  <select id="payMethodCd" class="width202" style="width:165px;">
									</select>-->
									<input type="text" class="numberTextBox width198" style="width: 160px" disabled="disabled" value="现金"/>
								</dd>
								<dt>
									金额：
								</dt>
								<dd>
									<input type="text" class="numberTextBox width198" id="amount"
									style="width: 160px" value="" />
								</dd>
								<!-- <dt id="posname" style="display:none;">
									POS机单号：
								</dt>
								<dd id="posval" style="display:none;">
									<input type="text" class="numberTextBox width202" 
									style="width: 160px" value="" />
								</dd> -->
	        				</dl>
	        				<dl>
	        					<dt>打印票据？</dt>
	        					<dd><input type="checkbox" id="print_checkbox" name="print_checkbox" class="printCheckBox" checked="true"/></dd>
	        				</dl>
        				</div>
        			</div>
        			<div class="ec-dialog-form-bottom-button">
            			<input type="button"  id="submitbtn" class="ecdialogsubmit" value="确认"/>
            			<input type="button" class="ec-dialog-form-cancel ec-dialog-form-button simplemodal-close" tabindex="1008"  value="取消"/>
    				</div>
      			</form>
    		</div>
  		</div>
  		<div class="ec-dialog-form-bottom"></div>
	</div>
	<!--弹出款的内容-->

	<!--弹出款的内容-->
	<div style="display:none" id="ec-dialog-form-container-foregiftDetailDialog" class="ec-dialog-form-container">
  		<div class="ec-dialog-form-top">
    		<h1 class="ec-dialog-form-title">押金历史详细</h1>
  		</div>
  		<div class="ec-dialog-form-content">
    		<div class="ec-dialog-form-loading" style="display:none"></div>
    		<div class="ec-dialog-form-message" style="display:none"></div>
    		<div class="ec-dialog-form-form" >
      			<form action="#" style="text-align:center;" id="dialogForm">
        			<div class="form-content" id="detailDiv">
        				
        			</div>
        			<div class="ec-dialog-form-bottom-button">
            			<!-- <input type="button"  id="detailsubmitbtn" class="ecdialogsubmit" value="确认"/> --> 
            			<input type="button" class="ec-dialog-form-cancel ec-dialog-form-button simplemodal-close" tabindex="1008"  value="取消"/>
    				</div>
      			</form>
    		</div>
  		</div>
  		<div class="ec-dialog-form-bottom"></div>
	</div>
	<!--弹出款的内容-->
<!--弹出框的内容-->
<div style="display: none" id="ec-dialog-form-container-invoice-items"
	class="ec-dialog-form-container">
	<div class="ec-dialog-form-top heightChg">
		<h1 class="ec-dialog-form-title">准备票据内容</h1>
	</div>
	<div class="ec-dialog-form-content">
		<div class="ec-dialog-form-loading" style="display: none"></div>
		<div class="ec-dialog-form-message" style="display: none"></div>
		<div class="ec-dialog-form-form">
			<form action="#" style="" id="dialog-form-invoice-items">
				<div class="selectList">
        			<dl billType="1">
	        			<dt>发票代码：</dt>
	        			<dd><input type="text" id="invoiceNbrInp" value="" class="numberTextBox width150" /></dd>
						<dt>发票号码：</dt>
						<dd><input type="text" id="invoiceNumInp" value="" class="numberTextBox width150" /></dd>
					</dl>
					<dl>
						<dt id="titleDt">发票抬头：</dt>
						<dd><input type="text" id="invoiceTitleInp" value="" class="numberTextBox width210" /></dd>
						<dt>接入号码：</dt>
						<dd><select id="acceNbrSel" class="width120"></select></dd>
					</dl>
					<dl>
						<dt id="tempDt">发票模板：</dt>
						<dd>
							<select id="tempListSel" class="width420">
							</select>
						</dd>
					</dl>
				</div>
				<div class="form-content" id="invoiceItemsContDiv">
				</div>
			</form>
			<div class="ec_dialog_form_btn_div bottom20px">
				<a id="invoiceItemsConfirm" class="btn_h30 ec_dialog_form_btn_cls"><span>打印</span></a>
    			<a id="invoiceItemsConCancel" class="btn_h30 ec_dialog_form_btn_cls"><span>取消</span></a>
			</div>
		</div>
	</div>
	<!-- <div class="ec-dialog-form-bottom"></div> -->
</div>
<!--弹出层-->
</div>

</@override> 
<#if Session["_session_portal_type"]?? &&Session["_session_portal_type"]=="MVNO" > 
<@extends name="/mvno-template.html"/> 
<#else>
<@extends name="/content-template.html"/>
</#if>
