<@override name="title">反销帐</@override> <@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/bill/reversewriteoffcash.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/print/writeOffPrint.js" type="text/javascript"></script>
</@override> <@override name="content">
<div class="main_div"> 
	<div class=" main_warp">
		<div class="ordercon">
  			<div class="order_confirmation ordertabcon">
  				<h2 class="h2_title">反销帐<span class="showhide"></span>
  				</h2>
	  			<div class="main_body">
	  				<h5 class="s_title">销帐查询</h5>
	  				<br/>
	  				<ul class="fillin show billSearch" style="height:78px">
		    			<li class="full">
		      				<label>所属地区：</label>
              				<input type="text" class="inputWidth315px" readonly="readonly" id="p_areaId_val" onclick="order.area.chooseAreaTree('bill/reversewriteoffcash','p_areaId_val','p_areaId',3);" value="${defaultAreaName}" placeHolder="请查询并选择地区"/>
              				<input type="hidden" id="p_areaId" areaCode="${defaultAreaCode}" value="${defaultAreaId}"/>
              				<input type="hidden" id="busiType" value="${busiType}"/>
              				<input type="hidden" id="t_phoneNumber"/>
              				<label class="f_red">*</label> 
              				<label>手机号码：</label>
              				<input type="text" class="inputWidth315px" id="phoneNumber"/>
              				<label class="f_red">*</label> 
		    			</li>
		    			<li class="full noBorder">
		      				<label>账单月份：</label>
              				<#list billingDates as billingDate>
              					<input name="yuhou1" type="radio" value="${billingDate.billingCycle}" <#if billingDate_index==0>checked="checked"</#if>/>
              					<label class="radioinput">${billingDate.billingMonth}</label>
              				</#list>
		    			</li>
		    			<a class="btn_h30" style="float:right;margin:-34px 530px 0px 0px;" href="javascript:bill.reversewriteoffcash.queryWriteOffCash()"><span>查询</span></a>
		  			   
		  			</ul>
		  			<div class="height18"></div>
		  			<h5 class="s_title">反销帐详情</h5>
		  			<ul class="billSearch" style="margin-top:10px;">
		   				<table width="100%" cellpadding="0" cellspacing="0">
		        			<thead>
		        				<tr>
		                			<td align="center" width="24%" >账务周期</td>
		                			<td align="center" width="13%" >销帐流水</td>
		                			<td align="center" width="13%" >付款流水</td>
					                <td align="center" width="12%" >费用总额（元）</td>
					                <td align="center" width="12%" >上次零头（元）</td>
					                <td align="center" width="12%" >本次零头（元）</td>
					                <!-- <td align="center" width="11%" >销帐状态</td> -->
					                <td align="center" width="12%" >操作</td>
					            </tr>
					        </thead>
					        <tbody id="writeoffcashlist">
		        			</tbody>
		        		</table>
		  			</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--弹出款的内容-->
<div style="display:none" id="ec-dialog-form-container-writeoffcash" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">反销帐处理结果</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" >
      <form action="#" style="text-align:center;" id="dialogForm">
        <div class="form-content" id="cash">
        	<table class="numberList">
        		<tbody>
        			<tr>
            			<td align="center" colspan="2">反销帐成功！</td>
          			</tr>
          			<tr>
            			<td align="right" width="180px">销帐金额（元）：</td>
            			<td align="left" id="offcash"></td>
          			</tr>
          			<tr>
            			<td align="right">销帐流水：</td>
            			<td align="left" id="serialnbr"></td>
          			</tr>
          			<tr>
            			<td align="right">反销时间：</td>
            			<td align="left" id="reversedate"></td>
          			</tr>
        		</tbody>
      		</table>
        </div>
        <div class="ec-dialog-form-bottom-button">
            <input type="button" id="closedialog" class="ec-dialog-form-cancel ec-dialog-form-button simplemodal-close" tabindex="1008"  value="关闭"/>
    	</div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出框的内容-->
<#include "/print/invoice-prepare.html"/>
<!--弹出层-->
<!--弹出款的内容-->
</@override> 
<#if Session["_session_portal_type"]?? &&Session["_session_portal_type"]=="MVNO" > 
<@extends name="/mvno-template.html"/> 
<#else>
<@extends name="/content-template.html"/>
</#if>
