<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>业务受理</title>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<META name="keywords" content="电信集团">
		<META name="description" content="电信集团">
		<#include "/public/common-app-newcss-tpl.html"/>
		<#include "/public/common-app-newjs.html"/>
		<script src="${contextPath}/js/app-js/busi-js/common/provence.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/common/home.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/common/menuConst.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/common/const.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/common.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order/orderProdModify.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order/broadband.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/cust/custMgr.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/cust-new/cust.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/print.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order/memberChange.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/prod-new/changeUim.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/prod/qRCode.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/busi-js/push/build.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/rule.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/saleorder/saleOrderQuery.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/areaTree.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/phoneNumber.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/service.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/orderMain.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/offerChange.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/attachOffer.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/offerQuery.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/uim.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/dealer.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/soOrder.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/cacheData.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/queryProd.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/orderInfo.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/calCharge.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/amalgamation/amalgamation.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/orange/orangeMain.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/orange/highRealName.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/terminal.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/phone.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/repair/repair.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/cfq/cfq.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/cust-new/custQuery.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/info/infoCollect.js" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/bill/charge.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/memberChange.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/bill/paymentQuery.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/marketingRecommend/marketingRecommend.js?${jsversion}" type="text/javascript"></script>
		<script src="${contextPath}/js/app-js/busi-js/order-new/verify.js?${jsversion}" type="text/javascript"></script>
		<script>
		window.onload= function() 
		{  
			var webSwitch="true";
			var myCust=window.localStorage.getItem("OrderInfo.cust");
			if("true"==webSwitch && myCust!=null){
			  var myCust1=$.parseJSON(myCust);
			  myCust1.CN="";
			  
			  myCust=JSON.stringify(myCust1);//CN值不合法，传入后台会报400错误，故去掉该值。
			  window.localStorage.setItem("OrderInfo.cust", myCust);
			}
			var app_flag="${app_flag}";//1表示来至手机端，空值表示来至浏览器
			if(!app_flag){//方便浏览器开发
				home.appVersion = "123456";//增加版本号方便测试
				var params={};
				var menu = ${menu}; //菜单测试
				if(!menu){
					menu = 1;
				}
				switch(menu){
				case 10000 :
					params.method = "/app/main/app_home"; //实名制客户新增
					params.actionFlag = 10000;
					params.enter = 4;
					break;
				case 1 :
					params.method = "/app/cust/create"; //实名制客户新增
					params.actionFlag = 34;
					params.enter = 4;
					break;
				case 9 :
					params.method = "/app/cust/realCreate"; //客户新增
					params.actionFlag = 35;
					params.enter = 4;
					break;
				case 2 :
					params.method = "/app/cust/update"; //资料修改
					break;
				case 3 :
					params.method = "/app/prodModify/prepare"; //客户资料返档
					params.actionFlag = 66;
					break;
				case 4 :
					params.method = "/app/report/cartMain"; //受理单查询
					params.actionFlag = 4;
					break;
				case 5 :
					params.method = "/app/order/prodoffer/prepare"; //新装
					params.actionFlag = 1;
					break;
				case 6 :
					params.method = "/app/order/prodoffer/offerchange/prepare"; //套餐变更
					params.actionFlag = 2;
					break;
				case 7 :
					params.method = "/app/prod/prodDetailQuery"; //销售品信息查询
					break;
				case 8 :
					params.method = "/app/order/attachoffer/prepare"; //可选包功能产品
					break;
				case 10 :
					params.method = "/app/push/enter"; //双屏推送
					break;
				case 101 :
					params.method = "/app/mktRes/terminalListUI"; //主推终端					
					params.actionFlag = 101;
					break;
				case 51 :
					params.method = "/app/order/prodoffer/prepare"; //选套餐
					params.enter=1;
					break;
				case 52 :
					params.method = "/app/order/prodoffer/prepare"; //购手机
					params.enter=2;
					params.actionFlag = 13;
					break;
				case 53 :
					params.method = "/app/order/prodoffer/prepare"; //选号码
					params.enter=3;
					break;
				case 11 :
					params.method = "/app/prodModify/toCheckUimUI"; //补换卡
					break;
				case 18 :
					params.method = "/app/order/attachBroadband/prepare"; //宽带续约
					break;
				case 111 :
					params.method = "/app/order/broadband/prepare"; //宽带甩单
					break;
				case 112 :
					params.method = "/app/amalgamation/prepare"; //宽带融合
					params.actionFlag = 112;
					break;
				case 113 :
					params.method = "/app/cfq/prepare"; //芝麻信用
					break;
				case 114 :
					params.method = "/app/mktRes/phonenumber/preNumRelease"; //资源释放
					params.actionFlag = 114;
					break;
				case 115 :
					params.method = "/app/marketingRecommend/mktresRecommend"; //营销推荐
					params.actionFlag = 115;
					break;
				case 12 :
					params.method = "/app/saleorder/queryorderlist"; //销售单列表查询
					break;
				case 19 :
					params.method = "/app/infocollect/realname/prepare"; //实名信息采集单新增
					break;
				case 201 :
					params.method = "/app/orange/orange-offer"; //橙 分期
					break;
				case 301 :
					params.method = "/app/pay/repair/prepare"; //支付补单
					break;
				case 150 :
					params.method = "/app/bill/chargePrepare"; //话费充值查询
					break;
				case 160 :
					params.method = "/app/bill/paymentQueryPrepare"; //充值记录查询
					break;
				case 302 :
					params.method = "/app/order/prodoffer/memberchange/prepare"; //主副卡成员变更
					break;
				}  
				var custInfos=$.parseJSON(window.localStorage.getItem("OrderInfo.cust"));
				//if (window.localStorage.getItem("OrderInfo.staff") != null){
					var staffInfos=$.parseJSON(window.localStorage.getItem("OrderInfo.staff").replace(/>/g, "&gt;"));
					var prodIdInfos=$.parseJSON(window.localStorage.getItem("order.prodModify.choosedProdInfo"));
					common.callOrderServer(staffInfos,custInfos,prodIdInfos,params);
			}
		}
		</script>
	</head>
	<body>
		<!-- app业务统一入口 -->
		<div align="center" id="load">
		</div>
		<div id="content">
		</div>
		<!--接口异常错误封装展示-->
		<#include "/public/public-app-newerror.html"/>
		<!--弹出框-->
		<#include "/public/public-app-dialog.html"/>
	</body>
</html>
