<script src="${contextPath}/js/app-js/busi-js/order/memberChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/prod-new/changeUim.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/push/build.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/rule.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/saleorder/saleOrderQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/areaTree.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/phoneNumber.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/service.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/orderMain.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/offerChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/attachOffer.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/offerQuery.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/uim.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/dealer.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/soOrder.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/cacheData.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/queryProd.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/calCharge.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/amalgamation/amalgamation.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/orange/orangeMain.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/orange/highRealName.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/terminal.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/phone.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/repair/repair.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cfq/cfq.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/info/infoCollect.js" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/bill/charge.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order-new/memberChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/bill/paymentQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/marketingRecommend/marketingRecommend.js?${jsversion}" type="text/javascript"></script>