<#if flag==0>  
<table class="numberList">
	<thead>
    	<tr>
        	<td width="140">规格名称</td>
            <td width="160">产品接入号</td>
            <td width="100">产品状态<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >（实例状态）</#if></td>
            <td width="100">付费类型</td>
            <td width="80">操作</td>
      	</tr>
   	</thead>       				
  	<tbody>
 		<#list pageModel.list as prodInfo>
 		<tr>
 			<td>${prodInfo.productName}</td> 			
 			<td>${prodInfo.accNbr}</td>
 			<td>${prodInfo.prodStateName}<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >（${prodInfo.instStatusName}）</#if></td>
 			<#if prodInfo.feeType??>
 			<#assign feeType = prodInfo.feeType/>
 			<td>${feeType.feeTypeName}</td>
 			</#if>
 			<td><a class="purchase" type="main" href="javascript:void(0)" onclick="product.query.queryProdDetail(${prodInfo.prodInstId!'null'},${prodInfo.accNbr!'null'},${prodInfo.areaId!'null'})">详情</a></td>	
 		</tr>
 		</#list>
   	</tbody>   	
</table>
<!--页码-->
<@portal.modelPagination pageModel 5 "product.query.queryProduct"/> 
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>          
<!--页码 end-->   
<#elseif flag==1>
<table class="numberList">
	<thead>
    	<tr>
        	<td width="140">规格名称</td>
            <td width="160">产品接入号</td>
            <td width="100">产品状态</td>
            <td width="100">付费类型</td>
            <td width="80">操作</td>
      	</tr>
   	</thead>       
	<tbody>
		<tr>
			<td colspan=5>未查询到产品</td>
		</tr>
	</tbody>
</table>
<#elseif flag==2>
<#if failInfo??><i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">查询失败：${failInfo}</p><#else>fail</#if>
<#else>
error
</#if>