<#if phoneNumList?? &&(phoneNumList?size>0)>
<!--号码列表-->


<ul class="numberlist">
	<#list phoneNumList as item>
	 	<#assign phoneNumber="${item.phoneNumber}" />
	 	<#assign phonehead="${(item.phoneNumber)?substring(0,3)}" />
	 	<#assign phonemiddle="${(item.phoneNumber)?substring(3,7)}" />
	 	<#assign phoneend="${(item.phoneNumber)?substring(7,(item.phoneNumber)?length)}" />	
	 	<li onclick="prod.telnum.selectNum(this,${ispurchased!'0'});" class="select_nbr_li" phoneNumber="${item.phoneNumber}" pnLevelCd = "${item.pnLevelCd}"  numberVal="${item.phoneNumber}_${item.prePrice}_${item.pnPrice}_${item.anTypeCd}_${item.pnCharacterId}_${item.pnLevelId}_${item.phoneNumId}_${item.needPwd?default("0")}">
			<br/>
			<p>${phonehead}&nbsp;${phonemiddle}&nbsp;${phoneend}</p>
			<div>
			<span style='padding-left:10px;'>预存<span class="orange">${item.prePrice}</span>元</span>
			<span style='padding-left:10px;'>月保底<span class="orange">${item.pnPrice}</span>元</span>
			</div>
		</li>
	</#list>
</ul>
<!--号码列表 end-->  
<input type="hidden" id="chooseAreaId" value="${areaId}">
<#else>
<div class="no_search"> 
	<div class="h1">
		<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的号码，请尝试其他筛选条件。
	</div>
</div>
</#if>
 