<div class="order_confirmation">
	<h2 class="h2_title">
		<span>订购/退订功能可选包</span>
		<span class="showhide"></span>
	</h2>
	<div class="main_body">
		<div class="cardtabcon">
			<div class="pdcardcon show">
				<h5 class="s_title">可选包/功能</h5>
				<div class="infoBox">
					<#include "/offer/attach-offer.html" />
				</div>
			</div>
		</div>
		<div class="height18"></div>
		
		<div id="uimDiv_${prodId}" style="display: none;">
			<h5 class="s_title">补换卡： </h5>
			<div class="pdcardcon show" >
				<ul class="fillin show">
					<#include "/order/order-uim.html" />
				</ul>
			</div>
		</div>
		<!-- 发展人 -->
		<div class="height18"></div>
		<div id="dealerAidDiv" >
			<@block name="dealer">
				<#include "/order/order-dealer.html" />
			</@block>
		</div>

		<!-- 备注 -->
		<div class="height18"></div>
		<div id="orderRemarkDiv" >
			<@block name="remark">
				<#include "/order/order-remark.html" />
			</@block>
		</div>
	</div>
</div>

<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a id="fillLastStep" href="javascript:order.prodModify.cancel();" class="btna_o"><span>取消</span></a> <a
		href="javascript:SoOrder.submitOrder()" class="btna_o" style=" margin-left:20px;"><span>下一步</span></a>
</div>

