<@override name="title">${batchTypeName}</@override>
<@override name="header">
<script>
	$.extend($, {
		httpData : function(xhr, type, s) {
			var ct = xhr.getResponseHeader("content-type"), xml = type == "xml" || !type && ct && ct.indexOf("xml") >= 0, data = xml ? xhr.responseXML : xhr.responseText;

			if (xml && data.documentElement.tagName == "parsererror")
				throw "parsererror";
			if (s && s.dataFilter)
				data = s.dataFilter(data, type);
			if ( typeof data === "string") {
				if (type == "script")
					jQuery.globalEval(data);
				if (type == "json")
					data = window["eval"]("(" + data + ")");
			}
			return data;
		},
		handleError : function(s, xhr, status, e) {
			if (s.error)
				s.error(xhr, status, e);
			else if (xhr.responseText)
				console.log(xhr.responseText);
		}
	});

	$(function() {
		/* $('#upFile').change(function() {
			$('#importExcel').removeClass("purchase").addClass("disablepurchase");
			$('#importExcel').off('click');
		}); */
	})
</script>
<script src="${contextPath}/js/4g-js/cert/cert.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/third-js/jquery/jquery.form.js" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/orderInfo.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/batchOrder/batchOrder.js?${jsversion}" type="text/javascript"></script>
<style>
	.fillin label {
		height: 28px;
		text-align: left;
		width: 90px;
	}

	.selectList dl dt {
		float: left;
		width: 75px;
		height: 34px;
		font-weight: bold;
		text-align: left;
	}
</style>
</@override>
<@override name="content">
<div class="main_div">
	<div class="main_warp" id="d_query">
		<h2 class="h2_title">${batchTypeName}</h2>
		<div class="order">
			<div class="order_content" style="border:none; padding:10px">
				<div class="order_tab_panel" style="display:block;">
					<div class="selectList">
						<form method="post" id="batchOrderChangeForm" enctype="multipart/form-data">
							<dl>
								<dt>
									预约时间&nbsp;:
								</dt>
								<dd>
									<select id="reserveDt" name="reserveDt" style="width:100px">
										<option value="-1">立即执行</option>
										<#list time as item>
										<option value="${item.date}">${item.dateStr}</option>
										</#list>
									</select>
								</dd>
							</dl>
							
							<#if batchType=="13">
							<dl>
								<dt>
									黑名单证据:
								</dt>
								<dd>
									<input type="file"  name="evidenceFile" id="evidenceFile" style="text-indent:0px;height:30px;""/>
								</dd>
							</dl>
							<#else>
							    <div class="order" id="unsub_fill_content" style="display:none">
							   	    <input type="file"  name="evidenceFile" id="evidenceFile" style="text-indent:0px;height:30px;""/>
							    </div>
							</#if>
							<dl>
								<dt>
									EXCEL文件&nbsp;:
								</dt>
								<dd>
									<input type="hidden" name="batchType" id="batchType" value="${batchType}"/>
									<input type="file"  name="upFile" id="upFile" style="text-indent: 0px"/>
								</dd>
								<dd>
									<a class="purchase" href="javascript:void(0)" onclick="order.batch.submit();">导 入</a>
									<a class="purchase" href="javascript:void(0)" onclick="order.batch.download('${batchType}');">模板下载</a>
									<a class="purchase" href="javascript:void(0)" onclick="order.batch.reset();">重 置</a>
								</dd>
							</dl>
							<li style=" border-bottom: 0px;"  class="full">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><i class="rule_icon_notice"></i></td>
										<td><span style="line-height:25px;"> 
											(1) ${batchTypeName}EXCEL文件：仅支持上传xls、xlsx文件，单元格格式请设置为文本
											<br/>(2) 预约执行时间：例如：选择0点-->导入成功后0点执行；选择23点-->导入成功后23点执行
											<br/>(3)批量处理可能需要持续一段时间，请耐心等待... 
											<#if batchType=="13">
											<br/>
											(3) 黑名单证据文件名后缀为：doc,docx,pdf,png,gif,jpeg,jpg中的一种。
							                </#if>
											</span>
										</td>
									</tr>
								</table>
							</li>
						</form>
					</div>
					<div id="alertInfo"  class="phone_warp" style="color:#F00; font-weight:bold"></div>
					<div id="detailInfo"  class="phone_warp"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>