<!-- 现在的“进度查询”即为原来的“批量订单查询” -->
<div class="easyDialogclose" id="" onclick="easyDialog.close()"></div>
<table class="contract_list">
	<thead>
		<tr>
			<td>批次进度查询</td>
			<td align="right" style="width: 230px">
				<input type="hidden" class="numberSearch" value="确 认" onclick=""> 
				<input type="hidden" class="numberSearch" value="取 消" style="margin-right: 20px" onclick="easyDialog.close();">
				<input type="hidden" id="batchType_dialog" value="${param.batchType}" />
				<input type="hidden" id="groupId_dialog" value="${param.groupId}" />
			</td>
		</tr>
	</thead>
</table>
<div class="form-content">
	<div class="selectList">
		<form method="post" id="processQuery_action"></form>
		<dl>
			<dt>受理状态：</dt>
			<dd>&nbsp;
				 <select style="width: 160px" id="statusCd_dialog" class="numberTextBox">
					<option value="">--全部--</option>
				</select>
			</dd>
			<dt>订单状态：</dt>
			<dd>&nbsp; 
				<select style="width: 160px" id="orderStatus_dialog" class="numberTextBox">
					<option value="">--全部--</option>
				</select>
			</dd>
			<dt>主接入号：</dt>
			<dd>
				<input type="text" id="phoneNumber" class="inputWidth183px" />
			</dd>
			<dd>&nbsp; 
				<input type="button" class="numberSearch" value="查 询" onclick="order.batch.batchProgressQueryList(1)"> 
				<input type="button" class="numberSearch" value="导出Excel" onclick="order.batch.exportExcel();">
			</dd>
		</dl>
	</div>
	<div id="progressQuerylist" class="phone_warp"></div>
</div>