<@override name="title">异常单释放</@override>
<@override name="header">
<script src="${contextPath}/js/4g-js/order/orderInfo.js" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/soOrder.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/orderRelease/orderRelease.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/cust/cust.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/areaTree.js" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_div">
  <div class="main_warp">
    <h2 class="h2_title">异常单释放</h2>
    <div class="order">
      <div class="order_content" style="border:none; padding:10px">
        <div class="order_tab_panel" style="display:block;">                
          <ul class="fillin show billSearch" style="height:80px">
            <li style="width:33%">
              <label>号码类型：</label>
              <select id="numtype" class="inputWidth250px" style="height:28px;padding:4px;width:100px;">
                <option value="1">手机号</option>
                <option value="2">UIM号</option>
              </select>
              <label class="f_red">*</label>
            </li>
            <li style="width:33%">
              <label>开始时间：</label>
              <input type="text" class="inputWidth315px" style="width:200px" id="p_startTime" readonly="readonly" value="${p_startTime}"/>
            </li>
            <li style="width:34%">
              <label>结束时间：</label>
              <input type="text" class="inputWidth315px" style="width:200px" id="p_endTime" readonly="readonly" value="${p_endTime}"/>
            </li>
            <li class="noBorder" style="width:33%">
              <input type="checkbox" style="height:22px;margin-left:9px;" id="accurate"/>
              <label style="width:65px;">精确查询：</label>
              <input type="text" class="inputWidth228px" id="num"/>
            </li>     
           	<a class="btn_h30" style="margin:4px 0px 0px 37px;" onclick="order.release.queryReleaseNum(1)"><span>查询</span></a>             
          </ul>
          <div class="height18"></div>
          <div class="phone_warp" id="numlist" >
            <table class="numberList">
              <thead>
                <tr>
                  <td width="100">号码类型</td>
                  <td width="160">号码</td>
                  <td width="140">预占时间</td>
                  <td width="100">地区编号</td>
                  <td width="80">操作</td>
                </tr>
              </thead>
              <tbody>
 				
              </tbody>
            </table>
          </div>                                                                             
        </div>                                       
      </div>
    </div>
  </div>	
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/main-template.html"/>
</#if>