
      <div class="leftA"><a id="leftA" href="javascript:void(0);" ></a></div>
      <div id="slider">
        <ul id="content">
          <li >
          	<a href="${contextPath}/main/home" <#if current=='home'>class="dropup"</#if> >首页</a>
          </li>
          
        <#if __menuList?? >
		<#list __menuList as menu1>
		<#if menu1.isMainMenu="Y" ><!-- 第一层是否展示 -->
		<li>
          	<#if menu1.menuPath?? && !menu1.menuPath=="" && !menu1.menuPath=="#" >
				<a href="<#if (menu1.menuPath?index_of('http')<0) >${contextPath}/</#if>${menu1.menuPath}" <#if current==menu1.resourceId>class="dropup"</#if> >${menu1.resourceName}</a>
			<#else>
				<a href="javascript:void(0)" <#if current==menu1.resourceId>class="dropup"</#if> >${menu1.resourceName}</a>
			</#if>
          	
          	<#if (menu1.shownum>0) >
          	<div class="top_dropup" style="display: none" >
          		<div id="${menu1.resourceId}" class="usual"> 
          		
          		<#if menu1.shownum="2" >
          		<ul>
          			<#list menu1.childMenuResources as menu2>
          			<#if menu2.isMainMenu="Y" >
                    <li><a href="#${menu2.resourceId}">${menu2.resourceName}</a></li>
                    </#if>
                    </#list>
                    <div class="clear"></div>
                </ul>
                <#list menu1.childMenuResources as menu2 >
                	<#if menu2.isMainMenu="Y" >
	                <div id="${menu2.resourceId}" class="tabdiv">
	                	<#list menu2.childMenuResources as menu3 >
	                		<#if menu3.isMainMenu="Y" >
	                		<a href="<#if (menu3.menuPath?index_of('http')<0) >${contextPath}/</#if>${menu3.menuPath}"><img src="${contextPath}/${menu3.resourcePath}"><br><span>${menu3.resourceName}</span></a>
	                 	    </#if>
	                 	</#list>
	                </div> 
	                </#if>
                </#list>
          		
          		<#elseif menu1.shownum="1" ><!-- 2级菜单 -->
                  <div id="zh1" class="tabdiv">
                  <#list menu1.childMenuResources as menu3 >
                  	  <#if menu3.isMainMenu="Y" >
                 	  <a href="<#if (menu3.menuPath?index_of('http')<0) >${contextPath}/</#if>${menu3.menuPath}"><img src="${contextPath}/${menu3.resourcePath}"><br><span>${menu3.resourceName}</span></a>
                 	  </#if>
                  </#list>
                  </div> 
          		</#if>
          		
          		</div>
          	</div>
			</#if>
			
         </li>
         </#if>
		 </#list>
		 </#if>
		
<!-- 
          <li><a href="#">工作支持</a>
            
            <div class="top_dropup"></div>
            
          </li>
         
          <li><a href="#">菜单五</a>
            
            <div class="top_dropup"></div>
            
          </li>
          <li><a href="#">菜单六</a>
            
            <div class="top_dropup"></div>
            
          </li>
  -->
           
        </ul>
      </div>
      <div class="rightA"><a id="rightA" href="javascript:void(0);"> <!--<img src="${contextPath}/4g/image/home/righta.png">--></a></div>

