
<div class="qudao" id="d_user_menuType" type="${Session["_session_portal_type"]}" >
	<#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
	所在渠道：${Session["_ecs_login_session_key"].currentChannelName}
	<a id="_session_staff_info" 
					staffId="${Session["_ecs_login_session_key"].staffId}" 
					staffCode="${Session["_ecs_login_session_key"].staffCode}" 
					staffName="${Session["_ecs_login_session_key"].staffName}" 
					channelId='${Session["_ecs_login_session_key"].currentChannelId}' 
					channelName='${Session["_ecs_login_session_key"].currentChannelName}' 
					areaId='${Session["_ecs_login_session_key"].currentAreaId}'
					areaCode='${Session["_ecs_login_session_key"].currentAreaCode}'
					areaName='${Session["_ecs_login_session_key"].currentAreaName}'
					areaAllName='${Session["_ecs_login_session_key"].currentAllAreaName}'
					orgId='${Session["_ecs_login_session_key"].orgId}' 
					partnerId='${Session["_ecs_login_session_key"].partnerId}' 
					operatorsId = '${Session["_ecs_login_session_key"].currentOperatorsId}' 
					operatorsName = '${Session["_ecs_login_session_key"].currentOperatorsName}' 
					operatorsNbr = '${Session["_ecs_login_session_key"].currentOperatorsNbr}' 
		href="javascript:header.menu.openChannel()"><img width="16" height="16" alt="" src="${contextPath}/image/home/qudaoChange.png"></a>
	<#else>
	无受理渠道
	<a id="_session_staff_info" 
					staffId="${Session["_ecs_login_session_key"].staffId}" 
					staffCode="${Session["_ecs_login_session_key"].staffCode}" 
					staffName="${Session["_ecs_login_session_key"].staffName}" 
					channelId='' 
					channelName='' 
					areaId=''
					areaCode=''
					areaName=''
					areaAllName=''
					orgId='${Session["_ecs_login_session_key"].orgId}' 
					operatorsId = '' 
					operatorsName = '' 
					operatorsNbr = '' 
        href="javascript:void(0)"><img width="16" height="16" alt="" src="${contextPath}/image/home/qudaoChange.png"></a>
	</#if>
	
</div>

<!-- 

    <div class="topcon">
        <div class="toplogo22222"></div>
        <div class="topuser" id="d_user_menuType" type="${Session["_session_portal_type"]}" >
             <#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
             	<span class="topqudao" onclick="header.menu.openChannel()" >
            	<a id="_session_staff_info" staffId="${Session["_ecs_login_session_key"].staffId}" 
            		staffCode="${Session["_ecs_login_session_key"].staffCode}" 
            		staffName="${Session["_ecs_login_session_key"].staffName}" 
                	channelId='${Session["_ecs_login_session_key"].currentChannelId}' 
                	channelName='${Session["_ecs_login_session_key"].currentChannelName}' 
                	areaId='${Session["_ecs_login_session_key"].currentAreaId}'
                	areaCode='${Session["_ecs_login_session_key"].currentAreaCode}'
                	areaName='${Session["_ecs_login_session_key"].currentAreaName}'  >
                	${Session["_ecs_login_session_key"].currentChannelName}
                </a>
            	</span>
             <#else>
             	<span class="topqudao" onclick="" >
            	<a id="_session_staff_info" 
                	staffId="${Session["_ecs_login_session_key"].staffId}" 
                	channelId='' channelName='' areaId='' areaCode='' areaName='' >
                	无归属渠道</a>
           		</span>
             </#if>
             <input type="hidden" id="homepage" value="${homepage}">
        </div>
    </div>
    
 -->
 
 
<!--渠道选择弹窗-->
<div class="easyDialogdiv" style="width:400px;max-height: 380px;min-height: 240px;" id="qudao">
    	<div class="easyDialogclose" id="qudaoclose"></div>
    	<table class="contract_list">
            <thead>
                <tr>
                    <td>选择渠道</td>
                </tr>                                                    
            </thead>
            <tbody>
            	<#if Session["_staff_channel"]?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
				<#list Session["_staff_channel"] as channel>
				
				<tr <#if channel_index%2="1" >class="bg"</#if> >
					<td class="channel_sel" onclick="header.menu.chooseChannel('${channel.id}')" >
                  		<dd><i <#if channel.id=Session["_ecs_login_session_key"].currentChannelId >class="select"</#if> ></i>
			      			${channel.name}
			    		</dd>
			    	</td>
				</tr>
				
                <!-- 
                <tr <#if channel_index%2="1" >class="bg"</#if> >
                  <td class="channel_sel" 
                  	channelname="${channel.name}" channelid="${channel.id}" agenttypecd="${channel.type}" 
                  	areaid="${channel.areaId}" areacode="${channel.areaCode}" areaName="${channel.areaName}" 
                  	onclick="header.menu.chooseChannel(this)" >${channel.name}</td>
                </tr>
                <tr class="bg">
                  <td>XX营业厅</td>
                </tr>
                <tr>
                  <td>XX营业厅</td>
                </tr>
                 -->
                 
                </#list>
				</#if>
            </tbody>
        </table>
    </div>
<!--渠道选择弹窗结束-->

