<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>山东电信</title>
<link rel="stylesheet" href="../../../resources/css/pad-css/jquery.mobile-1.4.2.css">
<link rel="stylesheet" href="../../../resources/css/pad-css/pad.css">
<script src="../../../resources/js/pad-js/third-js/jquery-1.9.1.min.js"></script>
<script src="../../../resources/js/pad-js/third-js/jquery.mobile-1.4.2.min.js"></script>
<script src="../../../resources/js/pad-js/our-js/layout.js"></script>
<script type="text/javascript">
	//$.get("top.html",function(data){
	//$("#top").html(data);
	//});
$(document).ready(function(){
	$("#logobar").click(function(){
    $("#navbar").slideToggle(400);
  });
});
</script>
<script type="text/javascript">
$(document).ready(function () {
	$(".many li").bind("click", function () {
		var index = $(this).index();
		var divs = $("#tabs-body .ordercona");
		$(this).parent().children("li").attr("class", "tab-nav");//将所有选项置为未选中
		$(this).attr("class", "tab-nav-action"); //设置当前选中项为选中样式
		divs.hide();//隐藏所有选中项内容
		divs.eq(index).show(); //显示选中项对应内容
	});
	$("#otabs li").bind("click", function () {
                var index = $(this).index();
                var divs = $("#otabs-body > div");
                $(this).parent().children("li").attr("class", "otab-nav");//将所有选项置为未选中
                $(this).attr("class", "otab-nav-action"); //设置当前选中项为选中样式
				  $(this).parent().children("li").find(".ui-input-search").hide();
				  $(this).parent().children("li").find(".ui-select").hide(); 
				  $(this).children("div").show();
                divs.hide();//隐藏所有选中项内容
                divs.eq(index).show(); //显示选中项对应内容
            });
});
$(document).ready(function(){  
	$('#editreason').change(function(){  
		var selectval = $(this).children('option:selected').val();
		if (selectval == 02) {
			$(this).hide().parent(".ui-select").hide().next(".edit").show();
		}
	}) 
	$(".edit button").on("tap",function(){
		$(this).parents().find(".edit").hide().prev(".ui-select").show().find("#editreason").show();
	});
})  


var x_m_d =null;
var x_m_u = null;
var m_d=false;
document.getElementById("tabs").addEventListener('touchstart',m_down, false);
document.getElementById("tabs").addEventListener('touchmove',m_up, false);
function m_down(e){
     x_m_d = e.touches[0].pageX;
                
     m_d=true;
}
function m_up(e){
    x_m_u = e.touches[0].pageX;
    if(m_d){
        if(x_m_u - x_m_d > 50)
                  right();//调用右划方法 
       if(x_m_u - x_m_d < -50)
                 left();//调用左划方法
    }
}
</script>
</head>
<body>
<div data-role="page" class="index">
  <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="i" id="top"> <span class="logo4g"></span>
    <ul class="user">
      <li>李某民<span>姓名</span></li>
      <li>身份证/321181197612090271<span>证件</span></li>
      <li>山东济南<span>地区</span></li>
      <li>银<span>客户等级</span></li>
      <li>政企<span>客户分群</span></li>
    </ul>
    <div class="topbutton"> <a href="#" data-role="button" data-icon="back" data-theme="g">重定位</a> <a href="#" data-role="button" data-icon="grid" data-theme="g">已订购业务</a> </div>
  </div>
  <div data-role="content" data-theme="w">
      <div class="ordertitle">购物车流水：12392023023293232232</div>
      <dl class="paytitle">
        <dt>产品</dt><dt>费用名称</dt><dt>应收费用</dt><dt>实收费用</dt><dt>付费方式</dt><dt>修改原因</dt><dt>操作</dt>
    </dl>
    <ul data-role="listview" class="paylist">
      <li class="paydd">
        <dl>
        	<dd>天翼 18901000100<button data-icon="plus" data-iconpos="notext" data-inline="true"></button></dd>
           <dd>卡费</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd>转计费账务</dd>
           <dd>修改</dd>
           <dd><button data-icon="delete" data-iconpos="notext" data-inline="true"></button><button data-icon="gear" data-iconpos="notext" data-inline="true"></button></dd>
        </dl>
      </li>
      <li>
        <dl>
        	<dd>天翼 18901000100</dd>
           <dd>
        <select name="paytype" id="paytype" data-native-menu="false">
         <option value="01">卡费</option>
         <option value="02">预存款</option>
        </select>
			</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd><select name="paytype" id="paytype" data-native-menu="false">
         <option value="01">转计费账务</option>
         <option value="02">转计费账务</option>
        </select></dd>
           <dd><select name="edit" data-native-menu="false" id="editreason">
         <option value="01">修改原因</option>
         <option value="02">其他</option>
        </select>
        <div class="ui-grid-a edit">
        <div class="ui-block-a">
        <input type="text" name="m">
        </div>
        <div class="ui-block-b"><button data-icon="delete" data-iconpos="notext" data-mini="true" data-inline="true"></button></div></div></dd>
           <dd><button data-icon="gear" data-iconpos="notext" data-inline="true" disabled></button></dd>
        </dl>
      </li>
      <li class="paydd">
        <dl>
        	<dd>天翼 18901000100</dd>
           <dd>卡费</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd>转计费账务</dd>
           <dd>修改</dd>
           <dd><button data-icon="gear" data-iconpos="notext" data-inline="true"></button></dd>
        </dl>
      </li>
      <li class="paydd">
        <dl>
        	<dd>天翼 18901000100</dd>
           <dd>卡费</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd>转计费账务</dd>
           <dd>修改</dd>
           <dd><button data-icon="delete" data-iconpos="notext" data-inline="true"></button></dd>
        </dl>
      </li>
      <li>
        <dl>
        	<dd>天翼 18901000100</dd>
           <dd>卡费</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd>转计费账务</dd>
           <dd>修改</dd>
           <dd><button data-icon="delete" data-iconpos="notext" data-inline="true"></button></dd>
        </dl>
      </li>
      <li>
        <dl>
        	<dd>天翼 18901000100</dd>
           <dd>卡费</dd>
           <dd><span>10.00</span></dd>
           <dd><input type="text" name="m" value="10.00"></dd>
           <dd>转计费账务</dd>
           <dd>修改</dd>
           <dd><button data-icon="delete" data-iconpos="notext" data-inline="true"></button></dd>
        </dl>
      </li>
    </ul>

  </div>
  <a class="logo" id="logobar"></a>
  <div id="navbar" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="i">
    <div data-role="navbar">
      <ul class="navbar4g">
        <li><a href="#" data-icon="bar01">营业受理</a></li>
        <li><a href="#" data-icon="bar02">批量受理</a></li>
        <li><a href="#" data-icon="bar03">费用管理</a></li>
        <li><a href="#" data-icon="bar04">综合查询</a></li>
        <li><a href="#" data-icon="bar05">营业报表</a></li>
        <li><a href="#" data-icon="bar06">工作支持</a></li>
      </ul>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="n">
  <div class="footform">
  	 <div class="orderform ui-grid-c">
     <div class="ui-block-a">
     <label>POS终端号：</label>
     </div>
     <div class="ui-block-b">
  	 <input type="text" value="" data-mini="ture">
     </div>
     <div class="ui-block-c">
     <label>POS流水号：</label>
     </div>
     <div class="ui-block-d">
  	 <input type="text" value="" data-mini="ture">
     </div>
     </div>
  	 <span>应收金额：<font>1000.00</font>元</span>
     <span>实收金额：<font>1000.00</font>元</span>
  </div>
    <button data-icon="next" data-inline="true">受理完成</button> <button data-role="button" data-icon="prev" data-inline="true" disabled>收费</button> <button data-role="button" data-icon="prev" data-inline="true">打印回执</button> <button data-role="button" data-icon="prev" data-inline="true">订单取消</button> </div>
</div>
</body>
</html>