<@override name="title">实名信息采集单</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/cust/custCollection.js?${jsversion}" type="text/javascript"></script>

</@override> 
<@override name="content">
<!--内容-->
<div class="main_div"> 
  <div class=" main_warp">
	  <div class="ordercon">
	  	<!--订单确认-->
	   	<div class="order_confirmation ordertabcon">
		   	
		    <!--客户定位开始-->
		    <!--客户定位未定位-->
			<div id="custQryDiv" class="main_div location main_warp">
				<form id="custQueryFirstForm">
					<input type="hidden" value="${fromProvFlag}" id="fromProvFlag"/>
					<input type="hidden" value="${provIsale}" id="provIsale"/>
					<input type="hidden" value="${provIdentityCd}" id="provIdentityCd"/>
					<input type="hidden" value="${provIdentityNum}" id="provIdentityNum"/>
					<input type="hidden" value="${provAreaId}" id="provAreaId"/>
				    <ul class="usercon">
					    <li class="ulocation" >
							<h2 style="margin: 4px 8px 0 5px;">受理地区</h2>
						</li>
						<li class="usersearch">
						   <input id="diffPlaceFlag" type="hidden" value="${DiffPlaceFlag}"> 
							<#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
							  <input type="text" class="numberTextBox" style="margin-left:5px; width:100px" readonly id="p_cust_areaId_val" onclick="order.cust.chooseArea()" value="${Session["_ecs_login_session_key"].currentAreaAllName}" placeholder="请选择地区" readonly />
					          <input type="hidden" id="p_cust_areaId" value="${Session["_ecs_login_session_key"].currentAreaId}">
					          <input type="hidden" DiffPlaceFlag="${DiffPlaceFlag}">
					        <#else>
					          <input type="text" class="numberTextBox" style="margin-left:5px; width:100px" readonly id="p_cust_areaId_val" onclick="order.cust.chooseArea()"   value="" placeholder="请选择地区" />
					          <input type="hidden" id="p_cust_areaId" >
					          <input type="hidden" DiffPlaceFlag="${DiffPlaceFlag}">
					         </#if>
				        </li>
						<li class="ulocation">
							<h2 style="margin: 4px 8px 0 5px;">客户定位</h2>
						</li>
						<li class="usersearch">
							<select onchange="order.cust.custidentidiesTypeCdChoose(this,'p_cust_identityNum')" id="p_cust_identityCd" class="selectNumbertype" style="width:118px;">
			               	  	<option value="-1" >接入号码</option>
			               	  	<option value="acctCd" >合同号</option>
			               	  	<option value="custNumber" >客户编码</option>
					        </select>
				        <div id="custList" class="usersearchcon" ></div>
				        </li>
						<li class="usersearch">
							<input name="" type="text" class="numberTextBox" id="p_cust_identityNum" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" 
								placeHolder="请输入接入号码" data-validate="validate(isTelecomOridCardCheck:请输入合法接入号码) on(blur)" style="width:158px;" value=""/>
						</li>
						
				        <li>
					        <input id="isAppointNum" type="checkbox" checked="true" style="margin: 15px 5px 0px 5px;float:left" onclick="order.cust.isAppointNum()">
					        <label style="float:left; margin:10px 5px 0px 0px">指定号码</label>
				        </li>
				        <li class="ubtn">
						    <a class="btn_h30" id="usersearchbtn"  href="javascript:void(0)"  class="btn" style="margin-left:30px;"><span>查 询</span></a>
						    <a class="btn_h30" id="readCertBtn" onclick="javascript:order.cust.readCert()"><span>读 卡</span></a>
						    <a class="btn_h30" id="createUserbtn" onclick="javascript:order.cust.showCustCreate(this)" style="display: none;"><span>新建客户</span></a>
						</li>
					</ul>
				</form>
			</div>
		    <!--客户定位未定位 end-->
		    
			<!--客户定位已定位-->
			<div id="custInfo"  style="display:none"></div>
			<!--客户定位已定位 end-->
			
		    <!--用户鉴权弹窗-->
		    <div class="easyDialogdiv" style="height:300px;display:none" id="auth3">
		        <div class="easyDialogclose" id="authClose"></div>
		        <h1 class="easyDialogTitle">客户身份鉴权</h1>
		        <div class="infoBox">
		            <ul class="pdcard">
		                <li id="auth_tab1" onclick="order.cust.changeTab('auth3',1)" class="setcon">产品密码鉴权</li>
		                <li id="auth_tab2" onclick="order.cust.changeTab('auth3',2)">证件号码鉴权</li>
		                <li id="auth_tab3" onclick="order.cust.changeTab('auth3',3)">短信鉴权</li>
		            </ul>
		            <div id="contents">
		                <div id="content1">
		                    <form id="custAuthFormM1">
		                        <table class="network">
		                            <tbody>
		                            <tr>
		                                <td width="100"><label class="f_red">*</label><label id="custAuthTypeName1">产品密码：</label>
		                                </td>
		                                <td width="300">
		                                    <input id="authPassword2" type="password" placeHolder="请输入密码"
		                                           data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)"
		                                           class="inputWidth150px">
		                                    <a class="purchase" id="custAuthbtn1"  onclick="order.cust.productPwdAuth('1')" href="javascript:void(0)">校验</a>
		                                </td>
		                            </tr>
		                            </tbody>
		                        </table>
		                    </form>
		                </div>
		                <div id="content2" style="display: none">
		                    <form id="custAuthFormM2">
		                        <table class="network">
		                            <tbody>
		                            <tr>
		                                <td width="100"><label class="f_red">*</label><label id="idCardType2">证件类型：</label>
		                                </td>
		                                <td width="300">
		                                    <input id="idCardNumber2" type="password" placeHolder="请输入证件号码"
		                                           data-validate="validate(required:密码证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
		                                           class="inputWidth150px">
		                                    <a class="purchase" id="custAuthbtn2"  onclick="order.cust.identityTypeAuth('1','2')" href="javascript:void(0)">校验</a>
		                                    <a class="purchase" id="readCertBtnID2" onclick="order.cust.readCertWhenAuth2('1','2')"
		                                       style="display: none">读卡</a>
		                                </td>
		                            </tr>
		                            </tbody>
		                        </table>
		                    </form>
		                </div>
		                <div id="content3" style="display: none">
		                    <form id="custAuthForm3">
		                        <table width="400px" border="0" cellspacing="0" cellpadding="0" class="SMScode">
		                            <tr>
		                                <td><p>为确保您的个人信息安全，在办理该业务前，请输入随机短信验证码</p></td>
		                            </tr>
		                            <tr>
		                                <td>
		                                    <span style="float:left; margin-top:5px">短信验证码</span>
		
		                                    <form id="loginSmsForm">
		                                        <input type="text" class="txt2 inputWidth183px" style="float:left; margin:0px 5px;"
		                                               name="smspwd" id="smspwd2"
		                                               data-validate="validate(required:短信验证码不能为空) on(blur)"
		                                               placeholder="请输入您手机收到的验证码" maxlength="6"/>
		                                        <a class="purchase" id="custAuthbtn3" onclick="order.cust.smsvalid('1')" href="javascript:void(0)">校验</a><a
		                                            class="purchase" id="smsSend" onclick="order.cust.smsResend('1')"
		                                            href="javascript:void(0)">短信发送</a>
		                                    </form>
		                                </td>
		                            </tr>
		                            <tr class="randomCode">
		                                <td>
		                                    <span style="float:left; margin-top:5px">随机序列号</span>
		                                    <form id="num">
		                                        <input class="txtnum" disabled='disabled'  style="float:left; margin:0px 5px;height:24px" />
		                                    </form>
		                                </td>
		                            </tr>
		                            <tr>
		                                <td>
		                                    <p>- 验证码在5分钟内有效，3次错误输入后失效。</p>
		
		                                    <p>- 如您在30秒内仍未收到验证码，请点击上面短信发送重新获取。</p>
		
		                                    <p>- 如果您连续3次重试都没有成功收到短信验证码，建议您稍后再试。</p>
		                                </td>
		                            </tr>
		                        </table>
		                    </form>
		                </div>
		            </div>
		            <div style="text-align: center">
		            	<a class="purchase" id="jumpAuth"  style="display:none"onclick="order.cust.jumpAuth()">跳过校验</a>
		            </div>
		        </div>
		    </div>
		    <!--用户鉴权弹窗 end-->
		    
		    <!--客户新增弹出窗-->
		    <div class="easyDialogdiv" style="width:650px;height:450px;display:none" id="user_add">
		    	<div class="easyDialogclose" id="useraddclose"></div>
		    	<form id="custCreateForm">
			    	<table class="contract_list">
			            <thead>
			                <tr>
			                    <td>客户新增</td>
			                </tr>                                                    
			            </thead>
			        </table>
		            <div class="infoBox">
		               <table class="network" style="margin: 0px 15px;">
		                 <tbody>
		                 	<tr>
		                       <td width="60"> 客户姓名：</td>
		                       <td width="430" id="td_custName">
		                         <input type="text" placeHolder="请准确填写客户姓名" data-validate="validate(required:请准确填写客户姓名) on(blur)" class="inputWidth228px" maxlength="64" id="cCustName"/><label class="f_red">*</label>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 客户类型：</td>
		                       <td>
		                             <select id="partyTypeCd" onchange="order.cust.partyTypeCdChoose(this,'identidiesTypeCd')">
		                               <option value=1 >个人</option>
		                               <option value=2>政企客户</option>
		                             </select>
		                             <label class="f_red">*</label>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 证件类型：</td>
		                       <td> 
		                       	<div id="div_identidiesType">
		                       	<select id="identidiesTypeCd" onchange="order.cust.identidiesTypeCdChoose(this,'cCustIdCard')"></select>
		                           <a class="btn_h30" id="readCertBtnCreate" onclick="javascript:order.cust.readCertWhenCreate()"><span>读 卡</span></a><label class="f_red">*</label>
		                           </div>
		                           
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 证件号码：</td>
		                       <td id="td_custIdCard">
		                         <input type="text" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" placeHolder="请输入合法身份证号码" data-validate="validate(idCardCheck:请输入合法身份证号码) on(blur)" maxLength="100" class="inputWidth228px" id="cCustIdCard"/><label class="f_red">*</label>
		                       </td>
		                 	</tr>
		
		                 	<tr>
		                       <td width="60"> 客户地址：</td>
		                       <td width="430" id="td_addressStr">
		                         <input type="text" placeHolder="请填写客户地址"  class="inputWidth228px" data-validate="validate(required:请准确填写客户地址) on(blur)" maxlength="128" id="cAddressStr"/><label class="f_red">*</label>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td width="60"> 通信地址：</td>
		                       <td width="430">
		                         <input type="text" placeHolder="请填写通信地址"  class="inputWidth228px" data-validate="validate(required:请准确填写通信地址) on(blur)" maxlength="64" id="cMailAddressStr"/><label class="f_red">*</label>
		                       </td>
		                 	</tr>
		                 	<tr>
		                 	<tr>
		                       <td> 联系人名称：</td>
		                       <td>
		                         <input type="text" placeHolder="请填写联系人名称"  class="inputWidth228px" maxlength="32" id="discontactName" onchange="javascript:$('#contactName').val($(this).val())"/>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 家庭电话：</td>
		                       <td>
		                         <input type="text" placeHolder="请填写家庭电话"  class="inputWidth228px" maxlength="30" id="dishomePhone" data-validate="validate(contactTel2) on(blur)" onchange="javascript:$('#homePhone').val($(this).val())"/>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 办公室电话：</td>
		                       <td>
		                         <input type="text" placeHolder="请填写办公室电话"  class="inputWidth228px" maxlength="32" id="disofficePhone" data-validate="validate(contactTel2) on(blur)" onchange="javascript:$('#officePhone').val($(this).val())"/>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td> 移动电话：</td>
		                       <td>
		                         <input type="text" placeHolder="请填写移动电话"  class="inputWidth228px" maxlength="32" id="dismobilePhone" data-validate="validate(isTelPhone:请输入11位手机号码.) on(blur)" onchange="javascript:$('#mobilePhone').val($(this).val())"/>
		                       </td>
		                 	</tr>
		                 	<tr>
		                       <td ><a onclick="order.cust.btnMoreProfile()" href="javascript:void(0)">更多属性>></a></td>
		                 	</tr>
		                 </tbody>
		              </table>
		              <div id="partyProfile" style="display:none"></div>               
		           	</div>
		            <!--上下步按钮-->
		          	<div align="center" style="margin: 20px auto;">
		              <a class="btna_o" id="createcustsussbtn"  href="javascript:void(0)"><span >确认</span></a>
		              <button type="reset" id="btncustreset"style="display:none"></button>
		              <a style=" margin-left:20px;" class="btna_o" href="javascript:void(0)" id="custresetBtn"><span>重置</span></a>
		          	</div> 
		        </form>    
		    </div>
		    <!--客户新增弹出窗结束 -->
		    <!--客户定位结束-->
		    
		    <!--订单准备-->
		    <div id="custClt" class="main_body">
		    
		    	<div id="custCltUserInfo">
					<h5 class="s_title">使用人信息</h5>
					<table class="contract_list">
					  <thead>
				    	<tr>
				    		<td width="5%">姓名</td>
				    		<td width="15%">证件类型</td>
				    		<td width="15%">证件号码</td>
				    		<td width="10%">办理数目</td>
				    		<!-- 
				    		<td width="10%">是否拍照</td>
				    		 -->
				    		<td width="10%">联系人号码</td>
				    		<td width="20%" >办理说明</td>
				            <td width="15%" >操作</td>
				        </tr>
				      </thead>
				      <tbody id="custCltUserInfoTbody">
				      	<!--
					      	<tr>
					    		<td>张三</td>
					    		<td>居民身份证</td>
					    		<td>430903185658684589</td>
					    		<td>1张</td>
					    		<td>否</td>
					    		<td>17712345678</td>
					    		<td></td>
					            <td>
					            	<a class="btn_h30"><span>修改</span></a>
					            	<a class="btn_h30"><span>删除</span></a>
					            </td>
					        </tr>
				         -->
				      </tbody>
				    </table>
				   	<a class="btn_h30" style ="margin-left:45%;margin-top:10px;" onclick="cust.collection.addUserDialog()"><span>添加使用人</span></a>
				</div>
					
				<div id="custCltValiDateInfo">
					<h5 class="s_title">有效期</h5>
					<ul class="fillin show">
						<li class="full">
							<label style="line-height: 35px">有效期：</label> 
							<input type="text" class="numberTextBox" style="width: 160px" id="p_expDt"readonly="readonly" value="${p_expDt}" /> 
							<input type="text" class="numberTextBox" style="width: 160px;display: none;" id="p_startDt" readonly="readonly" value="${p_startDt}" /> 
							<input type="text" class="numberTextBox" style="width: 160px;display: none;" id="p_endDt" readonly="readonly" value="${p_endDt}" /> 
							<label class="f_red">*</label>
							<span style="line-height: 35px">有效期默认7天，最大限期15天</span>
						</li>
					</ul>
					<div class="height18"></div>
				</div>
				<div id="custCltRemarkInfo">
					<h5 class="s_title">订单备注</h5>
					<ul class="fillin">
						<li class="full">
						<label>订单备注：</label> 
							<textarea id="order_remark" class="order-remark" name="beizhu" rows="4" onkeyup="cust.collection.textareaCheck(this,200);"></textarea>
						</li>
					</ul>
					<div class="height18"></div>
				</div>
				<!--购物车订单属性展示-->
				<div id="orderAttrDiv">
					<@block name="orderAttr"><#include "/order/order-attr.html"/></@block>
				</div>
				<!--订单填写 end-->
								
				<div align="right" style="margin: 20px auto; padding:0 20px;"> 
					<a class="btna_o" onclick="cust.collection.print()"><span >打印</span></a>
					<a class="btna_g" id="custCltCommit" ><span >确认</span></a>
					<a class="btna_o" onclick="cust.collection.orderReset()" ><span >取消</span></a>
				</div>
			</div>
	   </div>
	</div>
  </div>
</div> 
<!--内容 end--> 

<!--弹出层-->
<!-- 读卡信息展示弹出层 -->
<div style="display:none" id="user_info2">
    <form id="custInfoForm">
	    <div class="infoBox">
	        <table class="network" style="margin: 0px 15px;">
	            <tbody>
	                <tr>
	                    <td width="60"> 客户姓名：</td>
	                    <td id="td_cust_name"></td>
	                </tr>
	                <tr>
	                    <td> 证件号码：</td>
	                    <td id="td_cust_idCard"></td>
	                </tr>
	                <tr id="tr_cust_photo" style="display:none">
	                    <td> 证件相片：</td>
	                    <td>
	                        <img id="img_cust_photo" alt="相片" src=""/>
	                    </td>
	                </tr>
	                <tr>
	                    <td width="60"> 客户地址：</td>
	                    <td id="td_address_str"></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
    </form>
</div>

<!--弹出框-添加使用人-->
<div id="add_user_dialog" class="easyDialogdiv" style="width:800px;height:500px;">
	<div class="easyDialogclose" id="addUserClose" onclick="order.cust.close()"></div>
   	<table class="contract_list">
        <thead>
            <tr>
                <td>添加使用人</td>
            </tr>                                          
        </thead>
    </table>
    
    <div id="addUserDiv" class="main_div location main_warp" style ="width:100%;">
		<form id="addUserForm">
			<ul class="fillin" style="overflow: hidden;">
			   <li  class="full" id="li_order_remark1">
					<label>证件类型：</label>
			        <select id="orderUserAttrTypeCd">
			        	<option value="1">居民身份证</option>
			        </select>
			        <label class="f_red">*</label>
			        <a class="btn_h30"   id="orderUserAttrReadCertBtn" onclick="javascript:cust.collection.readUserCert()" style="margin-top: 0px;"><span>读 卡</span></a>
			        <span id="userTips" style="color:#F00; font-weight:bold;font-size:16px;margin-left:10%;"></span>
				</li>
				<li id="li_order_name">
					<label>使用人姓名：</label> 
					<input id="orderUserAttrName" disabled="disabled" class="inputWidth228px" maxlength="16" type="text" >
					<span style="line-height: 28px; float:left;display: none;"></span>
					<label class="f_red">*</label>
				</li>
				<li id="li_order_card">
					<label>证件号码：</label> 
					<input id="orderUserAttrIdCard" disabled="disabled" class="inputWidth228px" maxlength="50"type="text" >
					<input id="orderUserAttrIdPic" type="hidden" >
					<span style="line-height: 28px; float:left;display: none;"></span>
					<label class="f_red">*</label>
				</li>
				<li id="li_order_addr">
					<label>证件地址：</label> 
					<input id="orderUserAttrAddr" disabled="disabled" class="inputWidth228px" maxlength="125"type="text" >
					<span style="line-height: 28px; float:left;display: none;"></span>
					<label class="f_red">*</label>
				</li>
				<li id="li_order_nbr">
					<label>联系人号码：</label> 
					<input id="orderUserAttrPhoneNbr" placeHolder="请输入联系人号码"  class="inputWidth228px" type="text" maxlength="16" >
				</li>

				<li class="full">
					<label>办理数量：</label> 
					<select class="inputWidth228px" style="text-align: center;" id="orderUserAttrCardNum">
			        	<option value="1">1</option>
			        	<option value="2">2</option>
			        	<option value="3">3</option>
			        	<option value="4">4</option>
			        	<option value="5">5</option>
			        </select>
					<label class="f_red">*</label>
				</li>
				<!-- 
				<li class="full">
					<label>实名制拍照：</label> 
					<a class="btn_h30" id = "photoTakeBtn" style="margin-top: 0px;"><span>拍照</span></a>
					<input id="orderUserPicture" type="hidden">
				</li>
				 -->
				<li class="full" id="li_order_nbr">
					<label>办理说明：</label> 
					<textarea id="order_user_remark" name="remark" rows="5" style="width: 630px; height: 150px;" onkeyup="cust.collection.textareaCheck(this,200);"></textarea>
				</li>
			</ul>
		</form>
	  	<div align="center" style="margin: 20px auto;">
	        <a class="btna_o" href="javascript:void(0)" onclick="cust.collection.addUser()"><span>添加</span></a>
	        <a class="btna_o" href="javascript:void(0)" style=" margin-left:20px;" onclick="easyDialog.close()"><span>取消</span></a>
	    </div>
	</div>
	<div id = "takePhotoDiv" class="order" style="display: none;"> 
	    <div class="order_nav_new">
	      <div class="order-camera-box" >
	          <ul class="fillin show" style="overflow: hidden;">
	              <li class="full">
	                  <label>选择设备：</label>
	                  <select class="inputWidth183px" id="device_user">
	                  </select>
	                  <a href="https://crm.189.cn/portalstatic/assets/camera/DoccameraOcx.exe" class="purchase" id="" >下载控件</a>
	                  <span id="tips_user" style="color:#F00; font-weight:bold;font-size:14px;margin-left:10%;"></span>
	              </li>
	          </ul>
	          <div class="camera-box">
	            <div style="overflow: hidden;text-align: center; margin-top:5px;">
	                <a id="b_obj" style="display:inline-block; width: 640px; height: 360px; vertical-align: top;">
	                    <img id = "startPhotos_user" src="${contextPath}/image/start_photo.jpg"/>
	                    <img id = "img_Photo_user">
	                </a>
	            </div>
	          </div>
	      </div>                   
	      <div align="center" style="margin:5px auto;">
	          <a class="btna_o" id="takePhotos_user"><span >拍照</span></a>
	          <a style=" margin-left:20px;" class="btna_o" id="rePhotos_user"><span>重新拍照</span></a>
	          <a style=" margin-left:20px;" class="btna_o" onclick="cust.collection.takePhotoBack()"><span>取消</span></a>
	      </div> 
	  </div>
	</div>
</div>
<object id="CertCtl" type="application/cert-reader" width="0" height="0"></object>
<script type="text/javascript">
$(function() {
	cust.collection.init();
});
</script>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="LTE" >
<@extends name="/content-template.html"/>
<#else>
<@extends name="/mvno-template.html"/>
</#if>