<#if lv2??>
<div class="ul_list set_sec_menu" id="second_level">
<#list lv2 as item>
<#if item.isMainMenu=="Y">
<ul <#if (item.shownum>0)>onclick="main.home.getLv3(${item.parentResourceId}, ${item.resourceId});"</#if> <#if item.shownum=0>onclick="main.home.addShortcut(${item.resourceId});"</#if> id="${item.resourceId}">
	<li>
		<a class="close"></a>
		<div class="ul_list_img">
			<img <#if item.resourcePath??>src="${contextPath}/${item.resourcePath}"<#else>src="${contextPath}/image/icon/icon_01.png"</#if>/>
		</div>
		<p>${item.resourceName}</p>
		<#if (item.shownum>0)><a class="thirdArrow"></a></#if>
	</li>
</ul>
</#if>
</#list>
</div>

<#elseif lv3??>
<#list lv3 as item>
<#if item.isMainMenu=="Y">
<ul onclick="main.home.addShortcut(${item.resourceId});" id="${item.resourceId}">
	<li>
		<a class="close"></a>
		<div class="ul_list_img">
			<img <#if item.resourcePath??>src="${contextPath}/${item.resourcePath}"<#else>src="${contextPath}/image/icon/icon_01.png"</#if>/>
		</div>
		<p>${item.resourceName}</p>
	</li>
</ul>
</#if>
</#list>
<a id="back_secmenu" href="javascript:main.home.getLv2(${grandParentId})" style="padding-left:9px;">返回</a>
<#else>
<p>加载菜单失败，请联系管理员</p>

</#if>
