<#if code?? && (code>=0) >
<table class="numberList" id="tab_blackList" >
              <thead>
                <tr>
                  <td width="40">序列</td>
                  <td width="80">主号码</td>
                  <td width="60">主号省份</td>
                  <td width="60">主号地市</td>
                  <td width="80">虚号码</td>
                  <td width="60">虚号省份</td>
                  <td width="60">虚号地市</td>
                  <td width="60">操作工号</td>
                  <#if state == "1">
                  <td width="100">失效工号</td>
                  <td width="100">失效时间</td>
                  <#else>
				  <td width="100">黑名单原因</td>
                  <td width="100">黑名单开始时间</td>
                  <td width="100">黑名单结束时间</td>
                  <td width="200">下载证据文件</td>                  
				  </#if>                 
                  <#if state == "0" && isBlackInvalid == "0">
                  <td width="80">操作</td>
                  </#if>
               	 </tr>
              </thead>
              <tbody>
              <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
              <#list pageModel.list as orderLists >
                  <tr id="${orderLists.seqId}">
                    <td>${orderLists.seqId}</td>
                    <td>${orderLists.mainAccNbr}</td>
                    <td>${orderLists.mainProvince}</td>
                    <td>${orderLists.mainAreaName}</td>
                    <td>${orderLists.virtualAccNbr}</td>
                    <td>${orderLists.virtualProvince}</td>
                    <td>${orderLists.virtualAreaName}</td>
                    <td>${orderLists.staffCd}</td>
                    <#if state == "1">
                    <td>${orderLists.invalidStaffCode}</td>
                    <td>${orderLists.version}</td>
                    <#else>
                    <td>${orderLists.reason}</td>
                    <td>${orderLists.startDt}</td>
                    <td>${orderLists.endDt}</td>
                    <td>
                        <form method="post" id="upload_file" enctype="multipart/form-data">
                        	<input type="hidden" name="fileName" id="upload_file_fileName" value=""/>
                        	<input type="hidden" name="fileUrl" id="upload_file_fileUrl" value=""/>
                        </form>
                        <a href="javascript:order.batch.downloadFile('${orderLists.fileName}','${orderLists.fileUrl}')" type="main" >${orderLists.fileName}</a>
                    </td>
                    </#if>
                    <#if state == "0" && isBlackInvalid == '0'>
                    <td><a class="purchase" href="javascript:cart.main.blackListInvalid('${orderLists.seqId}','${orderLists.mainAccNbr}','${orderLists.mainAreaId}')" type="main" >失效</a></td>
                    </#if>
                  </tr>
              </#list>
              <#else>
              <tr>
                <td colspan="13">没有查询到结果</td> 
              </tr>
              </#if>
              </tbody>
            </table>            
            <@portal.simplifyModelPagination pageModel "cart.main.qryBlackUserInfo"/>
			<!--页码 end-->

<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<#else>${mess}</#if>