<#if prodAcctInfos??>
<div class="main_warp">
	<div class="ordercon">
	<div class="">
		<h2 class="h2_title">
			<span>改帐务定制关系</span>
			<span class="showhide"></span>
		</h2>
		<div class="main_body">
			<div class="cardtabcon">
			<div class="pdcardcon show">
			<h5 class="s_title">帐户信息</h5>
				<ul class="fillin">
					<li class="full"><label>原有帐户：</label> 
						<select id="origAccts" class="inputWidth250px" style="width:282px;">
							<#list prodAcctInfos as origAcct>
							<option value="${origAcct.acctId}">&nbsp;${origAcct.name}&nbsp;:&nbsp;${origAcct.acctCd}</option>
							</#list>
						</select> 
						<a class="purchase" href="javascript:void(0)" onclick="order.prodModify.showOrigAccts()">帐户信息</a> 
					</li>
					<li class="full"><label>可选帐户：</label>
						<select id="newAccts" class="inputWidth250px" style="width:282px;" onchange="order.prodModify.ifNewAcct('#newAccts')">
							<option value="default">&nbsp;--- 请查询或新建帐户 ---</option>
						</select>
						<a class="purchase" href="javascript:void(0)" onclick="order.prodModify.chooseAcct()">帐户查询</a>
						<!-- <label class="f_red">*</label> -->
						<a class="purchase" href="javascript:void(0)" onclick="order.prodModify.createAcct()">新建帐户</a>
					</li>
				</ul>
				<ul class="fillin" id="defineNewAcct" style="display:none;">
					<li class="full">
    					<label>帐户名称：</label>
    					<input type="text" class="inputWidth250px" id="acctName" style="width:280px;"/>
    					<label class="f_red">*</label>
  					</li>  
					<li>
						<label>支付方式：</label>
						<select id="paymentType" class="inputWidth250px" style="width:95px" onchange="acct.acctModify.paymentType()">
							<option value="100000">现金</option>							
<!-- 							<option value="110000">银行</option> -->
						</select> 
						<input type="text" class="inputWidth183px bank" readonly="readonly" onclick="acct.acctModify.queryBank(0)" id="bankName" placeHolder="请查询并选择银行"/>
						<label class="f_red bank">*</label>
						<input type="hidden" id="bankId"/>										
					</li>
					<li class="bank">
						<label>银行帐号：</label>
						<input type="text" class="inputWidth250px" style="width:140px;" id="bankAcct"/>
						<label class="f_red">*</label>
					</li>
					<li class="bank">
						<label>支付人：</label>
						<input type="text" class="inputWidth250px" style="width:140px;" id="paymentMan"/>
						<label class="f_red">*</label>
					</li>
					<li class="bank">
						<label>协议号：</label>
						<input type="text" class="inputWidth250px" style="width:140px;" id="protocalNbr"/>
					</li>
					<li>
	 					<label>账单投递方式：</label>
	 					<select id="postType" class="inputWidth250px" style="width:95px;" onchange="acct.acctModify.billPostType()">
	 						<option value="-1">不投递账单</option>	
	   				   <!-- <option value="11">邮寄</option>
	   						<option value="12">传真</option>
	 						<option value="13">Email</option>
	 						<option value="14">短信</option>
	 						<option value="15">快递</option> --> 
	 					</select>	 	
						<input type="text" class="inputWidth183px billPost" id="postAddress"/>
						<label class="f_red billPost">*</label>		
	 				</li>
	 				<li class="billPost">
	 					<label>邮编：</label>
						<input type="text" class="inputWidth183px" style="width:140px;" id="zipCode"/>	
						<label style="margin-left:15px;width:60px;">收件人：</label>
						<input type="text" class="inputWidth183px" style="width:80px;" id="consignee"/>		 	 	
	 				</li>
	 				<li class="billPost">
	 					<label>账单内容：</label>
						<select id="billContent" class="inputWidth250px" style="width:95px;" onchange="acct.acctModify.billContent()">
	   			   	   <!-- <option value="11">账单</option>
							<option value="12">账单和详单</option>
							<option value="13">详单</option>
							<option value="14">发票</option> -->  
						</select>
						<label class="f_red">*</label>
						<label id="receipt" style="width:115px;text-align:center;color:red;display:none;">不支持电子寄送方式</label>				
	 				</li>
	 				<li class="billPost">
	 					<label>投递周期：</label>
						<select id="postCycle" class="inputWidth250px" style="width:65px;margin-left:3px;">
	   				   <!-- <option value="3">月</option>
							<option value="4">季度</option>
							<option value="5">半年</option>
							<option value="6">年</option> -->
						</select>
						<label class="f_red">*</label>		 		
	 				</li>
				</ul>					
			</div>
			</div>
			<div class="height18"></div>
			<h5 class="s_title">订单信息</h5>
				<ul class="fillin">
					<li class="full">
						<label>订单备注：</label>
						<textarea name="beizhu" cols="" rows="4" class="order-remark" id="orderRemark"></textarea>
					</li>
				</ul>
			<div class="height18"></div>
			<!--购物车订单属性展示-->
			<div id="orderAttrDiv">
				<@block name="orderAttr">
					<#include "/order/order-attr.html" />
				</@block>
			</div>
		</div>
	</div>
	</div>
	<div align="right" style="margin: 20px auto; padding: 0 20px;">
		<a class="btna_o" href="javascript:order.prodModify.cancel()"><span>取消</span></a>
		<a style="margin-left: 20px;" class="btna_o" href="javascript:order.prodModify.changeAccountSave()"><span>下一步</span></a>
	</div>
	
	<!-- 弹出框部分 -->
	<div id="dialogDiv">
		<!-- 原有帐户信息展示 -->
		<div class="easyDialogdiv" style="width:980px;height:400px;" id="origAcctDialog">
			<div class="easyDialogclose" id="origAcctClose"></div>
			<table class="contract_list">
				<thead>
					<tr>
						<td>原帐户信息</td>
					</tr>
				</thead>
			</table>
			<div class="form-content">
				<div class="phone_warp">
					<table id="origAcctList" class="contract_list">
						<thead>
							<tr>
								<td style="display:none;">acctId</td>
								<td style="display:none;">prodAcctId</td>
								<td style="display:none;">chargeItemCd</td>
								<td class="borderLTB">帐户名称</td>
								<td class="borderLTB">合同号</td>
								<td class="borderLTB">帐户属主</td>
								<td class="borderLTB">代表号码</td>
								<td style="display:none;">percent</td>
								<td style="display:none;">priority</td>
							</tr>
						</thead>
						<tbody>
							<#list prodAcctInfos as origAcctInfo>
							<tr id="${origAcctInfo.acctId}">
								<td style="display:none;">${origAcctInfo.acctId}</td>
								<td style="display:none;">${origAcctInfo.prodAcctId}</td>
								<td style="display:none;">${origAcctInfo.chargeItemCd}</td>
								<td class="teleNum">${origAcctInfo.name}</td>
								<td>${origAcctInfo.acctCd}</td>
								<td>${origAcctInfo.owner}</td>
								<td>${origAcctInfo.accessNumber}</td>
								<td style="display:none;">${origAcctInfo.percent}</td>
								<td style="display:none;">${origAcctInfo.priority}</td>
							</tr>
							</#list>
						</tbody>
					</table>		
					<div id="acctPageDiv1"></div>
				</div>
			</div>
		</div>
		<!-- 原有帐户信息展示 end -->		
		<!-- 帐户查询与选择 -->
		<div class="easyDialogdiv" style="width:980px;height:400px;" id="queryAcctDialog">
			<div class="easyDialogclose" id="queryAcctClose"></div>
			<table class="contract_list">
				<thead>
					<tr>
						<td>帐户查询</td>
					</tr>
				</thead>
			</table>
			<div class="form-content">
				<div class="selectList">
					<form id="acctQueryForm">
						<dl>
							<select id="chooseQueryAcctType" style="width:120px">
								<option value=1>接入号码</option>
								<option value=2>帐户合同号</option>
							</select>
							<dd id="d_query_nbr" style="display:none">
								&nbsp;<input type="text" data-validate="validate(required:接入号不能为空) on(keyup blur)" value="" class="inputWidth150px">
							</dd>
						<!-- 	<dd id="d_query_pwd" style="display:none">
								&nbsp;&nbsp;产品密码：<input type="password" data-validate="validate(required:密码不能为空) on(keyup blur)" value="" class="inputWidth150px">
							</dd>  -->
							<dd id="d_query_cd" style="display:none">
								&nbsp;<input type="text" data-validate="validate(required:合同号不能为空) on(keyup blur)" value="" class="inputWidth150px">
							</dd> 
							<dd>
								&nbsp;<input type="button" id="querAcctBtn" class="numberSearch" value="查 询" onclick="order.prodModify.queryAccount('#newAccts')">   
							</dd>
						</dl>
					</form>
				</div>
				<div class="phone_warp">
					<table id="acctListTab" class="numberList">
						<thead>
							<tr>
								<td class="borderLTB">帐户名称</td>
								<td class="borderLTB">合同号</td>
								<td class="borderLTB">帐户属主</td>
								<td class="borderLTB">代表号码</td>
							</tr>
						</thead>
						<tbody>
						
						</tbody>
					</table>		
					<div id="acctPageDiv2"></div>
				</div>
			</div>
		</div>
		<!-- 帐户查询与选择 end -->
		<!-- 银行查询与选择 -->
		<div class="easyDialogdiv" style="width:980px;height:400px;" id="div_bank_dialog">

		</div>
		<!-- 银行查询与选择 end -->
	</div>
	<!-- 弹出框部分 end -->
</div>
</#if> 