 <style>
 td.realmoney input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
 </style>
 <!--订单确认-->
 <div class="order_confirmation">
     <h2 class="h2_title" id="buytitle"><span>补/退费</span></h2>
     <div class="main_body">
     	<h2 style="padding-bottom:10px;color: #327501;font-size: 18px;">购物车流水：${olNbr}</h2>
     	<!-- <h2 class="s_title">收银台</h2> -->
         <table class="com_table cashier_table" id="calTab">
             <tbody>
               <tr>
                 <th width="35%">产品</th>
                 <th width="10%">费用名称</th>
                 <th width="8%">应收费用</th>
                 <th width="8%">实收费用</th>
                 <!-- <th width="5%">税率</th>
                 <th width="5%">税金</th> -->
                 <th width="8%">退费</th>
                 <th width="10%">付费方式</th>
                 <th width="10%">修改原因</th>
                 <th width="10%">操作</th>
               </tr>
               <#assign amount=0 />
               <#if prodInfo??&&(prodInfo?size>0)>
               	    <#assign count=0 />
               	    <#assign boIds=""/>
                	<#list prodInfo as prodInfoList>
                		<tr class="cashier_tr">
                			<td>
                			<span class="cashier_td" id="${prodInfoList.prodId}">
                			<#if prodInfoList.accessNumber??&&prodInfoList.accessNumber!="">
                				${prodInfoList.prodSpecName}&nbsp;-&nbsp;${prodInfoList.accessNumber}
                			</#if>
                			</span>
                			<#if isAddOperation?? && isAddOperation=="0" >
               				<a class="charge_add money_add" style="background-color:#95B27B;" onclick="order.calcharge.addbusiOrder('${prodInfoList.prodId}',this);">增加费用</a></td>
	                        </#if>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <!--  <td></td>
	                        <td></td>-->
	                        <td></td>
	                        <td></td>
                 		</tr>
                		 <#if (prodInfoList.busiOrders)??&&((prodInfoList.busiOrders)?size>0)>
                		     <tr style="display:none">
                		     <td colspan="8">	
                		     	<div id="pro_${prodInfoList.prodId}">
                 		     	<table class="contract_list">
						            <thead>
						                <tr>
						                    <td width="100" colspan="4">增加费用</td>
						                </tr> 
						                <tr class="dialog_tittle2">
						                  <td width="50%">销售品</td>
						                  <td width="20%">动作</td>
						                  <td width="30%">产品名称</td>
						                </tr>                                               
						            </thead>
						            <tbody> 
						                <#list prodInfoList.busiOrders as busiList>
						                	
						                	<tr <#if isAddOperation?? && isAddOperation=="0" >onclick="order.calcharge.addSubmit('${busiList.boId}','${busiList.boActionTypeCd}','${busiList.objType}','${busiList.objId}','${busiList.objName}','${busiList.boActionTypeName}','${busiList.objInstId}','${prodInfoList.prodId}');" </#if> >  
							                  <td>${busiList.objName}</td>
							                  <td>${busiList.boActionTypeName}</td>
							                  <td>${prodInfoList.prodSpecName}</td>
							                </tr>
						                </#list>
						             </tbody>
						         </table>
                 		     	</div>
                 		     </td>
                 		     </tr>
                 		     <#assign i=0 />
                 		 	 <#list prodInfoList.busiOrders as busiList>
                 		 	 	<#assign boId="${busiList.boId}"/>
                 		 	 	<#if busiList.objType!="7"||(busiList.objType=="7"&&boIds?index_of(boId)==-1)>
	                 		 	 	<#if chargeItems??&&(chargeItems?size>0)>
		                   		 		<#list chargeItems as itemList>
		                   		 		<!-- 补退费需要状态为已收费 -->
		                   		 		<#if itemList.state??&&(itemList.state=='C0C')>
		                   		 			<#assign flag=0 />
		                   		 		<#else>
		                   		 			<#assign flag=1 />
		                   		 		</#if>
		                   		 		<#if flag==0>
			                   		 		<#assign trid="${itemList.boId}_${itemList.acctItemId}_${prodInfoList.prodId}_old" />
			                   				<#if busiList.boId==itemList.boId>
			                   					<#if busiList.objType=="7">
				                   				 	<#assign boIds=boIds+"${busiList.boId}_"/>
				                   				</#if>
		                  					 	 <tr id="item_${trid}">
							                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>${busiList.boActionTypeName}</strong>&nbsp;&nbsp;[${busiList.objName}]</td>
							                        <td>${itemList.acctItemTypeName}</td>
							                        <td>${((itemList.feeAmount)?number / 100)?string('0.00')}</td>
							                        <td class="realmoney">
							                        <input disabled="disabled" id="realAmount_${trid}" type="text" value="${((itemList.realAmount)?number / 100)?string('0.00')}"/>
							                        </td>
							                        <!--<td>${itemList.taxRate}%</td>
							                        <td>${((itemList.tax)?number / 100)?string('0.00')}</td>  -->
							                        <td class="money">
							                        <input disabled="disabled" id="backAmount_${trid}" type="text" value="0.00" onfocus="order.refund.setGlobeMoney(this);" onblur="order.refund.editMoney(this,'${trid}','old');" />
							                        </td>
							                        <td><span id="payMethodText_${trid}">${itemList.payMethodName}
							                        </span>   
							                        </td>
							                        <td>
													   <select id="chargeModifyReasonCd_${trid}" style="display:none;border: 1px solid #DCDCDC;height: 23px;line-height: 23px;padding: 1px; width: 120px;">
													   		<option value="3">补退费</option>
													   		<option value="2">算费不正确</option>
													   		<option value="4">营销业务</option>
													   		<option value="1">其他</option>
													   </select>
 													   <input id="remark_${trid}" type="text" style="display:none ;border: 1px solid #DCDCDC;line-height: 23px;padding: 1px; width: 100px;">
		   											</td>
							                        <td>
							                        <input type="hidden" id="paymentTransId_${trid}" value="${itemList.paymentTransId}" />
				                        			<input type="hidden" id="feeAmount_${trid}" value="${itemList.feeAmount}" />
				                        			<input type="hidden" id="paymentAmount_${trid}" value="${itemList.paymentAmount}" />
				                        			<input type="hidden" id="realhidden_${trid}" value="${((itemList.realAmount)?number / 100)?string('0.00')}" />
		                  					 		<input type="hidden" id="objId_${trid}" value="${itemList.objId}" />
		                  					 		<input type="hidden" id="objType_${trid}" value="${itemList.objType}" />
		                  					 		<input type="hidden" id="acctItemId_${trid}" value="${itemList.acctItemId}" />
		                  					 		<input type="hidden" id="acctItemTypeId_${trid}" value="${itemList.acctItemTypeId}" />
		                  					 		<input type="hidden" id="boId_${trid}" value="${itemList.boId}" />
		                  					 		<input type="hidden" id="payMethodCd_${trid}" value="${itemList.payMethodCd}"/>
		                  					 		<input type="hidden" id="acctItemTypeName_${trid}" value="${itemList.acctItemTypeName}" />
		                  					 		<input type="hidden" id="objInstId_${trid}" value="${busiList.objInstId}" />
		                  					 		<input type="hidden" id="prodId_${trid}" value="${prodInfoList.prodId}" />
		                  					 		<input type="hidden" id="boActionType_${trid}" value="${itemList.boActionType}" />
		                  					 		  <!-- 撤单返销及没有修改的操作权限时不能修改费用项 -->
		                  					 		  <#if iseditOperation?? && iseditOperation=="0">
		                  					 		     <#if acctItemTypeId?? && (itemList.acctItemTypeId == acctItemTypeId)  &&  isEditAdjustOperation?? && isEditAdjustOperation!="0">
														 <#else>
		                  					 		       <a class="charge_add money_upd money_edit_gray" style="background-color:#95B27B;" href="javascript:void(0);"  onclick="order.calcharge.changePayMethod('${itemList.acctItemTypeId}','${trid}','${itemList.payMethodCd}',this);">修改费用</a>
							                       	     </#if>
							                       	  </#if>
							                        <!-- <a class="charge_add money_cut" href="javascript:void(0);"  onclick="order.refund.delItems(this,'${trid}','old');"></a> -->
							                        </td>
							                     </tr> 
							                     
			                   					 <#assign amount =amount +((itemList.feeAmount)?number / 100) />
			                   					 <#assign amount2=amount2+((itemList.realAmount)?number / 100) />
			                   					 <#assign i=i+1 />
			                   					 
				                   			 </#if>
				                   		 <#else>
					                   		 <#if busiList.boId==itemList.boId>
					                   		   <tr>
				                   		 	 		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>${busiList.boActionTypeName}</strong>&nbsp;&nbsp;[${busiList.objName}]</td>
							                        <td>${itemList.acctItemTypeName}</td>
							                        <td>${((itemList.feeAmount)?number / 100)?string('0.00')}</td>
							                        <td class="realmoney">
							                        <input  disabled="disabled" type="text" value="${((itemList.realAmount)?number / 100)?string('0.00')}"/>
							                        </td>
							                        <!-- <td>${itemList.taxRate}%</td>
							                        <td>${((itemList.tax)?number / 100)?string('0.00')}</td> -->
							                        <td style="text-align: right;">0.00</td>
							                        <td>${itemList.payMethodName}</td>
						                            <td></td>
						                            <td></td>
					                   		 </tr> 
					                   		 </#if>
				                   		 </#if>
			                   			 <#assign count=count+1 />
			                   		 </#list>
	                   		 		</#if>
                   		 		</#if>
                  		 	</#list>
                 		 </#if>
               	</#list>
               </#if>
                <tr>
                	<td colspan="8" class="bill" style="text-align:right;">
                	应收金额：<input type="text" readonly="readonly" value="${amount?string('0.00')}" id="feeAmount" name="textfield">元<span class="billk"></span>
                	实收金额：<input type="text" id="realmoney" readonly="readonly" value="${amount?string('0.00')}" id="textfield" name="textfield">元<span class="billk"></span>
                	退费金额：<input type="text" id="backAmount" readonly="readonly" value="${amount?string('0.00')}" id="textfield" name="textfield">元</td>
                </tr>                      
             </tbody>
           </table>
	       <div align="right" style="margin: 20px auto;">
			   <a class="btna_o" href="javascript:void(0)" id="orderCancel"><span>返回</span></a>
			   <a class="btna_o" href="javascript:void(0)" id="payBack" style="display:none" onclick="order.calcharge.backToCharge()"><span>返回收银台</span></a>
			   <a class="btna_o" href="javascript:void(0)" id="payRefund" style="display:none" ><span>我要退款</span></a>
		       <a class="btna_g" id="printInvoiceA"><span>打印发票</span></a>
		       <a class="btna_g" href="javascript:void(0)" id="toComplate"><span>提交</span></a>
		   </div>            
 	</div>
 </div>
<!--弹出框的内容-->
<div class="easyDialogdiv" style="width:500px;height:400px;" id="moneyAdd">
    	<div class="easyDialogclose" id="moneyclose"></div>
    	<div id="addContent"></div>
</div>
<div class="easyDialogdiv" style="width:400px;height:240px;" id="successTip_dialog" >
  <div class="easyDialogclose" id="successTipclose"></div>
  <div id="successTipContent"></div>
  <div>
  </div>
</div>
<!--弹出框的内容-->
<div style="display: none" id="ec-dialog-form-container-invoice-items"
	class="ec-dialog-form-container">
	<div class="ec-dialog-form-top heightChg">
		<h1 class="ec-dialog-form-title">准备发票内容</h1>
	</div>
	<div class="ec-dialog-form-content">
		<div class="ec-dialog-form-loading" style="display: none"></div>
		<div class="ec-dialog-form-message" style="display: none"></div>
		<div class="ec-dialog-form-form">
			<form action="#" style="" id="dialog-form-invoice-items">
				<div class="selectList">
        			<dl billType="1">
	        			<dt>发票代码：</dt>
	        			<dd><input type="text" id="invoiceNbrInp" value="" class="numberTextBox width150" /></dd>
						<dt>发票号码：</dt>
						<dd><input type="text" id="invoiceNumInp" value="" class="numberTextBox width150" /></dd>
					</dl>
					<dl>
						<dt id="titleDt">发票抬头：</dt>
						<dd><input type="text" id="invoiceTitleInp" value="" class="numberTextBox width210" /></dd>
						<dt>接入号码：</dt>
						<dd><select id="acceNbrSel" class="width120"></select></dd>
					</dl>
					<dl>
						<dt id="tempDt">发票模板：</dt>
						<dd>
							<select id="tempListSel" class="width420">
							</select>
						</dd>
					</dl>
				</div>
				<div class="form-content" id="invoiceItemsContDiv">
				</div>
			</form>
			<div class="ec_dialog_form_btn_div bottom20px">
				<a id="invoiceItemsConfirm" class="btn_h30 ec_dialog_form_btn_cls"><span>打印</span></a>
    			<a id="invoiceItemsConCancel" class="btn_h30 ec_dialog_form_btn_cls"><span>取消</span></a>
			</div>
		</div>
	</div>
	<!-- <div class="ec-dialog-form-bottom"></div> -->
</div>
<!--弹出层-->
<!-- 隐藏form -->
<div style="display: none;">
	<form id="invoiceForm" name="invoiceForm" method="post" action="${contextPath}/print/invoice" target="_blank">  
		<input type="hidden" name="invoiceTitle" value="" id="invoiceTitle" /> 
		<input type="hidden" name="invoiceInfos" value="" id="invoiceInfos" /> 
	</form>
</div>
<script>
$(function() {
	order.refund.init();
});

</script>