html {
	font-size: 50px;
}

.p-15,
.wrapper {
	padding: 0!important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background: #fff!important;
}

#alertM-modal-title>.glyphicon-remove {
	display: none!important;
}

.panel-default> .panel-heading {
	background: #05a642!important;
	color: #fff!important;
}

#content-title {
	color: #05a642;
}

#accordion>tr {
	background: #fff;
}

.container-fluid {
	padding: 0!important;
}

.navbar.navbar-default {
	background: #f6f6f6!important;
}

.navbar-fixed-bottom {
	height: auto!important;
	min-height: auto!important;
}

.navbar-fixed-bottom>.container-fluid>.navbar-btn>.btn-group>.btn-lg {
	height: auto!important;
}

.navbar-fixed-bottom>.container-fluid>.navbar-btn>.btn-group>.btn-lg>.glyphicon-ok {
	display: none!important;
}

#offer_list_wrapper {
	position: initial!important;
	padding: 0!important;
}

#offer-list {
	margin: 0!important;
}

#offer-list>.prolist.list-group {
	margin: 0;
}

.p-10 {
	padding: 0.2rem!important;
}

.nav_top {
	background: #05a642!important;
}

.nav_bottom li div span {
	color: #05a642!important;
}

.form-group2 {
	background: #fff;
}

.form-group2 label,
.form-group label {
	border-left: none!important;
}

.panel-body {
	background: #f6f6f6!important;
}

.form-group,
.form-group2 {
	height: 0.88rem!important;
	margin-bottom: 0.2rem!important;
}

.form-group2 label,
.form-group label {
	line-height: 0.88rem;
	margin-bottom: 0!important;
	font-size: 0.28rem!important;
}

.form-group.p-l-r .form-control {
	border: none;
	line-height: 0.84rem;
	padding: 0 0.22rem;
	height: 0.82rem!important;
	font-size: 0.28rem;
}

.form-group.p-l-r>.btn-group.pull-right {
	margin: 0.05rem 0;
}

.form-group.p-l-r>.btn-group.pull-right>.btn-default {
	padding: 0 0.22rem;
	line-height: 0.68rem;
}

.form-group2 ul.pull-right {
	margin: 0.04rem 0.22rem 0.04rem 0;
}

.form-group>.form-group {
	border: none;
	height: 0.84rem!important;
}

.form-control:hover,
.form-control:focus {
	border: none!important;
}

.form-group2 .iconfont.pull-right.font-orange,
.form-group .iconfont.pull-right.font-orange {
	line-height: 0.86rem;
	vertical-align: middle;
	margin: 0 0.22rem;
	position: relative;
	z-index: 1;
	font-size: 0.5rem;
}

.form-group .iconfont.pull-right.font-orange {
	margin-right: 0;
}

.form-group2 .iconfont.pull-left,
.form-group .iconfont.pull-left {
	font-size: 0.44rem;
	line-height: 0.86rem;
	color: #d1d1d1;
	vertical-align: middle;
	margin: 0 0 0 0.22rem;
	position: relative;
	z-index: 1;
}

.form-group .iconfont.pull-left {
	margin: 0;
	left: 0.22rem;
}

.form-group {
	position: relative;
}

.form-group.p-l-r .form-control {
	padding-left: 0.66rem;
}

body {
	padding-top: 0!important;
}

.p-15,
.wrapper {
	padding: 0!important;
}

.nav_bottom {
	position: fixed;
	margin-bottom: 0!important;
}

.modal_wrapper .modal-dialog .modal-content .modal-body {
	padding: 0.22rem!important;
	font-size: 0.28rem;
}

.single-list-box .arrow-right-box .iconfont {
	line-height: 0.86rem!important;
}

#info_box {
	margin: 0!important;
	height: auto!important;
}

.modal-footer {
	margin-top: -0.22rem!important;
}

button[disabled] {
	background: #ccc!important;
	color: #4c4c4c;
}

html input[disabled] {
	opacity: 0.5!important;
	color: #000;
}

.Validform_checktip.Validform_wrong {
	position: absolute;
	right: 5px;
	/* top: 13px; */
	color: red;
}
.has-feedback label~.form-control-feedback{
	top: 5px!important;
}

.camera-box img {
  height: auto;
  width: auto;
  margin: 0;
}
