<!DOCTYPE html SYSTEM>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>入网协议打印</title>
		<script src="${absolutePath}/js/third-js/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script>
		$(function(){
			$("#voucherForm")[0].submit(); 
		})
		</script>
</head>
<body >
<#if signFlag=="0">
<form method="post" id="voucherForm"  action="${absolutePath}/print/voucher" target="_self">
<input type="hidden" id="voucherInfo" name="voucherInfo" value='${voucherInfo}'/>
</form>
<#else>
<form method="post" id="voucherForm"  action="${absolutePath}/order/sign/downVoucher" target="_self">
<input type="hidden" id="voucherInfo" name="voucherInfo" value='${voucherInfo}'/>
</form>
</#if>
</body>
</html>