<table class="numberList" id="tab_orderList" >
   <thead>
     <tr>
         <td width="120">受理地区</td>
          <td width="150">受理渠道</td>
          <td width="80">受理人</td>
          <td width="120">受理时间</td>
          <td width="120">购物车流水号</td>
          <td width="80">订单操作</td>
   	 </tr>
   </thead>
   <tbody>
		<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
            <#list pageModel.list as orderLists >
              	<#if (orderLists.list)?? &&((orderLists.list)?size>0)>
              		<#list orderLists.list as order >
		                <tr>
		                  <td>${order.areaName}</td>
		                  <td>${order.channelName}</td>
		                  <td>${order.staffName}</td>
		                  <td>${order.soDate}</td>
		                  <td>${order.olNbr}</td>
				           <td>
				           <#if order.statusCd?? && order.statusCd=="301200" >
				           <a class="purchase" href="javascript:order.refund.queryChargeItems('${orderLists.olId}','${order.olNbr}','${order.areaId}')" type="main" >补/退费</a>
				           <#else>
				           <a class="purchase2" href="javascript:void(0)" type="main" >未归档</a>
				           </#if>
				           </td>
				          </tr>
						<#break>
              		</#list>
              	</#if>
              </#list>
		<#else>
		<tr >  <td colspan="6">抱歉，没有找到相关的记录，请尝试其他筛选条件。</td></tr>
		</#if>	 
    </tbody>
</table>   
<!--页码-->
<@portal.modelPagination pageModel 5 "order.refund.queryOrderList"/>
<!--页码 end-->
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
