<div class="order_confirmation">
	<h2 id="tital" class="h2_title"> </h2>

    <div class="main_body" id="step_order_main_body">
    	<h2 class="s_title">订单确认</h2>
    		<#assign result=resMap.result />
	    	<table id="orderTable" olNbr="${result.olNbr}" olId="${result.olId}" class="table_txt">
				<tbody id="orderTbody">    
					<tr>
	                	<td >购物车流水号：</td>
	                    <td>${result.olNbr}</td>
	              	</tr>                                                   
	          	</tbody>
	        </table>                
	    	<div class="height18"></div>	    	
	    	<!-- 业务动作展示 -->
			<table id="chooseTable" class="com_table"></table>
			<!-- 订单备注展示 -->
			<div id="div_order_remark" style="display: none;" class="infoBox">
				<h4>订单备注: </h4>
              	<div id="order_remark" style="word-break:break-all;overflow: auto;margin: 5px;"></div>
            </div>
            <!-- 成员tab标签 -->
			<div id="div_tab_resources" class="cardtab">
				<ul id="tab_resources" class="pdcard">
				</ul>
			</div>
			<!-- 不同成员的UIM、终端内容标签 -->
			<div id="fill_resources" class="">
			</div>
			<div align="right" style="margin: 20px auto;">
			    <a class="btna_o" href="javascript:stepOrder.main.orderBack()"><span >退出</span></a>
			    <a style=" margin-left:20px;" class="btna_o" id="orderConfirmBtn" href="javascript:stepOrder.main.stepOrderConfirm()"><span>订单确认</span></a>
			</div>  
	</div>
</div>

<script>
	var resMap = ${resMapJson};
	stepOrder.main.orderParam.olId = resMap.result.olId;
	stepOrder.main.orderParam.olNbr = resMap.result.olNbr;
	OrderInfo.orderResult = resMap.result;
</script>	

