
<@override name="title">终端退换货</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

</@override>

<@override name="content">

<div class="main_div" id="d_query" >
	<!--订单准备-->
	<div class="main_warp" id="order_tab_panel_content">
		<h2 class="h2_title">终端退换货<span></span></h2>
		<div class="order">
			<div class="order_content" style="border:none; padding:10px">
				<div class="order_tab_panel" style="display:block;">
					<div class="selectList">
						<dl class="noBorder">
							<dt>终端串码：</dt>
							<dd>
								<input type="text" class="numberTextBox width198" style="width:160px" id="p_qryNumber" value=""/>
								<label class="f_red">&nbsp;</label>
							</dd>
							<dd>
								<label class="f_red">&nbsp;&nbsp;</label>
								<input type="button" value="搜 索" class="numberSearch" id="bt_terminalQry" />
							</dd>
							</dl>      
					</div>
					<div class="phone_warp" id="cart_list" >
						<table class="numberList" id="coupon_tab">
							<thead>
								<tr>
									<td width="90">终端串码</td>
									<td width="150">物品名称</td>
									<td width="150">受理渠道</td>
									<td width="80">受理人</td>
									<td width="120">受理时间</td>
									<td width="120">购物车流水号</td>
									<td width="200">合约信息</td>
									<td width="80">操作</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!--订单准备 end-->
	
	<!-- 订单确认页面-->
	<div class="main_warp" id="order_confirm" style="display:none"></div>
	<!-- 订单确认页面 end-->
</div>

<!--弹出框的内容-->
<div style="display: none" id="ec-dialog-form-container-exchange-terminal"
	class="ec-dialog-form-container">
	<div class="ec-dialog-form-top heightChg">
		<h1 class="ec-dialog-form-title">终端换货</h1>
	</div>
	<div class="ec-dialog-form-content">
		<div class="ec-dialog-form-loading" style="display: none"></div>
		<div class="ec-dialog-form-message" style="display: none"></div>
		<div class="ec-dialog-form-form">
			<div id="exchangeContDiv" style="margin:30px 0 0 20px;">
				<span>请输入新终端串码：</span><input type="text" id="couponInstNbrInp" value="" class="numberTextBox width198 floatNone"/>
			</div>
			<div class="ec_dialog_form_btn_div">
				<a id="exchangeConfirmA" class="btn_h30 ec_dialog_form_btn_cls"><span>确认</span></a>
    			<a id="exchangeCancelA" class="btn_h30 ec_dialog_form_btn_cls"><span>取消</span></a>
			</div>
		</div>
	</div>
	<div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出框的内容 end-->
</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>


