<@override name="title">${qryTypeName}</@override>
<@override name="header">
<script src="${contextPath}/js/third-js/jquery/jquery.form.js" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/orderInfo.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/mktRes/terminal.js?${jsversion}" type="text/javascript"></script>
<input type="hidden" name="qryType" id="qryType" value="${qryType}"/>
</@override>
<@override name="content">
<div class="main_div">
    <div class="main_warp">
        <h2 class="h2_title">${qryTypeName}</h2>
        <div class="order">
            <div class="order_content" style="border:none; padding:10px">
                <div class="order_tab_panel" style="display:block;">
	                <div class="selectList">
	                	<dl>
							<dt>选择渠道：</dt>
							<dd>
								<select id="channelInfo" name="channelInfo" style="width:200px">
									<#list cahnnelList as item>
										<option value="${item.channelId}" channelCode="${item.channelNbr}" channelName="${item.channelName}">${item.channelName}</option>
									</#list>
								</select>
							</dd>&nbsp;
							<dt>开始时间：</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width:160px" id="startDt" readonly="readonly" value="${startDt}"/>
							</dd>&nbsp;
							<dt>结束时间：</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width:158px" id="endDt" readonly="readonly" value="${endDt}"/>
							</dd>&nbsp;
							<dd>
								<input type="button" class="numberSearch" value="查 询" onclick="mktRes.terminal.terminalStatisticDetailQuery(1)" title=""/>
								<input type="button" class="numberSearch" value="导出Excel" onclick="mktRes.terminal.terminalStatisticDetailExport()"/> 
							</dd>&nbsp;
						</dl>
						<dl>
							<dt>品牌筛选：</dt>
							<dd style="" id="selectBrands_showPart">
								<a href="javascript:void(0);" class="selected" value="noFilter" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">不限</a>
								<a href="javascript:void(0);" value="华为" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">华为</a>
								<a href="javascript:void(0);" value="苹果" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">苹果</a>
								<a href="javascript:void(0);" value="OPPO" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">OPPO</a>
								<a href="javascript:void(0);" value="vivo" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">vivo</a>
								<a href="javascript:void(0);" value="三星" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">三星</a>
								<a href="javascript:void(0);" value="宇龙" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">宇龙</a>
								<a href="javascript:void(0);" value="海信" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">海信</a>
								<a href="javascript:void(0);" value="百合" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">百合</a>
								<a href="javascript:void(0);" value="金立" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">金立</a>
								<a href="javascript:void(0);" value="魅族" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">魅族</a>
								<a href="javascript:void(0);" value="小米" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">小米</a>
								<a href="javascript:void(0);" value="中兴" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">中兴</a>
							</dd>
							<!-- #677315需求临时屏蔽
							<dd style="" id="selectBrands_showPart">
								<a href="javascript:void(0);" class="selected" value="noFilter" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">不限</a>
								<#list brandList as item>
									<a href="javascript:void(0);" value="${item.terminalBrand}" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showPart a',this)">${item.terminalBrand}</a>
									<#if item_index == 12>
										<#break>
									</#if>
								</#list>
							</dd>
							<dd style="display: none;" id="selectBrands_showAll">
								<a href="javascript:void(0);" class="selected" value="noFilter" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showAll a',this)">不限</a>
								<#list brandList as item>
									<a href="javascript:void(0);" value="${item.terminalBrand}" onclick="mktRes.terminal.queryTerminalType('#selectBrands_showAll a',this)">${item.terminalBrand}</a>
								</#list>
							</dd>
							<span id="termManfId_more"> 
									<a href="javascript:void(0);" val="更多" class="btn_more" onclick="mktRes.terminal.showMoreOrLess()">更多</a>
							</span>
							 -->
						</dl>
						<dl id="selectTerminalType" style="display:none">
							<dt>机型筛选：</dt>
							<dd style="" id="selectType">
							<!-- 
							<a href="javascript:void(0);" class="selected" value="" onclick="mktRes.terminal.queryTerminalType('#selectType a',this)">不限</a>
							 -->
							</dd>
						</dl>
						<dl id="" style="">
							<dt>已选条件：</dt>
							<dd style="" id="TerminalBrandsSelected"></dd>
							<dd style="" id="TerminalTypeSelected"><dd>
								<a href="javascript:void(0);" onclick="mktRes.terminal.clearTerminalSelected()">清空筛选</a>
							</dd>
						</dl>
	                </div>
                </div>
            </div>
             <form method="post" id="terminalStatisticDetailExport"></form>
           	<div class="order_content" style="border:none; padding:10px" id="terminalStatisticDetailList"></div>
        </div>
    </div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
	<@extends name="/mvno-template.html"/>
<#else>
	<@extends name="/content-template.html"/>
</#if>