<#if (transfercust.custInfos)?? &&((transfercust.custInfos)?size>0)>
<div class="usersearchtranscon" id="usersearch">
	<div class="userclose"></div>
	<table class="contract_list" id="custListTable" style="width:600px;">
		<thead>
			<tr>
				<td width="100">姓名</td>
				<td width="150">证件类型</td>
				<td>地址</td>
			</tr>
		</thead>
		<tbody>
			<#list transfercust.custInfos as custInfo>
			<tr id="transCustAuth" onclick="prod.transferModify.showCustAuth(this)" identityName="${custInfo.identityName}" identityCd="${custInfo.identityCd}" idCardNumber="${custInfo.idCardNumber}" CN="${custInfo.CN}" addressStr="${custInfo.addressStr}" partyName="${custInfo.partyName}" certNum="${custInfo.certNum}" address="${custInfo.address}">
				<td id="custListTableParName">${custInfo.partyName}</td>
				<td id="custListTableidCard">${custInfo.identityName}/${custInfo.idCardNumber}</td>
				<td id="custListTableaddress">${custInfo.addressStr}</td>
				<td id="custListTablecustId" style="display:none;">${custInfo.custId}</td>
			</tr>
			</#list>
		</tbody>
	</table>
</div>
<!--用户鉴权弹窗-->
	<div class="easyDialogdiv" style="height:300px;display:none" id="Transferauth">
	<div class="easyDialogclose" id="transAuthClose"></div>
	<form id="transCustAuthForm">
	<h1 class="easyDialogTitle">客户身份鉴权</h1>
	<div class="infoBox">
		<table class="network">
                          <tbody>
                          <tr>
                                <td width="100"><label class="f_red">*</label>产品密码：</td>
                                <td width="300"><input id="transAuthPassword" type="password" placeHolder="请输入密码" data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)" class="inputWidth150px"><a  class="purchase" id="transCustAuthbtn" href="javascript:void(0)">校验</a><a class="purchase" id="transCustAuthbtn" onclick="prod.transferModify.jumpAuth()">跳过校验</a>
                                </td>
                          </tr>   
                          
                        </tbody>
                    </table>
    </form>
	</div>
</div>
<!--用户鉴权弹窗 end-->
<#elseif busiFlag == "FD">
FD_${message}
<#else>
false
</#if>