<#if iotCustInfo??>
<li style="white-space: nowrap" class="full" id="iot_liCust"
    custNumber="${iotCustInfo.custNumber}" custName="${iotCustInfo.custName}">姓名
    &nbsp:&nbsp${iotCustInfo.custName}</li>
<li style="white-space: nowrap" class="full" id="iot_liProduct"
    prodInstId="${iotCustInfo.prodInstId}"
    <#list iotCustInfo.attrInfos as item>
        <#if item.attrSpecId=='10020054'>
            attrInfosAttrSpecId="${item.attrSpecId}"
            attrInfosattrValue="${item.attrValue}"
            attrInfosattrName="${item.attrName}"
            attrInfosattrValueId="${item.attrValueId}"
        </#if>
    </#list>
    phoneNum="${iotCustInfo.phoneNum}">产品&nbsp:&nbsp${iotCustInfo.productName}
    -${iotCustInfo.phoneNum}</li>
<li style="white-space: nowrap" class="full" id="iot_area" prodStatusCd="${iotCustInfo.prodStatusCd}">
    状态&nbsp:&nbsp${iotCustInfo.prodStatusName}</li>
</#if>
