<#if rules??>
<div class="easyDialogclose" id="authClose" onclick="easyDialog.close()"></div>
<h1 class="easyDialogTitle">客户身份鉴权</h1>

<div class="infoBox">
    <ul class="pdcard">
        <#if rules.rule3=="Y">
            <li id="auth_tab1" onclick="order.cust.changeTab(1)" class="setcon">产品密码鉴权</li></#if>
        <#if rules.rule1=="Y">
            <#if rules.rule3=="N">
                <li id="auth_tab2" onclick="order.cust.changeTab(2)" class="setcon">证件号码鉴权</li>
            <#else>
                <li id="auth_tab2" onclick="order.cust.changeTab(2)">证件号码鉴权</li></#if>
        </#if>
        <#if rules.rule2=="Y">
            <#if rules.rule3=="N"&&rules.rule1=="N">
                <li id="auth_tab3" onclick="order.cust.changeTab(3)" class="setcon">短信鉴权</li>
            <#else>
                <li id="auth_tab3" onclick="order.cust.changeTab(3)">短信鉴权</li></#if>
        </#if>
    </ul>
<div id="contents">
    <#if rules.rule3=="Y">
    <div id="content1">
    <#else >
    <div id="content1" style="display: none;">
    </#if>
    <form id="custAuthForm1">
        <table class="network">
            <tbody>
            <tr>
                <td width="100"><label class="f_red">*</label><label id="custAuthTypeName1">产品密码：</label>
                </td>
                <td width="300">
                    <input id="authPassword2" type="password" placeHolder="请输入密码"
                           data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)"
                           class="inputWidth150px">
                    <a class="purchase" id="custAuthbtn1" onclick="order.cust.productPwdAuth()"
                       href="javascript:void(0)">校验</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
    <#if rules.rule3=="N"&&rules.rule1=="Y">
    <div id="content2">
    <#else>
    <div id="content2" style="display: none">
    </#if>
    <form id="custAuthForm2">
        <table class="network">
            <tbody>
            <tr>
                <td width="100"><label class="f_red">*</label><label id="idCardType2">证件类型：</label>
                </td>
                <td width="300">
                    <input id="idCardNumber2" type="password" placeHolder="请输入证件号码"
                           data-validate="validate(required:密码证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                           class="inputWidth150px">
                    <a class="purchase" id="custAuthbtn2" onclick="order.cust.identityTypeAuth()"
                       href="javascript:void(0)">校验</a>
                    <a class="purchase" id="readCertBtnID2" onclick="order.cust.readCertWhenAuth2()"
                       style="display: none">读卡</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
    <#if rules.rule1=="N"&& rules.rule2=="Y">
    <div id="content3">
    <#else>
    <div id="content3" style="display: none">
    </#if>
    <form id="custAuthForm3">
        <div class="easyDialogclose" id="svCloseDiv"></div>
        <table class="contract_list">
            <thead>
            <tr>
                <td colspan="6" align="center">短信验证码</td>
            </tr>
            </thead>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="SMScode">
            <tr>
                <td><p>为确保您的个人信息安全，在办理该业务前，请输入随机短信验证码</p></td>
            </tr>
            <tr>
                <td>
                    <span style="float:left; margin-top:5px">短信验证码</span>

                    <form id="loginSmsForm">
                        <input type="text" class="txt2 inputWidth228px" style="float:left; margin:0px 5px;"
                               name="smspwd" id="smspwd2"
                               data-validate="validate(required:短信验证码不能为空) on(blur)"
                               placeholder="请输入您手机收到的验证码" maxlength="6"/>
                        <a class="purchase" id="custAuthbtn3" onclick="order.cust.smsvalid()" href="javascript:void(0)">校验</a><a
                            class="purchase" id="smsSend" onclick="order.cust.smsResend()"
                            href="javascript:void(0)">短信发送</a>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <p>- 验证码在5分钟内有效，3次错误输入后失效。</p>

                    <p>- 如您在30秒内仍未收到验证码，请点击上面短信发送重新获取。</p>

                    <p>- 如果您连续3次重试都没有成功收到短信验证码，建议您稍后再试。</p>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
    <#if rules.rule4=="Y">
        <div style="text-align: center"><a class="purchase" id="jumpAuth"
                                           onclick="order.cust.jumpAuth2()">跳过校验</a></div></#if>
    <div id="authTypeStr" style="display: none">${rules.authTypeStr}</div>
    <div id="isSecondJump" style="display: none">${isSecondJump}</div>
</div>
<#else>
    查询失败
</#if>
