<@override name="title">星级服务查询</@override> <@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/cust/starQuery.js?${jsversion}" type="text/javascript"></script>
</@override> <@override name="content">
<input type="hidden" id="pageType" value="saveOrder" />
<input type="hidden" id="zcd_chan_select" value="${zcd_chan_select}" />
<input type="hidden" id="zcd_region_select" value="${zcd_region_select}" />
<div class="main_div" id="orderContent">
	<div class="main_warp" id="order_prepare"></div>
	<div class="main_warp" id="order_tab_panel_content"></div>
	<div id="d_query">
		<!-- 填单页面用 -->
		<div class="main_warp" id="order_fill_content">
			<!--订单准备-->
			<h2 class="h2_title">
				星级服务查询<span></span>
			</h2>
			<div class="order">
				<div class="order_content" style="border: none; padding: 10px">
					<div class="order_tab_panel" style="display: block;">
						<div class="selectList">
							<dl>
								<dt>接入号：</dt>
								<dd>
									<input type="text" class="numberTextBox width198" id="star_pm"
										value="" /> <label class="f_red">&nbsp;</label>
								</dd>
								 <dt style="width:100px">查询开始时间：</dt>
                                  <dd>
                                     <input type="text" class="numberTextBox mohu" style="width:160px" id="startDt" readonly="readonly" value="${p_startDt}"  />
                                    <label class="f_red">*</label>
                                  </dd>
                                 
                                  <dt>结束时间：</dt>
                                  <dd>
                                   <input type="text" class="numberTextBox mohu" style="width:160px" id="endDt" readonly="readonly" value="${p_endDt}"/>                          
                                    <label class="f_red">*</label>
                                  </dd>
                                  
                                  <dd>
									<input type="button" value="搜 索" class="numberSearch"
										id="bt_starQry" />
								</dd>
							</dl>
						</div>

						<div class="phone_warp" id="cart_list">
							<table class="numberList">
								<thead>
									<tr>
										<td width="80">受理地区</td>
										<td width="100">接入号码</td>
										<td width="100">客户名称</td>
										<td width="80">客户星级</td>
										<td width="80">成长值</td>
										<td width="150">可享受的星级服务权益项</td>
										<td width="150">客户各权益项使用的历史记录</td>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!--订单准备 end-->
		</div>
	</div>
</div>
</@override> <#if Session["_session_portal_type"]?? &&
Session["_session_portal_type"]=="MVNO" > <@extends
name="/mvno-template.html"/> <#else> <@extends
name="/content-template.html"/> </#if>
