<@override name="title">公告检索</@override>

<@override name="header">

<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/main/notice-search.js?${jsversion}" type="text/javascript"></script>

</@override>

<@override name="content">

<div class="main_div">
	<div class="main_warp">
		<h2 class="h2_title">公告检索<span></span></h2>
        <div class="order">
        	<div class="order_content" style="border:none; padding:10px">
                <div class="order_tab_panel" style="display:block;">
              		<div class="selectList">
                   		<dl>
                 			<dt>选择地区：</dt>
                      		<dd>
                         		<input type="text" class="numberTextBox width198" readonly="readonly" id="p_areaId_val" onclick="notice.search.chooseArea()" value="${defaultAreaName}" placeholder="请选择地区" />
                     			<input type="hidden" id="p_areaId" value="${defaultAreaId}">
                    			<label class="f_red">*</label>
            				</dd>
              				<dt style="width:100px;">发布时间 从：</dt>
                      		<dd>
                    			<input type="text" class="numberTextBox" style="width:160px" id="beginDate" readonly="readonly" value="${defaultBeginDate}" />
                    			<label class="f_red">*</label>
                			</dd>
          					<dt style="width:30px;">到：</dt>
                			<dd>
                 				<input type="text" class="numberTextBox" style="width:160px" id="endDate" readonly="readonly" value="${defaultEndDate}" />
                 				<label class="f_red">*</label>
                   			</dd>
             			</dl>      
                  		<dl>
                			<dt>公告类别：</dt>
                  			<dd>
                   				<select id="noticeType" class="width202" style="width:100px">
                            		<option value="" >--请选择--</option>
                            		<option value="1" >版本公告</option>
                            		<option value="2" >业务通知</option>
                            		<option value="3" >配置公告</option>
                         		</select>
                     		</dd>
                    		<dt>发布人工号：</dt>
                     		<dd>
                      			<input type="text" class="numberTextBox" style="width:160px" id="issuer" />
                   			</dd>
                  			<dt>关键字：</dt>
                  			<dd>
                     			<input type="text" class="numberTextBox" style="width:160px" id="keyWords" />
                      		</dd>
                      		<input type="button" value="搜 索" class="numberSearch" id="bt_noticeQuery" style="left:18px;top:2px;" />
                		</dl>
                	</div>
                 		
                  	<div class="phone_warp" id="noticeList" >
           				<table class="numberList">
              				<thead>
                				<tr>
                  					<td width="80">发布人</td>
                  					<td width="130">公告标题</td>
                  					<td width="80">发布时间</td>
                  					<td width="80">公告查看</td>
               	 				</tr>
              				</thead>
              				<tbody>
              					<!-- 
 								<tr>
                  					<td>大肠今</td>
                  					<td>国庆放假通知</td>
                  					<td>2015-09-23 11:18:20</td>
                  					<td><a class="purchase" href="javascript:void(0)" type="main" >详情</a></td>
               					</tr>
               				 	-->
              				</tbody>
            			</table>
                    </div>
                    <div id="noticeDetail" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
