<#if link.code?? && (link.code>=0) >
<div class="main_div"> 
  <div class=" main_warp">
    <div class="ordercon">
	  <div class="order_confirmation ordertabcon" style="display:block">
	    <h2 class="h2_title">购物车环节<span class="showhide"></span></h2>
        <div class="main_body">
		  <h5 class="s_title">购物车流水号：${olNbr}</h5>
		  <table class="numberList">
  		    <thead>
    		  <tr>
    		  	<td width="20"></td>
      			<td width="18%">环节名称</td>
      			<td width="18%">处理状态</td>
      			<td width="18%">创建时间</td>
      			<td width="18%">处理时间</td>
      			<td width="18%">完成时间</td>
      			<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="LTE" >
      			<td width="10%">施工状态</td>
      			</#if>
    		  </tr>
  			</thead>
  		    <tbody>
  		      <#list link.list as cartLink>   		    		     		  
    		  <tr style="cursor:auto;">
    		  	<td>&nbsp;</td>
    		    <#if cartLink.orderItemGrpId??>
    		    <#if cartLink.orderItemCd=="1000">
      			<td>${cartLink.linkFlagName}（客户动作）<br>订单组ID：${cartLink.orderItemGrpId}</td>
      			<#elseif cartLink.orderItemCd=="1100">
      			<td>${cartLink.linkFlagName}（帐户动作）<br>订单组ID：${cartLink.orderItemGrpId}</td>
      			<#elseif cartLink.orderItemCd=="1200">
      			<td>${cartLink.linkFlagName}（销售品动作）<br>订单组ID：${cartLink.orderItemGrpId}</td>
      			<#elseif cartLink.orderItemCd=="1300">
      			<td>${cartLink.linkFlagName}（产品动作）<br>订单组ID：${cartLink.orderItemGrpId}</td>
      			<#else>
      			<td>${cartLink.linkFlagName}<br>订单组ID：${cartLink.orderItemGrpId}</td>
      			</#if>
      			<#elseif cartLink.boArchiveGrpId??>
      			<td>${cartLink.linkFlagName}<br>归档组ID：${cartLink.boArchiveGrpId}</td>
      			<#else>
      			<td>${cartLink.linkFlagName}</td>
      			</#if>
      			<#if cartLink.dealFlag=="D">
      			<td>待处理</td>
     		 	<#elseif cartLink.dealFlag=="T">
      			<td>处理中</td>
      			<#elseif cartLink.dealFlag=="C">
      			<td>处理完成</td>
      			<#elseif cartLink.dealFlag=="F">
      			<td style="word-break:break-all;"><a class="cartLink_fail" style="color:red;" onclick="cart.main.slideFailInfo(this)">处理失败</a><p style="display:none;line-height:20px;">${cartLink.busiDesc}</p></td>
      			<#else>
      			<td></td>
      			</#if> 
      			<td>${cartLink.createDt}</td>
      			<td>${cartLink.readDt}</td>
      			<td>${cartLink.finishDt}</td>
      			<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="LTE" >
	    		  	<td>
	      				<#if cartLink.linkFlag=="1" || cartLink.linkFlag=="2" || cartLink.linkFlag=="3">
	      				<a class="purchase" href="javascript:cart.main.resendCustOrder('${cartLink.custOrderId}','${cartLink.linkFlag}','${cartLink.msgId}','${cartLink.msgTypeCd}','${cartLink.dealFlag}')">重发</a>
	      				</#if>
	      				<#if cartLink.linkFlag=="2" && cartLink.orderItemCd=="1300">
	      				<a class="purchase" href="javascript:cart.main.queryConstructionState(${areaId}, ${cartLink.custOrderId}, ${cartLink.orderItemGrpId}, ${channelId})">查看</a>
	      				</#if>
	      			</td>
    		  	</#if>
    		  </tr>
    		  <#if cartLink.subList??&&(cartLink.subList?size>0)&&cartLink.linkFlag==2>
               	<#list cartLink.subList as sub >
	    		  <tr >
	    		  	<td>
	       			<#if cartLink.subList?size==(sub_index+1) >
	       			<i class="tree_bottom"></i>
	       			<#else>
	       			<i class="tree_center"><span></span></i>
	       			</#if>
	       			</td>
	       			<td>sub.linkFlagName</td>
	       			<td>sub.busiDesc</td>
	       			<td>sub.createDt</td>
	       			<td>sub.readDt</td>
	       			<td>sub.finishDt</td>
	       			<td></td>
	       		  </tr>
       		  	</#list>
       		  </#if>
    		  </#list>    		  
  		    </tbody>
		  </table>
	    </div>
	  </div>
    </div>
    <div align="right" style="margin: 20px auto; padding:0 20px;"> <a style=" margin-left:20px;" class="btna_o" href="javascript:cart.main.showMain()"><span>返回</span></a> </div>
  </div>
</div>
<!-- 施工单状态弹出框 -->
<div class="easyDialogdiv" style="width:800px;height:320px;display:none" id="construction_state">
  <div class="easyDialogclose"></div>
  <div id="stateList"></div>
</div>
<!-- 施工单状态弹出框 end -->
<#else>-1</#if>