<#if code?? && (code>=0) ><table class="numberList" id="tab_orderList" >
              <thead>
                <tr>
                 <td width="80">受理地区</td>
                  <td width="130">受理渠道</td>
                  <td width="80">受理人</td>
                  <td width="80">受理工号</td>
                  <td width="120">受理时间</td>
                  <td width="130">购物车流水号</td>
                  <td width="70">客户名称</td>
                  <!-- <td width="90">业务动作</td> -->
                  <td width="70">购物车状态</td>
                  <td width="70">操作</td>
               	 </tr>
              </thead>
              <tbody>
              <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
              <#list pageModel.list as orderLists >
              <#if (orderLists.list)?? &&((orderLists.list)?size>0)>
              <#list orderLists.list as cart >
                <#if cart_index == 0>
                <tr olId="${orderLists.olId}" olNbr="${cart.olNbr}" objInstId="${cart.objInstId}" accessNumber="${cart.accessNumber}" areaId="${cart.areaId}" actionClass="${cart.actionClass}" newProdFlag="${cart.newProdFlag}" >
                  <td>${orderLists.areaName}</td>
                  <td>${cart.channelName}</td>
                  <td>${cart.staffName}</td>
                  <#if (cart.staffCode)??>
                  	<td>${cart.staffCode}</td>
                  <#else>
                  	<td>未获取到工号</td>
                  </#if>
                  <td>${cart.soDate}</td>
                  <td>${cart.olNbr}</td>
                  <td>${cart.partyName}</td>
                  <!-- <td>${cart.boActionTypeName}</td> -->
                  <td>${orderLists.olStatusName}</td>
                  <td>
                    <#if pageType=="detail">
                    <a class="purchase" href="javascript:cart.main.queryCartInfo('${orderLists.olId}')" type="main" >详情</a>
                    <#elseif pageType=="voucher">
                    <#if cart.fileName??&&cart.fileName!="">
                    	<a olId="${orderLists.olId}" ifPrint="${orderLists.ifPrint}" class="purchase" href="javascript:common.print.preSign('${orderLists.olId}', '')" type="main" >查看</a>
                    <#else>
                    	<a olId="${orderLists.olId}" ifPrint="${orderLists.ifPrint}" class="purchase" href="javascript:common.print.preVoucher('${orderLists.olId}', '')" type="main" >重打回执</a>
                    </#if>
                    <#elseif pageType=="reInvoice">
                    <a olId="${orderLists.olId}" ifInvoice="${orderLists.ifInvoice}" areaId="${cart.areaId}" class="purchase" href="javascript:common.print.preInvoice('${orderLists.olId}','${cart.olNbr}','1')" type="main" >重打发票</a>
                    <#elseif pageType=="addInvoice">
                    <a olId="${orderLists.olId}" ifInvoice="${orderLists.ifInvoice}" areaId="${cart.areaId}" class="purchase" href="javascript:common.print.preInvoice('${orderLists.olId}','${cart.olNbr}','2')" type="main" >补打发票</a>
                    <#elseif pageType=="link">
                    <a class="purchase" href="javascript:cart.main.queryCartLink('${orderLists.olId}', '${cart.areaId}', '${cart.olNbr}', '${cart.channelId}')" type="main">环节</a>
                    <#elseif pageType=="queryCashier">
                    <a class="purchase" href="javascript:cashier.main.reduction({areaId:'${cart.areaId}',acctNbr:'${cart.accessNumber}',custId:'${cart.partyId}',soNbr:'${orderLists.soNbr}',instId:'${cart.objInstId}',olId:'${orderLists.olId}',channelId:'${cart.channelId}'})" type="main" >还原</a>
                    <#elseif pageType=="saveOrder">
                    <a class="purchase" href="javascript:cart.main.queryReOrder({areaId:'${cart.areaId}',customerOrderId:'${orderLists.olId}',backFlag:'Y',acctNbr:'${cart.accessNumber}'})" type="main" >处理</a>
                    <a class="purchase" href="javascript:cart.main.delOrder({areaId:'${cart.areaId}',olId:'${orderLists.olId}'})" type="main" >取消</a>
                    </#if>
                    <#if cart.statusCd?? && cart.statusCd!="301200" ></#if>
                  </td>
               	</tr>
               	<#else>
               	<tr olId="${orderLists.olId}" olNbr="${cart.olNbr}" objInstId="${cart.objInstId}" accessNumber="${cart.accessNumber}" areaId="${cart.areaId}" actionClass="${cart.actionClass}" newProdFlag="${cart.newProdFlag}" style="display:none;"></tr>
               	</#if>
              </#list>
              </#if>
              </#list>
              <#else>
              <tr>
                <td colspan="9">没有查询到结果</td> 
              </tr>
              </#if>
              </tbody>
            </table>
            
            <!--页码-->
            <#if pageType=="queryCashier">
            <@portal.simplifyModelPagination pageModel "cashier.main.queryCartList"/>
            <#else>
			<@portal.simplifyModelPagination pageModel "cart.main.queryCartList"/>
			</#if>
			<!--页码 end-->

<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>

<#else>${mess}</#if>