<div class="easyDialogclose" id="staff_dialog_close" onclick="easyDialog.close()"></div>
<table class="contract_list">
	<thead>
		<tr>
			<td>受理渠道查询</td>
			<td align="right" style="width: 230px">
				<input type="button" class="numberSearch" value="确 认" onclick="cart.main.setChannel()"> 
				<input type="button" class="numberSearch" value="取消" style="margin-right: 20px" onclick="easyDialog.close();">
			</td>
		</tr>
	</thead>
</table>
<div class="form-content">
	<div class="selectList">
		<dl>
			<!-- 
			<dt>地区：</dt>
			<dd>&nbsp;<input type="text" class="inputWidth150px" id="areaId_dialog" value="${pageParam.areaId_val}"></dd>
			-->
			<dt>渠道名称：</dt>
			<dd>&nbsp;<input type="text" class="inputWidth150px" id="channelName_dialog" value=""><label class="f_red">&nbsp;</label></dd>
			<!--
			<dt>渠道类别：</dt>
			<dd>&nbsp;<select id="channelTypeCd_dialog" class="width100">
					<option value="">--渠道类别--</option>
					<option areaid="8330101" value="ec">电子渠道</option>
					<option areaid="8330183" value="pc">实体渠道</option>
					<option areaid="8330110" value="oc">其他</option>
				</select>
				<label class="f_red">*</label>
			</dd>
			-->
			
			<dd>&nbsp;
				<input type="button" class="numberSearch" value="查 询" onclick="cart.main.qureyStaffAndChlPage(1)"> 
				<input type="hidden" id="queryFlag_dialog" value="queryChannel"> 
				<input type="hidden" id="queryFlag_dialog" value="">
			</dd>
		</dl>
	</div>
	<div class="phone_warp">
		<table class="contract_list numberList222">
			<thead>
				<tr>
					<td class="borderLTB" style="width: 40px"></td>
					<td class="borderLTB">地区</td>
					<td class="borderLTB">渠道编码</td>
					<td class="borderLTB">渠道名称</td>
					<!-- <td class="borderLTB">渠道类别</td> -->
				</tr>
			</thead>
			<tbody id="channel_list_body">
        	<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
        	<#list pageModel.list as channelInfo >
        	<tr channelId="${channelInfo.channelId}" channelNbr="${channelInfo.channelNbr}" channelName="${channelInfo.channelName}" >
	            <td class="teleNum"></td>
	            <td>${pageParam.areaId_val}</td>
	            <td>${channelInfo.channelNbr}</td>
	          	<td>${channelInfo.channelName}</td>
	          	<!-- <td>${channelInfo.channelTypeCd}</td> -->
          	</tr>
        	</#list>
        	</#if>
			</tbody>
		</table>

		<!--页码-->
		<@portal.modelPagination pageModel 5 "cart.main.qureyStaffAndChlPage"/>
		<!--页码 end-->

		<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>

	</div>
</div>


<!--帐户选择弹窗 End-->