<#if code?? && (code>=0) ><div class="main_div"> 
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->

<div class="order_confirmation ordertabcon"  style="display: block">
  <h2 class="h2_title">受理单详情<span class="showhide"></span></h2>
  <div class="main_body">
  
  
  <#if order.boBaseInfo?? >
  <#assign boBaseInfo = order.boBaseInfo >
  <h5 class="s_title">基本信息</h5>
  
  <ul class="fillin">
  	<li>
      <font>购物车流水号：</font><span>${boBaseInfo.olNbr}</span>
    </li>
    <li>
      <font>受理地区：</font><span>${boBaseInfo.areaName}</span>
    </li>
    <li>
      <font>受理渠道：</font><span>${boBaseInfo.channelName}</span>
    </li>
    <li>
      <font>受理员工：</font><span>${boBaseInfo.boStaffName}</span>
    </li>
    <li>
      <font>受理时间：</font><span>${boBaseInfo.soDate}</span>
    </li>
    <li>
      <font>订单状态：</font><span>${boBaseInfo.boStatusName}</span>
    </li>
    <li>
      <font>业务类型：</font><span>${boBaseInfo.boActionTypeName}</span>
    </li>
    <li>
      <font>业务名称：</font><span>${boBaseInfo.specName}</span>
    </li>
	
    <#if order.baseBoInfoRela?? && (order.baseBoInfoRela?size>0) >
    <#list order.baseBoInfoRela as baseBoInfoRela >
    <li>
		<font>撤改单：</font><span>${baseBoInfoRela.relaType}</span>
    </li>
    <li><font>&nbsp;</font><span>&nbsp;</span></li>
    <#break>
    </#list>
    </#if>
	
    <!-- 
    <li>
      <font>竣工时间：</font><span>？</span>
    </li>
    <li>
      <font>发展人：</font><span>？</span>
    </li>
    <li>
      <font>压单时间：</font><span>？</span>
    </li>
     -->
  </ul>
  <div class="height18"></div>
  </#if>
  
  <#if order.custInfo?? && (order.custInfo?size>0) >
  <h5 class="s_title">客户信息</h5>
  <#list order.custInfo as custInfo >
  <ul class="fillin">
    <li>
		<font>客户名称：</font><span>${custInfo.name}</span>
    </li>
    <li>
		<font>客户类型：</font><span>${custInfo.partyTypeName}</span>
    </li>
    <li>
		<font>地区名称：</font><span>${custInfo.area}</span>
    </li>
<!-- 
    <li>
		<font>客户简拼：</font><span>${custInfo.simpleSpell}</span>
    </li>
 -->
    <li>
		<font>证件名称：</font><span>${custInfo.identityTypeName}</span>
    </li>
    <li class="full">
		<font>证件号码：</font><span>
		<#if custInfo.identityTypeCd?? && custInfo.identityTypeCd=="1" && custInfo.identityCD?? && (custInfo.identityCD?length>14) >
			<#if isViewOperation?? && isViewOperation =="0" >
				${custInfo.identityCD}
			<#else>
				<#assign len = custInfo.identityCD?length >
				${custInfo.identityCD[0..5]}********${custInfo.identityCD[14..len-1]}
			</#if>
		<#else>
			${custInfo.identityCD}
		</#if>
		</span>
    </li>
  </ul>
  <#break>
  </#list>
  <div class="height18"></div>
  </#if>
  
  
 
  <#if order.prodOrderDto?? >
  <h5 class="s_title">产品信息</h5>
  	
  <#assign prodOrderDto = order.prodOrderDto >
  <ul class="fillin">
	<#assign row = 0 >

    <#if prodOrderDto.boAccountRelas?? && (prodOrderDto.boAccountRelas?size>0) >
    <#list prodOrderDto.boAccountRelas as boAccountRelas >
    <li>
		<font>帐户名称：</font><span>${boAccountRelas.acctName}</span>
    </li>
    <li>
		<font>合同号：</font><span>${boAccountRelas.acctCd}</span>
    </li>
    <li>
		<font>状态：</font><span>${boAccountRelas.acctStatusName}</span>
    </li>
    <li>
		<font>分摊比例：</font><span>${boAccountRelas.percent}%</span>
    </li>
    <#break>
    </#list>
    </#if>
    	
    <#if prodOrderDto.boProdAns?? && (prodOrderDto.boProdAns?size>0) >
    <#list prodOrderDto.boProdAns as boProdAns >
    <li>
		<font>接入号：</font><span>${boProdAns.accessNumber}</span>
    </li>
    <#assign row = row+1 >
    <#break>
    </#list>
    </#if>

    <#if prodOrderDto.boProdFeeTypes?? && (prodOrderDto.boProdFeeTypes?size>0) >
    <#list prodOrderDto.boProdFeeTypes as boProdFeeTypes >
    <li>
		<font>付费类型：</font><span>${boProdFeeTypes.detail}</span>
    </li>
    <#assign row = row+1 >
    <#break>
    </#list>
    </#if> 
    
    <!-- 
    <#if prodOrderDto.boProdSpecs?? && (prodOrderDto.boProdSpecs?size>0) >
    <#list prodOrderDto.boProdSpecs as boProdSpecs >
    <li>
		<font>产品规格：</font><span>boProdSpecs.??&nbsp;<#if boProdSpecs.state=="ADD">(新增)<#elseif boProdSpecs.state=="DEL">(删除)</#if></span>
    </li>
    <#assign row2 = row+1 >
    <#break>
    </#list>
    </#if> 
     -->
     
     <!-- 
    <#if prodOrderDto.boProdStatus?? && (prodOrderDto.boProdStatus?size>0) >
    <#list prodOrderDto.boProdStatus as boProdStatus >
    <li>
		<font>产品状态：</font><span>${boProdStatus.prodStatusName}</span>
    </li>
    <#assign row2 = row+1 >
    <#break>
    </#list>
    </#if>     
 	 -->

    
    <#if prodOrderDto.boServOrders?? && (prodOrderDto.boServOrders?size>0) >
    <#list prodOrderDto.boServOrders as boServOrders >
    <#if boServOrders.state?? && boServOrders.state!="" >
    <li>
		<font>服务变更：</font><span>
			${boServOrders.servSpecName}&nbsp;<#if boServOrders.state=="ADD">(开通)<#elseif boServOrders.state=="DEL">(关闭)</#if>
		</span>
    </li>
    <#assign row = row+1 >
    <#else>
      <#if boServOrders.boServItems?? && (boServOrders.boServItems?size>0) >
      <#list boServOrders.boServItems as boServItems >
      <li>
		<font>服务变更：</font><span>
			${boServOrders.servSpecName}&nbsp;[&nbsp;${boServItems.name}:
			<#if boServItems.dataTypeCd?? && boServItems.dataTypeCd=="8">
				******
			<#else>
				${boServItems.value}
			</#if>
			<#if boServItems.state=="ADD">(新增)<#elseif boServItems.state=="DEL">(删除)</#if>&nbsp;]
		</span>
      </li>
      <#assign row = row+1 >
      </#list>
      </#if>  
    </#if>  
	
    </#list>
    </#if>
    
 	<#if row%2 = 1 >
 	<li><font>&nbsp;</font><span>&nbsp;</span></li>
    </#if>
    
  </ul>
  <div class="height18"></div>
  
  	<div class="infoBox">
    <#if prodOrderDto.boProdItems?? && (prodOrderDto.boProdItems?size>0) >
    <h4>产品属性变更</h4>
    <div>
    <ul class="fillin">
      <#list prodOrderDto.boProdItems as boProdItems >
      <li>
	  	<font>${boProdItems.name}：</font>
	  	<span>${boProdItems.value}&nbsp;<#if boProdItems.state=="ADD">(添加)<#elseif boProdItems.state=="DEL">(取消)</#if></span>
      </li>
      </#list>
    </ul>
    </div>
    </#if>
    </div>
  
  <div class="height18"></div>
  </#if>
  
         

    
  <#if order.boOfferOrderInfo?? >
  <#assign boOfferOrderInfo = order.boOfferOrderInfo >
  <h5 class="s_title">销售品信息</h5>
  <div class="infoBox">
  
  
  
  
  <#if order.offerInfo?? >
  <#assign offerInfo = order.offerInfo >
  <#if offerInfo.offers ?? >
  <#assign offers = offerInfo.offers >
  
  <#if offers.mainOffers?? && ((offers.mainOffers)?size>0) >
  <#list offers.mainOffers as mainOffers >
  <h4>主销售品</h4>
  <div>
  <ul class="fillin">
    <li>
      <font>销售品名称：</font><span>${mainOffers.offerSpecName}</span>
    </li>
    <li>
      <font>状态：</font><span>${mainOffers.statusName}</span>
    </li>
    <#if (mainOffers.startDt?? && mainOffers.startDt!="") || (mainOffers.endDt?? && mainOffers.endDt!="") >
    <li>
      <font>生效时间：</font><span>${mainOffers.startDt}</span>
    </li>
    <li>
      <font>失效时间：</font><span>${mainOffers.endDt}</span>
    </li>
    </#if>
    <li class="full" >
      <font>备注：</font><span>${mainOffers.summary}</span>
    </li>
  </ul>
  <div class="clear"></div>
  </div>
  </#list>
  </#if>
  
  
  <#if offers.attachOffers?? && ((offers.attachOffers)?size>0) >
  <h4>附属业务</h4>
  <div>
  <table>
  
  <#list offers.attachOffers as attachOffers >
  <#if !(attachOffers.servName?? && attachOffers.servName!="") >
  <tr style="padding: 5px 0;border-bottom: 1px dotted #c2c2c2;height:39px" >
  	<td style="width: 90px;text-align: right;" >名称：</td>
  	<td style="width: 282px;" >
	   ${attachOffers.offerSpecName}&nbsp;(${attachOffers.statusName})
	</td>
    <#if (attachOffers.startDt?? && attachOffers.startDt!="") || (attachOffers.endDt?? && attachOffers.endDt!="") >
    <#if attachOffers.statusCd?? && (attachOffers.statusCd == "1100" || attachOffers.statusCd == "1101" || attachOffers.statusCd == "1102" ) >
    <td style="width: 90px;text-align: right;" >失效时间：</td>
    <td style="width: 282px;" >${attachOffers.endDt}</td>
	<#else>
	<td style="width: 90px;text-align: right;" >生失效时间：</td>
    <td style="width: 282px;" >${attachOffers.startDt}&nbsp;到&nbsp;${attachOffers.endDt}</td>
	</#if>
	<#else>
	<td style="width: 90px;text-align: right;" >生失效时间：</td>
    <td style="width: 282px;" >无生失效时间&nbsp;</td>
	</#if>
  </tr>
  </#if>
  </#list>
  
  <#list offers.attachOffers as attachOffers >
  <#if (attachOffers.servName?? && attachOffers.servName!="") >
  <tr style="padding: 5px 0;border-bottom: 1px dotted #c2c2c2;height:39px" >
  	<td style="width: 90px;text-align: right;" >名称：</td>
  	<td style="width: 282px;" >
	  ${attachOffers.offerSpecName}&nbsp;【${attachOffers.servName}】&nbsp;(${attachOffers.statusName})
	</td>
    <#if (attachOffers.startDt?? && attachOffers.startDt!="") || (attachOffers.endDt?? && attachOffers.endDt!="") >
    <#if attachOffers.statusCd?? && (attachOffers.statusCd == "1100" || attachOffers.statusCd == "1101" || attachOffers.statusCd == "1102" ) >
    <td style="width: 90px;text-align: right;" >失效时间：</td>
    <td style="width: 282px;" >${attachOffers.endDt}</td>
	<#else>
	<td style="width: 90px;text-align: right;" >生效时间：</td>
    <td style="width: 282px;" >${attachOffers.startDt}&nbsp;</td>
	</#if>
	<#else>
	<td style="width: 90px;text-align: right;" >生失效时间：</td>
    <td style="width: 282px;" >无生失效时间&nbsp;</td>
	</#if>
  </tr>
  </#if>
  </#list>
  
  </table>
  </div>
  </#if>
 
  
  </#if>
  </#if>
  
  
  
  <#if boOfferOrderInfo.offerInfos?? && ((boOfferOrderInfo.offerInfos)?size>0) >
  <#list boOfferOrderInfo.offerInfos as offerInfos >
  <!-- <h4>${offerInfos.boActionTypeName}-${offerInfos.offerSpecName}[${offerInfos.statusName}]</h4> -->
  <h4>基本信息</h4>
  <div>
  <ul class="fillin">
    <li>
      <font>所在地区：</font><span>${offerInfos.areaName}</span>
    </li>
    <li>
      <font>客户名称：</font><span>${offerInfos.partyName}</span>
    </li>
    <#assign row = 0>
    
    <#if offerInfos.startDt?? && offerInfos.startDt!="" >
    <li>
      <font>生效时间：</font><span>${offerInfos.startDt}</span>
    </li>
    <#assign row = row+1>
    </#if>
    
    <#if offerInfos.endDt?? && offerInfos.endDt!="" >
    <li>
      <font>失效时间：</font><span>${offerInfos.endDt}</span>
    </li>
    <#assign row = row+1>
    </#if>
    
    <#if offerInfos.statusName?? && offerInfos.statusName!="" >
    <li>
      <font>状态：</font><span>${offerInfos.statusName}</span>
    </li>
    <#assign row = row+1>
    </#if>
    
    <#if row%2 = 1 >
 	<li><font>&nbsp;</font><span>&nbsp;</span></li>
    </#if>
    
  </ul>
  <div class="clear"></div>
  </div>
  <#break>
  </#list>
  </#if>
  
  
  
  <#if boOfferOrderInfo.ooOwners?? && ((boOfferOrderInfo.ooOwners)?size>0) >
  	<#assign f_ooOwners = true >
  </#if>
  <#if boOfferOrderInfo.ooRoles?? && ((boOfferOrderInfo.ooRoles)?size>0) >
  	<#assign f_ooRoles = true >
  </#if>
  <#if boOfferOrderInfo.ooTime?? && ((boOfferOrderInfo.ooTime)?size>0) >
  	<#assign f_ooTime = true >
  </#if>
  
  <#if f_ooOwners || f_ooRoles || f_ooTime >
  
  <h4>销售品变更</h4>
  <div>
  <ul class="fillin">
  <#assign row_offChange = 0 >
  
  <#if boOfferOrderInfo.ooOwners?? && ((boOfferOrderInfo.ooOwners)?size>0) >
  <#list boOfferOrderInfo.ooOwners as ooOwners >
    <li>
      <font>所属用户：</font><span>${ooOwners.detail}</span>
    </li>
    <#assign row_offChange = row_offChange+1 >
  </#list>
  </#if>
	
  <!-- ooParams,ooRelas -->
  
  <#if boOfferOrderInfo.ooRoles?? && ((boOfferOrderInfo.ooRoles)?size>0) >
  <#list boOfferOrderInfo.ooRoles as ooRoles >
    <li>
      <font>角色变更：</font><span>${ooRoles.roleName}&nbsp;<#if ooRoles.state=="ADD">(订购)<#elseif ooRoles.state=="DEL">(退订)</#if></span>
    </li>
    <#assign row_offChange = row_offChange+1 >
  </#list>
  </#if>
	
  <#if boOfferOrderInfo.ooTime?? && ((boOfferOrderInfo.ooTime)?size>0) >
  <#list boOfferOrderInfo.ooTime as ooTime >
    <li>
      <font>生效信息：</font><span>${"待定"}&nbsp;<#if ooTime.state=="ADD">(生效)<#elseif ooTime.state=="DEL">(失效)</#if></span>
    </li>
    <#assign row_offChange = row_offChange+1 >
  </#list>
  </#if>
  
  <#if row_offChange%2 == 1 >
  	<li><font>&nbsp;</font><span>&nbsp;</span></li>
  </#if>

  </ul>
  <div class="clear"></div>
  </div>
    
  </#if><!-- 销售品>>销售品变更 结束 -->
    
  </div>
  </#if> <!-- 销售品 结束 -->
  
  <div class="height18"></div>
    
    
    
    
    
  <#if order.busiOrderAttrs?? && ((order.busiOrderAttrs)?size>0) >
  <h5 class="s_title">备注信息</h5>
  <div>
  <ul class="fillin">
  	<#assign row = 0 >
  	<#list order.busiOrderAttrs as busiOrderAttrs >
    <li>
      <font>${busiOrderAttrs.itemSpecName}：</font><span>${busiOrderAttrs.value}</span>
    </li>
    <#assign row = row+1 >
    </#list>
    
    <#if row%2 == 1 >
  	<li><font>&nbsp;</font><span>&nbsp;</span></li>
  	</#if>
  </ul>
  </div>
  </#if>

  <div class="height18"></div>
    
    
  <#if order.prodOrderDto?? >
  <#if prodOrderDto.bo2Coupons?? && ((prodOrderDto.bo2Coupons)?size>0) >
  <h5 class="s_title">物品信息</h5>
  <div>
  <ul class="fillin">
  	<#list prodOrderDto.bo2Coupons as bo2Coupons >
    <li>
      <font>名称：</font><span>${bo2Coupons.couponName}&nbsp;<#if bo2Coupons.couponTypeName??>(${bo2Coupons.couponTypeName})</#if></span>
    </li>
    <li>
      <font>串码：</font><span>${bo2Coupons.couponInstNumber}</span>
    </li>
    </#list>
  </ul>
  </div>
  </#if>
  </#if>
  <div class="height18"></div>
    
    

  <h5 class="s_title">费用信息</h5>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="orderdetail_fs">
    <thead>
      <tr>
        <td>付费号码</td>
        <td>费用类型</td>
        <td>应收金额（元）</td>
        <td>实收金额（元）</td>
        <td>支付人</td>
        <td>支付类型</td>
        <td>付费备注</td>
        <td>状态</td>
        </tr>
    </thead>
    <tbody>
    
	  <#if order.acctInfos?? >
	  <#assign acctInfos = order.acctInfos >
	  <#if acctInfos.result?? >
	  <#assign result = acctInfos.result >
  
      <#if result.chargeItems?? && ((result.chargeItems)?size>0) >
  	  <#list result.chargeItems as chargeItems >
      <tr>
        <td>${chargeItems.accNbr}</td>
        <td>${chargeItems.acctItemTypeName}</td>
        <td><span style="color:#feb161">${chargeItems.amount?number/100}</span></td>
        <td><span style="color:#feb161">${chargeItems.realAmount?number/100}</span></td>
        <td>${chargeItems.custName}</td>
        <td>${chargeItems.payMethodName}</td>
        <td>${chargeItems.perferReason}</td>
        <td>${chargeItems.statusCd}</td>
      </tr>
      </#list>
      </#if>
      
      </#if>
      </#if>
    </tbody>
</table>
  

  <div class="height18"></div>
    
    
    
    
    
    
<div align="right" style="margin: 20px auto; padding:0 20px;"> <a style=" margin-left:20px;" class="btna_o" href="javascript:cart.main.linkBackMain()"><span>返回</span></a> </div>

    
<div class="clear"></div>

</div>


</div>
</div>
<!--订单填写 end-->


</div>
</div>

<script type="text/javascript">
$(".pdcard li").each(function(index){
	 $(this).click(function(){
		$(this).addClass("setcon").siblings().removeClass("setcon");
		$(this).parent().parent().next(".cardtabcon").find(".pdcardcon").eq(index).show().siblings().hide();
		})
	})
</script>
<#else>${mess}</#if>