<@override name="title">群成员查询</@override> 
<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/cart/group.js?${jsversion}"
	type="text/javascript"></script>

<style>
.cartLink_fail:hover {
	text-decoration: underline;
	cursor: pointer;
}
</style>
</@override> 
<@override name="content">

<div class="main_div" id="d_query">

	<div class="main_warp">
		<!--订单准备-->
		<h2 class="h2_title">
			群成员查询<span></span>
			<!-- <a href="业务办理_客户定位完成.html" class="numberSearch back3"><span>返回</span></a> -->
		</h2>
		<div class="order">
			<div class="order_content" style="border: none; padding: 10px">
				<div class="order_tab_panel" style="display: block;">
					<div class="selectList">
						<dl class="noBorder">
							<dt>选择地区：</dt>
							<dd>
								<input type="text" class="numberTextBox width198"
									readonly="readonly" id="p_areaId_val"
									onclick="group.main.chooseArea()" value=""
									placeholder="请选择地区" /> <input type="hidden" id="p_areaId"
									value="">
							</dd>
							<!-- <dt>证件号码：</dt>
							<dd>
								<input type="text" class="numberTextBox width198"
									id="p_identifyNbr" value="" />
							</dd>
							<dt>客户名称：</dt>
							<dd>
								<input type="text" class="numberTextBox width198"
									id="p_custName" value="" />
							</dd> -->
							<dt>群号码：</dt>
							<dd>
								<input type="text" class="numberTextBox width198"
									id="p_accessNbr" value="" />
								<label class="f_red">*</label>
							</dd>
							<dt>查询类型：</dt>
							<dd>
								<select id="p_queryType" class="width202" style="width: 160px">
									<option value="1">虚拟VPN</option>
									<option value="2">一点付费</option>
								</select>
							</dd>
							<dd>
								<label class="f_red">&nbsp;&nbsp;</label> <input type="button"
									value="搜 索" class="numberSearch" id="bt_groupQry" />
							</dd>
						</dl>
						<!-- <dl class="noBorder">
							<dd>
								<label class="f_red">&nbsp;&nbsp;</label> <input type="button"
									value="搜 索" class="numberSearch" id="bt_groupQry" />
							</dd>
						</dl> -->
					</div>
					<!--列表-->
					<div class="phone_warp" id="group_list">
						<table class="numberList">
							<thead>
								<tr>
									<td width="80">群地区</td>
									<td width="130">群号</td>
									<td width="90">证件号码</td>
									<td width="80">客户名称</td>
									<td width="130">产品规格名称</td>
									<td width="150">开始时间</td>
									<td width="80">结束时间</td>
									<td width="80">状态</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<!--页码-->
						<div class="paging">
							<label><span class="pageUpGray">上一页</span></label> <label
								id="pageNum"> <a class="pagingSelect" href="#">1</a>
							</label> <label><span class="pageUpGray">下一页</span></label> <label
								class="marginTop4">共0 页</label> <label class="marginTop4">跳转至</label>
							<input type="text" class="inputW20H20" /> <label
								class="marginTop4">页</label> <a href="javascript:void(0)"
								class="determineBtn">跳转</a>
						</div>
						<!--页码 end-->

					</div>


				</div>

			</div>
		</div>
		<!--订单准备 end-->
	</div>


</div>
<!--内容 end-->
<div id="d_cartInfo" style="display: none"></div>
<div id="cart_link" style="display: none"></div>


<div class="easyDialogdiv"
	style="width: 650px; height: 115px; display: none" id="d_area">
	<div class="easyDialogclose" id="d_area_close"></div>
	<table class="contract_list">
		<thead>
			<tr>
				<td>地区选择</td>
			</tr>
		</thead>
	</table>
	<div class="infoBox">
		<table class="network">
			<tbody>
				<tr>
					<td width="20"></td>
					<td width="480"><select id="q_area2" name="q_area2"
						style="width: 120px">
							<option value="">--请选择--</option>
					</select> <select id="q_area3" name="q_area3" style="width: 150px">
							<option value="">--请选择--</option>
					</select> <select id="q_area4" name="q_area4" style="width: 180px">
							<option value="">--请选择--</option>
					</select></td>
					<td width="40"><input type="hidden" id="b_areaAll" value="N">
						<input type="button" value="确 认" class="numberSearch"
						id="bt_area_config" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="easyDialogdiv"
	style="width: 780px; height: 460px; display: none" id="d_offer">
	<div class="easyDialogclose" id="d_offer_close"></div>
	<div id="d_offer_info"></div>
</div>

</@override> 
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" > 
<@extends name="/mvno-template.html"/> 
<#else> <@extends name="/main-template.html"/> 
</#if>
