<#if code?? && (code>=0) >
<table class="numberList" id="tab_orderList">
	<thead>
		<tr>
			<td width="130">接入号</td>
			<td width="80">成员地区</td>
			<td width="90">证件号码</td>
			<td width="80">客户名称</td>
			<td width="130">产品规格名称</td>
			<td width="150">开始时间</td>
			<td width="80">结束时间</td>
			<td width="80">状态</td>
		</tr>
	</thead>
	<tbody>
		<#if (pageModel.list)?? &&((pageModel.list)?size>0)> 
		<#list pageModel.list as groupInfo >
		<tr>
			<td>${groupInfo.accessNbr}</td>
			<td>${groupInfo.areaName}</td>
			<td>${groupInfo.identityNum}</td>
			<td>${groupInfo.custName}</td>
			<td>${groupInfo.prodSpecName}</td>
			<td>${groupInfo.startDate}</td>
			<td>${groupInfo.endDate}</td>
			<td>${groupInfo.statusName}</td>
		</tr>
		</#list> 
		<#else>
		<tr>
			<td colspan="8">没有查询到结果</td>
		</tr>
		</#if>
	</tbody>
</table>

<!--页码-->
<@portal.modelPagination pageModel 10 "group.main.queryGroupMemberList"/>
<!--页码 end-->

<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}"
	type="text/javascript"></script>

<#else>
	${mess}
</#if>
