<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ailk.ecsp.mybatis.mapper.IntfUrlMapper" >
  <resultMap id="IntfUrlResultMap" type="com.ailk.ecsp.mybatis.model.IntfUrl" >
    <result column="INTF_ID" property="intfId" jdbcType="DECIMAL" />
    <result column="INTF_URL" property="intfUrl" jdbcType="VARCHAR" />
    <result column="INTF_TYPE" property="intfType" jdbcType="VARCHAR" />
    <result column="INTF_DESC" property="intfDesc" jdbcType="VARCHAR" />
    <result column="INTF_CODE" property="intfCode" jdbcType="VARCHAR" />
    <result column="INTF_NAME" property="intfName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryIntfUrlCount" resultType="int">
     select count(1) from SP_INTF_URL
   </select>
  
  <select id="queryIntfUrl" parameterType="map" resultMap="IntfUrlResultMap" >
   	<![CDATA[
	    SELECT * 
		FROM(
			SELECT ROWNUM r,t1.* 
			FROM SP_INTF_URL  t1 
			where rownum < #{endIndex}
			order by t1.intf_id desc
		) t2 
		where t2.r >= #{startIndex}
	]]>
   </select>
   
   <select id="queryIntfUrlAll" parameterType="map" resultMap="IntfUrlResultMap" >
   	 select * from SP_INTF_URL
   </select>
  <insert id="insertIntfUrl" parameterType="com.ailk.ecsp.mybatis.model.IntfUrl" >
    insert into SP_INTF_URL
    <trim prefix="(" suffix=")" suffixOverrides="," >
       INTF_ID,
      <if test="intfUrl != null" >
        INTF_URL,
      </if>
      <if test="intfType != null" >
        INTF_TYPE,
      </if>
      <if test="intfDesc != null" >
        INTF_DESC,
      </if>
      <if test="intfCode != null" >
        INTF_CODE,
      </if>
      <if test="intfName != null" >
        INTF_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      INTF_URL_SEQ.nextval,
      <if test="intfUrl != null" >
        #{intfUrl,jdbcType=VARCHAR},
      </if>
      <if test="intfType != null" >
        #{intfType,jdbcType=VARCHAR},
      </if>
      <if test="intfDesc != null" >
        #{intfDesc,jdbcType=VARCHAR},
      </if>
      <if test="intfCode != null" >
        #{intfCode,jdbcType=VARCHAR},
      </if>
      <if test="intfName != null" >
        #{INTF_NAME,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateIntfUrl" parameterType="com.ailk.ecsp.mybatis.model.IntfUrl" >
    update SP_INTF_URL
    <set >
      <if test="intfUrl != null" >
        INTF_URL = #{intfUrl,jdbcType=VARCHAR},
      </if>
      <if test="intfType != null" >
        INTF_TYPE = #{intfType,jdbcType=VARCHAR},
      </if>
      <if test="intfDesc != null" >
        INTF_DESC = #{intfDesc,jdbcType=VARCHAR},
      </if>
      <if test="intfCode != null" >
        INTF_CODE = #{intfCode,jdbcType=VARCHAR},
      </if>
      <if test="intfName != null" >
        INTF_NAME = #{intfName,jdbcType=VARCHAR},
      </if>
    </set>
    where INTF_ID = #{intfId}
  </update>
  <delete id="deleteIntfUrl" parameterType="long" >
    delete from SP_INTF_URL where INTF_ID = #{intfId}
  </delete>
</mapper>