<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ailk.ecsp.mybatis.mapper.ServicePackMapper" >
  <resultMap id="ServicePackResultMap" type="com.ailk.ecsp.mybatis.model.ServicePack" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SERVICE_ID" property="serviceId" jdbcType="DECIMAL" />
    <result column="PACK_ID" property="packId" jdbcType="DECIMAL" />
  </resultMap>

  <insert id="insertServicePack" parameterType="com.ailk.ecsp.mybatis.model.ServicePack" >
    insert into SP_SERVICE_PACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="packId != null" >
        PACK_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        service_pack_seq.nextval,
      <if test="serviceId != null" >
        #{serviceId,jdbcType=DECIMAL},
      </if>
      <if test="packId != null" >
        #{packId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
   <delete id="deleteServicePack" parameterType="long" >
    delete from SP_SERVICE_PACK where SERVICE_ID = #{serviceId}
  </delete>

  </mapper>