<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ailk.ecsp.mybatis.mapper.ServiceMapper">
  <resultMap id="ServiceResultMap" type="com.ailk.ecsp.mybatis.model.ServiceModel">
    <id column="SERVICE_ID" jdbcType="DECIMAL" property="serviceId" />
    <result column="SERVICE_CODE" jdbcType="VARCHAR" property="serviceCode" />
    <result column="SERVICE_TYPE" jdbcType="CHAR" property="serviceType" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
    <result column="CLASS_PATH" jdbcType="VARCHAR" property="classPath" />
    <result column="IS_ATOMIC" jdbcType="CHAR" property="isAtomic" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PACK_CODE" jdbcType="VARCHAR" property="packCode" />
    <result column="PACK_PATH" jdbcType="VARCHAR" property="packPath" />
    <result column="PACK_TYPE" jdbcType="VARCHAR" property="packType" />
    <result column="PACK_NAME" jdbcType="VARCHAR" property="packName" />
    <result column="METHOD_NAME" jdbcType="VARCHAR" property="methodName" />
    <result column="OUT_PARAM_TYPE" jdbcType="VARCHAR" property="outParamType" />
    <result column="VISIT_TYPE" jdbcType="VARCHAR" property="visitType" />
    <result column="INTF_ID" jdbcType="DECIMAL" property="intfId" />
    <result column="INTF_URL" jdbcType="VARCHAR" property="intfUrl" />
    <result column="INTF_CODE" jdbcType="VARCHAR" property="intfCode" />
    <result column="INTF_NAME" jdbcType="VARCHAR" property="intfName" />
    <result column="INTF_TYPE" jdbcType="VARCHAR" property="intfType" />
    
  </resultMap>
  
  <select id="queryAllService"  resultMap="ServiceResultMap">
    select 
      s.*,
      u.*,
      p.pack_code,
      p.pack_name,
      p.pack_path,
      p.pack_type  
	from sp_service s,
	     sp_service_pack sp,
	     sp_pack p,
	     sp_intf_url u
	where s.service_id = sp.service_id(+) 
      and sp.pack_id = p.pack_id(+) 
      and s.intf_id = u.intf_id(+)
  </select>
  
  <select id="queryServicesByPackCode" parameterType="java.lang.String" resultMap="ServiceResultMap">
  	select 
      s.*,
      u.*,
      p.pack_code,
      p.pack_name,
      p.pack_path,
      p.pack_type  
	from sp_service s,
	     sp_service_pack sp,
	     sp_pack p,
	     sp_intf_url u
	where s.service_id = sp.service_id(+) 
      and sp.pack_id = p.pack_id(+) 
      and p.pack_code = #{packCode}
      and s.intf_id = u.intf_id(+)
  </select>
  
  <select id="findService" parameterType="java.lang.String" resultMap="ServiceResultMap">
  	select 
      s.*,
      u.*,
      p.pack_code,
      p.pack_name,
      p.pack_path,
      p.pack_type  
	from sp_service s,
	     sp_service_pack sp,
	     sp_pack p,
	     sp_intf_url u
	where s.service_id = sp.service_id(+) 
      and sp.pack_id = p.pack_id(+) 
      and s.service_code = #{serviceCode}
      and s.intf_id = u.intf_id(+)
  </select>

  <select id="queryService"  parameterType="map" resultMap="ServiceResultMap">
  	<![CDATA[
		    select * from 
			(
			    select t.*,ROWNUM r from
			          (select 
			                    s.*,
			                    u.intf_url,
			                    u.intf_name,
			                    p.pack_code,
			                    p.pack_name,
			                    p.pack_path,
			                    p.pack_type
			                from sp_service s,
			                     sp_service_pack sp,
			                     sp_pack p,
			                     sp_intf_url u
			                where s.service_id = sp.service_id(+) 
			                    and sp.pack_id = p.pack_id(+) 
			                    and s.intf_id = u.intf_id(+)
			                    order by  s.service_id desc
			          ) t
			    WHERE ROWNUM < #{endIndex} 
			) 
			WHERE r >= #{startIndex}     
	 ]]>
  </select>
  <select id="queryServiceCount" resultType="int">
     SELECT count(1) 
     FROM sp_service s,
          sp_service_pack sp,
          sp_pack p,
          sp_intf_url u
    WHERE s.service_id = sp.service_id(+) 
        AND sp.pack_id = p.pack_id(+) 
        AND s.intf_id = u.intf_id(+)
   </select>
   
   
   <insert id="insertService" parameterType="com.ailk.ecsp.mybatis.model.ServiceModel" >
     <selectKey resultType="long" keyProperty="serviceId" order="BEFORE"> 
            SELECT service_seq.NEXTVAL FROM DUAL 
     </selectKey> 
    insert into SP_SERVICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="serviceCode != null" >
        SERVICE_CODE,
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE,
      </if>
      <if test="serviceName != null" >
        SERVICE_NAME,
      </if>
      <if test="classPath != null" >
        CLASS_PATH,
      </if>
      <if test="isAtomic != null" >
        IS_ATOMIC,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
        CREAT_TIME,
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="intfId != null" >
        INTF_ID,
      </if>
      <if test="methodName != null" >
        METHOD_NAME,
      </if>
      <if test="outParamType != null" >
        OUT_PARAM_TYPE,
      </if>
      <if test="visitType != null" >
        VISIT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        #{serviceId,jdbcType=DECIMAL},
      </if>
      <if test="serviceCode != null" >
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=CHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="classPath != null" >
        #{classPath,jdbcType=VARCHAR},
      </if>
      <if test="isAtomic != null" >
        #{isAtomic,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
       sysdate,
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="intfId != null" >
        #{intfId,jdbcType=DECIMAL},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="outParamType != null" >
        #{outParamType,jdbcType=VARCHAR},
      </if>
      <if test="visitType != null" >
        #{visitType,jdbcType=VARCHAR},
      </if>
    </trim>
    
  </insert>
  
  <delete id="deleteService" parameterType="long" >
    delete from SP_SERVICE where SERVICE_ID = #{serviceId}
  </delete>
  
</mapper>