<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ailk.ecsp.mybatis.mapper.SystemDataMapper">
 
  <resultMap id="PortalResultMap" type="com.ailk.ecsp.mybatis.model.Portal">
    <id column="PORTAL_ID" jdbcType="DECIMAL" property="portalId" />
    <result column="PORTAL_CODE" jdbcType="VARCHAR" property="portalCode" />
    <result column="PORTAL_NAME" jdbcType="VARCHAR" property="portalName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="STAFF" jdbcType="VARCHAR" property="staff" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  
  <resultMap id="ServiceRoleResultMap" type="com.ailk.ecsp.mybatis.model.ServiceRole">
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="USE_PORTAL" jdbcType="VARCHAR" property="usePortal" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  
  <resultMap id="RoleServiceResultMap" type="com.ailk.ecsp.mybatis.model.RoleService">
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="SERVICE_CODE" jdbcType="VARCHAR" property="serviceCode" />
  </resultMap>
  
  <resultMap id="SysParamResultMap" type="com.ailk.ecsp.mybatis.model.SysParam">
    <id column="PARAM_ID" jdbcType="DECIMAL" property="paramId" />
    <result column="PARAM_CODE" jdbcType="VARCHAR" property="paramCode" />
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName" />
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="PARAM_DESC" jdbcType="VARCHAR" property="paramDesc" />
    <result column="SORT_ORDER" jdbcType="DECIMAL" property="sortOrder" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue" />
  </resultMap>
  
  <select id="queryAllPoral" resultMap="PortalResultMap">
    select * from sp_portal
  </select>
  
  <select id="findPortal" parameterType="java.lang.String" resultMap="PortalResultMap">
    select * from sp_portal t where t.portal_code = #{portalCode}
  </select>
  
   <select id="queryAllRole" resultMap="ServiceRoleResultMap">
     select * from sp_service_role
   </select>
   
   <select id="findRole" resultMap="ServiceRoleResultMap">
     select * from sp_service_role t where t.role_code = #{roleCode}
   </select>
  
   <select id="queryRoleServices" resultMap="RoleServiceResultMap">
     select DISTINCT sr.role_code,s.service_code
     from sp_role_service r, sp_service s, sp_service_role sr
     where r.role_id = sr.role_id and r.service_id = s.service_id 
   </select>
   
   <select id="queryRoleServicesByCode" parameterType="java.lang.String" resultMap="RoleServiceResultMap">
     select DISTINCT sr.role_code,s.service_code
     from   sp_role_service r, sp_service s, sp_service_role sr
     where  r.role_id = sr.role_id 
       and  r.service_id = s.service_id 
       and  sr.role_code = #{roleCode}
   </select>
   
   <select id="queryAllSysParam" resultMap="SysParamResultMap">
     select t.* from sp_sys_param t where t.state='0'
   </select>
   
   <select id="querySysParamCount" resultType="int">
     select count(1) from sp_sys_param
   </select>
   
   <select id="querySysParam" parameterType="map" resultMap="SysParamResultMap" >
   	<![CDATA[
	    SELECT * 
		FROM(
			SELECT ROWNUM r,t1.* 
			FROM sp_sys_param  t1 
			where rownum < #{endIndex}
			order by t1.param_id desc
		) t2 
		where t2.r >= #{startIndex}
	]]>
   </select>
   
   <insert id="insertSysParam" parameterType="com.ailk.ecsp.mybatis.model.SysParam" >
    insert into SP_SYS_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PARAM_ID,
      <if test="paramCode != null" >
        PARAM_CODE,
      </if>
      <if test="paramName != null" >
        PARAM_NAME,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="sortOrder != null" >
        SORT_ORDER,
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       sys_param_seq.nextval,
      <if test="paramCode != null" >
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="paramDesc != null" >
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=DECIMAL},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateSysParam" parameterType="com.ailk.ecsp.mybatis.model.SysParam" >
    update SP_SYS_PARAM
    <set >
      <if test="paramCode != null" >
        PARAM_CODE = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="paramDesc != null" >
        PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
    </set>
    where param_id = #{paramId}
  </update>
  
  <delete id="deleteSysParam" parameterType="long" >
    delete from SP_SYS_PARAM where param_id = #{paramId}
  </delete>
  
  <select id="queryPortal" parameterType="map" resultMap="PortalResultMap" >
   	<![CDATA[
	    SELECT * 
		FROM(
			SELECT ROWNUM r,t1.* 
			FROM sp_portal  t1 
			where rownum < #{endIndex}
			order by t1.portal_id desc
		) t2 
		where t2.r >= #{startIndex}
	]]>
   </select>
  
  <select id="queryPortalCount" resultType="int">
     select count(1) from sp_portal
   </select>
  
  <insert id="insertPortal" parameterType="com.ailk.ecsp.mybatis.model.Portal" >
    insert into SP_PORTAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PORTAL_ID,
      <if test="portalCode != null" >
        PORTAL_CODE,
      </if>
      <if test="portalName != null" >
        PORTAL_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="creatTime != null" >
        CREAT_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       portal_seq.nextval,
      <if test="portalCode != null" >
        #{portalCode,jdbcType=VARCHAR},
      </if>
      <if test="portalName != null" >
        #{portalName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updatePortal" parameterType="com.ailk.ecsp.mybatis.model.Portal" >
    update SP_PORTAL
    <set >
      <if test="portalCode != null" >
        PORTAL_CODE = #{portalCode,jdbcType=VARCHAR},
      </if>
      <if test="portalName != null" >
        PORTAL_NAME = #{portalName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where PORTAL_ID = #{portalId}
  </update>
  
  <delete id="deletePortal" parameterType="long" >
    delete from SP_PORTAL where portal_id = #{portalId}
  </delete>
  
  
  <select id="queryRole" parameterType="map" resultMap="ServiceRoleResultMap" >
   	<![CDATA[
	    SELECT * 
		FROM(
			SELECT ROWNUM r,t1.* 
			FROM sp_service_role  t1 
			where rownum < #{endIndex}
			order by t1.role_id desc
		) t2 
		where t2.r >= #{startIndex}
	]]>
   </select>
   
   <select id="queryRoleCount" resultType="int">
     select count(1) from sp_service_role
   </select>
  
  <insert id="insertRole" parameterType="com.ailk.ecsp.mybatis.model.ServiceRole" >
    insert into SP_SERVICE_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ROLE_ID,
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="usePortal != null" >
        USE_PORTAL,
      </if>
      <if test="creatTime != null" >
        CREAT_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       role_seq.nextval,
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="usePortal != null" >
        #{usePortal,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteRole" parameterType="long" >
    delete from sp_service_role where role_id = #{roleId}
  </delete>
  
  <update id="updateRole" parameterType="com.ailk.ecsp.mybatis.model.ServiceRole" >
    update SP_SERVICE_ROLE
    <set >
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="usePortal != null" >
        USE_PORTAL = #{usePortal,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId}
  </update>
  
</mapper>