<#if (batchOrderFlag)?? && batchOrderFlag =="Y">
<!-- 执行新代码 -->
<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
    <table class="numberList" >
       <thead>
	     <tr>
	       <td width="15%">批次号</td>
	       <td width="10%">受理工号</td>
	       <td width="14%">受理时间</td>
	       <!--<td width="10%">区号</td> -->
	       <!--<td width="15%">创建时间</td>  -->
	       <td width="10%">预约日期</td>
	       <td width="10%">批次状态</td>
	       <td width="6%">受理类型</td>
	       <td width="10%">操作</td>
	       <td width="11%">查询</td>
	     </tr>
	     </thead>
	     <tbody>
	     <#list pageModel.list as childList>
	     	 <tr>
	     	 	<td>${childList.groupId}</td>
	     	 	<td>${childList.staffCode}</td>
	     	 	<!--  <td>${childList.boProd2Td}</td>-->
	     	 	<!-- <td>${childList.zoneNumber}</td> -->
	     	 	<td>${childList.createDt}</td>
	     	 	<td>
	     	 		<#if childList.reserveDt== "-1">立即执行
		     	 	<#else>${childList.reserveDt}
		     	 	</#if>
	     	 	</td>
	     	 	<td>
	     	 		<#if (childList.groupStatusCd)?? >
			     	 	<#if childList.groupStatusCd=="D">未处理
			     	 	<#elseif childList.groupStatusCd=="T">处理中
			     	 	<#elseif childList.groupStatusCd=="C">已处理
			     	 	<#elseif childList.groupStatusCd=="AC">全部取消
			     	 	<#elseif childList.groupStatusCd=="PC">部分取消
			     	 	</#if>
			     	 <#else>
			     	 	<!-- 旧有的批次不具备“批次状态groupStatusCd” -->
			     	 </#if>
		     	 	<!-- 
		     	 	<#if childList.statusCd=="PC">派发成功
		     	 	<#elseif childList.statusCd=="PD">派发失败
		     	 	<#elseif childList.statusCd=="Q">导入成功
		     	 	<#elseif childList.statusCd=="S">购物车生成成功
		     	 	<#elseif childList.statusCd=="X">购物车生成失败
		     	 	<#elseif childList.statusCd=="PW">正在派发中
		     	 	<#elseif childList.statusCd=="C">发送后端成功
		     	 	<#elseif childList.statusCd=="PE">等待重新派发
		     	 	<#elseif childList.statusCd=="F">发送后端失败
		     	 	<#elseif childList.statusCd=="DL">受理处理中
		     	 	<#elseif childList.statusCd=="RC">返销成功
		     	 	</#if>
		     	 	 -->
	     	 	</td>
	     	 	<!-- <td>${childList.msgInfo}</td> -->
	     	 	<td>
		     	 	<#if childList.batchType=="0">批开活卡
		     	 	<#elseif childList.batchType=="1">批量新装
		     	 	<#elseif childList.batchType=="2">批量订/退附属(开关服务)
		     	 	<#elseif childList.batchType=="3">组合产品纳入退出
		     	 	<#elseif childList.batchType=="4">批量修改产品属性
		     	 	<#elseif childList.batchType=="5">批量换档
		     	 	<#elseif childList.batchType=="6">
		     	 	<#elseif childList.batchType=="7">
		     	 	<#elseif childList.batchType=="8">拆机
		     	 	<#elseif childList.batchType=="9">批量修改发展人
		     	 	<#elseif childList.batchType=="10">批量裸机销售
		     	 	<#elseif childList.batchType=="11">批量换档
		     	 	</#if>
				</td>
	     	 	<td>
		     	 	<i id="plan_detail" onclick="order.batch.batchCancel('${childList.groupId}','${childList.groupStatusCd}')">取消</i>&nbsp;
		     	 	<i id="plan_detail" onclick="order.batch.batchUpdateMain('${childList.groupId}','${childList.reserveDt}','${childList.groupStatusCd}')">修改</i>&nbsp;
	     	 	</td>
	     	 	<td>
		     	 	<i id="plan_detail" onclick="order.batch.batchProgressQuery('${childList.groupId}','${childList.batchType}',1)">进度查询</i>
		     	 	<i id="plan_detail" onclick="order.batch.batchStatusQuery('${childList.groupId}')">批次查询</i>
	     	 	</td>
	     	 </tr>
	     </#list>
	   </tbody>
	</table>
	
<@portal.modelPagination pageModel 5 "order.batch.batchOrderQueryList"/>
<input type="hidden" name="totalNum" id="totalNum" value="${totalNum}"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<#else>
    <div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>
<!-- 批量受理结果查询弹出框 --start-->	 
<div id = "batchStatusQuery_dialog" class="easyDialogdiv" style="width: 900px; height: 350px; display: none; margin: 0px;"></div>	
<!-- 批量受理结果查询弹出框 --end-->

<!-- 进度查询弹出框 --start-->	 
<div id = "batchProgressQuery_dialog" class="easyDialogdiv" style="width: 1080px; height: 460px; display: none; margin: 0px;"></div>	
<!-- 进度查询弹出框 --end-->

<!-- 批次信息查询下的修改弹出框 --start-->
<div style="width:500px;display:none" id="ec-dialog-form-container-update" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">预约时间修改</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" style="height:200px" >
      <form action="#" style="" id="dialogForm">
        <div class="form-content" id="batchUpdate_dialog" style="min-height:200px">      
        </div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!-- 批次信息查询下的修改弹出框 --end-->

<!-- 批次信息查询下的删除弹出框 --start-->
<div style="width:500px; display:none" id="ec-dialog-form-container-cancel" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">批次删除</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" style="height:200px" >
      <form action="#" style="" id="dialogForm">
        <div class="form-content" id="batchCancel_dialog" style="min-height:200px">      
        </div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!-- 批次信息查询下的删除弹出框 --end-->

<#else>
<!-- -----------------------------------------------------执行旧代码 ----------------------------------------------------------->
<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
    <table class="numberList" >
       <thead>
	     <tr>
	       <td width="15%">批次号</td>
	       <td width="10%">主接入号</td>
	       <td width="14%">uim卡号</td>
	       <!--<td width="10%">区号</td> -->
	       <!--<td width="15%">创建时间</td>  -->
	       <td width="10%">受理时间</td>
	       <td width="10%">受理状态</td>
	       <td width="16%">反馈信息</td>
	       <td width="5%">操作</td>
	       <td width="10%">订单状态</td>
	     </tr>
	     </thead>
	     <tbody>
	     <#list pageModel.list as childList>
	     	 <tr>
	     	 	<td>${childList.groupId}</td>
	     	 	<td>
	     	 	<#if childList.boProdAn=="">
	     	 	${childList.accessNumber}
	     	 	<#else>
	     	 	${childList.boProdAn}
	     	 	</#if>
	     	 	</td>
	     	 	<td>${childList.boProd2Td}</td>
	     	 	<!-- <td>${childList.zoneNumber}</td> -->
	     	 	<!--  <td>${childList.createDt}</td>-->
	     	 	<td>${childList.genOlDt}</td>
	     	 	<td>
	     	 	<#if childList.statusCd=="PC">派发成功
	     	 	<#elseif childList.statusCd=="PD">派发失败
	     	 	<#elseif childList.statusCd=="Q">导入成功
	     	 	<#elseif childList.statusCd=="S">购物车生成成功
	     	 	<#elseif childList.statusCd=="X">购物车生成失败
	     	 	<#elseif childList.statusCd=="PW">正在派发中
	     	 	<#elseif childList.statusCd=="C">发送后端成功
	     	 	<#elseif childList.statusCd=="PE">等待重新派发
	     	 	<#elseif childList.statusCd=="F">发送后端失败
	     	 	<#elseif childList.statusCd=="DL">受理处理中
	     	 	<#elseif childList.statusCd=="RC">返销成功
	     	 	</#if>
	     	 	</td>
	     	 	<!-- <td>${childList.msgInfo}</td> -->
	     	 	<td>
	     	 		<#if childList.statusCd !="C" && (childList.msgInfo?length > 20)>
	   					<a class="cartLink_fail" style="color:red;" onclick="order.batch.slideFailInfo(this)">【处理失败】</a>
	   					<p style="display:none;line-height:20px;">${childList.msgInfo}</p>
					<#else>
	   					${childList.msgInfo}
					</#if>
				</td>
	     	 	<td>
	     	 		
	     	 	</td>
	     	 	<td>
	     	 		${childList.orderStatusName}
	     	 	</td>
	     	 </tr>
	     </#list>
	   </tbody>
	</table>
	
<@portal.modelPagination pageModel 5 "order.batch.batchImportList"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<#else>
    <div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>

</#if>