<#if errorStack??>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left">错误编码【${errorStack.data.errCode}】${errorStack.data.errMsg}<a style=" color: #FF0000;font-weight: bold;" id="alertMoreOp" href="javascript:void(0);" onclick="order.batch.getMoreError();">&nbsp;【更多】&nbsp;</a></div>
		<br/>
		<span id="alertMoreContent" style="display:none"> <span style="color: #0000FF;font-weight: bold;">【详细信息】</span>
			<br/>
			<span style="color: #0000FF;font-weight: bold;">入参：</span>
			<br/>
			<span style="word-wrap: break-word;word-break:break-all"> ${errorStack.data.paramMap} </span>
			<br/>
			<#if errorStack.data.resultMap??> <span style="color: #0000FF;font-weight: bold;">回参：</span>
			<br/>
			<span> ${errorStack.data.resultMap}</span>
			<br/>
			</#if> <span style="color: #0000FF;font-weight: bold;">异常信息：</span>
			<br/>
			<span> ${errorStack.data.errData} </span>
			<br/>
		</span></td>
	</tr>
</table>
<#else>
<#if message?? && message != "">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td> <#if code?? && code == "0"> <i class="rule_icon"></i> <#elseif code?? && code= "-1"> <i class="rule_icon_wrong"></i> </#if> </td>
		<td> <#if code??> <span class="rule_font">${message}</span></#if></td>
	</tr>
</table>
<#else>
<!-- 
<#if terminalInfoList?? && (terminalInfoList?size>0)>
<#else>
<div class="no_search">
	<div class="h1">
		<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
	</div>
</div>
</#if>
 -->
 </#if>
</#if>