<@override name="title">批量受理查询(营销资源)</@override>
<@override name="header">
<script src="${contextPath}/js/4g-js/order/orderInfo.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/batchOrder/batchOrder.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/areaTree.js?${jsversion}" type="text/javascript"></script>
</@override>
<@override name="content">
<input type="hidden" id="permissionsType" value="${permissionsType}" />
<div class="main_div">
	<div class="main_warp" id="order_fill_content">
		<h2 class="h2_title">批量受理查询(营销资源)</h2>
		<div class="order">
			<div class="order_content" style="border: none; padding: 10px">
				<input type="hidden" id="queryType" value="importQuery" />
				<div class="order_tab_panel" style="display: block;">
					<div class="selectList">
						<dl>
							<dt>受理类型：</dt>
							<dd>
								<select class="numberTextBox" style="width: 164px" id="mktResBatchType">
									<option value="BATCH30001">批量终端领用</option>
									<option value="BATCH30002">批量领用回退</option>
									<option value="BATCH30003">批量终端销售</option>
								</select> <label class="f_red">*&nbsp;</label>
							</dd>

							<dt>
								<label for="groupId_checkbox" style="cursor: pointer;">批次号：</label>
							</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width: 160px" id="batchId" value="" />
							</dd>

							<dt>
								<label for="" style="cursor: pointer;">创建时间：</label>
							</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width: 160px" id="startDt" readonly="readonly" value="${startDt}" />
							</dd>
							<dt>--->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width: 158px" id="endDt" readonly="readonly" value="${endDt}" />
							</dd>

							<dd>
								<input type="button" value="搜 索" class="numberSearch" id="bt_queryEcsBatchOrder" onclick="order.batch.queryEcsBatchOrderList('1');" />
							</dd>
						</dl>
					</div>
					<div id="ecsBatchOrderlist" class="phone_warp"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</@override> <#if Session["_session_portal_type"]?? &&
Session["_session_portal_type"]=="MVNO" > <@extends
name="/mvno-template.html"/> <#else> <@extends
name="/content-template.html"/> </#if>
