<#if flag==0>
<table width="100%" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" colspan="6" class="green">转售CRM计费帐单</td>
    </tr>
    <tr>
      <td align="center" class="green" width="100px">帐户名称：</td>
      <td align="left"><font>${acctName}</font></td>
      <td align="center" class="green" width="100px">帐单周期：</td>
      <td align="left"><font>${billingCycle}</font></td>
      <td align="center" class="green" width="100px">出单时间：</td>
      <td align="left"><font>${queryTime}</font></td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" colspan="3" class="green">帐户费用信息</td>
    </tr>
    <tr>
      <td align="center" width="100px">序号</td>
      <td align="center">费用项目</td>
      <td width="100px" align="center">金额（元）</td>
    </tr>
    <#list chargeItems as chargeItemLv1>
    <#assign childChargeItems = chargeItemLv1.childChargeItems/>
    <#if (childChargeItems?size>0)>
    <tr>
      <td align="center" width="100px">${chargeItemLv1_index+1}</td>
      <td align="left" class="green">${chargeItemLv1.chargeTypeName}</td>
      <td width="100px" align="center"></td>
    </tr>
      <#list childChargeItems as chargeItemLv2>
      <#assign childChargeItems = chargeItemLv2.childChargeItems/>
      <tr>
        <td align="center" width="100px"></td>
        <td align="left" class="strong">${chargeItemLv2.chargeTypeName}</td>
        <td align="center" width="100px">${chargeItemLv2.charge?number/100}</td>
      </tr>
        <#list childChargeItems as chargeItemLv3>
        <#assign childChargeItems = chargeItemLv3.childChargeItems/>
        <tr>
          <td align="center" width="100px"></td>
          <td align="left" class="strong2">${chargeItemLv3.chargeTypeName}</td>
          <td align="center" width="100px">${chargeItemLv3.charge?number/100}</td>
        </tr>
          <#list childChargeItems as chargeItemLv4>
          <tr>
            <td align="center" width="100px"></td>
            <td align="left" class="billintent25">${chargeItemLv4.chargeTypeName}</td>
            <td align="center" width="100px">${chargeItemLv4.charge?number/100}</td>
          </tr>
          </#list>
        </#list>
      </#list>
    <tr>
      <td align="center" width="100px"></td>
      <td align="left" class="orange">此项小计</td>
      <td width="100px" align="center" class="orange total">${chargeItemLv1.charge?number/100}</td>
    </tr>
    <#else>
    <tr>
      <td align="center" width="100px">${chargeItemLv1_index+1}</td>
      <td align="left" class="green">${chargeItemLv1.chargeTypeName}</td>
      <td width="100px" align="center">${chargeItemLv1.charge?number/100}</td>
    </tr>
    </#if>
    </#list>
  </tbody>
</table>
<table class="totalnoBorder" width="100%" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" style="font-size:14px">本期费用合计：<span class="total orange">${sumCharge?number/100}</span>元</td>
    </tr>
  </tbody>
</table>
<#elseif flag==1>
<#if errorMsg??><i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">查询失败：${errorMsg}</p><#else>fail</#if>
<#else>
error
</#if>