@charset "utf-8";
/* CSS Document */
/* 模块样式 */

/* 首页左侧 */
.side_warp{ margin-bottom:10px;background-color: #FFFFFF;border: 1px solid #d3d8d0;border-radius: 5px 5px 5px 5px;
box-shadow: 0 1px 1px #E5E5E5;} 
.side_warp h5{ height:43px; color:#75ac5f; font-size:18px;line-height:43px; position:relative;
border-bottom:1px dotted #d3d8d0; margin:0 10px; padding:0px 10px 0px 5px;}
.side_warp h5 img {vertical-align:middle; margin-right:8px; margin-top:-3px;}
.side_warp h5 span a img {vertical-align:middle; margin-right:0px;}
.side_warp h5 span{ position:absolute; right:5px; top:12px; display:block;width:16px;height:16px;}
.side_warp h5 span a{ font-size:12px; font-weight:100; line-height:18px; color:#396146;display:block}
.side_warp h5 span a:hover{ text-decoration:none;color:#63a004;}
.side_warp_box{ padding:13px;overflow:hidden; /*border:1px solid #83a283; border-top:none; background-color:#fff;*/}
.side_warp_box li{ font-size:13px; color:#797979; overflow:hidden;}
.side_warp_box li a{padding-left:15px; font-size:13px; color:#797979; white-space:nowrap; height:36px; line-height:36px; display:inline-block; width:234px; overflow:hidden;}
.side_warp_box li a.ft{ color:#ec9000;}
.side_warp_box li a.side_warp_box_ahot{ background:url(../image/common/side_warp_icon.gif) right top no-repeat; padding-right:25px;}
.side_warp_box li a:hover{/*color:#63a004;*/ background:url(../image/common/left_abg.png) no-repeat;}
/* 首页左侧 End */

/* 首页定制快捷 */
.selser_tab_panel{ display:none;}
.side_nav ul{ overflow:hidden;zoom:1;}
.side_nav li{ float:left;display:inline-block;height:29px; width:65px;text-align:center; margin-right:4px; }
.side_nav li a{font-size:13px; color:#D75100; font-weight:bold;  }
.side_nav li.current{ background:url(../image/common/side_nav.gif) no-repeat left bottom; cursor:pointer; }
.side_nav li.current a{color:#FFF; }
/* 首页定制快捷 End */

/* 首页右侧 */
.main_title .w, .main_title2 .w{ font-size:13px; font-weight:bold; margin-right:6px;}
.main_title, .main_title2{height:43px; color:#75ac5f; font-size:18px;line-height:43px; position:relative; border-bottom:1px solid #d3d8d0; border-top:1px solid #d3d8d0;background:#eef3eb;}
.main_title h5, .main_title2 h5 {height:43px; color:#75ac5f; font-size:18px; padding-left:5px;line-height:43px; position:relative;border-bottom:1px dotted #d3d8d0; margin:0 10px}
.main_title img {vertical-align:middle; margin-right:8px; margin-top:-3px}
.main_title2 img  {vertical-align:middle; margin-right:8px; margin-top:-3px}
.main_title span, .main_title2 span{ position:absolute; right:6px; top:10px;}
.main_title span a, .main_title2 span a{ font-size:12px; font-weight:100; line-height:18px; color:#396146;}
.main_title a.tab01, .main_title2 a.tab01 {background:url(../image/home/button_tab02.png) no-repeat; width:109px; height:38px; right:110px; top:5px; text-align:center; line-height:32px; color:#75ac5f; font-size:16px; font-weight:normal;position:absolute;}
.main_title a.tab02, .main_title2 a.tab02 {background:url(../image/home/button_tab02.png) no-repeat; width:109px; height:38px; right:0px; top:5px; text-align:center; line-height:32px; color:#75ac5f; font-size:16px; font-weight:normal; position:absolute;}
.main_title a.hottab, .main_title2 a.hottab {background:url(../image/home/button_tab01.png) no-repeat;color:#fff;}
.main_title span a:hover, .main_title2 span a:hover{ text-decoration:none;color:#63a004;}
.main_index{background:url(../image/home/homeconbg.png) repeat; overflow:hidden;}
/*.main_bottom {background:#FFF; border-left:1px solid #d3d8d0; border-bottom:1px solid #d3d8d0;display:block; }*/
.main_index_warp{ padding:10px 10px;}
.main_index_warp .customer_warp{border:1px solid #d6d6d6; background-color:#dadce9;}
/* 首页右侧 End */

/* 首页快捷 */
.main_index_warp .faster{ padding-left:18px;}
.main_index_warp .faster .faster_ul{ overflow:hidden;zoom:1; margin-bottom:16px;}
.main_index_warp .faster .faster_ul li{float:left; width:110px; height:110px; margin-right:20px; margin-top:16px; background:#fff; border:1px solid #e2e5e0; text-align:center; position:relative;}
.main_index_warp .faster .faster_ul li:hover {
	background:#effcf8; border:1px solid #71ab5a;;
}
.main_index_warp .faster .faster_ul li.quick_add {background:url(../image/common/quick_add.jpg); border:1px dashed #c5c5c5; display:block; cursor:pointer;}
.main_index_warp .faster .faster_ul li.quick_add:hover {background:url(../image/common/quick_add01.jpg); border:1px dashed #007c03;}
.main_index_warp .faster .faster_ul li a.quick_del {background:url(../image/main_sprite.png); background-position:-303px 0;width:16px; height:16px; display:none; position:absolute; top:4px; right:4px; cursor:pointer;}
.main_index_warp .faster .faster_ul li a.quick_del:hover {background:url(../image/main_sprite.png); background-position:-303px -17px; width:16px; height:16px;}
.main_index_warp .faster .faster_ul li p {float:left; font-size:14px; line-height:18px; height:36px; line-height:36px; width:100%; text-align:center; color:#75ac5f;}
.main_index_warp .faster .faster_ul li p a{font-size:14px;}
.main_index_warp .faster .faster_ul .faster_ul_img{ width:100%; height:74px; float:left; text-align:center;}
.main_index_warp .faster .faster_ul .faster_ul_img img{ margin:14px 0 0 0; cursor:pointer; width:56px;height:56px} 
.main_index_warp .faster .faster_btn{ background:url(../image/common/faster_btn.gif) no-repeat 0 0; display:block; width:146px; height:26px; cursor:pointer; margin-left:10px;}

.main_index_warp .news_info{ margin-bottom:10px;}
.main_index_warp .news_info_title{border:1px solid #d6d6d6;background:url(../image/common/customer_title_bg.gif) repeat-x 0 0; height:28px; line-height:28px; padding-left:40px; position:relative; font-weight:bold; margin-bottom:10px;}
.main_index_warp .news_info_title .news_icon{ position:absolute; left:6px; top:4px;background:url(../image/common/news_icon.gif) no-repeat 0 0; width:20px; height:19px; display:block;}
.main_index_warp .help_info{ margin-bottom:10px;}
.main_index_warp .help_info_title{border:1px solid #d6d6d6;background:url(../image/common/customer_title_bg.gif) repeat-x 0 0; height:28px; line-height:28px; padding-left:40px; position:relative; font-weight:bold;margin-bottom:10px;}
.main_index_warp .help_info_title .help_icon{ position:absolute; left:6px; top:4px;background:url(../image/common/help_icon.gif) no-repeat 0 0; width:20px; height:19px; display:block;}
.main_index_warp .help_warp{ overflow:hidden;zoom:1;}
.main_index_warp .help_warp_ul{ padding:6px; border:1px solid #fdbd65; background-color:#FEDFCC; width:90px; font-size:12px; float:left; margin-right:10px;}
.main_index_warp .help_warp_jt{background:url(../image/common/jt.gif) no-repeat 0 0;float:left; display:block; width:19px; height:25px; margin-right:10px; margin-top:16px;}
.main_index_warp .help_warp_ul li{ background-color:#FFFFFF; text-align:right; padding:3px 4px;}
.main_index_warp .help_warp_ul .title{ font-size:14px; font-weight:bold; color:#D75100;}
	<!--快捷功能-->
.quick{overflow:hidden; zoom:1; background-color:#FFFFFF;}
.set{border:2px solid #95B27B ;background-color:#f6f9f8;}
.set_l{ float:left; width:144px;}
.side_nav{padding:0;overflow:hidden;overflow:hidden;zoom:1;background-color:#F3FBEC;height:246px;_height:expression(this.scrollheight < 230 ? "230px" : "auto");}
.side_nav h2{ line-height:30px; font-size:13px; font-weight:bold; padding-left:10px; padding-bottom:3px; margin-bottom:3px; margin:0 4px; }
.side_nav a{ display:block; width:144px; text-align:center;color:#606060;zoom:1;font-size:13px;font-family:"微软雅黑"; height:31px; line-height:31px; margin-bottom:4px;}
.side_nav .side_nav_hover{color:#fff; font-weight:bold;  font-size:13px;font-family:"微软雅黑"; background-color:#95B27B;}

.set_r{ float:left;width:600px; }
.set_r .sidelisthide{ padding:16px 17px; padding-bottom:0;border-left:1px solid #e0e9e6;min-height:230px;_height:expression(this.scrollheight < 230 ? "230px" : "auto"); }
#back_secmenu{ background:#95b27b; border:none; color:#fff; padding:4px 8px 4px 18px; line-height:22px; height:22px; border-radius:4px; *margin-right:20px}
.ul_list{zoom:1; }
.ul_list ul{ float:left;margin-bottom:20px;position:relative; width:90px;padding-bottom:10px;text-align:center; margin-right:10px; border:1px dotted #d3d8d0; background-color:#FFFFFF;-webkit-border-radius: 8px;  
-moz-border-radius: 8px;  border-radius: 8px; cursor:pointer; }
.ul_list ul:hover{ border:1px dotted #95B27B; background-color:#FFFFE5; }
.ul_list .ul_sel{border:1px dashed #487F58; background-color:#FFFFE5; }
.ul_list ul li{overflow:hidden; zoom:1; text-align:center; }
.ul_list ul li .ul_list_img img{height:48px; width:48px; margin-top:6px }
.ul_list ul p{ margin-top:4px; padding:0 4px}
.ul_list ul p a{ width:100px; color:#266392; letter-spacing:1px; }
.ul_list .close{ position:absolute;right:-4px; top:-4px; background:url(../image/common/close2.png) no-repeat; height:16px; width:16px; cursor:pointer; z-index:66; display:none;}
.ul_list .thirdArrow{display:block; position:absolute;right:-4px; bottom:-4px; background:url(../image/common/close3.png) no-repeat;height:16px; width:16px; cursor:pointer; z-index:66; }
div.quick { padding:10px; color:#797979}
.quick_top_warp{ padding:1px;border:1px solid #d3d8d0; margin-bottom:8px;}
.quick_top{ padding:6px 10px; background-color:#fff;}
.quick_top h2{ line-height:20px; font-size:13px; font-weight:bold; padding-bottom:6px; margin-bottom:6px; border-bottom:1px dotted #d3d8d0; }
.quick_top .quick_top_ul{ overflow:hidden;zoom:1; margin-top:10px;}
.quick_top .quick_top_ul li{ float:left; width:84px; text-align:center; margin-bottom:6px; border:1px dotted #d3d8d0; padding:6px; margin-right:10px; border-radius:3px; background:#fff; cursor:pointer}
.quick_top .quick_top_ul li:hover{ background:url(../image/common/quick_del_hover.png) no-repeat right top #FFFFE5; border:1px dotted #95B27B}
.quick_top .quick_top_ul .quick_top_ul_img{ padding-bottom:0px; }
.quick_top .quick_top_ul .quick_top_ul_img img{ height:60px; width:60px;} 
	<!--快捷功能 end-->
/* 首页快捷 End*/

/*附属销售品*/
#fs_choosed li dd.delete, #fs_choosed li dd.canshu, #fs_choosed li dd.canshu2, #fs_choosed li dd.mustchoose, #fs_tab li dd.delete, #fs_tab li dd.canshu,#fs_tab li dd.mustchoose, dd.border, #fs_tab li dd.canchoose{
	background:url(../image/common/fsIcon.png) no-repeat scroll 0 0 transparent;
	height:16px;
	width:16px;
	cursor:pointer;
	position:absolute;
	top:0px;
}
#fs_choosed li dd.canshu, #fs_choosed li dd.canshu2 {
	right:14px;
}
#fs_choosed li dd.delete:hover, #fs_tab li dd.delete:hover {
	background-position:0 -16px;
}
#fs_choosed li span, #fs_tab li span {
	display:block;
	height:auto;
	line-height:16px;
	padding:0px 35px 0px 22px;
}
#fs_choosed ul li span.del {
	text-decoration:line-through;
	color:#f15a1f;
}
#fs_choosed li dd.canshu, #fs_tab li dd.canshu {
	background-position:0 -128px;
}
#fs_choosed li dd.canshu2, #fs_tab li dd.canshu2{
	background-position:0 -48px;
}
#fs_choosed li dd.mustchoose, #fs_tab li dd.mustchoose {
	background-position:0 -32px;
}
#fs_tab li dd.canchoose {
	background-position:0 -144px;
}
dd.border {
	background:none;
	right:0px;
	border:none;
	border-right:1px solid #d3d8d0;
}
#fs_search input.width330 {
	background:url(../image/common/inputIcon_search.png) no-repeat scroll right center transparent;
	margin-top:10px;
}
#fs_search {
	padding-left:0px;
	padding-bottom:10px;
}
#fs_tab {
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
#fs_tab li dd.canchoose {
	background-position:0 -144px
}
/*附属销售品 end*/

/*附属销售品*/
.infoBox h4 {
	font-size:14px;
	margin:15px 0px 15px 0px;
	color:#71ab5a
}
.infoBox h4.floatleft {
	margin:14px 10px 0px 0px;
}
.fs_choosed, .fs_search, .fs_tab {
	color:#797979;
	font-size:12px;
	padding:0 20px 20px 20px;
	border-bottom:1px dotted #d3d8d0;
}
.fs_choosed ul, .fs_tab ul {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
.fs_choosed li, .fs_tab li {
    height: auto;
    line-height: 16px;
    margin-right: 8px;
    position: relative;
    width:200px;
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
	cursor: pointer;
	*display:inline;
	background:#f8f8f8;
	padding:4px;
	border-radius:3px;
	
}
.fs_choosed li dd.delete, .fs_choosed li dd.canshu, .fs_choosed li dd.canshu2, .fs_choosed li dd.mustchoose, .fs_tab li dd.delete, .fs_tab li dd.canshu, .fs_tab li dd.canshu2, .fs_tab li dd.mustchoose, dd.border, .fs_tab li dd.canchoose, .fs_choosed li dd.time, .fs_choosed li dd.time2,  .fs_choosed li dd.jue, .fs_choosed li dd.jue2,  .fs_choosed li dd.gou, .fs_choosed li dd.gou2{
	background:url(../image/common/fsIcon.png) no-repeat scroll 0 0 transparent;
	height:16px;
	width:16px;
	cursor:pointer;
	position:absolute;
	top:4px;
}
.fs_choosed li dd.canshu, .fs_choosed li dd.canshu2, .fs_tab li dd.canshu, .fs_tab li dd.canshu2{
	right:4px;
}
.fs_choosed li dd.time, .fs_choosed li dd.time2 {
	right:24px;
}
.fs_choosed li dd.delete{
	left:4px;
}
.fs_choosed li dd.jue, .fs_choosed li dd.jue2 {
	left:24px;
}
.fs_choosed li dd.gou, .fs_choosed li dd.gou2 {
	right:44px;
}
.fs_choosed li dd.delete:hover, .fs_tab li dd.delete:hover {
	background-position:0 -16px;
}
.fs_choosed li span, .fs_tab li span {
	display:block;
	height:auto;
	line-height:16px;
	padding:0px 60px 0px 40px;
}
.fs_tab li span a:hover {
	color:#f15a1f;
}
.fs_choosed ul li span.del {
	text-decoration:line-through;
	color:#f15a1f;
}
.fs_choosed li dd.canshu, .fs_tab li dd.canshu {
	background-position:0 -128px;
}
.fs_choosed li dd.canshu2, .fs_tab li dd.canshu2{
	background-position:0 -48px;
}
.fs_choosed li dd.mustchoose, .fs_tab li dd.mustchoose {
	background-position:0 -32px;
	cursor:default
}
.fs_tab li dd.canchoose {
	background-position:0 -144px;
}
.fs_choosed li dd.time2 {
	background-position:0 -160px;
}
.fs_choosed li dd.time {
	background-position:0 -176px
}
.fs_choosed li dd.jue2{
	background-position:0 -192px;
}
.fs_choosed li dd.jue {
	background-position:0 -208px
}
.fs_choosed li dd.gou2{
	background-position:0 -224px;
}
.fs_choosed li dd.gou {
	background-position:0 -240px
}
dd.border {
	background:none;
	right:0px;
	border:none;
	border-right:1px solid #d3d8d0;
}
.fs_search input.width330 {
	margin-top:10px;
}
.relative input.width330, .relative .purchase {
	margin-top:11px;
}
.fs_search {
	padding-left:0px;
	padding-bottom:10px;
}
.fs_tab {
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
/*附属销售品 end*/

/*附属销售品_table*/
.fs_choosed td, .fs_tab td {
	display:inline-block;
	padding:0px 0px 10px 0px;
    position: relative;
    width: 18%;
	cursor: pointer;
}
.fs_choosed td dd.delete, .fs_choosed td dd.canshu, .fs_choosed td dd.canshu2, .fs_choosed td dd.mustchoose, .fs_tab td dd.delete, .fs_tab td dd.canshu, .fs_tab td dd.canshu2, .fs_tab td dd.mustchoose, dd.border, .fs_tab td dd.canchoose, .fs_choosed td dd.time, .fs_choosed td dd.time2, .fs_choosed td dd.jue, .fs_choosed td dd.jue2{
	background:url(../image/common/fsIcon.png) no-repeat scroll 0 0 transparent;
	height:16px;
	width:16px;
	cursor:pointer;
	position:absolute;
	top:0px;
}
.fs_choosed td dd.canshu, .fs_choosed td dd.canshu2, .fs_tab td dd.canshu, .fs_tab td dd.canshu2{
	right:50px;
}
.fs_choosed td dd.time, .fs_choosed td dd.time2{
	right:30px;
}
.fs_choosed td dd.delete, .fs_choosed td dd.mustchoose, .fs_tab td dd.canchoose {
	right:70px
}
.fs_choosed td dd.jue, .fs_choosed td dd.jue2{
	right:10px;
}
.fs_choosed td dd.delete:hover, .fs_tab td dd.delete:hover {
	background-position:0 -16px;
}
.fs_choosed td span, .fs_tab td span {
	display:block;
	height:auto;
	line-height:16px;
	padding:0px 90px 0px 0px;
}
.fs_tab td span a:hover {
	color:#f15a1f;
}
.fs_choosed table td span.del {
	text-decoration:line-through;
	color:#f15a1f;
}
.fs_choosed td dd.canshu, .fs_tab td dd.canshu {
	background-position:0 -128px;
}
.fs_choosed td dd.canshu2, .fs_tab td dd.canshu2{
	background-position:0 -48px;
}
.fs_choosed td dd.mustchoose, .fs_tab td dd.mustchoose {
	background-position:0 -32px;
	cursor:default
}
.fs_tab td dd.canchoose {
	background-position:0 -144px;
}
.fs_choosed td dd.time2 {
	background-position:0 -160px;
}
.fs_choosed td dd.time {
	background-position:0 -176px
}
.fs_choosed td dd.jue2{
	background-position:0 -192px;
}
.fs_choosed td dd.jue {
	background-position:0 -208px
}
/*附属销售品_table end*/

/*合约选择二级菜单*/
.contract_list tbody tr.plan_select {
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left top #eef3eb;
}
.contract_list tbody tr.plan_select2 {
	background:#eef3eb;
}
.contract_list tbody tr.plan_select td {
	color:#71ab5a;
}
.contract_list tbody tr.plan_select2  td {
	color:#fff;
}
.contract_list tbody td.nopadding {
	padding:0px;
}
/*
.contract_list tbody tr.nocolor table thead tr:hover {
	background:#fcfcfc
}
.contract_list tbody tr.nocolor:hover td {
	color:#797979
}*/
div.plan_second_list {
	background:#f8f8f8;
	width:100%
}
div.plan_second_list table{
	width:100%;
	margin:0 auto;
}
div.plan_second_list table, div.plan_second_list table td, div.plan_second_list table thead {
	background:none;
	font-size:12px;
}
div.plan_second_list table thead td {
	color:#797979;
	cursor:default
}
div.plan_second_list table td {
	padding:0px
}
div.plan_second_list table thead tr:hover{
	background:#f8f8f8;
	color:#797979;
}
div.plan_second_list table thead tr td:hover{
	color:#797979;
}
div.plan_second_list table tbody tr:hover {
	background:#eef3eb;
}
.contract_list tbody tr div.plan_second_list table tbody tr td {
	color:#797979;
	line-height:45px;
}
.contract_list tbody tr div.plan_second_list table tbody tr.plan_select2 td {
	color:#71ab5a;
}
.contract_list tbody tr div.plan_second_list table tbody tr:hover td {
	color:#71ab5a;
}
.contract_list tbody tr:hover div.plan_second_list table thead td{ color:#71AB5A;}
div.cashier_tr {
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left bottom #f8f8f8;
}
td i.select, td i.open_close, td i.open_tree{
	display:inline-block;
	height:16px;
	width:16px;
	background:url(../image/common/secondlist_select.png) no-repeat scroll transparent;
	margin:0 auto
}
td i.select {
	margin-top:0px;
}
td i.open_close {
	background:url(../image/common/fsIcon.png) no-repeat scroll transparent;
	background-position:center -80px;
}
tr.plan_select td i.open_close {
	background-position: center -64px
}
td i.open_tree {
	border-bottom:1px dotted #797979;
	border-left:1px dotted #797979;
	background:none;
	margin:0px 10px 0px 10px;
	float:left;
	height:23px;
}
td i.tree_top, td i.tree_center, td i.tree_bottom {
	display:inline-block;
	width:14px;
	height:14px;
	position:relative;
	margin:0 10px
}
td i.tree_top {
	border-left:1px dotted #797979;
	border-top:1px dotted #797979;
	margin-top:20px;
	height:24px;
}
td i.tree_center {
	border-left:1px dotted #797979;
	height:45px;
}
td i.tree_center span {
	display:block;
	width:14px;
	border-bottom:1px dotted #797979;
	position:absolute;
	top:22px;
}
td i.tree_bottom {
	border-left:1px dotted #797979;
	border-bottom:1px dotted #797979;
	height:21px;
	margin-bottom:23px;
}
i.maincardIcon, i.fucardIcon{
	display:inline-block;
	width:14px;
	height:14px;
	background:#71ab5a;
	line-height:14px;
	margin:0px 5px 5px 0px;
	border-radius:2px;
	font-style:normal;
	text-align:center;
	font-size:10px;
	color:#fff;
}
i.fucardIcon {
	background:#f15a1f
}
/*合约选择二级菜单 end*/

/*选号列表*/
ul.numberlist {
	width:auto;
	margin:0px;
	padding:0px;
	position:relative;
}
ul.numberlist li {
	width:182px;
	height:74px;
	border:1px solid #d3d8d0;
	cursor:pointer;
	float:left;
	position:relative;
	overflow:hidden
}
ul.numberlist li:hover{
	background:url(../image/common/numberlist_select.png) no-repeat center 0 scroll #fff;
}
ul.numberlist li.select{
	background:url(../image/common/numberlist_select.png) no-repeat 0 -74px scroll #fff;
}
ul.numberlist li p {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	width:148px;
}
ul.numberlist li p span.yucun {
	font-weight:normal;
	float:left;
	margin-top:10px;
}
ul.numberlist li p span.yuebaodi {
	font-weight:normal;
	float:right;
	margin-top:10px;
}
ul.numberlist li .level {
	display:block;
	position:absolute;
	top:52px;
	width:100%;
	text-align:center
}
input#btnSwitchNbr {
	margin-left: 50px;
}
ul.fixPosRel {
	position:static;
}
/*
table.numberlist {
	width:auto;
	margin:0px;
	padding:0px;
	color:#797979;
	border-collapse:collapse;
}
table.numberlist td {
	width:182px;
	height:74px;
	border:1px solid #d3d8d0;
	cursor:pointer;
}
table.numberlist td:hover {
	background:url(../image/common/numberlist_select.png) no-repeat center 0 scroll #fff;
}
table.numberlist td.select {
	background:url(../image/common/numberlist_select.png) no-repeat 0 -74px scroll #fff;
}
table.numberlist td p {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	width:148px;
}
table.numberlist td p span.yucun {
	font-weight:normal;
	float:left;
	margin-top:10px;
}
table.numberlist td p span.yuebaodi {
	font-weight:normal;
	float:right;
	margin-top:10px;
}*/
/*选号列表 End*/

/*公共规则*/
#rules_div {
	margin:10px 10px;
	padding:0px;
}
i.rule_icon, i.rule_icon_notice, i.rule_icon_wrong {
	display:block;
	height:40px;
	width:50px;
	margin-right:5px;
	background:url(../image/common/rule_icons.png) no-repeat center 0 scroll transparent;
}
i.rule_icon_notice {
	background-position: center -80px
}
i.rule_icon_wrong {
	background-position: center -40px
}
span.rule_font {
	font-size:16px;
}
table.rule tbody td {
	border:none;
	height:155px;
}
table.rule tbody td:hover, table.rule tbody tr:hover {
	background:none
}
span.orange {
	color:#f15a1f
}
/*公共规则 end*/

/*算费_费用增加*/
tr.moneyaddform td.money input, tr.moneyaddform td select{
	border:1px solid #d3d8d0;
	height:20px;
	line-height:20px;
}
tr.moneyaddform td select {
	padding:2px;
	height:23px;
	line-height:23px;
	padding:1px;
	width:120px;
}
/*算费_费用增加 end*/

/*业务受理主页面*/
.main_top{ margin-top:0px;}
.main_list{overflow:hidden; zoom:1; padding:40px 20px 10px; height:330px;}
.main_list .main_list_ul{ width:300px; margin-right:6px; margin-bottom:30px;float:left; display:inline; background-color:#fff; border:1px solid #fff;}
.main_list .main_list_ul_hover{border:1px solid #388500;cursor:pointer; background-color:#f3fbec;border-radius:5px;}
.main_list .main_list_ul .list_ul_padding{overflow:hidden; zoom:1; padding:30px 0 30px 20px;}
.main_list .main_list_ul img{ float:left; height:74px; width:74px; margin-right:20px;}
.main_list .main_list_ul ul{ float:left;display:inline; width:182px; }
.main_list .main_list_ul ul h2{ font-weight:bold; padding-bottom:16px;}
.main_list .main_list_ul ul h2 a{font-size:18px; font-weight:bold; color:#3e3e3e;}
.main_list .main_list_ul ul h2 a:hover{ text-decoration:underline;}
.main_list .main_list_ul ul p{ line-height:20px; color:#9d9d9d; font-size:13px;}
/*业务受理主页面 end*/

/*订单准备页面*/
.selectList{padding: 6px 15px; border:1px solid #D3D8D0; margin-bottom:10px; background:#fff;}
.selectList2{padding: 6px 15px 20px;}
.selectList dl{overflow:hidden; zoom:1;border-bottom:1px dotted #d3d3d3; padding-bottom:3px; line-height:34px; position:relative}
.selectList dl.noBorder{border:0;}
.selectList dl dt{float:left;width:75px;height:34px;font-weight:bold;text-align:right;}
.selectList dl dd{float:left; width:auto; display:inline;}
.selectList dl dd a{display:inline-block; float:left;line-height:14px; padding:0px 16px; overflow:hidden; height:26px; line-height:26px; text-align:center; text-indent:0px; border:0; color:#888;text-decoration:none; font-size:12px; margin:6px 3px 4px 3px;}
.selectList dl dd a:hover{background:#f5f5f5;}
.selectList dl dd a.selected{background:#71ab5a;color:#fff;}
.selectList dl dd span.more{position:absolute;right:1px;top:6px;display:block;width:39px;height:14px;cursor:pointer;}
.selectList .sel{ margin-top:8px;}
.selectList .sel .sele{ margin-right:8px;}
.rel{ position:relative; background:url(../image/common/selectList_bg.gif) repeat-x 0 0;}







.phone_warp{ overflow:hidden;zoom:1; padding:0px;}
.phone_warp .phone_list{}
.goodsList{padding:0 10px;}
.goodsListInfor{overflow:hidden;zoom:1;}
.goodsListInfor li{position:relative;width:188px;float:left;padding:15px 7px; height:265px; border:1px solid #fff; margin:8px}
.goodsListInfor li:hover{border:1px solid #d8dfd4;background-color:#fff; box-shadow:0px 0px 8px #d8dfd4 }
.goodsListInfor li em.salePrompt{position:absolute;right:15px;display:block;width:55px;height:55px;background:url(../images/goodsList/goodsIcon.png) -73px -92px no-repeat;}
.goodsListInfor li label.comment{position:absolute;right:21px;top:204px;}
.goodsListInfor li span.contrastTips{position:absolute;top:16px;left:11px;z-index:999;display:block;width:170px;height:30px;cursor:pointer;line-height:30px;filter:alpha(opacity=90);opacity: 0.9;background:#fff;}
.contrastTips span{display:block;float:left;line-height:30px;}
.contrastTips em{display:block;float:left;width:16px;height:16px;margin:7px 10px 0 0;background:url(../images/goodsList/goodsIcon.png) no-repeat;}
.contrastTips .addIcon{background-position:-142px -93px;}
.contrastTips .addedIcon{background-position:-161px -93px;}
.contrastTips .fullIcon{background-position:-180px -93px;}
.goodsImg{display:block;width:170px;height:170px;margin:0 auto;padding:1px;}
.goodsListInfor li p{width:180px;overflow:hidden;margin:5px auto; text-align:center;}
p.mobileGoodsName a.name {font-size:14px;font-family:Arial, "微软雅黑", "宋体"}
.goodsListInfor li p em{ font-style:normal; color:#797979;}
.goodsName .name label{cursor:pointer;}
.priceInfor label{float:left;}
.priceInfor span{float:right;}
.hot_web_price, .hot_sale_price{text-align:center; font-size:13px; padding:0px 0 3px;}
.hot_web_price label{display:inline-block;margin-right:5px;font-family:verdana;}
.hot_web_price label.cDarkRed{ color:#f15a1f;font-size: 14px;font-weight: bold;}
.hot_sale_price label.cDarkRed{ color:#999999;}
.phone_btn{background:url(../image/common/phone_btn.png) no-repeat 0 0; width:124px; height:44px; line-height:42px; display:block; color:#75ac5f; margin:0 auto; text-align:center; font-size:14px;}
.phone_btn:hover{background:url(../image/common/phone_btn.png) no-repeat 0 0;}

		/*手机详细介绍*/
.phone_info{overflow:hidden; zoom:1; padding:10px 0; margin-bottom:10px;}	
.phone_info .phone_info_l{ width:190px; margin:0px 30px;}
.phone_info .phone_info_r{ overflow:hidden; zoom:1;}
.phone_info_l .jqzoom{ height:240px;width:190px;text-align:center; border:1px solid #d3d8d0 }
.phone_info_l .jqzoom img{ margin:30px 0px 0px 0px;}
.phone_info_r h2{line-height:30px;padding-bottom:10px; font-size:24px; font-weight:normal; color:#434343; border-bottom:1px dotted #e4e4e4; margin-bottom:10px;}
.phone_info_r h2 span{ font-size:18px; font-weight:bold; color:red;}
.phone_info_r .Info_txt dl {clear:both;overflow:hidden; padding-bottom:10px;}
.phone_info_r .Info_txt dl.sel_plan_content{ display:none;}
.phone_info_r .Info_txt dt {float:left;width:70px;height:30px;line-height:30px;_line-height:35px;color:#666666; font-size:14px; text-align:right}
.phone_info_r .Info_txt dd {float:left;line-height:30px;}
.phone_info_r .Info_txt dd.Pricestyle span{font-size:24px;  line-height:30px;color:#ec9000; display:block;zoom:1;}
.phone_info_r .Info_txt dt.planstyle {line-height:35px;}
.phone_info_r .Info_txt dd.txt { height:30px;line-height:35px; padding-left:10px;}
.phone_info_r .Info_txt .tdright{float: left;width: 120px;height: 30px;line-height: 30px;_line-height: 35px;color: #666666;font-size: 14px;text-align: right;}
.phone_info_r .Info_txt .tdleft{float: left;width: 300px;height: 30px;line-height: 30px;_line-height: 35px;color: #666666;font-size: 14px;text-align: left;}

.selectBoxTwo{position:relative;display:block;float:left; padding:0 55px; margin:5px 8px 0 0; height:24px; line-height:24px; border:1px solid #d3d8d0;text-align:center; cursor:pointer;}
.selectBoxTwo:hover {border:1px solid #71ab5a;color:#333;height:24px; line-height:24px;text-decoration:none;}
.selectBoxTwo u {display:block;position:absolute;bottom:0;right:0;width:17px;height:17px;overflow:hidden;background:url(../image/common/proddetlIcon.gif) 0  0 no-repeat;}
.selectBoxTwo u:hover {display:block;position:absolute;bottom:0;right:0;width:17px;height:17px;overflow:hidden;}
.selectBoxTwoOn {position:relative;display:block;float:left; padding:0 55px;margin:5px 8px 0 0; height:24px; line-height:24px; text-align:center;/*background:url(../image/common/textBoxBg.gif) repeat-x;*/text-decoration:none; border:1px solid #71ab5a; cursor:pointer; color:#71ab5a}
.selectBoxTwoOn u {display:block;position:absolute;bottom:0;right:0;width:17px;height:17px;overflow:hidden;background:url(../image/common/proddetlIcon.gif) -23px  0 no-repeat;}
ul.fillin .selectBoxTwo, ul.fillin .selectBoxTwoOn {
	margin:0px;
	width:185px;
	padding:0px;
} 

.phone_content{width:796px; margin:0 auto; overflow:hidden; zoom:1; padding:20px 60px;}

		/*合约计划*/
.hy_content{}		
.contract_content{ margin-bottom:20px; border:1px solid #d3d8d0;}
.plan_warp{ padding-bottom:0px; position:relative;}
.plan_box{background:url(../image/common/heyue.png) no-repeat; height:35px; margin:0px 0 5px 0px;}
.plan_box ul{margin-left:180px; overflow:hidden;zoom:1; }
.plan_box ul li{background:url(../image/common/orangebox.png) no-repeat; color:#508652;width:44px; height:31px; float:left; display:inline-block; margin-left:6px; padding:1px 10px; line-height:15px; text-align:center; cursor:pointer; overflow:hidden;}
.plan_box .on{background-position:0 -33px!important; overflow:hidden; color:#FFF; font-weight:bold;}
.plan_box .of{background-position:0 -33px!important; overflow:hidden; color:#FFF; font-weight:bold;}

.contract_list{text-align:center; width:100%;background-color:#FFF;border:1px solid E6E6E6;}
.contract_list thead { background:#f8f8f8;}
.contract_list thead td{padding:5px 0; font-weight:bold;color:797979; border-bottom:1px solid #d3d8d0; font-size:14px; color:#71ab5a}
.contract_list thead td.borderLTB{}
.contract_list thead td.borderRTB{}
tr.dialog_tittle2 td {font-size:12px; color:#797979}
.contract_list tbody td{border-bottom:1px dotted #d3d3d3;padding:0px; color:#797979; cursor:pointer; height:35px;}
.contract_list tbody td .font_a{ color:#388500;}
.contract_list tbody td .font_a:hover{ text-decoration:underline;}
.contract_list tbody .submit_result{ background-color:#f8f8f8;}
.contract_list tbody .submit_result td{padding:6px 0; text-align:right;}
.contract_list tbody .bg{  background-color:#fcfcfc;}
.contract_list tbody tr:hover{ background-color:#eef3eb; color:#71ab5a}
.contract_list tbody tr:hover td{ color:#71ab5a;}

.result{ border-bottom:1px dotted #dfdfdf; text-align:right;}
.result li{ padding-bottom:10px;}
.result li .r{ font-weight:bold;color:#797979; font-size:14px;}
.result li em{ padding:0 3px; font-style:normal;}
.result li em.font_c{ color:#388500; font-weight:bold }
.result li em.big{color:#ec9000; font-size:14px; font-weight:bold; padding-right:4px;}
.result li em.z{ padding-left:4px;}


		/*挑靓号*/
.numberList{text-align:center;margin-bottom:10px; width:100%; border:1px solid #d3d8d0}
.numberList thead {background:#f8f8f8; border-bottom:1px solid #d3d8d0;}
.numberList thead tr:hover{background:#f8f8f8;}
.numberList thead td{padding:10px 0;font-weight:600; *border-bottom:1px solid #d3d8d0;}
.numberList thead td.borderLTB{width:180px;border:1px solid #d3d8d0;border-width:0px 0px 1px 0px;}
.numberList thead td.borderTB{border:1px solid #d3d8d0;border-width:0px 0px 1px 0px;}
.numberList thead td.borderRTB{border:1px solid #d3d8d0;border-width:0px 0px 1px 0px;width:80px;}
.numberList .teleNum{font-size:14px;font-weight:bold;letter-spacing:1px;}
.purchase{width:auto;height:26px; line-height:26px; display:inline-block; text-align:center;border:0;cursor:pointer;background:#A7BC9A; color:#fff; padding:0px 8px}
.purchase:hover { background:#71ab5a}
.disablepurchase{width:auto;height:26px; line-height:26px; display:inline-block; text-align:center;border:0;cursor:pointer;background:#E5E5E5; color:#fff; padding:0px 8px; margin-left:4px; *float:left}
.purchasetitle, .purchasetitle2 {
width:20px;height:20px; margin:0px 8px 0 0; line-height:20px; font-size:12px; display:inline-block; border:0; float:left
}
.purchasetitle img {
	width:20px;
	height:20px;
	margin-top:5px;
}
.purchasetitle2 {
	height:30px;
}
.purchasetitle2 img {
	width:20px;
	height:20px;
	margin-top:10px;
}
.purchasebtn, .purchasebtn2{width:110px;height:20px; margin:5px 3px 0 0; padding:0 5px; line-height:20px; font-size:14px; display:inline-block; border:0;cursor:pointer;color:#71AB5A; text-align:left;border-radius: 3px; background:#fff;}
.purchasebtn:hover, .purchasebtn2:hover{ background:#71ab5a; font-weight:bold; font-size:14px;  color:#fff;}
.purchasebtn2 {
	color:#f15a1f;
	height:30px;
	line-height:30px
}
.purchasebtn2:hover {
	background:#f15a1f
}
/*.purchase2{width:64px;height:21px; line-height:21px; display:inline-block; text-align:center;border:0;cursor:pointer;background:url(../image/common/numberList_btn2.gif) no-repeat 0 0; color:#fff;}*/
.purchase2 {
	width:auto;height:26px; line-height:26px; display:inline-block; text-align:center;border:0;cursor:pointer;background:#d3d8d0; color:#fff; padding:0px 8px
}
.numberList tbody td{border-bottom:1px dotted #D3D3D3;padding:8px 0; padding:0px; height:35px; line-height:45px;}
.numberList tbody td.noBorder{border-bottom:none}
.numberList tbody tr{cursor:pointer;}
.numberList tr:hover{ background-color:#f6f9f8;}
		/*选套餐*/
				/*省份选择*/
.change_city{ position:relative; border-bottom:1px dashed #E6E6E6;}	
.change_city .province{float:left;width:70px;padding-top:8px;height:28px;font-weight:bold;text-align:right; font-style:normal;}		
a.cur-city,.cur-city .amore i,.cur-city .sl,.cur-city .sr{background:url(../image/common/xx.png) no-repeat;}	
a.cur-city{display:block;position:relative;height:23px;float:left;z-index:30;_overflow:hidden; margin-top:4px;}
.cur-city .sl,.cur-city .sr{height:25px;display:block;position:absolute;top:-1px;width:3px;}
.cur-city .dec{padding:1px 16px 0 8px;display:inline-block;color:#666;font-weight:bold;font-size:14px;vertical-align:top;line-height:21px;}
.cur-city .amore{border-left:1px solid #e1e1e1;width:23px;display:inline-block;height:23px;vertical-align:top;}
.cur-city .amore i{background-position:right -53px;width:10px;height:5px;margin-left:6px;margin-top:9px;display:inline-block;}
.city-pop{border:1px solid #36a6e5;width:440px;padding:0 6px;position:absolute;left:70px;top:28px;z-index:19;background:#fff;}
.city-pop p{color:#f26422;border-bottom:1px solid #ebebeb;line-height:30px;height:30px;}
.city-pop .hot{padding:10px 0 0 20px;}
.city-pop .hot a{margin-right:25px;margin-bottom:5px;color:#1b84d7;display:inline-block;}
.city-pop .hot a:hover{background:#39c;color:#fff;}
.city-pop .all-city{margin:15px 0 14px 20px;}

.hide{ display:none;}
.act{border:1px solid #36a6e5;border-bottom:1px solid #cbcbcb;}
.act .sl,.act .sr{display:none;}
.default{border:1px solid #cbcbcb;}
.default .sl{background-position:0 -48px;left:-1px;}
.default .sr{background-position:-7px -48px;right:-1px;}
.hav .sl{background-position:0 -23px;left:-1px;}
.hav .sr{background-position:-8px -23px;right:-1px;}
.subbut{width:47px;height:21px; margin-top:6px;border:0;cursor:pointer;background:url(../image/common/search_btn.gif) no-repeat 0 0; color:#FFFFFF;}
				/*省份选择*/
		
.hot_plan{ }	
.hot_plan ul{ overflow:hidden; zoom:1;}	
.hot_plan ul li{ float:left; text-align:center; width:263px; height:137px; background:url(../image/common/hot_plan_bg.gif) no-repeat 0 0;margin-right:64px; margin-bottom:30px; }
.hot_plan ul li.last{margin-right:0;}
.hot_plan ul li img{ padding-top:16px;}
.hot_plan ul li p{ height:24px; line-height:24px; }
.hot_plan ul li p a{font-size:14px; font-weight:bold;}
.hot_plan ul li p a:hover{ text-decoration:underline; color:#FF6600;}
.hot_plan .more_plan{text-align:right; height:20px; line-height:20px; margin-bottom:10px;}
.hot_plan .more_plan a{  color:#226acd;}

.orderList{text-align:left;width:100%;}
.orderList td{border:1px solid #e3e3e3;padding:30px 0; padding-left:80px;}
.orderList td.last{ border-bottom:none;}
.orderList td em{ width:130px; display:inline-block; margin-right:4px; font-style:normal; font-size:14px; font-weight:bold;}
.orderList td span{ background:url(../image/common/orderList_bg.gif) no-repeat 0 0;text-align:center;}
.orderList td span a{color:#FFFFFF;width:33px; height:15px; display:inline-block; font-weight:bold; text-align:center; }
.detail_info{ padding:30px 40px;}
.detail_info .detail_info_txt{ line-height:24px; font-size:14px; padding-bottom:30px; border-bottom:1px dashed #d3d8d0;}
.detail_info .detail_info_btn{text-align:left; margin:20px 0 40px;}
.detail_info .detail_info_btn .o_btn_open{background:url(../image/common/dz_btn.gif) no-repeat 0 0; width:68px; height:26px; line-height:26px; display:inline-block; text-align:center; color:#FFF; }
.detail_info .detail_info_btn .o_btn_close{background:url(../image/common/dz_btn.gif) no-repeat 0 -26px; width:68px; height:26px; line-height:26px; display:inline-block; text-align:center; color:#FFF;}
.detail_info .add_service_tab_content{ padding-top:10px;}
.add_business{font-size: 0;letter-spacing: 0px;/*根据不同字体字号或许需要做一定的调整*/word-spacing: -3px; padding:15px 0;background-color:#F3FBEC; border:1px solid #487F58; margin-top:10px; }
.add_business li{  font-size: 12px;letter-spacing: normal;word-spacing: normal;display:inline-block;*display: inline;zoom:1;/* IE < 8: 伪造 inline-block */ margin-right:10px;}
.add_business li.font_b{ padding-left:15px; font-weight:bold; }
/*订单准备页面 end*/


/*客户资料新增*/
div.location h5.s_title {
	padding:0px 0px 8px 0px;
	color:#4f7d3f
}
.s_title{ font-size:16px; line-height:25px; 
border-bottom:1px solid #71ab5a; padding:5px 0 5px 0; padding-right:20px; color:#71ab5a; height:25px; position:relative; background:#fff;}
.infoBox{padding:0px;}
.infoBox input{float:left;margin-right:10px;padding-left:4px;}
.infoBox input:hover{ border:1px solid #1580e2;border-radius:4px 4px 4px 4px; box-shadow:0 0 4px #89c6fd;}
.infoBox select{float:left;margin:0px 10px 0 0;border:1px solid #bbb;padding: 2px;height: 25px;line-height: 25px; *margin-top:3px;}
.network{ width:100%;}
.network th,.network td{padding:10px 0; border-bottom:1px dotted #c2c2c2;text-align:left; vertical-align:middle;}
.network .font{ color:#3366CC;}
.network .tc{ width:100%;}
.network .tc th{ background-color:#f1f1f1;}
.network .tc th,.network .tc td{padding:4px 0; border:1px solid #f1f1f1;text-align:center;}

.t_ul{ margin-right:20px;}

.add_year{font-size: 0;letter-spacing: -3px;/*根据不同字体字号或许需要做一定的调整*/word-spacing: -3px; padding:5px 30px; margin-top:10px; }
.add_year li{  font-size: 12px;letter-spacing: normal;word-spacing: normal;display:inline-block;*display: inline;zoom:1;/* IE < 8: 伪造 inline-block */ margin-right:30px;}
.add_year li .zq{ padding-right:6px; }
.add_year li .input_year{ width:30px; text-align:center; margin-right:6px;}

.correct{
	float:left;
	height:24px;
	min-width:24px;
	margin-left:5px;
	background:url(../image/common/order_check.png) left no-repeat;
}
.error{
	float:left;
	height:24px;
	min-width:24px;
	margin-left:5px;
	background:url(../image/common/order_check_error.png) left no-repeat;
	padding-left:28px;
	line-height:24px;
	}
/*客户资料新增 end*/

/*订单确认*/
.body_color{ background-color:#f9f9f9;}
.table_txt{ width:100%;}
.table_txt th,.table_txt td{padding:6px;text-align:left;}
.table_txt .bill{padding:10px;}
.table_data{text-align:center; margin:20px auto; line-height:22px; overflow:hidden; zoom:1;}
.table_data td{ padding:5px 4px; text-align:left;}
.table_data span{vertical-align:middle; font-size:22px; font-weight:bold;}
.table_data a.font{font-size:12px; font-weight:bold; margin-right:20px; color:#3366cc;}
.table_data a.font:hover{ text-decoration:underline;}
.print{ overflow:hidden;zoom:1; padding-top:10px; }
/*订单确认 end*/

/*业务查询*/
		/*订单详细查询*/
.order_list{text-align:center; width:100%; margin-top:8px; background-color:#FFF;}
.order_list thead { border:1px solid E6E6E6;background:url(../image/common/title_h2_bg.gif) repeat-x 0 0;}
.order_list thead td{padding:6px 0;font-weight:600;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.order_list thead td.borderLTB{border-left:1px solid #e3e3e3;}
.order_list thead td.borderRTB{border-right:1px solid #e3e3e3;}
.order_list tbody td{border:1px solid #f1f1f1;padding:6px 0; color:#757575; line-height:21px; }
.order_list tbody td .font_a{ color:#388500;}
.order_list tbody td .font_a:hover{ text-decoration:underline;}
.order_list tbody .submit_result{ background-color:#f8f8f8;}
.order_list tbody .submit_result td{padding:6px 0; text-align:right;}
.order_list tbody .bg{  background-color:#fcfcfc;}
.order_list tbody tr:hover{ background-color:#f6f9f8;}
.order_list tbody tr:hover td{}
		/*订单明细*/
.order_detail{ padding-top:10px;}	
.order_detail dl{ padding:20px 40px;border-bottom:1px dashed #f1f1f1;}
.order_detail dl.nb{border-bottom:none;}
.order_detail dl dt{ font-size:14px; font-weight:bold; margin-bottom:12px;}		
.order_detail dl dd{ height:20px; line-height:20px; padding-left:20px;}
.order_detail dl dd span{ width:90px; display:inline-block;}

.order_sub{ padding-top:10px;}	
.order_sub h1{ line-height:30px; font-size:14px; font-weight:bold; padding-top:4px;}
.order_sub_body{ padding:15px 30px; background-color:#fffaec; margin-bottom:10px;border-top:1px solid #666;}
.order_sub_line{height:6px; padding-bottom:6px; clear:both;}
.order_sub_table{ width:100%;}
.order_sub_table td{ padding:8px 0;}
.order_sub_table .addBtn{background: url(../image/common/addBtn.png) no-repeat 0 0 ;border: 0 none;display: block;font-weight: bold;height: 30px;line-height: 30px;text-align: center;
width: 107px;}
.order_sub_table .addBtn:hover{background: url(../image/common/addBtn.png) no-repeat 0 -29px ;border: 0 none;display: block;font-weight: bold;height: 30px;line-height: 30px;text-align: center;
width: 107px;}

		/*终端换货 */
.check_content{ overflow:hidden;zoom:1; padding:20px 0; padding-left:10px; background-color:#EBF4FB;}
.check_content p{text-align:right;overflow:hidden;zoom:1;}
.check_content p label.w1{ width:80px; text-align:right; float:left; display:block;font-size:14px; padding-top:5px; padding-right:5px;}
.check_content p span{ padding-top:5px;display:inline-block;  font-size:14px; margin-right:80px;}
.check_content p input{ font-size:16px; border:1px solid #d0d0d0;height:24px; line-height:24px;}
.check_content p input.txt2{ width:240px;padding-left:4px;float:left; margin-right:10px;}
.check_content p .btn2{height:27px; width:71px; line-height:27px; width:71px;background:url(../image/login/login_btn2.gif) no-repeat 0 0; border:none;text-align:center;color:#FFFFFF; font-weight:bold; font-size:12px;padding-bottom:3px;}
.check_content p .btn2:hover{background:url(../image/login/login_btn2.gif) no-repeat 0 -27px; }
/*业务查询 end*/

/*所有公告*/
.all_notice{ padding-bottom:20px; }
.all_notice li{ line-height:20px; margin-bottom:8px;overflow:hidden; zoom:1; background:url(../image/common/dot.gif) no-repeat 0 center; padding-left:10px;}
.all_notice li span{ float:left;}
.all_notice li code{ float:right; color:#a4a4a4;}
.all_notice li em.title{ font-style:normal; padding-right:4px; color:#508652;}
.all_notice li a:hover{ text-decoration:underline;}
/*所有公告 end*/

/*公告详情*/
.notice_title{ font-size:18px; line-height:36px; font-weight:bold; border-bottom:1px dashed #e4e4e4; padding-bottom:10px; margin-bottom:10px; }
.notice_txt_info p{ line-height:20px;}
.notice_txt_info p.txt_indent{ text-indent:2em; padding-top:4px;}
/*公告详情 end*/

/*错误页面提示*/
.error_page{padding:1px;}
.error_page .error_body{ margin:40px;overflow:hidden; zoom:1;  padding:20px; border:1px solid #dcdcdc}
.error_page .error_body .error_body_l{ float:left;}
.error_page .error_body .error_body_l .error_img{ display:block;width:120px; height:149px; background:url(../image/common/cry.png) no-repeat 0 0;}
.error_page .error_body .error_body_l .error_img403{ display:block;width:120px; height:149px; background:url(../image/common/cry403.png) no-repeat 0 0;}
.error_page .error_body .error_body_l .error_img405{ display:block;width:120px; height:149px; background:url(../image/common/cry405.png) no-repeat 0 0;}
.error_page .error_body .error_body_l .error_img500{ display:block;width:120px; height:149px; background:url(../image/common/cry500.png) no-repeat 0 0;}
.error_page .error_body .error_body_r{ float:left; margin-left:20px;}

.error_page .error_body ul{ margin-top:10px;}
.error_page .error_body ul li{color:#797979; line-height:26px; height:26px}
.error_page .error_body h1{ font-size:18px; height:30px; line-height:30px; font-weight:normal;color:#F15A1F}
.error_page .error_body p{ line-height:24px; padding:4px 0px; color:#797979}
.error_page .error_body p.line{  border-bottom:1px dotted #d3d3d3; padding-bottom:12px; font-size:14px;}
.error_page .error_body ul li a {
	color:#fff;
	background:#F15A1F;
	padding:2px 6px;
}
/*错误页面提示 end*/

/*工号查询*/
.gh_TextBox{padding-left:2px;width:200px; height:18px;line-height:18px;border:1px solid #d7d7d7;  margin-right:6px;margin:6px 10px 0;}
.gh_Search{ width:70px; height:26px; border:0; cursor:pointer; display:inline-block;text-align:center; line-height:26px; /*background:url(../image/common/xg_btn.gif) no-repeat 0 0;*/ background:#95b27b; color:#fff; font-weight:bold;}
.gh_Search:hover{ /*background:url(../image/common/xg_btn.gif) no-repeat 0 -29px;*/ background:#71ab5a;}
/*工号查询 end*/

/*订单提交*/
.c_step_txt{  margin-top:30px; border-top:1px dashed #83A283;}
.c_step_txt .intro{padding-top:10px;}
.c_step_bg{ overflow:hidden; zoom:1; margin-top:10px;}
.c_step{ width:129px; height:34px; display:block; background:url(../image/common/c_step.png) no-repeat 0 0; text-align:center; font-size:12px; color:#508652; padding-top:6px; margin-bottom:10px; float:left; margin-right:10px;}
.c_gary{ background:url(../image/common/c_step_gary.png) no-repeat 0 0; color:#FFFFFF; }
/*订单提交 end*/

/*现金充值*/
.selser_h2{ font-size:18px; border-bottom:2px solid #71ab5a; padding-bottom:8px; margin-bottom:8px; color:#71ab5a;}
.selser_h2 span{ font-size:12px; font-weight:normal; color:#598200;}
.selser_common_wrap{overflow:hidden;zoom:1; border-top:0px solid #cee3d4;}
.selser_common_wrap .sel_title{ background-color:#F3FBEC; padding-left:25px; padding-top:10px;}
.selser_common_wrap .sel_title2{ background-color:#F3FBEC; padding:10px 25px 10px 25px;}
.selser_common_wrap .cptab{ background-color:#F3FBEC; padding-left:25px; padding-bottom:10px;}
.table_inf{text-align:center; line-height:22px; overflow:hidden; zoom:1; }
.table_inf td{ padding:4px 4px; padding-right:0; text-align:left;}
.table_inf span{vertical-align:middle;}
.table_inf span.font_j{ font-size:18px; font-weight:bold; padding-left:6px;}
.table_inf td .adress{ margin-left:14px; color:#ff6600;}
.table_inf td .phonenumber{ font-size:16px; font-weight:bold; color:#388500;}
.xg_btn{ width:70px; height:26px; display:inline-block;text-align:center; line-height:26px; /*background:url(../image/common/xg_btn.gif) no-repeat 0 0;*/ background:#95b27b; color:#fff; font-weight:bold;}
.xg_btn:hover{ /*background:url(../image/common/xg_btn.gif) no-repeat 0 -29px;*/ background:#71ab5a;}
.kh_btn{ width:70px; height:26px; display:inline-block;text-align:center; line-height:26px; /*background:url(../image/common/xg_btn.gif) no-repeat -94px 0;*/ background:#95b27b; font-weight:bold; color:#fff;}
.kh_btn:hover{ /*background:url(../image/common/xg_btn.gif) no-repeat -94px -29px;*/ background:#71ab5a;}

.table_inf .tline{ padding-bottom:6px; border-bottom:1px dotted #cee3d4;}
.table_inf .tline .t_padding{padding-bottom:10px;}

.table_inf .com_table_noborder{width:100%; text-align:center; line-height:20px;}
.table_inf .com_table_noborder td{ border:none; color:#888;}
.table_inf .com_table_padding td{ padding-left:40px;}
/*现金充值 end*/

/*悬浮的按钮*/
.fix_btn{ width:918px; position:fixed;bottom:0px;z-index: 1000; text-align:right;}
.fix_btn .btn{ padding:8px 20px 6px 0;border-top:1px  dotted #7fb3dc;filter:alpha(opacity=80);/*IE*/opacity:0.80;/*Opera FF*/ background-color:#FFFFE5; border:1px solid #FECD80; border-top:none; }
/*悬浮的按钮 end*/

/*填单界面排序*/
.fillin {
	padding:0px;
}
.fillin li {
	width:50%;
	float:left;
	border-bottom:1px dotted #c2c2c2;
	padding:5px 0;
}
.fillin li.full {
	width:100%;
}
.fillin li.noBorder {
	border-bottom:none;
}
.fillin li.full h5 {
	color:#75ac5f;
	font-size:18px;
	font-weight:normal;
}
.fillin label,.fillin input,.fillin select,.fillin textarea {
	float:left;
}
.fillin input[type="radio"] {
	margin-top:7px;
}
.fillin textarea {
	width:400px;
	height:30px;
	color: #797979;
    font-family: Arial,"微软雅黑","宋体";
    font-size: 12px;
	border:1px solid #d3d8d0;
}
.fillin label {
	height:28px;
	width:90px;
	text-align:right;
	line-height:28px;
}
.fillin font {
	height:28px;
	width:90px;
	text-align:right;
	display:inline-block;
	line-height:28px;
}
.fillin label.f_red, label.f_red {
	margin-right:5px;
	width:auto;
	margin-left:5px;
	*float:left;
}
.fillin label.radioinput {
	width:auto;
}
.fillin .purchase {
	margin-left:5px;
	*float:left;
}
.pdcard {
	margin-bottom:-1px;
}
.pdcard li {
	float:left;
	padding:0px 30px;
	height:30px;
	cursor:pointer;
	border:1px solid #D3D8D0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-rightleft:5px;
	border-radius:3px 3px 0 0;
	margin-left:3px;
	background:#f2f2f2;
	text-align:center;
	font-size:12px;
	font-family:Arial,微软雅黑,宋体;
	line-height:30px;
}
.pdcard li.setcon {
	background:#fff;
	font-weight:bold;
	border-bottom:1px solid #fff;
	color:#75ac5f;
	font-size:14px;
}
.pdcardcon {
	display:none;
	padding:0px 10px
}
.cardtab {
	border-bottom:1px solid #D3D8D0;
	position:relative;
	height:31px;
	margin-bottom:8px;
	padding:0px;
}
/*填单界面排序 End*/

/*填单界面批量展开收起*/
.ordernav {
	right:20px;
	top:2px;
	z-index:555;
}
ul.ordertab {
}
.ordertab li {
	cursor:pointer;
	float:left;
	padding:0 30px;
	height:30px;
	line-height:30px;
	margin:5px 0 0 8px;
	background:#A7BC9A;
	color:#fff;
	border-radius:3px;
	position:relative;
}
.ordertab li img {
	position:absolute;
	top:7px;
	right:0px;
}
.ordertab li.setorder {
	font-weight:bold;
	font-size:14px;
	color:#fff;
	background:#f15a1f
}
.ordertab li.setorder:hover {
	background:#f15a1f
}
.ordertab li:hover {
	background:#71ab5a;
}
.ordertab li i.order_delete {
}
.ordertabcon {
	display:none;
}
/*填单界面批量展开收起 End*/

#termManf_all,#termManf_small {
	width:700px;
}
#termManf_small .cnumberdd {
	width:50px;
}
.show {
	display:block;
}
.textleft td {
	text-align:left;
}

/*收银台*/
a.charge_add {
	background: none repeat scroll 0 0 #e5e5e5;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-style: normal;
    margin-right: 10px;
    padding: 0 5px;
    text-align: center;
	text-indent:4px
}
a.charge_add:hover {
	background:#95B27B;
}
.cashier_table th,.cashier_table td {
	text-align:left;
}
.cashier_table td.money {
	text-align:right;
	color:#f15a1f;
}
.cashier_table td.moracon a {
	color:#75ac5f;
}
.cashier_table td.moracon a:hover {
	text-decoration:underline;
}
.cashier_table td.money input {
	border:none;
	background:none;
	color:#f15a1f;
	text-align:right;
}
.cashier_tr {
	background:url(../image/common/cashier_tr.gif) top left repeat-x;
}
.cashier_table tr:hover {
	background:#f6f9f8;
}
.cashier_td {
	color:#75ac5f;
	font-weight:bold;
}
.bill input {
	border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #f15a1f;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    text-align: right;
    width: 70px;
}
.billk {
	display:inline-block;
	width:50px;
}
/*收银台 End*/

/*变更部分菜单标签*/
#changeMenu_tab {
}
#changeMenu_tab li {
	float:left;
	width:auto;
	padding:0px 20px;
	height:34px;
	line-height:34px;
	border:1px solid #d3d8d0;
	margin:0px 6px -1px 6px;
	background:#eaefe5;
	border-radius: 4px 4px 0px 0px;
	cursor:pointer
}
#changeMenu_tab li.select, #changeMenu_tab li:hover {
	border-bottom:1px solid #fff;
	background:#fff;
	color:#71ab5a;
}
/*变更部分菜单标签 end*/

/*套餐变更*/
#changePlaninfo {
	margin:30px 30px 0px 30px;
	height:26px;
}
#changePlaninfo span {
	color:#71ab5a;
	display:block;
	float:left;
	height:24px;
	padding:0px 10px;
	line-height:24px;
	border:1px solid #71ab5a;
	background:#f8f8f8;
}
#changePlaninfo span.old {
	color:#797979;
	margin-right:20px;
	border:1px solid #d3d8d0;
}

/*订单详情*/
table.orderdetail_fs {
	margin-top:30px;
}
table.orderdetail_fs td {
	border:1px solid #d3d8d0;
	padding:5px;
}
table.orderdetail_fs thead td {
	background:#f8f8f8;
	text-align:center;
	color:#71ab5a;
}
table.orderdetail_fs tbody td {
	text-align:center;
}
table.orderdetail_fs tbody td#seemore {
	background:#fff;
	color:#71ab5a;
	cursor:pointer;
}
table.orderdetail_fs tbody td#seemore:hover {
	background:#f8f8f8;
	text-decoration:underline
}
table.orderdetail_fs tbody td i.see_canshu{
	background: none repeat scroll 0 0 #f15a1f;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0 5px;
	text-align: center;
	font-style:normal;
}
/*转售计费*/
ul.billSearch{
	border:1px solid #D3D8D0;
	padding:0px 10px;
}
ul.billSearch table {
	border-collapse:collapse;
}
ul.billSearch table td {
	border:1px solid #ececec;
	border-left:0px;
	border-top:0px;
	height:20px;
	padding:5px;
}
ul.billSearch table td.noBorder_r {
	border-right:none
}
ul.billSearch table td.green {
	color:#71ab5a
}
ul.billSearch table td.strong, ul.billSearch table td.strong2 {
	color:#434343;
	text-indent:15px;
}
ul.billSearch table td.strong2 {
	text-indent:25px;
}
ul.billSearch table .orange {
	color:#f15a1f
}
ul.billSearch table .total {
	font-size:14px;
	font-weight:bold
}
td.billintent25 {
	text-indent:35px;
}
table.totalnoBorder tr td {
	border:none
}
ul.fillin a.selectmoney {
	margin-right:10px;
	padding:0px 15px;
	width:80px;
}
p.tips {
	background:#f8f8f8;
	border:1px solid #d3d8d0;
	line-height:24px;
	text-indent:10px;
	margin:0px 10px
}
p.tips span.green {
	color:#71ab5a;
	font-size:14px;
}
p.tips span.orange {
	color:#f15a1f;
}
a#listdownload {
	display:block;
	width:16px;
	height:16px;
	background:url(../image/common/listdownload.gif) no-repeat 0 0;
}
ul.billSearch table.top_background{
	border-bottom:1px solid #ececec;
}
ul.billSearch table.top_background td {
	background:#f8f8f8;
	border:none;
	border-bottom:1px solid #ececec
}
ul.billSearch table thead td {
	color:#71ab5a;
	background:#f8f8f8
}
ul.billSearch table tr td.changebg:hover {
	background:#bfd2ae;
	color:#fff;
}
ul.billSearch table.tittle td{
	font-size:16px;
	height:50px;
}
ul.billSearch table.tittle td font {
	font-size:16px;
	color:#f15a1f;
	font-weight:bold
}
ul.billSearch table tr.tittle {
	background:#f8f8f8;
}


/*批量新装*/
#upFile {
	height:26px;
}
/*弹窗复用列表样式调整*/
div.easyDialogdiv .selectList {
	margin-bottom:0px;
	border:0px;
	border-bottom:1px solid #D3D8D0
}
/*
div.easyDialogdiv .numberList {
	border-width:1px 0px 1px 0px
}*/
div.easyDialogdiv .numberList input[type="radio"] {
	vertical-align:middle;
	margin:0px 3px
}
div.easyDialogdiv dd input.numberSearch {
	margin-top:5px;
	margin-left:10px;
}
textarea.order-remark {
	height:68px;
	width:569px;
} 

td#errinfo {
	line-height:45px;
}
td#errinfo img {
	float:left;
	margin:10px 5px 10px 10px;
}

table tbody#dealerTbody label.f_red {
	float:none;
}

/* 表格所属关系 */
table.numberList tr.plan_select {
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left top;
}
table.numberList tr.plan_select:hover {
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left top #f6f9f8;
}
table.numberList tr.plan_select2{
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left 43px;
}
table.numberList tr.plan_select2:hover {
	background:url(../image/common/cashier_tr.gif) repeat-x scroll left 43px #f6f9f8;
}