<@override name="title">协议查询</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/order/protocol.js?${jsversion}" type="text/javascript"></script>

</@override>

<@override name="content">
<style type="text/css">
cur{background:#FFFFFF} 
</style>
<div id="scroll" style="height:525px;overflow:auto">
<!--内容-->
<div class="main_div" id="d_query">
    <div class="main_warp" >
        <!--订单准备-->
        <h2 class="h2_title">协议查询<span></span></h2>
        <div class="order">
            <div class="order_content">
                <div class="order_tab_panel" style="display:block;">
                        <div class="selectList">
                            <dl class="noBorder">
                                  <dt>客户名称：</dt>
                                  <dd>
                                    <input type="text" id ="custName" name="custName" class="numberTextBox width198" value=""/><label class="f_red">*</label>
                                  </dd>
                                  <dt>协议编码：</dt>
                                  <dd>
                                    <input type="text" id="protSoNumber" name ="protSoNumber" class="numberTextBox width198" value=""/><label class="f_red">*</label>
                                  </dd>
                                  <dd><input type="button" value="搜 索" onClick = "javascript:order.protocol.queryProtocol();" class="numberSearch" /></dd>
                            </dl>
                            
                  </div>
                    <!--协议列表-->
                    <div class="contract_list numberList222" id="proList">
                        <table class="numberList">
                          <thead>
                          	  <tr>
                          	  <td>客户名称</td>
                              <td>协议编码</td>
                              <td>协议名称</td>
                              <td>签订时间</td>
                              <td>生效时间</td>
                              <td>失效时间</td>
                              <td>客户经理</td>
                              <td></td>
                            </tr>
                          </thead>
                          <tbody>
                            
                          </tbody>
                        </table>
                         <!--页码-->
                         <div class="paging">
                            <label>
                                    <span class="pageUpGray">上一页</span>
                          </label>
                          <label id="pageNum"><a class="pagingSelect" href="#">1</a><a class="fontBlueB" href="#">2</a><a class="fontBlueB" href="#">3</a></label> 
                                    <span class="nextPageGrayOrange">下一页</span>
                           <label class="marginTop4">共3 页</label>
                            <label class="marginTop4">跳转至</label>
                            <input type="text" class="inputW20H20" />
                            <label class="marginTop4">页</label>
                            <a href="#" class="determineBtn">跳转</a>
                        </div>                         
                        <!--页码 end-->
                       
                    
                  </div>
                    <!--协议列表 end--> 
                                       
                                       
                </div>
                <!-- end-->
                                        
            </div>
        </div>
        <!--订单准备 end-->
    </div>
</div>


<!--内容-->
 <h2 class="h2_title">协议关联销售品详情<span></span></h2>
                    <!--协议列表-->
                    <div class="contract_list numberList222" id="proSubList" style="overflow:auto">
                        <table class="numberList" >
                          <thead>
                          	  <tr>
                              <td>主销售品名称</td>
                              <td>客户名称</td>
                              <td>接入号</td>
                              <td>地区名称</td>
                              <td>证件名称</td>
                              <td>证件号</td>
                              <td>订购时间</td>
                            </tr>
                          </thead>
                          <tbody>
                            
                          </tbody>
                        </table>
                        <!--页码-->
                          <div class="paging">
                            <label>
                                    <span class="pageUpGray">上一页</span>
                           </label><label id="pageNum"><a class="pagingSelect" href="#">1</a><a class="fontBlueB" href="#">2</a><a class="fontBlueB" href="#">3</a></label> 
                                    <span class="nextPageGrayOrange">下一页</span>
                            <label class="marginTop4">共3 页</label>
                            <label class="marginTop4">跳转至</label>
                            <input type="text" class="inputW20H20" />
                            <label class="marginTop4">页</label>
                            <a href="#" class="determineBtn">跳转</a>
                         </div>                         
                        <!--页码 end-->
                    
                  </div>
                    <!--协议列表 end--> 
   
<!--内容 end-->
</div>
</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
