<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 <title>iPhone4S存费送机</title>
		<style type="text/css">
td {
	font-size: 13px;
}

.text {
	font-size: 12px;
	color: #000000;
}

.style5 {
	font-size: 16px;
	font-weight: bold;
}

.style7 {
	font-size: 12px;
	font-weight: bold;
}

.style8 {
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
}

.style9 {
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	MARGIN-left: 30px;
}
</style>

	</head>
	<body>
		<!-- <div style="text-align:center;">
			<h3>中国电信股份有限公司增值业务运营中心</h1>
			<h3>“iPhone4S 天翼合约计划“预存使用费优惠购手机”协议书</h3>
		</div> -->
		<div id='showDiv'>
			<div style="width:100%;text-align:center;">
				<table width=100% border=0
					style="word-wrap: break-word; word-break: break-all;text-align:left">
					<tbody>
						<tr>
							<td>
								<table class="style8" cellSpacing=0 cellPadding=4 width=100%
									border=0 style="word-wrap: break-word; word-break: break-all;">
									<tbody>
										
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;本协议由甲乙双方于<label style='position:absolute'>&nbsp;${datetime("yyyy")}</label>______ 年<label style='position:absolute'>&nbsp;&nbsp;${datetime("MM")}</label> ______ 月<label style='position:absolute'>&nbsp;&nbsp;${datetime("dd")}</label> ______ 日签订。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;甲方（客户）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（以下简称甲方）</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;乙方：中国电信股份有限公司增值业务运营中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（以下简称乙方）</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;为维护甲乙双方的合法权益，在已签订的《中国电信股份有限公司增值业务运营中心业务服务协议》（以下简称“《业
											务服务协议》”）的基础上，本着自愿、平等的原则，甲乙双方就“预存使用费 优惠购手机”活动（以下简称“本次活动”）
											的相关事宜达成以下协议，供双方共同遵守：</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;一、甲方自愿以甲方拥有的电话号码<label style='position:absolute'>&nbsp;${order.item.phonenumber.number}</label>__________________（该号码归属地为：【<label>${order.item.phonenumber.areaName}</label>】）参加乙方开展的iPhone4S天翼合约计划“预存使用费 优惠购手机”活动。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;二、本协议签订之日，甲方向乙方一次性预存前述号码的使用费<label style='position:absolute'>${(agreementOffer.agreementPrice)?number/100}</label>____________元（乙方无须就该等预存使用费向甲方支付利息），
											并承诺自本协议签订次月起连续【<label>${agreementOffer.agreementPeriod}</label>】个日历月（该段期限即为“约定在网期限”）内，选定并持续使用乙方推出
											的【<label>${(agreementOffer.offerGrade)?number/100}</label>】元“乐享3G上网版”套餐（以下简称“套餐”，具体内容详见《客户登记单》）。在此前提条件下，甲方可以优
											惠价格向乙方认可的经销商（即【<label>中国电信</label>】公司）购得手机终端一部；
											【<label>苹果</label>】品牌【<label>IPHONE</label>】型号，手机终端市场零售价为【<label>${(order.item.mhk.price)?number/100}</label>】元，优惠
											后的手机终端价格为【<label>${(agreementOffer.terminalSubsidyPrice)?number/100}</label>】元。甲方于本协议签订之日向经销商支付手机终端价款.手机终端由经销商向甲方交付，并由
											经销商负责按照国家规定进行“三包”。</br>
										</tr>
										<tr id="orderListInfoTr">
											  &nbsp;&nbsp;&nbsp;&nbsp;甲方承诺：不在任何时间、不以任何理由申请退还该预存使用费。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;三、在约定在网期限内，甲方每月可以使用且只能使用预存费用中的一定额度冲抵前述号码在本月产生
											的除下列费用以外的其他使用费：□国际（含港澳台地区，下同）业务费用（含国际通话费、长途费、漫游费、
											短信费、彩信费、上网流量费等）□由乙方代收但归属于增值业务服务商（SP）的信息服务费 □无线宽带费。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;其中，前【<label>${(agreementOffer.agreementPeriod)?number-1}</label>】个月甲方每月可用于冲抵使用费的金额为【<label>${(agreementOffer.permonthReturn)?number/100}</label>】元，最后一个月可用于冲抵使用费的金额为：
											【<label>${(agreementOffer.lastmonthReturn)?number/100}</label>】元。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;四、在约定在网期限内，甲方不得降低所选资费套餐标准,仅可变更为更高资费标准的乐享3G上网版套餐,套餐变更次月生效。
											变 更为更高档的套餐后，预存话费分月返还额度不变。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;五、若甲方前述号码每月实际发生的全部使用费，超出本月可用于冲抵使用费的金额，则超出部分的使用费，甲方需
											另行交纳，具体缴纳方式见《业务服务协议》第五条的相关约定。</br>
											
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;六、若甲方未按时、足额缴纳使用费，乙方将暂停向甲方提供部分或全部服务，且每欠费一日，甲方应按欠费金额
											的千分之三承担违约金，该等违约金乙方可从甲方缴纳的使用费中直接扣除。若甲方欠费超过三个月，乙方将终止向甲方提
											供服务，并对前述号码做销号处理，并有权继续向甲方追缴欠费和违约金。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;七、在约定在网期限内，如甲方主动申请暂停服务或因欠费被暂停服务，则暂停服务期间甲方仍应缴纳套餐费，同
											时本协议第三条约定仍然有效。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;八、基于乙方按照本协议向甲方提供了优惠，如甲方申请注销前述号码，或因欠费被注销前述号码，或申请过户前述
											号码，或离网、转网的，甲方应向乙方支付违约金以补偿乙方提供的手机终端购机优惠损失（指办理合约计划时，市场零售价与优惠购机价之间的差
											额），乙方有权以甲方帐户中尚未返还的相应预存使用费直接折抵该等违约金，甲方剩余预存费用不予退还。如有不足，乙方有权要求甲 方一次性补足。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;九、在约定在网期限内，甲方不能以前述号码享受和参加中国电信（包括乙方及中国电信股份有限公司的各省分公司）
											推出的其他终端补贴及各类优惠活动（中国电信认可甲方参加的特殊活动除外〉，且预存话费不再享受积分政策。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十、iPhone4S天翼合约计划为移动通信服务与通信终端绑定产品，甲方只有在绑定使用所购买的通信服务、UIM卡、
											移动业务号码 以及手机（即机卡不分离）的情况下,方可享受乙方提供的优惠政策。自甲方签署本协议后，乙方每月进行核实，如发生机卡分离使用的情况，
											乙方有权取消对客户的优惠政策,并有权对甲方号码作停机处理。甲方应向乙方支付违约金（违约金按违约行为发生次 月起剩余承诺在网协议期各月通信费最低消费之和计算），
											乙方有权从甲方尚未返还的iPhone4S手机合约计划预存是费用中直接扣除， 不足部分乙方有权随时要求甲方一次性补足。违约行为发生当月所产生的通信费用与分月返还金额的差额部分，
											甲方仍须正常缴纳。在 机卡分离停机后90天内，甲方可持有效身份证件、合约计划中绑定的UIM卡和iPhone4S手机到所在地中国电信营业厅，在足额缴纳所 产生的欠费及相关费用后，
											可申请办理恢复开机。如机卡分离停机超过90天，乙方有权对甲方号码进行销号处理。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十一、在约定在网期限内，如甲方所购手机丟失或损坏，甲方应自行解决，乙方不负责另行提供手机或者维修；甲方应继续履行本协 议约定的义务。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十二、在约定在网期限内，因国家规定的移动通信资费标准发生变化，本协议约定不变。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十三、本协议未尽事宜，甲乙双方另行协商解决，并签订书面补充协议。因本协议产生的一切争议，甲乙双方应友好
											协商解决，协商不成时，任何一方均可提交有管辖权的人民法院解决。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十四、本协议自甲方签字、乙方盖章后生效。本协议一式【<label>3</label>】份，
											甲方执【<label>1</label>】份，
											乙方执【<label>1</label>】份，具有同等法律效力。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;十五、本协议于《客户登记单》、《业务服务协议》共同构成完整的合同，解释合同文件的有闲顺序一次递减：1.本协
											议，2.《客户登记单》，3.《业务服务协议》。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;本协议为乙方标准合同文本，任何手写添加条款均为无效。</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;甲方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											乙方：中国电信股份有限公司增值业务运营中心</br>
										</tr>
										<tr>
											&nbsp;&nbsp;&nbsp;&nbsp;（签字）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											（盖章）</br>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>
	</body>
	
</html>
