@charset "utf-8";
/* CSS Document */
/* 表单样式 */
input, select {
	 font-size:12px;color:#797979; font-family:Arial, "微软雅黑", "宋体"; border:none
}
input {
	border:none;
	height:15px;
	line-height:15px;
	font-color:#000;
	font-size:12px;
	text-indent:8px;
}
input[type="checkbox"] {
	vertical-align:middle
}
/*输入框宽度*/
.inputWidth228px{width:228px;border:1px solid #d3d8d0;height:23px;line-height:23px;}
.inputWidth150px{width:150px;border:1px solid #d3d8d0;height:24px;line-height:24px;}
.inputWidth183px{width:183px;border:1px solid #d3d8d0;height:24px;line-height:24px; margin-left:3px;}
.inputWidth315px{width:315px;border:1px solid #d3d8d0;height:24px;line-height:24px;}
.inputWidth103px{width:103px;border:1px solid #d3d8d0;height:24px;line-height:24px;}
.inputWidth250px{width:301px;border:1px solid #d3d8d0;height:23px;line-height:23px;}
.inputWidth40px{width:40px;border:1px solid #d3d8d0;height:23px;line-height:23px;}
select {
	height:28px; line-height:28px;
	padding:4px;
	border:1px solid #d3d8d0;
}
select.inputWidth250px, select.inputWidth183px {
	height:28px; line-height:28px;
	padding:4px;
}
/*输入框宽度 end*/
.numinput {
	margin-top:5px;
}
.selectList select {
	border: 1px solid #d3d8d0;
    float: left;
    height: 25px;
    line-height: 25px;
    margin:6px 10px 0 0;
    padding:2px;
	width:298px;
}

.numberTextBox{color:#999;padding-left:2px;float:left;width:200px;height:18px;line-height:18px;margin:6px 10px 0 0;border:1px solid #d3d8d0;}
.width82, .width330 { width:82px; margin:7px 5px 0px 0px; height:22px; line-height:22px;}
.width330 {width:330px}
input.width198 {width:198px}
select.width202 {width:202px}
.numbercheck{float:left;width:13px;height:13px;margin:9px 5px 0 0;}
.numberRules{float:left;display:block;margin:8px 10px 0 0;}
.numberSearch{ width:72px; height:27px; border:0; cursor:pointer; display:inline-block;text-align:center; line-height:26px; /*background:url(../image/common/xg_btn.gif) no-repeat 0 0;*/ background:url(../image/common/numbersearch.png) no-repeat 0 0; color:#71ab5a; font-weight:bold; position:relative; text-shadow:0px 1px 0px #fff}
.numberSearch:hover{ /*background:url(../image/common/xg_btn.gif) no-repeat 0 -29px;*/ background:#71ab5a;}
input.numberSearch {
	text-indent:0px
}
dd input.numberSearch {
	margin-top:6px;
}
select#numtype {
	border:1px solid #d3d8d0;
}