
<!--用户鉴权弹窗-->
	<div class="easyDialogdiv" style="height:300px;display:none" id="auth">
	<div class="easyDialogclose" id="authClose"></div>
	<form id="custAuthForm">
	<h1 class="easyDialogTitle">客户身份鉴权</h1>
	<div class="infoBox">
		<table class="network">
                          <tbody>
                          <tr>
                                <td width="100"><label class="f_red">*</label>产品密码：</td>
                                <td width="300"><input id="authPassword" value="000000"  type="password" placeHolder="请输入密码" data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)" class="inputWidth150px"><a  class="purchase" id="custAuthbtn" href="javascript:void(0)">校验</a><a class="purchase" id="jumpAuth" onclick="order.cust.jumpAuth()">跳过校验</a>
                                </td>
                          </tr>   
                          
                        </tbody>
                    </table>
    </form>
	</div>

	
	
	