
<@override name="title">撤单</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/orderUndo/orderUndo.js?${jsversion}" type="text/javascript"></script>

</@override>

<@override name="content">
<!---byzhengyx--begin-------------------->
<!--客户定位开始-->
<!--客户定位未定位-->
	<div id="custQryDiv" class="main_div location main_warp">
		<form id="custQueryForm">
		<h2>客户定位</h2>
		<div class="usersearch">
			<input name="" type="text" value="" class="numberTextBox" id="phonenumber" 
				placeHolder="请输入客户的证件号码或手机号码" data-validate="validate(isTelecomOridCardCheck:请输入合法的身份证号码或正确的中国电信号码) on(blur)"/>
			<input name="custQueryType" id="custQueryType" type="hidden" value="queryOnly" >
			<div id="custList">
			</div>
		</div>
		
		<a class="btn_h30" id="usersearchbtn"  href="javascript:void(0)"  class="btn"><span>查 询</span></a>
		</form>
	</div>
	<!--客户定位未定位 end-->

	<!--客户定位已定位-->
	<div id="custInfo" class="main_div main_warp" tyle="display:none"></div>
	<!--客户定位已定位 end-->

<!--用户鉴权弹窗-->
	<div class="easyDialogdiv" style="height:300px;display:none" id="auth">
	<div class="easyDialogclose" id="authClose"></div>
	<form id="custAuthForm">
	<h1 class="easyDialogTitle">客户身份鉴权</h1>
	<div class="infoBox">
		<table class="network">
                          <tbody>
                          <tr>
                                <td width="100"><label class="f_red">*</label>产品密码：</td>
                                <td width="300"><input id="authPassword" type="password" placeHolder="请输入密码" data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)" class="inputWidth150px"><a  class="purchase" id="custAuthbtn" href="javascript:void(0)">校验</a><a class="purchase" id="jumpAuth" onclick="order.cust.jumpAuth()">跳过校验</a>
                                </td>
                          </tr>   
                          
                        </tbody>
                    </table>
     </div>
    </form>
	</div>

<!--用户鉴权弹窗 end-->

	<!--客户定位结束-->
<!---byzhengyx--end-------------------->

<div class="main_div" id="orderContent">
<!--内容-->
    <!--步骤1 -->
    <div id="step1" class="step floatright"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div> 
     <!--步骤2 -->
    <div id="step2" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div>   
    <!--步骤3 -->
     <div id="step3" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div>   
    <div class="clear"></div>   
      <!--步骤 end-->
    <div class="main_warp" id="order_prepare">
       
    </div> 
    <div class="main_warp" id="order_tab_panel_content">
        
    </div>
    <!-- 填单页面用 -->
    <div class="main_warp" id="order_fill_content">
    	
        <!--订单准备-->
        <h2 class="h2_title">撤单查询<span></span>
        	<!-- <a href="业务办理_客户定位完成.html" class="numberSearch back3"><span>返回</span></a> -->
        </h2>
        <div class="order">
            <div class="order_content" style="border:none; padding:10px">
                
                <!--挑靓号-->
                <div class="order_tab_panel" style="display:block;">
                        <div class="selectList">
                            <dl>
                                  <dt>选择地区：</dt>
                                  <dd>
                                  	<input type="text" class="numberTextBox width198" readonly="readonly" id="p_areaId_val" onclick="order.undo.showArea()" value="" />
                                  	<input type="hidden" id="p_areaId" value="" >
                                  	<label class="f_red">*</label>
                                  </dd>
                                  <dt>开始时间：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox" style="width:160px" id="p_startTime" readonly="readonly" value="${p_startTime}" onclick="$.calendar({ format:'yyyy年MM月dd日 ',real:'#p_startTime' });" />
                                    <label class="f_red">*</label>
                                  </dd>
                                  <dt>结束时间：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox" style="width:160px" id="p_endTime" readonly="readonly" value="${p_endTime}" onclick="$.calendar({ format:'yyyy年MM月dd日 ',real:'#p_endTime' });" />
                                    <label class="f_red">*</label>
                                  </dd>
                                  <dt>所属客户：</dt>
                                  <dd>
                                    <input type="text" class="inputWidth315px" readonly="readonly" id="custName" onclick="account.query.showQueryCust()" placeHolder="请查询并选择客户"/>
                                  </dd>
                            </dl>
                            <dl>
                                  <dt>渠道：</dt>
                                  <dd>
                                  	<select id="p_channelId" class="width202" >
                                	<#if Session["_staff_channel"]?? && (Session["_staff_channel"]?size>0) >
										<#list Session["_staff_channel"] as channel>
		                                 	<option value="${channel.id}" >${channel.name}</option>
		                                 </#list>
		                            <#else>
		                           		<option value="-1" >--无受理渠道--</option>
									</#if>	
                                	</select>
                                  	<label class="f_red">&nbsp;</label>
                                  </dd>
                                  <dt>购物车流水：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" style="width:160px" id="p_olNbr" value=""/>
                                  	<label class="f_red" >&nbsp;</label>
                                  </dd>
                                  <dt>接入号：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" style="width:160px" id="p_hm" value=""/>
                                    <label class="f_red">&nbsp;</label>
                                  </dd>
                                  <dd>&nbsp;&nbsp;&nbsp;</dd>
                                  <dd><input type="button" value="搜 索" class="numberSearch" id="bt_orderQry" /></dd>
                          	</dl>                                
                  </div>
                    <!--号码列表-->
                    <div class="phone_warp" id="order_undo_list" >
           <table class="numberList">
              <thead>
                <tr>
                  <td width="20"></td>
                  <td width="80">受理地区</td>
                  <td width="200">受理渠道</td>
                  <td width="70">受理员工</td>
                  <td width="120">受理时间</td>
                  <td width="120">完成时间</td>
                  <td width="100">购物车流水</td>
                  <td width="60">订单操作</td>
               	 </tr>
              </thead>
              <tbody>
              	<!-- 
                <tr>
                  <td>北京</td>
                  <td>广安门营业厅</td>
                  <td>张某</td>
                  <td>2013-08-22</td>
                  <td>2013-08-22</td>
                  <td>4G</td>
                  <td>18600574666</td>
                  <td>类型</td>
                  <td>状态</td>
                  <td>¥89元</td>
                  <td>
                  	<a class="purchase" id="" href="javascript:void(0);" orderNo="">撤单</a>
                  </td>
                </tr>
                 -->
                <!-- 
                <tr>
                  <td>北京</td>
                  <td>广安门营业厅</td>
                  <td>XLD09302</td>
                  <td>张某</td>
                  <td>023992</td>
                  <td>2013-08-22</td>
                  <td>2013-08-22</td>
                  <td>4G</td>
                  <td>18600574666</td>
                  <td>类型</td>
                  <td>状态</td>
                  <td>¥89元</td>
                </tr>
                 -->
              </tbody>
            </table>
                        <!--页码-->
                        <div class="paging">
                            <label><span class="pageUpGray">上一页</span></label>
                            <label id="pageNum">
                            	<a class="pagingSelect" href="#">1</a>
                            </label> 
                            <label><span class="pageUpGray">下一页</span></label>
                            <label class="marginTop4">共0 页</label>
                            <label class="marginTop4">跳转至</label>
                            <input type="text" class="inputW20H20" />
                            <label class="marginTop4">页</label>
                            <a href="javascript:void(0)" class="determineBtn">跳转</a>
                        </div>                            
                        <!--页码 end-->
                    
                    </div>
                                       
                                       
                </div>
                                        
            </div>
        </div>
        <!--订单准备 end-->

    </div>
    <!-- 订单确认页面-->
    <div class="main_warp" id="order_confirm"></div>
<!--内容 end-->
</div>


	<div class="easyDialogdiv" style="width:650px;height:115px;display:none" id="d_area">
    	<div class="easyDialogclose" id="d_area_close"></div>
    	<table class="contract_list">
            <thead>
                <tr>
                    <td>地区选择</td>
                </tr>                                                    
            </thead>
        </table>
                <div class="infoBox">
                    <table class="network">
                          <tbody>
                          <tr>
                                <td width="20"></td>
                                <td width="480">
                                 	<select id="q_area2" name="q_area2" style="width: 120px" >
                                 		<option value="">--请选择--</option>
						            </select>
                                 	
                                 	<select id="q_area3" name="q_area3" style="width: 150px" >
						                <option value="">--请选择--</option>
						            </select>
						            
			            			<select id="q_area4" name="q_area4" style="width: 180px" >
			            				<option value="">--请选择--</option>
						            </select>
                                </td>
                                <td width="40">
                                	<input type="button" value="确 认" class="numberSearch" id="bt_area_config" />
                                </td>
                          </tr>
                        </tbody>
                    </table>                
                </div> 
    </div>

          <!-- 客户查询弹出框 -->     
          <div class="easyDialogdiv" style="width:650px;height:400px;" id="d_cust" >
            <div class="easyDialogclose" id="clientclose"></div>
            <table class="contract_list rule">
              <thead>
                <tr>
                  <td colspan="2">客户查询</td>
                </tr>                                                    
              </thead>
            </table>
            <div class="form-content">
  	          <div class="selectList" style="margin:10px 10px">
  	            <form id="custQueryForm">
                <ul class="fillin">
                  <li class="full noBorder">
                    <select id="cust_id_type" class="selectNumbertype" style="width:220px;margin-top:1px;" onchange="account.query.changeCustIdType(this)">
                      <option value="0">接入号</option>
                    </select>
                    <input type="text" class="inputWidth228px" id="cust" placeHolder="请输入有效的中国电信手机号码" data-validate="validate(isTelecomSection:请输入有效的中国电信号码) on(blur)"/>
                    <input name="custQueryType" id="custQueryType" type="hidden" value="queryOnly" >
                    <a id="bt_cust_query" class="purchase">查 询</a>
                  </li>
                </ul>
                <div class="clear"></div>
                </form>
              </div>
              <div class="phone_warp" style="margin:0px 10px;" id="custlist"></div>
            </div>
          </div> 
          <!-- 客户查询弹出框end -->
          
</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>