<@override name="title">账单查询</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/bill/billQuery.js" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_div"> 
  <div class=" main_warp">
  	<div class="ordercon">	
      <div class="order_confirmation ordertabcon">
        <h2 class="h2_title"><span>账单查询</span><span class="showhide"></span></h2>
        <div class="main_body">
          <h5 class="s_title">账单详情</h5>
          <br/>
          <ul class="fillin show billSearch" style="height:82px">
            <li>
              <label>手机号码：</label>
              <input type="text" class="inputWidth315px" id="phoneNumber"/>
              <label class="f_red">*</label>
             </li>
             <li id="queryFlag">
	      		<label>查询业务类型：</label>
	      		<input type="radio" name="queryFlag" value="0"/>
          		<label class="radioinput">按帐户查询</label>
          		<input type="radio" name="queryFlag" value="1" checked="checked"/>
          		<label class="radioinput">按用户查询</label>
	    	</li>           
            <li id="billingDates" class="full noBorder">
              <label>账单月份：</label>
              <#list billingDates as billingDate>
              <input name="yuhou1" type="radio" value="${billingDate.billingCycle}" <#if billingDate_index==0>checked="checked"</#if>/>
              <label class="radioinput">${billingDate.billingMonth}</label>
              </#list>
               <a class="btn_h30" href="javascript:bill.query.queryBill()" style="margin-left:120px;"><span>查询</span></a>
               <a class="btn_h30" id="customizeBillPrintA" href="javascript:bill.query.prePrintBill()" style="margin-left:15px;"><span>客户化账单打印</span></a>
            </li>
          </ul>
          <ul id="billList" class="billSearch" style="margin-top:10px;display:none;">
  	
          </ul>
        </div>
      </div>    
	</div>
  </div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/main-template.html"/>
</#if>