<#if forbid??&&forbid=="1">	
0
<#else>
<script src="${contextPath}/js/busi-js/bill/cashCharge.js" type="text/javascript"></script>
<!--内容-->
	<div class="main_warp">
		<div class="ordercon">
  			<div class="order_confirmation">
  				<h2 class="h2_title">
  				<#if doCashTypeCd??&&doCashTypeCd=="0">
					充值缴费
				<#else>
					充值冲正
				</#if>
  				</h2>
  				<div class="main_body" id="cashChargeForm">
  				<#if doCashTypeCd??&&doCashTypeCd=="0">
	  				<h5 class="s_title">现金充值</h5>
	  			<#else>
	  				<h5 class="s_title">充值冲正</h5>
	  			</#if>
	  				<br/>
	  				<ul class="fillin show billSearch" style="height:300px;" id="writeUl">
	  					<#if doCashTypeCd??&&doCashTypeCd=="0">
<!-- 	  					<li class="full">
			  				 	<label>所属地区：</label>
			  				 	<input type="text" class="inputWidth150px" readonly id="areaName" onclick="order.area.chooseAreaTree('bill/charge/cashPrepare','areaName','areaId',3);" value="${defaultAreaName}" placeHolder="请查询并选择地区"/>
				                <input type="hidden" id="areaId" value="${defaultAreaId}" areaCode="${defaultAreaCode}"/>
				                <label class="f_red">*</label> 
				            </li> -->	
		    				<li class="full">
		      					<label>充值号码：</label>
		      					<input type="hidden" id="reqSerial" value="${reqSerial}">
		      					<input type="hidden" id="doCashTypeCd" value="${doCashTypeCd}">
		      					<input type="text" class="inputWidth150px"  value="${defaultAccNbr}" id="phoneNumber" data-validate="validate(required:手机号码不能为空,isMVNOSection) on(keyup blur)" placeholder="请输入准确的手机号码"/>
		      					<label class="f_red">*</label>
		    				</li>
		    				<li class="full">
		      					<label>确认充值号码：</label>
		      					<span style="font-size: 24px;color:#71AB5A; line-height:28px;" id="confirmNumber"></span>
		    				</li>
		    				<li class="full noBorder">
		      					<label>充值金额：</label>
		      					<input type="text" id="amount" class="inputWidth150px" onkeyup="this.value=this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3')" value="" placeholder="请输入准确充值金额"/>
		      					<label style="width:20px">元</label><label class="f_red">*</label>
		      				</li>
		      				<li class="full" id="cashAmount">
		      					<label></label>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,50);">50元<u></u></a>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,100);">100元<u></u></a>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,200);">200元<u></u></a>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,300);">300元<u></u></a>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,500);">500元<u></u></a>
		      					<a class="selectBoxTwo selectNumbel selectmoney" href="javascript:void(0);" onclick="bill.charge.chooseAmount(this,1000);">1000元<u></u></a>
		    				</li>
							<a class="btn_h30" style="margin:10px 0px 0px 20px;" id="btn_cash_charge"><span style="padding-right:16px;">立即充值</span></a>
							<div id="authFailMsg" style="margin-top:25px;display:none;"></div>
	    				<#else>
<!-- 	    					<li class="full">
			  				 	<label>所属地区：</label>
			  				 	<input type="text" class="inputWidth150px" disabled="disabled" id="areaName" value=""/>
				                <input type="hidden" id="areaId" value="${defaultAreaId}" areaCode="${defaultAreaCode}"/>
				                <label class="f_red">*</label>
				            </li> -->
		    				<li class="full">
		      					<label>充值号码：</label>
		      					<input type="hidden" id="reqSerial" value="${reqSerial}">
		      					<input type="hidden" id="doCashTypeCd" value="${doCashTypeCd}">
		      					<input type="text" class="inputWidth150px"  value="${defaultAccNbr}" id="phoneNumber" disabled="disabled"/>
		      					<label class="f_red">*</label>
		    				</li>
		    				<li class="full">
		      					<label>确认充值号码：</label>
		      					<span style="font-size: 24px;color: #327501;" id="confirmNumber"></span>
		    				</li>
		    				<li class="full">
		      					<label>充值金额：</label>
		      					<input type="text" id="amount" class="inputWidth150px" value="${amount}" disabled="disabled"/>
		      					<label style="width:20px">元</label><label class="f_red">*</label>
		      				</li>
		      				<a class="btn_h30" style="margin:20px 0px 0px 20px;" id="btn_cash_charge"><span style="padding-right:27px;">充值冲正</span></a>
		      				<a class="btn_h30" style="margin:20px 0px 0px 20px;" id="btn_cash_back"><span style="padding-right:27px;">返回</span></a>
		      				<br/>
		    				<br/>
		   					<p class="tips" id="resultTip"></p>   
	    				</#if>
	  					 <br/>
	    				<br/>      
	  				</ul>
	  				<#if doCashTypeCd??&&doCashTypeCd=="0">
	  				<ul class="fillin show billSearch" style="height:300px;display:none" id="confirmUl">
					 	<li class="full">
					 		<label>充值号码：</label><label id="pnum" style="text-align: left;"></label>
<!--                    	<label>所属地区：</label><label id="parea" style="text-align: left;width: 70%;"></label>	      -->	                  	
	                    </li>
	                     <li class="full" style="display:none;">
	                        <label>帐户余额：</label><label id="powe" style="text-align: left;width: 90%;"></label>	                        
	                     </li>
	                     <li class="full">
	                     	<label>充值金额：</label><label id="pcash" style="text-align: left;"></label>
	                     </li>
                           <a id="cashPayFormSubmit" class="btn_h30" style="margin:20px 0px 0px 20px;" href="javascript:void(0);" onclick=""><span>确认充值</span></a>
                           <a id="cashPayFormBack"class="btn_h30" style="margin:20px 0px 0px 20px;" href="javascript:void(0);" onclick=""><span>返回</span></a>	
                        <br/>
	    				<br/>
	   					<p class="tips" id="resultTip"></p>                          
	             	</ul>
	             	</#if>
				</div>
			</div>
		</div>
	</div>	
<!--充值发票打印弹出框-->
<div id="ec-dialog-container-invoice-items" class="simplemodal-container" style="position: fixed; z-index: 1102; height: 277px; width: 590px; left: 379.5px; top: 15%; display: none">
	<a class="modal-close simplemodal-close" title="关闭" href="javascript:void(0)"><div class="modal-close"></div></a>
	<div tabindex="-1" class="simplemodal-wrap" style="height: 100%; outline: 0px none; width: 100%; overflow: visible;">
		<div class="ec-dialog-form-container simplemodal-data" id="ec-dialog-form-container-invoice-items" style="width: 580px; display: block;">
			<div class="ec-dialog-form-top heightChg">
				<h1 class="ec-dialog-form-title">准备票据内容</h1>
			</div>
			<div class="ec-dialog-form-content" style="height: 259px;">
				<div style="display: none;" class="ec-dialog-form-loading"></div>
				<div style="display: none" class="ec-dialog-form-message"></div>
				<div class="ec-dialog-form-form" style="display: block;">
					<form id="dialog-form-invoice-items" style="" action="#">
						<div class="selectList">
        					<dl billtype="1">
<!--         						<dt style="width:62px;">打印发票</dt>
        						<dd><input type="checkbox" id="invoice" disabled="disabled"></dd>
	        					<dt>发票代码：</dt>
	        					<dd><input type="text" class="numberTextBox width150" value="" id="invoiceCd" style="width:140px;" disabled="disabled"></dd> -->
								<dt>票据号码：</dt>
								<dd><input type="text" class="numberTextBox width150" value="" id="invoiceNbr" style="width:222px;"></dd>
							</dl>
							<dl>
								<dt id="titleDt">票据抬头：</dt>
								<dd><input type="text" class="numberTextBox width210" style="width:222px;" id="payer" placeHolder="若不填将默认使用客户名称"></dd>
								<dt>客户名称：</dt>
								<dd><label id="custName" style="margin-left:10px;"></label></dd>
							</dl>
							<dl>
								<dt id="tempDt">票据模板：</dt>
								<dd><select class="width420" id="tempListSel"></select>
								</dd>
							</dl>
						</div>
						<div id="invoiceItemsContDiv" class="form-content">
							<div class="plan_second_list cashier_tr" id="invoiceContDiv">
								<table class="contract_list"> 
									<thead>
										<tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</form>
					<div class="ec_dialog_form_btn_div bottom20px">
						<a class="btn_h30 ec_dialog_form_btn_cls" id="invoiceItemsConfirm"><span>打印</span></a>
    					<a class="btn_h30 ec_dialog_form_btn_cls" id="invoiceItemsConCancel"><span>取消</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</#if>