<@override name="title">
<#if pageType=="cashCorrect">充值冲正<#elseif pageType=="SGW">充值历史查询<#else>充值票据打印</#if>
</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>
<#if pageType=="chargeReceipt">
<script src="${contextPath}/js/busi-js/bill/cashCharge.js" type="text/javascript"></script>
</#if>
<script src="${contextPath}/js/busi-js/bill/cashCorrect.js" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_div" id="correctQuery">
	<div class="main_warp" id="d_undo_main">
		<h2 class="h2_title" id="pageType" name="${pageType}"><#if pageType=="cashCorrect">充值冲正<#elseif pageType=="SGW">充值历史查询<#else>充值票据打印</#if></h2>
		<div class="order">
			<div class="order_content" style="border: none; padding: 10px">
				<div class="order_tab_panel" style="display: block;">
					<div class="selectList" style="margin-bottom:0px">
						<dl>
<!-- 							<dt>选择地区：</dt>
							<dd>
								<input type="text" class="numberTextBox inputWidth150px" readonly id="queryArea" onclick="order.area.chooseAreaTree('bill/charge/queryCashCorrect','queryArea','areaId',3);" value="${defaultAreaName}"/>
				                <input type="hidden" id="areaId" value="${defaultAreaId}" areaCode="${defaultAreaCode}"/>
								<label class="f_red">*</label>
							</dd> -->
							<dt>号码：</dt>
							<dd>
								<input type="text" class="numberTextBox width198" style="width: 160px;" id="phoneNumber" value="" />
								<label class="f_red">*</label>
							</dd>
							<!--<dt  style="width: 105px;">
								被充值用户属性：
							</dt>
							<dd>
								<select id="destinationAttr" style="width: 90px;" >
									<option value="0">固话</option>
									<option value="1">小灵通</option>
									<option value="2">移动</option>
									<option value="3">ADSL</option>
									<option value="4">智能公话</option>
									<option value="5">互联星空</option>
								</select>
								<label class="f_red">
									&nbsp;&nbsp;&nbsp;
								</label>
							</dd>  -->
						</dl>
						<dl class="noBorder">
							<dt>查询时段：</dt>
							<dd>
								<input name="yuhou1" type="radio" value="${thisCycle}" checked="checked"/><label class="radioinput">当月</label>
              					<#list billingDates as billingDate>
              					<input name="yuhou1" type="radio" value="${billingDate.billingCycle}"/><label class="radioinput">${billingDate.billingMonth}</label>
      		  					</#list>  
							</dd>
							<dd style="margin-left:25px;">
								<input type="button" value="搜 索" class="numberSearch" id="btn_paynotesQry" />
							</dd>
						</dl>
						<dl class="noBorder" style="display:none"></dl>
					</div>
				</div>
			</div>
		</div>
        <div class="main_body">
		<h5 class="s_title">充值缴费记录</h5>		
		<div class="order" id="foregift_list">
			<div class="order_content" id="foregiftcontent" style="border: none; padding: 10px">
				<div id="paynoteslist">
					<table class="contract_list numberList">
						<thead>
							<tr>
						    	<td width="80">缴费金额</td>
						        <td width="100">付款方式</td>
						        <td width="100">缴费时间</td>
						        <#if pageType=="cashCorrect">
						        <td width="80">操作</td>
						        </#if>
						    </tr>
    					</thead>
    					<tbody id="foregiftList">
    					</tbody>
    				</table>
				</div>
			</div>
		</div>
        </div>
	</div>
</div>
<div class="main_div" id="cashCharge">
</div>
<#if pageType=="chargeReceipt">
<!--充值发票打印弹出框-->
<div id="ec-dialog-container-invoice-items" class="simplemodal-container" style="position: fixed; z-index: 1102; height: 277px; width: 590px; left: 379.5px; top: 15%; display: none">
	<a class="modal-close simplemodal-close" title="关闭" href="javascript:void(0)"><div class="modal-close"></div></a>
	<div tabindex="-1" class="simplemodal-wrap" style="height: 100%; outline: 0px none; width: 100%; overflow: visible;">
		<div class="ec-dialog-form-container simplemodal-data" id="ec-dialog-form-container-invoice-items" style="width: 580px; display: block;">
			<div class="ec-dialog-form-top heightChg">
				<h1 class="ec-dialog-form-title">准备票据内容</h1>
			</div>
			<div class="ec-dialog-form-content" style="height: 259px;">
				<div style="display: none;" class="ec-dialog-form-loading"></div>
				<div style="display: none" class="ec-dialog-form-message"></div>
				<div class="ec-dialog-form-form" style="display: block;">
					<form id="dialog-form-invoice-items" style="" action="#">
						<div class="selectList">
        					<dl billtype="1">
<!--         						<dt style="width:62px;">打印发票</dt>
        						<dd><input type="checkbox" id="invoice" disabled="disabled"></dd>
	        					<dt>发票代码：</dt>
	        					<dd><input type="text" class="numberTextBox width150" value="" id="invoiceCd" style="width:140px;" disabled="disabled"></dd> -->
								<dt>票据号码：</dt>
								<dd><input type="text" class="numberTextBox width150" value="" id="invoiceNbr" style="width:222px;"></dd>
							</dl>
							<dl>
								<dt id="titleDt">票据抬头：</dt>
								<dd><input type="text" class="numberTextBox width210" style="width:222px;" id="payer" placeHolder="若不填将默认使用客户名称"></dd>
								<dt>客户名称：</dt>
								<dd><label id="custName" style="margin-left:10px;"></label></dd>
							</dl>
							<dl>
								<dt id="tempDt">票据模板：</dt>
								<dd><select class="width420" id="tempListSel"></select>
								</dd>
							</dl>
						</div>
						<div id="invoiceItemsContDiv" class="form-content">
							<div class="plan_second_list cashier_tr" id="invoiceContDiv">
								<table class="contract_list"> 
									<thead>
										<tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</form>
					<div class="ec_dialog_form_btn_div bottom20px">
						<a class="btn_h30 ec_dialog_form_btn_cls" id="invoiceItemsConfirm"><span>打印</span></a>
    					<a class="btn_h30 ec_dialog_form_btn_cls" id="invoiceItemsConCancel"><span>取消</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</#if>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/main-template.html"/>
</#if>