<#if flag==0>
<#if MID??>
<span id="MID" style="float:right;margin:3px 25px 3px 0px;">本次查询MID：${MID}</span>
</#if>
<table class="contract_list numberList">
	<thead>
    	<tr>
	    	<td width="80">缴费金额</td>
	        <td width="100">付款方式</td>
	        <td width="100">缴费时间</td>
	        <#if (param.doCashTypeCd)??>
	        <td width="80">操作</td>
	        </#if>
	    </tr>
    </thead>
   <#if resultlst?? && (resultlst?size>0)>
    <tbody id="foregiftList">
    	<#list resultlst as items >
    	
    	<#if param.pageType=="cashCorrect" && items.paymentMethod=="16">
    	  <#break>
    	</#if>
       	<tr >
       		<td>${((items.paymentAmount)?number / 100)?string('0.00')}</td>
       		<td>
       		<#if items.paymentMethod=="11">现金
       		<#elseif items.paymentMethod=="12">支票
			<#elseif items.paymentMethod=="13">信用卡缴费
			<#elseif items.paymentMethod=="14">代缴
			<#elseif items.paymentMethod=="15">充值
			<#elseif items.paymentMethod=="16">套餐促销费用（包含预存、返还、赠送）
			<#else>
       		</#if>
       		</td>
       		<td>${items.paidTime}</td>
       		<#if param.pageType=="cashCorrect">
       		<td><a class="purchase" href="javascript:void(0);" onclick="bill.correct.goToCashCorrect('${param.areaCode}','${param.areaId}','${param.phoneNumber}','${items.reqSerial?if_exists}','${((items.paymentAmount)?number / 100)?string('0.00')}');" type="main" >充值冲正</a></td>
       		<#elseif param.pageType=="chargeReceipt">
       		<td><a class="purchase" href="javascript:void(0);" onclick="bill.charge.prepareChargeReceipt(this, '${param.areaId}', '${param.phoneNumber}','${items.reqSerial}')" type="main" >打印票据</a></td>
       		</#if>
        </tr>
        </#list>
	</tbody>
	<#else>
	<tbody>
 		<tr>
 			<td colspan="4">对不起，该用户没有充值缴费记录！</td>
 		</tr>
	</tbody>
	</#if>
</table>
<#elseif flag==1>
<#if MID??>
<span id="MID" style="float:right;margin:3px 25px 3px 0px;">本次查询MID：${MID}</span>
</#if>
<#if errorMsg??><i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">查询失败：${errorMsg}</p><#else>fail</#if>
<#else>
error
</#if>
