<@override name="title">充值订单查询</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/bill/cashCorrect.js" type="text/javascript"></script>
</@override>
<@override name="content">

<div class="main_div" id="d_query">

	<div class="main_warp">
		<h2 class="h2_title">充值订单查询</h2>
		<div class="order">
			<div class="order_content" style="border: none; padding: 10px">

				<div class="order_tab_panel" style="display: block;">
					<!-- 查询条件 BEGIN -->
					<div class="selectList">
						<dl>
							<dt>用户号码：</dt>
							<dd>
								<input type="text" class="numberTextBox width160" id="accNbrInp" value="${defaultAcctNum}" />
							</dd>
							<dt>充值流水号：</dt>
							<dd>
								<input type="text" class="numberTextBox width160" id="reqSerialInp" style="width:200px" value="" />
							</dd>
							<dt>批次号：</dt>
							<dd>
								<input type="text" class="numberTextBox width160" id="chargeGroupId" style="width:300px" value="" />
							</dd>
						</dl>
						<dl>
							<dt>开始时间：</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width: 160px;margin-right:0" id="startDtInp" readonly="readonly" value="${startDt}" /><label class="f_red" style="margin-right:0">*</label>
							</dd>
							<dt>结束时间：</dt>
							<dd>
								<input type="text" class="numberTextBox" style="width: 160px;margin-right:0" id="endDtInp" readonly="readonly" value="${endDt}" /><label class="f_red" style="margin-right:0">*</label>
							</dd>
							<dt>订单状态：</dt>
							<dd>
								<select id="olStatusCd" class="width202" style="width: 160px">
									<option value="">所有状态</option>
									<option value="SUCCESS">充值成功</option>
									<option value="UNDERWAY">充值中</option>
									<option value="FAILED">充值失败</option>
									<option value="CANCEL">订单取消</option>
									<option value="REQUEST_FAILED">请求失败</option>
								</select>
							</dd>
							<dd>
								<input type="button" value="搜 索" class="numberSearch" id="chargeRecInp" style="margin-left:82px"/>
							</dd>
						</dl>
						<dl id="TimeNote" style="display:none;"><a style="color:#FF0404">提示：当输入号码查询订单的时候，只有当前日期前30天内的可选。</a></dl>
					</div>
					<!-- 查询条件 END -->
					<!--充值记录 BEGIN -->
					<div class="phone_warp" id="chargeRecDiv">
						<table class="numberList">
							<thead>
								<tr>
									<td width="7%">用户号码</td>
									<td width="21%">充值流水号</td>
									<td width="6%">订单状态</td>
									<td width="10%">充值时间</td>
									<td width="6%">充值金额(元)</td>
									<td width="7%">受理工号</td>
									<td width="12%">受理渠道</td>
									<td width="15%">计费MID</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<!--页码-->
						<div class="paging">
							<label><span class="pageUpGray">上一页</span></label> <label
								id="pageNum"> <a class="pagingSelect" href="#">1</a>
							</label> <label><span class="pageUpGray">下一页</span></label> <label
								class="marginTop4">共0 页</label> <label class="marginTop4">跳转至</label>
							<input type="text" class="inputW20H20" /> <label
								class="marginTop4">页</label> <a href="javascript:void(0)"
								class="determineBtn">跳转</a>
						</div>
						<!--页码 end-->
					</div>
					<!-- 充值记录 -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--内容 end-->
<script>
//初始化
$(function(){
	
	$("#chargeRecInp").off("click").on("click",function(){bill.correct.queryChargeRecord(1);});
	$("#accNbrInp").off("blur").on("blur",function(){bill.correct.setThisMonth();});
	$("#startDtInp").off("click").on("click",function(){
		$.calendar({ format:'yyyy年MM月dd日',real:'#startDtInp',maxDate:$("#endDtInp").val() });
	});
	$("#endDtInp").off("click").on("click",function(){
		$.calendar({ format:'yyyy年MM月dd日',real:'#endDtInp',minDate:$("#startDtInp").val(),maxDate:'%y-%M-%d' });	
	});
	
});
</script>

</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/main-template.html"/>
</#if>