<#if flag==0> 
<#if owingCharge??> 
  <h5 class="s_title">欠费详情</h5>
  <ul class="billSearch" style="margin-top:10px;">
  	<#if MID??>
		<span id="MID" style="float:right;margin:3px 25px 3px 0px;">本次查询MID：${MID}</span>
	</#if>
  	<table width="100%" cellpadding="0" cellspacing="0" class="top_background">
        <tbody>
        <tr>
            <td align="center"><input type="radio" name="acctId" id="acctId" value="${owingCharge.acctId}" class="owing_box" /></td>
            <td align="right" class="green" width="50px">账户ID：</td>
            <td align="left"><font>${owingCharge.acctId}</font></td>
            <td align="right" class="green" width="80px">账户名称：</td>
            <td align="left"><font>
            <#if (owingCharge.acctName?length > 0)>
             ${(owingCharge.acctName?substring(0,1))?right_pad(owingCharge.acctName?length, "*")}
            </#if></font></td>
             <td align="right" class="green">减免生效时间 <label class="f_red">*</label></td>
            <td align="left">
              <input type="text" class="numberTextBox" style="width:130px" id="p_startDt" readonly="readonly" value="${p_startDt}" onclick="$.calendar({ format:'yyyy年MM月dd日 HH时mm分ss秒',real:'#p_startDt',minDate:'%y-%M-%d'});" />
            </td>                     
            <td align="right" class="green">减免失效时间 <label class="f_red">*</label></td>
            <td align="left">
             <input type="text" class="numberTextBox" style="width:130px" id="p_endDt" readonly="readonly" value="${p_endDt}" onclick="$.calendar({ format:'yyyy年MM月dd日 HH时mm分ss秒',real:'#p_endDt',minDate:$('#p_startDt').val()});" />
            </td> 
            <td align="center" class="green">操作原因<label class="f_red">*</label></td>
            <td align="center" class="orange"><input id="reason_${owingCharge.acctId}" type = "text" class="numberTextBox" style="width:160px;"></td>
            <td align="right" class="green" colspan="8"></td>
           
        </tr>
        <tr>
            <td align="right" class="green">滞纳金（元）：</td>
            <td align="left"><font>${owingCharge.due?number/100}</font></td>
            <td align="right" class="green">减免滞纳金（元）：</td>
            <td align="left"><font>${owingCharge.derateDue?number/100}</font></td>
            <td align="right" class="green">可抵扣余额（元）：</td>
            <td align="left"><font>${owingCharge.validBalance?number/100}</font></td>
            <td align="right" class="green">应收余额（元）：</td>
            <td align="left"><font>
            <#if owingCharge.shouldCharge>
            ${owingCharge.shouldCharge?number/100}
            </#if></font></td>
            <td align="right" class="green">上次零头（元）：</td>
            <td align="left"><font>${owingCharge.previousChange?number/100}</font></td>
            <td align="right" class="green">本次零头（元）：</td>
            <td align="left"><font>${owingCharge.currentChange?number/100}</font></td>
           
        </tr>
        </tbody>
        </table>
        <input type="hidden" id="shouldCharge" value="${owingCharge.shouldCharge}" alt="应收金额"/>
        <input type="hidden" id="due" value="${owingCharge.due}" alt="滞纳金"/>
        <input type="hidden" id="derateDue" value="${owingCharge.derateDue}" alt="减免滞纳金"/>
   	<table width="100%" cellpadding="0" cellspacing="0">
        <thead>
        	<tr>
        	    <td align="center"></td>
                <td align="center">账务周期</td>
                <td align="center">费用类型</td>
                <td align="center">帐目类型名称</td>
                <td align="center">费用（元）</td>
            </tr>
        </thead>
        <tbody>
        <#assign totalOwingCharge =0>
        <#assign idx =0>
<#list owingCharge.feeBillingCycle as item >
		 <#assign idx =0>
        <#list item.acctItemGroup as acctItem >
        	<#list acctItem.acctItemType as typeItem >
        	<#if idx == 0>
			 <tr class="tittle">
			    <td align="center"></td>
                <td align="center">${item.billingCycleId}</td>
                <td align="center"><#if (acctItem.acctItemGroupId?number==0)>通讯费<#else></#if></td>
                <td align="center" class="orange">${typeItem.acctItemTypeName}</td>
                <td align="center" class="orange">${(typeItem.acctItemCharge?number/100)?string("0.00")}</td>
            </tr>
			<#else>
			 <tr>
			    <td align="center"></td>
                <td align="center"></td>
                <td align="center"><#if (acctItem.acctItemGroupId?number==0)>通讯费<#else></#if></td>
                <td align="center" class="orange">${typeItem.acctItemTypeName}</td>
                <td align="center" class="orange">${(typeItem.acctItemCharge?number/100)?string("0.00")}</td>
            </tr>
			</#if>
			<#assign totalOwingCharge =totalOwingCharge?number+typeItem.acctItemCharge?number>
           <#assign idx =idx+1>
            </#list>
        </#list>
</#list>
           
            <tr>
            	<td style="font-size:14px; height:30px" colspan="4">
            	<a onclick="mktRes.owingCharge.derateDue();" class="btn_h30"  style="margin:10px 0px 10px 45px;"><span style="padding-right:27px;">确认减免</span></a></td>
              <td align="center" style="font-size:16px; height:30px">欠费合计：<span class="total orange">${(totalOwingCharge/100)?string("0.00")}</span>元</td>
            </tr>
        </tbody>
        </table>
        
          
  </ul>
  <#else>
<#if MID??>
	<span id="MID" style="float:right;margin:3px 25px 3px 0px;">本次查询MID：${MID}</span>
</#if>
<i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">没有查到欠费信息</p>
</#if>
<#elseif flag==1>
<#if errorMsg??>
<ul class="billSearch" style="margin-top:10px;">
	<i><img width="25" height="25" style="margin:5px;" src="${contextPath}/image/icon/tip.png"></i><p style="position:relative;left:40px;bottom:30px;margin-bottom:-20px;width:97%;word-break:break-all;color:red;">查询失败：${errorMsg}</p>
</ul>
<#else>
fail
</#if>
<#else>
error
</#if>