<#macro formatNum num unit> 
  <#if unit="0">${(num?number/60)?string("0")}分钟
  <#elseif unit="1">${num}KB
  <#elseif unit="2">${num?number/100}元
  <#elseif unit="3">${num}次
  </#if>
</#macro>

<#if resultMap??&&resultMap.offerUsageInfo??&&resultMap.offerUsageInfo.productOFInfo?? && (resultMap.offerUsageInfo.productOFInfo?size>0)>
<#if MID??>
<span id="MID" style="float:right;margin:3px 25px 3px 0px;">本次查询MID：${MID}</span><br><br>
</#if>
 <!-- 套餐选项卡 -->
 <div class="cardtab">	
		<ul id="acct_tab" class="pdcard">
<#list resultMap.offerUsageInfo.productOFInfo as items >
 			<li <#if items_index=0>class="setcon"</#if> onclick="bill.offerUsageMgr.changeTab(this)">${items.prodOffName}</li>
</#list>
<div class="clear"></div>
		</ul>
		<div class="clear"></div>
</div>

<#list resultMap.offerUsageInfo.productOFInfo as items >
 			<div class="order acct_tab" <#if items_index!=0>style="display:none;"</#if>>
			<!--套餐余量列表-->
<!-- 			开始日期：${items.startDate}   结束日期：${items.endDate} -->
			<div class="order_content" id="foregiftcontent" style="border: none; padding: 10px">
				<div id="foregiftlist">
					<table class="contract_list numberList">
						<thead>
							<tr>
						    	<td width="80">累积量名称</td>
						    	<td width="80">总量</td>
						    	<td width="80">已使用</td>
						    	<td width="80">剩余</td>
						    	<td width="80">使用情况</td>
						    </tr>
    					</thead>
 <#if items.accuInfo?? && (items.accuInfo?size>0)>
    <tbody id="foregiftList">
    	<#list items.accuInfo as accu >
       	<tr >
       		<td>${accu.accuRscname}</td>
       		<td><@formatNum num="${accu.ratableAmount?number}" unit="${accu.unitTypeId}"/></td>
       		<td><@formatNum num="${accu.ratableAmount?number-accu.balanceAmount?number}" unit="${accu.unitTypeId}"/></td>
       		<td><@formatNum num="${accu.balanceAmount}" unit="${accu.unitTypeId}"/></td>
       		<#if (accu.ratableAmount?number>0)>
       		<td><div class="progress"><span style="width:${100-accu.balanceAmount?number/accu.ratableAmount?number*100}%;"></span></div>${(100-accu.balanceAmount?number/accu.ratableAmount?number*100)?string("0.#")}%</td>
       		<#else>
       		<td></td>
       		</#if>
        </tr>
        </#list>
	</tbody>
	<#else>
	<tbody>
 		<tr>
 			<td colspan="9">对不起，该套餐没有余量信息！</td>
 		</tr>
	</tbody>
	</#if>
    				</table>
				</div>
			</div>
		</div>
</#list>

<#else>
<#if message?exists>
 	${message}
 <#else>
		对不起，该号码没有余量信息！<#if MID??>本次查询MID：${MID}</#if>
</#if>
</#if>
