<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试页面</title>
</head>
<body>


<a href="${contextPath}/app/main/common?menu=1">实名制客户创建</a><br>
<a href="${contextPath}/app/main/common?menu=2">资料修改</a><br>
<a href="${contextPath}/app/main/agent_common?menu=3">客户资料返档</a><br>
<a href="${contextPath}/app/main/common?menu=4">受理单查询</a><br>
<a href="${contextPath}/agent/main/common?menu=5">新装</a><br>
<a href="${contextPath}/app/main/agent_common?menu=6">套餐变更</a><br>
<a href="${contextPath}/app/main/common?menu=7">销售品信息查询</a><br>
<a href="${contextPath}/app/main/common?menu=8">可选包功能产品</a><br>
<a href="${contextPath}/app/main/common?menu=9">客户创建</a><br>
<a href="${contextPath}/agent/main/agent_common?menu=10">购手机</a><br>
<a href="${contextPath}/agent/main/agent_common?menu=11">补换卡</a><br>
<a href="${contextPath}/app/main/agent_common?menu=12">客户定位</a><br>
<a href="${contextPath}/agent/main/agent_common?menu=13">主推终端</a><br>
</body>
</html>