<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>业务受理</title>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<META name="keywords" content="电信集团">
		<META name="description" content="电信集团">
		<#include "/public/common-app-css-tpl.html"/>
		<#include "/public/common-tokenapp-js-tpl.html"/>
		<#include "/public/common-appmem-js-tpl.html"/>
		<script>
		//初始化渠道
		$(function() {
			OrderInfo.getChannelList();
		});
		
		window.onload= function(){ 
			OrderInfo.typeCd="${typeCd}";
			OrderInfo.verifyLevel='${verifyLevel}';
			//用户信息
			OrderInfo.staff=eval("("+'${staffInfo_}'+")");
			//跳转地址
			var params=eval("("+'${jumpParams_}'+")");
			var actionFlag=params.actionFlag;
			var nextFlag = false;
			var mergeFlag = "${mergeFlag}";
			OrderInfo.actionFlag=3;
			if(mergeFlag=="0"){
				//客户定位
				var custInfos = eval("("+'${custInfo_}'+")");
				$.each(custInfos.custInfos,function(index,custInfo){
					var addressStr=custInfo.addressStr;
					var areaId=custInfo.areaId;
					var areaName=custInfo.areaName;
					var authFlag="1";
					var custFlag=custInfo.custFlag;
					var custId=custInfo.custId;
					var idCardNumber=custInfo.idCardNumber;
					var identityCd=custInfo.identityCd;
					var identityName=custInfo.identityName;
					var norTaxPayer="";
					var partyName=custInfo.partyName;
					var segmentId=custInfo.segmentId;
					var segmentName=custInfo.segmentName;
					var vipLevel=custInfo.vipLevel;
					var vipLevelName=custInfo.vipLevelName;
					OrderInfo.cust={"addressStr": addressStr,"areaId": areaId,"areaName": areaName,"authFlag": "1","custFlag": custFlag,"custId": custId,"idCardNumber": idCardNumber,"identityCd": identityCd,"identityName": identityName,"norTaxPayer": "","partyName": partyName,"segmentId": segmentId,"segmentName": segmentName,"vipLevel": vipLevel,"vipLevelName": vipLevelName};
					return false;
				});
				//订购业务
				if(actionFlag!="1"){
					var prodInfo=eval("("+'${prodInfo_}'+")");
					
					var stopRecordCd="";
					var stopRecordName="";
					
					if(prodInfo.prodStopRecords!=null && prodInfo.prodStopRecords.length>0){
						$.each(prodInfo.prodStopRecords,function(i,prodStopRecord){
							stopRecordCd=prodStopRecord.stopRecordCd;
							stopRecordName=prodStopRecord.stopRecordName;
						});
					}
					
					var custId="";
					var custName="";
					var startDt="";
					var endDt="";
					var prodOfferId=""; 
					var prodOfferInstId="";
					var is3G="";
					
					if(prodInfo.mainProdOfferInstInfos!=null && prodInfo.mainProdOfferInstInfos.length>0){
						$.each(prodInfo.mainProdOfferInstInfos,function(i,mainProdOfferInstInfo){
							custId=mainProdOfferInstInfo.custId;
							custName=mainProdOfferInstInfo.custName;
							startDt=mainProdOfferInstInfo.startDt;
							endDt=mainProdOfferInstInfo.endDt;
							prodOfferId=mainProdOfferInstInfo.prodOfferId;
							prodOfferInstId=mainProdOfferInstInfo.prodOfferInstId;
							is3G=mainProdOfferInstInfo.is3G;
						});
					}
					
					var _choosedProdInfo  = {
						"accNbr" :prodInfo.accNbr,//产品接入号
						"productName" :prodInfo.productName,//产品规格名称
						"prodStateName" :prodInfo.prodStateName,//产品状态名称
						"feeTypeName" :prodInfo.feeType.feeTypeName,//付费方式名称
						"prodInstId" :prodInfo.prodInstId,//产品ID
						"extProdInstId" : prodInfo.extProdInstId,//省内产品实例ID
						"corProdInstId" : prodInfo.corProdInstId,//外部产品实例ID
						"prodStateCd" :prodInfo.prodStateCd,//产品状态CD
						"productId" :prodInfo.productId,//产品规格ID
						"feeType" :prodInfo.feeType.feeType,//付费方式id
						"prodClass" :prodInfo.prodClass,//产品大类 4 表示4G；3表示3G
						"stopRecordCd" :stopRecordCd,//停机记录CD
						"stopRecordName" :stopRecordName,//停机记录名称
						"prodOfferName" :prodInfo.prodOfferName,//主套餐名称
						"custName" :custName,//所属人客户名称
						"startDt" :startDt,//生效时间
						"endDt" :endDt,//失效时间
						"prodOfferId" :prodOfferId,//主套餐规格ID
						"prodOfferInstId" :prodOfferInstId,//主套餐实例ID
						"custId" :custId,//所属人客户ID
						"is3G" :is3G,//3G/4G主销售品标识
						"areaCode" :prodInfo.zoneNumber,//产品地区CODE
						"areaId" : prodInfo.areaId//产品地区id
					};
					
					order.prodModify.choosedProdInfo=_choosedProdInfo;
					
				}
				nextFlag = true;
			}else{
				var acrNum = "${acrNum}";
				var provCustAreaId = "${provCustAreaId}";
				nextFlag = cust.queryCustCompreInfo(acrNum,provCustAreaId,3,'');
			}
			//订单必要参数
			var provinceInfo=eval("("+'${provinceInfo_}'+")");
			//成员变更参数 
			OrderInfo.memberChangeInfo.newSubPhoneNum='${newSubPhoneNum}';
			OrderInfo.memberChangeInfo.oldSubPhoneNum='${oldSubPhoneNum}';
			OrderInfo.memberChangeInfo.mktResInstCode='${mktResInstCode}';
			//mktResInstCode
			order.memberChange.newSubPhoneNum=OrderInfo.memberChangeInfo.newSubPhoneNum;  //新成员\
			order.memberChange.oldSubPhoneNum=OrderInfo.memberChangeInfo.oldSubPhoneNum;
			order.memberChange.salesCode = "${salesCode}";
			order.memberChange.mktResInstCode=OrderInfo.memberChangeInfo.mktResInstCode;
			var reloadFlag=provinceInfo.reloadFlag;
			OrderInfo.provinceInfo.provIsale=provinceInfo.provIsale;	
			OrderInfo.provinceInfo.redirectUri=provinceInfo.redirectUri;
			OrderInfo.provinceInfo.isFee=provinceInfo.isFee;
			OrderInfo.provinceInfo.reloadFlag=provinceInfo.reloadFlag;
			order.memberChange.reloadFlag=OrderInfo.provinceInfo.reloadFlag;
		    OrderInfo.provinceInfo.prodOfferId=provinceInfo.prodOfferId;
		    OrderInfo.provinceInfo.mergeFlag = "${mergeFlag}";
			OrderInfo.provinceInfo.prodOfferName=provinceInfo.prodOfferName;
			var terminalCode='${terminalCode}'; //终端串码
			//终端串码
			if(terminalCode!=null && terminalCode!="" && terminalCode!="null"){
				OrderInfo.terminalCode=terminalCode;
			}
			if(OrderInfo.provinceInfo.reloadFlag=="N"){
	        	OrderInfo.reloadOrderInfo=eval("("+'${reloadOrderInfo_}'+")"); 

	        	order.memberChange.rejson=OrderInfo.reloadOrderInfo;
	           	var custOrderAttrs=OrderInfo.reloadOrderInfo.orderList.orderListInfo.custOrderAttrs;

		   		var is=false;
		   		
		   		$.each(custOrderAttrs,function(){
		   		  if(this.itemSpecId=="30010024"){
		   		   if(this.value=="3"){
		   		        is=true;
		   		        return false;
		   		    }
		   		  }

		   		});
		   		if(is){
		   			
		   		}
		   		else{
		   			 $.alert("提示","不是成员变更受理流水号，请重试！");
		   			 return ;
		   		}  
		   		
			}
			//装载数据
			var custInfos=OrderInfo.cust;//JSON.stringify(OrderInfo.cust);//$.parseJSON(window.localStorage.getItem("OrderInfo.cust"));
			var staffInfos=OrderInfo.staff;//JSON.stringify(OrderInfo.staff);//$.parseJSON(window.localStorage.getItem("OrderInfo.staff"));
			var prodIdInfos=order.prodModify.choosedProdInfo//JSON.stringify(order.prodModify.choosedProdInfo);//$.parseJSON(window.localStorage.getItem("order.prodModify.choosedProdInfo"));
			$("#p_cust_areaId").val(OrderInfo.cust.areaId);
			if(nextFlag){
				common.callOrderServer(staffInfos,custInfos,prodIdInfos,params);
			}
		}
		</script>
	</head>
	<body>
		<!-- app 二次业务统一入口 -->
		<!-- 省份传入主副卡号码 -->
		<input type="hidden" id="mainPhoneNum" value="${mainPhoneNum}"/>
		<input type="hidden" id="newSubPhoneNum" value="${newSubPhoneNum}"/>
		<input type="hidden" id="p_cust_areaId" value="">
		<div align="center" id="load"></div>
		<div id="content"></div>
		
		<!--接口异常错误封装展示-->
		<#include "/public/public-app-error.html"/>
		
		<!--弹出框-->
		<#include "/public/public-app-dialog.html"/>
		
		<!-- 渠道展示 -->
		<#include "/public/app-channels.html"/>
	</body>
</html>
