<script>
	var contextPath = "${request.getContextPath()}";//上文变量
	var globalAppDesc = "${APPDESC}";
</script>

<#if TOKENCOMPRESS_JS_LEVEL?? && TOKENCOMPRESS_JS_LEVEL == "BUSI">
<script src="${contextPath}/merge/js/busiAppMem-${BASE_VERSION}.min.js?${jsversion}" type="text/javascript"></script>
<#else>
<script src="${contextPath}/js/busi-js/common/const.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/common/common.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order/orderProdModify.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/orderInfo.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/soOrder.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/attachOffer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/calCharge.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/order.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/orderMain.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/offerQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/offerChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/cacheData.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/custMgr.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cust/cust.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cart/cart.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/rule.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/mktRes/phoneNumber.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/mktRes/terminal.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/uim.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/query/queryProd.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/print/print.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/dealer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/newmember/memberChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/offerCheck.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/orderCheck.js?${jsversion}" type="text/javascript"></script>
</#if>