<!-- Bootstrap 公共样式-->
<link href="${contextPath}/css/opapp-css/bootstrap.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/opapp-css/nouislider.fox.css"
	rel="stylesheet">
<link href="${contextPath}/css/opapp-css/bootstrap-select.css"
	rel="stylesheet">
<link href="${contextPath}/css/opapp-css/bootstrap-toggle.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/opapp-css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/opapp-css/bootstrapValidator.css"
	rel="stylesheet"><!-- 表单验证的css -->	
<link rel="stylesheet" href="${contextPath}/css/opapp-css/ec.pagination.scroll.css">
<link href="${contextPath}/css/opapp-css/style.css" rel="stylesheet">
<style>
.modal-open {
  overflow: initial !important;
  padding-right: 0px !important;
}
.btn-uim {display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: white;
  width: 100%;
}
.styled-select {
 -webkit-appearance: listbox;
}  

</style>