<script>
	var contextPath = "${request.getContextPath()}";//上文变量
	var globalAppDesc = "${APPDESC}";
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="${contextPath}/js/app-js/third-js/jquery-1.11.1.min.js?${jsversion}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${contextPath}/js/app-js/third-js/bootstrap.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-select.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-datetimepicker.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-datetimepicker.zh-CN.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/jquery.nouislider.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-toggle.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/touch.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrapValidator.js?${jsversion}"></script><!-- 表单验证的js -->
<script src="${contextPath}/js/third-js/jquery/jquery.cookies.js?${jsversion}"></script>
<script src="${contextPath}/js/third-js/utils/UUID.js?${jsversion}"></script>
<script src="${contextPath}/js/pad-js/third-js/iscroll.js"></script>
<!-- 以上是第三方js -->
<script src="${contextPath}/js/our-js/common.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/serviceAxClient.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/jquery.overlay.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.dialog.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.jqm.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/bs.beamDialog.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.pagination.scroll.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/our-js/ec.util.js?${jsversion}"></script>
<script src="${contextPath}/js/our-js/cordova.js"></script>
<script src="${contextPath}/js/our-js/myplugin.js"></script> 
<!-- <script src="${contextPath}/js/our-js/ec.form.dialog.js?${jsversion}"></script>
<script src="${contextPath}/js/4g-js/easydialog.min.js?${jsversion}"></script> -->