<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>山东电信</title>
<link rel="stylesheet" href="../../../resources/css/pad-css/jquery.mobile-1.4.2.css">
<link rel="stylesheet" href="../../../resources/css/pad-css/pad.css">
<script src="../../../resources/js/pad-js/third-js/jquery-1.9.1.min.js"></script>
<script src="../../../resources/js/pad-js/third-js/jquery.mobile-1.4.2.min.js"></script>
<script type="text/javascript">
	//$.get("top.html",function(data){
	//$("#top").html(data);
	//});
$(document).ready(function(){
	$("#logobar").on("tap",function(){
		$("#navbar").slideToggle(400);
	});
	$(".numberlist .ui-grid-b").on("tap",function(){
		$(this).addClass("numlistbg").siblings().removeClass("numlistbg").parents().siblings().find(".ui-grid-b").removeClass("numlistbg");
	});
	$("#searchmore").on("tap",function(){
		$("#moresearch").slideToggle(400);
		$(this).toggleClass("ui-icon-plus");
		$(this).toggleClass("ui-icon-minus");
	});
});

</script>
</head>
<body>
<div data-role="page" class="index">
  <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="i" id="top"> <span class="logo4g"></span>
    <form method="post" action="demoform.asp" class="usersearch">
      <label>客户定位</label>
      <select name="user" id="user" data-native-menu="false" class="searchselect"  data-icon="select">
        <option value=”京” selected=”selected”>北京</option>
        <option value=”沪”>上海</option>
        <option value=”津”>天津</option>
        <option value=”渝”>重庆</option>
        <option value=”冀”>河北</option>
        <option value=”豫”>河南</option>
        <option value=”鄂”>湖北</option>
        <option value=”湘”>湖南</option>
        <option value=”苏”>江苏</option>
        <option value=”赣”>江西</option>
        <option value=”辽”>辽宁</option>
        <option value=”吉”>吉林</option>
        <option value=”黑”>黑龙江</option>
        <option value=”陕”>陕西</option>
        <option value=”鲁”>山东</option>
        <option value=”晋”>山西</option>
        <option value=”川”>四川</option>
        <option value=”青”>青海</option>
        <option value=”皖”>安徽</option>
        <option value=”琼”>海南</option>
        <option value=”粤”>广东</option>
        <option value=”桂”>广西</option>
        <option value=”贵”>贵州</option>
        <option value=”浙”>浙江</option>
        <option value=”闽”>福建</option>
        <option value=”甘”>甘肃</option>
        <option value=”云”>云南</option>
        <option value=”蒙”>内蒙古</option>
        <option value=”宁”>宁夏</option>
        <option value=”新”>新疆</option>
        <option value=”藏”>西藏</option>
        <option value=”港澳台”>港澳台</option>
      </select>
      <select name="usertype" id="usertype" data-native-menu="false" class="searchselect" data-icon="select">
        <option value="mon">接入号码</option>
      </select>
      <select name="numonoff" id="numonoff" data-role="slider" class="numonoff">
        <option value="numon">指定号码</option>
        <option value="numoff">不指定号码</option>
      </select>
      <input type="text" name="usernum" id="usernum" placeholder="请输入接入号码" class="searchtext">
      <a href="#userresult" data-role="button" data-icon="search" data-theme="g">查询</a> <a href="#" data-role="button" data-icon="plus" data-theme="g">新建客户</a>
    </form>
  </div>
  <div data-role="content">
  <div class="search">
    	<span>号码</span>
        <select name="traffic" id="traffic" data-native-menu="false" data-theme="w">
        <option value="0">选择号池</option>
        </select>
        <label>号码类型：</label>
        <select name="money" id="money" data-native-menu="false">
        <option value="0">不限</option>
        </select>
        <label>预存话费：</label>
        <select name="speechtime" id="speechtime" data-native-menu="false">
        <option value="0">不限</option>
        </select>
       	<a href="#" data-role="button" data-icon="refresh" data-theme="g">换一组</a>
      <a id="searchmore" href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="r">更多</a>
      <div class="moresearch" id="moresearch">
        <label>自定义号码：</label>
        <select name="traffic" id="traffic" data-native-menu="false">
        <option value="0">号头</option>
        </select>
 		 <input type="search" name="search" id="search" placeholder="最后4位" data-theme="r">
         <label>查询预占：</label>
         <input type="search" name="search" id="search" placeholder="请输入预占号码的身份证号码" data-theme="r" class="yzs">
         <label>密码预占：</label>
         <select name="passyz" id="passyz" data-role="slider">
        <option value="n">否</option>
        <option value="y">是</option>
      </select>
      </div>
    </div>
    <div class="numbertitle">
    	<div class="ui-grid-b">
        	<div class="ui-block-a">号码</div>
           <div class="ui-block-b">预存话费</div>
           <div class="ui-block-c">月保底消费</div>
       </div>
       <div class="ui-grid-b">
        	<div class="ui-block-a">号码</div>
           <div class="ui-block-b">预存话费</div>
           <div class="ui-block-c">月保底消费</div>
       </div>
    </div>
    <ul data-role="listview" class="numberlist">
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
      <li>
        <div class="ui-grid-b">
        	<div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
        <div class="ui-grid-b">
           <div class="ui-block-a">133 2783 2871</div>
           <div class="ui-block-b">0元</div>
           <div class="ui-block-c">0元</div>
        </div>
      </li>
    </ul>
	<div class="page">↓ 滚动更多<span><font class="green">1</font>/2</span></div>
  </div>
  <a class="logo" id="logobar"></a>
  <div id="navbar" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="i">
    <div data-role="navbar">
      <ul class="navbar4g">
        <li><a href="#" data-icon="bar01">营业受理</a></li>
        <li><a href="#" data-icon="bar02">批量受理</a></li>
        <li><a href="#" data-icon="bar03">费用管理</a></li>
        <li><a href="#" data-icon="bar04">综合查询</a></li>
        <li><a href="#" data-icon="bar05">营业报表</a></li>
        <li><a href="#" data-icon="bar06">工作支持</a></li>
      </ul>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="n">
    <button data-inline="true" data-icon="next">下一步</button>
  </div>
  <div data-role="panel" data-position="right" id="userresult">
  </div>
</div>
</body>
</html>