<@override name="title">天翼高清机顶盒预约查询</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/STB/STBreserveQuery.js?${jsversion}" type="text/javascript"></script>

<style>
.STB_query_moreInfo:hover {
	text-decoration : underline;
	cursor : pointer;
}
</style>

</@override>

<@override name="content">

<div class="main_div">
	<div class="main_warp">
    	<h2 class="h2_title">天翼高清机顶盒预约单查询</h2>
        <div class="order">
        	<div class="order_content" style="border:none; padding:10px">
            	<div class="order_tab_panel" style="display:block;">
                	<div class="selectList">
                    	<dl>
                        	<dt>地区：</dt>
                            <dd>
                            	<input type="text" class="numberTextBox width198" id="STB_areaName" readonly="readonly" onclick="STB.reserveQuery.chooseArea()" value="${defaultAreaName}" placeholder="请选择地区" /><label class="f_red">*</label>
                            	<input type="hidden" id="STB_areaId" value="${defaultAreaId}">
                            </dd>
                            
                            <dt>渠道：</dt>
                            <dd>
                            	<select name="" class="width202" id="STB_channelId">
                            		<#if Session["_staff_channel"]?? && (Session["_staff_channel"]?size>0) >
									<#list Session["_staff_channel"] as channel>
			                       	<option value="${channel.id}" areaid="${channel.areaId}">${channel.name}</option>
			                     	</#list>
									</#if>
                            	</select><label class="f_red">*</label>
                          	</dd>
                      	</dl>
                      	
                      	<dl>
                       		<dt>开始时间：</dt>
                      		<dd>
                        		<input type="text" class="numberTextBox width198" id="STB_startDt" readonly="readonly" value="${defaultStartDate}" /><label class="f_red">*</label>
                          	</dd>
                          	
                        	<dt>结束时间：</dt>
                            <dd>
                     			<input type="text" class="numberTextBox width198" id="STB_endDt" readonly="readonly" value="${defaultEndDate}" /><label class="f_red">*</label>
                           	</dd>
              			</dl>
                            
                      	<dl class="noBorder">
        					<dt>预约编号：</dt>
                           	<dd>
                           		<input type="text" class="numberTextBox width198" id="STB_reserveId" />
                           	</dd>
                           	
                           	<dt>证件号码：</dt>
                      		<dd>
                      			<input type="text" class="numberTextBox width198" id="STB_identityNum" />
                      		</dd>
                                  
                          	<dt>客户名称：</dt>
                           	<dd>
                           		<input type="text" class="numberTextBox width198" id="STB_custName" />
                          	</dd>
                           	<dd>
                           		<input type="button" value="搜 索" class="numberSearch" onclick="STB.reserveQuery.queryReserveOrders()" />
                          	</dd>
                  		</dl>
                  </div>
                  
                    <div class="phone_warp" id="STBreserveOrdersTable" style="display:none;">
                                            
                  </div>
                </div>         
            </div>
        </div>
    </div>
</div>
	
</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
