<#if flag==0>
<table class="numberList">
	<thead>
		<tr>
        	<td width="100">号码类型</td>
        	<td width="160">号码</td>
        	<td width="140">预占时间</td>
          	<td width="100">地区</td>
         	<td width="80">操作</td>
  		</tr>
 	</thead>	         				
  	<tbody>
 		<#list pageModel.list as numInfo>
 		<tr>
 			<td><#if numInfo.ACC_NBR_TYPE=="1">手机号<#else>UIM号 </#if></td> 			
 			<td><#if numInfo.ACC_NBR??>${numInfo.ACC_NBR}<#else>${numInfo.ACC_ID}</#if></td>
 			<td>${numInfo.CREATE_DATE}</td>
 			<td>${numInfo.AREA_NAME}</td>
 			<td><a id="<#if numInfo.ACC_NBR??>${numInfo.ACC_NBR}<#else>${numInfo.ACC_ID}</#if>" name="${numInfo.ACC_NBR_TYPE}" areaid="${numInfo.AREA_ID}" class="purchase" type="main" href="javascript:void(0)" onclick="order.release.release(this)">释放</a></td>
 		</tr>
 		</#list>
   	</tbody>
</table>
<!--页码-->
<@portal.modelPagination pageModel 5 "order.release.queryReleaseNum"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>          
<!--页码 end--> 
<#elseif flag==1>
<table class="numberList">
	<thead>
		<tr>
        	<td width="100">号码类型</td>
        	<td width="160">号码</td>
        	<td width="140">预占时间</td>
          	<td width="100">地区编号</td>
         	<td width="80">操作</td>
  		</tr>
 	</thead>	
	<tbody>
		<tr>
			<td colspan=5>未查询到待释放的号码资源</td>
		</tr>
	</tbody>
</table>
<#elseif flag==2>
fail
<#else>
error
</#if>