@charset "utf-8";
/*短按钮改图标*/
a.a_browse {
	width:16px;
	height:16px;
	background:url(../image/a_folder.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_allot {
	width:16px;
	height:16px;
	background:url(../image/a_allot.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_back {
	width:16px;
	height:15px;
	background:url(../image/a_back.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_cancel {
	width:16px;
	height:16px;
	background:url(../image/a_cancel.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_delete {
	width:16px;
	height:16px;
	background:url(../image/a_delete.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_details {
	width:16px;
	height:16px;
	background:url(../image/a_details.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_down {
	width:16px;
	height:16px;
	background:url(../image/a_down.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_edit {
	width:16px;
	height:16px;
	background:url(../image/a_edit.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_empty {
	width:16px;
	height:16px;
	background:url(../image/a_empty.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_offsale {
	width:16px;
	height:16px;
	background:url(../image/a_offsale.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_onsale {
	width:16px;
	height:16px;
	background:url(../image/a_onsale.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_pass {
	width:16px;
	height:16px;
	background:url(../image/a_pass.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_up {
	width:16px;
	height:16px;
	background:url(../image/a_up.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}
a.a_search {
	width:16px;
	height:16px;
	background:url(../image/search.png) no-repeat 0 center;
	float:left;
	margin-left:10px;
}