<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><@block name="title"></@block></title>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<META name="keywords" content="电信集团">
		<META name="description" content="电信集团">
		<#include "/common-css-tpl.html"/>
		<#include "/common-js-tpl.html"/>
		
</head>
<script src="${contextPath}/js/busi-js/staff/login.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/areaTree.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/staff/passwordMgr.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/our-js/global.js?${jsversion}" type="text/javascript"></script>
<!-- <script src="${contextPath}/js/busi-js/staff/staffMgr.js?${jsversion}" type="text/javascript"></script> -->

<div class="main_div" id="main_content">
	<!--位置导航 end-->
	<div class=" main_warp m_top0">  
	    <!--头部-->
		<!-- 头部 -->
		<div class="navsort1"></div> 
		<!--步骤1 -->
    <div id="step1" class="step">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:输入工号</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:验证身份</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:重置密码</a></li>
         </ul>
    </div> 
     <!--步骤2 -->
    <div id="step2" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:输入信息</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:验证身份</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:重置密码</a></li>
        </ul>
    </div>   
    <!--步骤3 -->
     <div id="step3" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:输入工号</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:验证身份</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:重置密码</a></li>
        </ul>
    </div>   
 </div>   
        <!--密码重置第一步-->
        <div class="order_confirmation">
        	<h2 class="h2_title">设定新密码</h2>
            <div class="main_body">
                 <label id="msg" style="display:none;margin-left:100px;color:red;"></label>  
                <div id ="info_1">
                <form id="form">
                    <table class="network">
                          <tbody>
                          <tr>
					          <td width="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地区：</td>
					          <td>
					             <div>
					               <p class="floatleft">
					                 <input type="text" class="inputWidth228px" readonly id="p_password_areaId_val" onclick="order.area.chooseAreaTreeAll('p_password_areaId_val','p_password_areaId',3,'limitProvince');" data-validate="validate(required:地区不能为空) on(keyup blur)" placeholder="请选择地区" readonly />
		                             <input type="hidden" id="p_password_areaId">
					               </p>
			                    </div>
					         </td>
					       </tr> 
					        <tr>  
					         <td width="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工号：</td>
					          <td>
					             <div>
				                        <p class="floatleft"><input id="staffCode" type="text" value="" class="inputWidth228px" data-validate="validate(required:工号不能为空) on(keyup blur)" placeholder="请输入工号" maxlength="16"/>
				                        &nbsp;&nbsp;&nbsp;&nbsp;<span  id="tip" style ="display:none" class="f_red"> 该工号不存在，请输入正确工号</span>
				                        </p>
			                    </div>
			                 </td>
					         </tr>
					         <tr id="validatecode_li" code="${image_code}">
					                <td width="100">&nbsp;	验证码：</td>
						        
						            <td>
						              <input type='text' id='vali_code_input' name='validatecode' class="inputWidth228px" placeholder="请输入验证码" maxlength="6"/>
					            	<a alctag="nochecklogin" id="vali_code_a" title="看不清楚，换一张">
					            		<img id="validatecodeImg" src="${contextPath}/validatecode/codeimg.jpg?' + Math.floor(Math.random()*100)).fadeIn()" class="codeimg" style="width:80px;height:32px"/>
					            	</a>
					            </td>
				          </tr>
                        </tbody>
                    </table>
                    <div align="right" style="margin:20px auto;">
					   <a alctag="nochecklogin" style="margin-right:60px;"id="protobtn" class="btna_o" href="javascript:void(0);"><span>下一步</span></a>
				    </div>
                    </form>  
                </div>
                <div id="info_2" style="display:none">
                  <!-- <table class="contract_list">
			            <thead>
			                <tr>
			                  <td colspan="6" align="center">短信验证码</td>
			                </tr>                                                    
			            </thead>
			        </table> -->
			       <form id="form2">
			        <table class="network">
			          <tr >
			            <td><p>为确保您的个人信息安全，在办理该业务前，请输入随机短信验证码</p></td>
			          </tr>
			          <tr>
			            <td>
			            	<span style="float:left; margin-top:5px">短信验证码</span>
					       
					        <input type="text" class="txt2 inputWidth228px" style="float:left; margin:0px 5px;" name="smspwd" id="smspwd" data-validate="validate(required:短信验证码不能为空) on(blur)" placeholder="请输入您手机收到的验证码" maxlength="6"/>
					        <!-- <input type="button" id="smsbutton" class="btn2"  value="确&#12288;定"/> -->
					       
					       
				        </td>
			          </tr>
			          <tr>
			            <td>
			            <p>- 验证码在5分钟内有效，3次错误输入后失效。</p>
			            <!-- <p><span style="color:#aaa" id="timeInfo"></span></p> -->
			            <p>- 如您在<font id="defaultTimeResend"></font>秒内仍未收到验证码，请点击<a alctag="nochecklogin" id="smsresend1" class="cf" onclick="javascript:void(0)">重新获取验证码。</a></p>
						<p>- 如果您连续3次重试都没有成功收到短信验证码，建议您稍后再试。</p>
						</td>
			          </tr>
			        </table>
			        <div align="right" style="margin:20px auto;">
			            <a alctag="nochecklogin" style="margin-right:60px;"id="smsbutton" class="btna_o" href="javascript:void(0);"><span>下一步</span></a>
			        </div>
				   </form> 
			        
			    </div>
                <div id="info_3" style="display:none">
	                  <div class="infoBox">
						<form id="form3">
						<table class="network">
							<tbody>
								<tr>
									<td align="right"><label class="f_red">*</label>新密码:</td>
									<td>
										<input type="password" id="newPassword" placeholder="请输入新密码"  data-validate="validate(required:密码不能为空) on(blur)" class="inputWidth228px" />
									</td>
								</tr>
								<tr>
									<td>
										<label class="f_red">*</label>确认新密码:
									</td>
									<td>
										<input type="password" id="confirm_password" placeholder="请输入确认密码"  data-validate="validate(depEq:两次密码必须一致(newPassword)) on(blur)" class="inputWidth228px" />
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
					
					<div align="right" style="margin:20px auto;">
						<a alctag="nochecklogin" id="btn_staffPwd_submit1" style="margin-right:60px;" class="btna_o" href="javascript:void(0);"><span>下一步</span></a>
					</div> 
                </div>
                 <!-- <div id="info_4" style="display:none">
	                  <div class="infoBox">
						<table class="network">
							<tbody>
								<tr>
						            <td><span>密碼修改成功！</span></td>
						         </tr>
						         <tr>
						            <td><div id="button" class="button_login"></div><div id="resetBtn" class="button_reset"></div></td>
						         </tr>
							</tbody>
						</table>
					</div>
				</div> -->
        	</div>
        </div>
    </div>



