<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><@block name="title"></@block></title>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<META name="keywords" content="电信集团">
		<META name="description" content="电信集团">
		<#include "/common-css-tpl.html"/>
		<#include "/common-js-tpl.html"/>
		
		<script type="text/javascript" src="${contextPath}/js/busi-js/header/menu.js?${jsversion}"></script>
		
		<@block name="header"></@block>
	</head>
	<body>
		<!--头部-->
		<div class="top">
			<div class="top_bg">
				<div class="main_div">
					<!-- 头部菜单-->
					<#include "/main-header.html"/> <!--导航 start-->
					<div class="nav" id="header_nav">
					</div>
					<!--导航 end-->
	        		<div class="clear"></div> 
				</div>
			</div>
		</div>
		<!--头部 end-->
		<!--内容 start-->
		<div class="main_div">
			<!-- 内容菜单-->
			<@block name="content">
			<#include "/main-content.html"/>
			</@block>
		</div>
		<!--内容 end-->
		<!--底部 start-->
		<div class="footer" style="height:0px">
			<!-- 底部菜单-->
			<#include "/main-footer.html"/>
		</div>
		<!--底部 end-->
		<!--登录弹出框-->
			<div>
				<#include "/login-window.html"/>
			</div>
			<!--登录弹出框结束-->
	</body>
</html>