<@override name="title">客户信息查询</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>

<style>
.acct li{
	width:33%;
}
</style>

</@override>

<@override name="content">
<div class="main_div"> 
  <div class=" main_warp">
  	<div class="ordercon">	
  	  <div class="order_confirmation ordertabcon">
        <h2 class="h2_title">客户信息查询</h2>
        <div class="main_body">
          <h5 class="s_title">客户定位</h5>
          <br/>
          <div class="selectList">
                            <dl>
                                  <dt>选择地区：</dt>
                                  <dd>
                                  	<input type="text" class="numberTextBox" readonly="readonly" id="p_areaId_val" onclick="order.cust.preQueryCustChooseArea()" value="${defaultAreaName}"/>
          	                        <input type="hidden" id="p_areaId" value="${defaultAreaId}"/>
                                  	<label class="f_red">*</label>
                                  </dd>
                                  
                                  
                            <dl class="noBorder">
                          		  <dt></dt>
                                  <dd>
                                  	<select id="p_cust_identityCd" class="selectNumbertype" onchange="order.cust.custidentidiesTypeCdChoose(this,'p_cust_identityNum')">
			                                 <option value="-1">接入号码</option></select><label class="f_red">&nbsp;</label>
                                  </dd>
                                  <dd>
                                    <input type="text" class="numberTextBox" id="p_cust_identityNum" placeHolder="请输入合法的接入号码"/>
                                  </dd>
                                  <dd><input type="button" onclick="order.cust.queryCust()" class="numberSearch" value="定位"></dd>
                          	</dl>  
                  </div>
          <div class="height18"></div>
          <div id="acctList" style="display:none"></div>
          <div id="acctDetail" style="display:none"></div>         
         
          <!-- 客户查询弹出框 -->     
          <div class="easyDialogdiv" style="width:650px;height:400px;" id="d_cust" >
            <div class="easyDialogclose" id="clientclose"></div>
            <table class="contract_list rule">
              <thead>
                <tr>
                  <td colspan="2">客户查询</td>
                </tr>                                                    
              </thead>
            </table>
            <div class="form-content">
  	          <div class="selectList" style="margin:10px 10px">
  	            <form id="custQueryForm">
                <ul class="fillin">
                  <li class="full noBorder">
                    <select id="cust_id_type" class="selectNumbertype" style="width:220px;margin-top:1px;" onchange="account.query.changeCustIdType(this)">
                      <option value="0">接入号</option>
                    </select>
                    <input type="text" class="inputWidth228px" id="cust" placeHolder="请输入有效的中国电信手机号码" data-validate="validate(isTelecomSection:请输入有效的中国电信号码) on(blur)"/>
                    <input name="custQueryType" id="custQueryType" type="hidden" value="queryOnly" >
                    <a id="bt_cust_query" class="purchase">查 询</a>
                  </li>
                </ul>
                <div class="clear"></div>
                </form>
              </div>
              <div class="phone_warp" style="margin:0px 10px;" id="custlist"></div>
            </div>
          </div> 
          <!-- 客户查询弹出框end -->
        </div>
      </div>    
    </div>
  </div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>