<table class="numberList" id="tab_orderList">
    <thead>
    <tr>
        <td width="40"><input type="checkbox" onchange="oneFive.certNumber.selectAll(this)"/><span>全选</span></td>
        <td width="80">省</td>
        <td width="200">地区</td>
        <td style="display: none;"></td>
        <td width="100">号码</td>
        <td width="50">状态</td>
        <td width="100">处理状态</td>
    </tr>
    </thead>
    <tbody>
    <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
        <#list pageModel.list as item >
        <tr>
            <td><#if (item.handleStatus)??&&("100002"!=item.handleStatus)><input type="checkbox"
                                                                                 onchange="oneFive.certNumber.selectItem(this)"/></#if>
            </td>
            <td>${item.proLanName}</td>
            <td style="display: none;">${item.lanId}</td>
            <td>${item.lanName}</td>
            <td>${item.phoneNum}</td>
            <td>${item.statusName}</td>
            <td><#if (item.handleStatus)??&&("100002"==item.handleStatus)>处理中<#else>未处理</#if></td>
        </tr>
        </#list>
    <#else>
    <tr>
        <td colspan="7">没有查询到结果</td>
    </tr>
    </#if>
    </tbody>
</table>
<!--页码-->
<@portal.modelPagination pageModel 5 "oneFive.certNumber.queryCertNumRelList"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<!--页码 end-->


