<#if code?? && (code>=0) >
<div class="main_div">
    <div class=" main_warp">
        <div class="ordercon">
            <!--订单确认-->

            <div class="order_confirmation ordertabcon" style="display:block">
                <h2 class="h2_title">跨省一证五卡详情<span class="showhide"></span>
                </h2>
                <div class="main_body">

                    <#if orderList.collectionOrderInfo?? >
                        <#assign baseInfo = orderList.collectionOrderInfo >
                        <h5 class="s_title">基本信息</h5>
                        <ul class="fillin">
                            <li>
                                <font>流水号：</font><span>${baseInfo.orderNbr}</span>
                            </li>
                            <li>
                                <font>受理人：</font><span>${baseInfo.staffName}</span>
                            </li>
                            <li>
                                <font>受理地区：</font><span>${baseInfo.areaName}</span>
                            </li>
                            <li>
                                <font>受理渠道：</font><span>${baseInfo.channelName}</span>
                            </li>
                            <#if (orderList.collectionCustInfos)??&&((orderList.collectionCustInfos)?size>0)>
                                <#assign custInfo = orderList.collectionCustInfos[0] >
                                <li>
                                    <font>客户姓名：</font><span>${custInfo.custName}</span>
                                </li>
                                <li>
                                    <font>证件类型：</font><span>${custInfo.certTypeName}</span>
                                </li>
                                <li>
                                    <font>证件号码：</font><span>${custInfo.certNumber}</span>
                                </li>
                            </#if>
                            <li>
                                <font>联系方式：</font><span>${baseInfo.telNbr}</span>
                            </li>
                        </ul>
                        <div class="height18"></div>
                    </#if>

                    <h5 class="s_title">号码信息</h5>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="orderdetail_fs">
                        <thead>
                        <tr>
                            <td>号码</td>
                            <td>地区</td>
                            <td>状态</td>
                            <td>接单人</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                            <#if (orderList.collectionCustInfos)??&&((orderList.collectionCustInfos)?size>0)>
                                <#assign custInfos = orderList.collectionCustInfos >
                                <#list custInfos as item >
                                <tr>
                                    <td>${item.telNumber}</td>
                                    <td>${item.acceptRegionName}</td>
                                    <td><#if item.statusCd=="100002">未处理<#elseif item.statusCd=="100004">取消<#elseif item.statusCd=="201300">已接单<#elseif item.statusCd=="301200">完成</#if></td>
                                    <td>${item.staffName}</td>
                                    <td>
                                        <#if (item.staffId??&&item.staffId!=""&&item.staffId!=0)&&(item.staffId!=Session["_ecs_login_session_key"].staffId)>
                                            <span>它人已接单无可用操作</span>
                                        <#else >
                                            <#if item.statusCd=="100002">
                                                <a style=" margin-left:20px;" class="btna_o"
                                                   onclick="oneFive.certNumberHandle.orderReceive('${item.orderId}','${item.lanId}','${item.telNumber}','${item.certType}','${item.certNumber}')"><span>接单</span></a>
                                            <#else>
                                                <a style=" margin-left:20px;" class="btna_o"
                                                   onclick="oneFive.certNumberHandle.orderConfirm('${item.orderId}','${item.lanId}','${item.telNumber}','${item.certType}','${item.certNumber}')"><span>完成</span></a>
                                                <a style=" margin-left:20px;" class="btna_o"
                                                   onclick="oneFive.certNumberHandle.orderCancel('${item.orderId}','${item.lanId}','${item.telNumber}')"><span>取消</span></a>
                                                <a style=" margin-left:20px;" class="btna_o"
                                                   onclick="oneFive.certNumberHandle.orderReset('${item.orderId}','${item.lanId}','${item.telNumber}')"><span>回退</span></a>
                                            </#if>
                                        </#if>
                                    </td>
                                </tr>
                                </#list>
                            </#if>
                        </tbody>
                    </table>

                    <h5 class="s_title">附件信息</h5>
                    <!--操作工具条-->
                    <div align="left" style="margin: 20px auto;">
                        <a style=" margin-left:20px;" class="btna_o"
                           onclick="oneFive.certNumberHandle.queryAttachment('${baseInfo.orderNbr}','${baseInfo.areaId}')"><span>查看附件</span></a>
                    </div>
                    <div id="attachmentInfos" style="display: none;width: 800px;overflow-x: auto;"></div>

                </div>
            </div>
        </div>
    </div>
    <!--订单填写 end-->

    <!--操作工具条-->
    <div align="right" style="margin: 20px auto; padding:0 20px;">

        <a style=" margin-left:20px;" class="btna_o"
           onclick="oneFive.certNumberHandle.showMain()"><span>返回</span></a>
    </div>

</div>

<#--取消备注信息-->
<div class="easyDialogdiv"
     style="width: 500px; height: 350px; display: none" id="handle_cancel_main">
    <div class="easyDialogclose" id="handle_cancel_close"></div>
    <form id="handle_cancel_form">
        <h1 class="easyDialogTitle" id="handle_cancel_title">取消备注信息</h1>
        <div class="infoBox">
            <table class="network" style="margin: 0px 25px;">
                <tbody>
                <tr style="">
                    <td width="80" id="handle_cancel_mark">取消备注：</td>
                    <td align="center"><textarea type="textarea" id="handle_cancel_txt"
                                                 data-validate="validate(required:请输入取消原因) on(blur)"
                                                 maxlength="500" name="handle_cancel_txt" cols="" rows=""
                                                 style="height: 160px; width: 350px; margin-top: 10px; border: 1px solid #d3d8d0;"></textarea>
                    </td>
                    <td width="80"><label class="f_red" id="handle_cancel_r">*</label></td>
                </tr>
                </tbody>
            </table>
            <div align="center" style="margin: 20px auto;">
                <a class="btna_o" id="handle_cancel_bt" href="javascript:void(0)"><span id="handle_cancel_yes">确认</span></a>
                <a style="margin-left: 20px;" class="btna_o"
                   href="javascript:void(0)" id="handle_cancel_no"><span>取消</span></a>
            </div>
        </div>
    </form>
</div>

<#else>
${mess}
</#if>