<table class="numberList" id="tab_orderList">
    <thead>
    <tr>
        <td width="60">流水号</td>
        <td width="80">受理地区</td>
        <td width="80">受理渠道</td>
        <td width="60">受理人</td>
        <td width="60">受理工号</td>
        <td width="80">受理时间</td>
        <td width="60">联系方式</td>
        <td width="70">操作</td>
    </tr>
    </thead>
    <tbody>
    <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
        <#list pageModel.list as item >
        <tr>
            <td>${item.orderNbr}</td>
            <td>${item.areaName}</td>
            <td>${item.channelName}</td>
            <td>${item.staffName}</td>
            <td>${item.staffCode}</td>
            <td>${item.soDate}</td>
            <td>${item.telNbr}</td>
            <td>
                <a class="purchase" href="javascript:oneFive.certNumberHandle.queryDetail('${item.orderId}')"
                   type="main">详情</a>
            </td>
        </tr>
        </#list>
    <#else>
    <tr>
        <td colspan="8">没有查询到结果</td>
    </tr>
    </#if>
    </tbody>
</table>
<!--页码-->
<@portal.modelPagination pageModel 5 "oneFive.certNumberHandle.queryOneFiveList"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<!--页码 end-->
