<#if (openMap.resultCode==0)>	
<#if openMap.result?? >
<#assign offerList=openMap.result.offerLists />
<#assign servList=openMap.result.servLists />
<#if openMap.result.offerLists?? &&(offerList?size>0)>	
<h4>已订购可选包</h4>
<div id="open_div_${prodId}" class="fs_choosed">
	<ul id="order_ul_${prodId}">
		<#list offerList as item>
   		<li id="li_${prodId}_${item.offerId}" offerSpecId="${item.offerSpecId}" offerId="${item.offerId}" isdel='N'>
   			<#if item.ifDault==0 || (item.counts?? && (item.counts>1))>
   				<dd class="mustchoose"></dd>
   			<#else>
   				<dd id="del_${prodId}_${item.offerId}" class="delete" offerSpecId="${item.offerSpecId}" onclick="AttachOffer.delOffer(${prodId},${item.offerId})"></dd>
   			</#if>
	        <span>${item.offerSpecName}</span>
	        <#if item.ifParams=="Y" && item.offerSpecId?? && item.offerSpecId!="">
	        	<dd class="canshu" id="can_${prodId}_${item.offerId}"  onclick="AttachOffer.showParam(${prodId},${item.offerSpecId},1);" isset="N" ></dd>
	        </#if>
	        <#if item.counts?? && (item.counts>1) >
	        	<dd class="canshu" id="can_${prodId}_${item.offerId}"  onclick="AttachOffer.setParam(${prodId},${item.offerSpecId},1);" isset="N" ></dd>
	        </#if>
	        <#if item.offerLimitTimes?? && (item.offerLimitTimes.ifLimitTimes == "Y") >
	        	<dd class="canshu" id="can_${prodId}_${item.offerId}"  onclick="AttachOffer.setParam4RepeatOrder(${prodId},${item.offerSpecId});" isset="N" ></dd>
	        </#if>
	        <#if item.ifReset=="N">
	            <dd class="time2"><img src="${contextPath}/image/common/no.png"/></dd>
	        </#if>
	     </li>
    	</#list>
    </ul>
    <div class="clear"></div>
</div>
</#if>

<#if openMap.result.servLists?? &&(servList?size>0)>
<h4>已开通功能产品</h4>
<div class="fs_choosed">
	<ul id="serv_ul_${prodId}">
		<#list servList as item>
   		<li id="li_${prodId}_${item.servId}" servSpecId="${item.servSpecId}" name="product">
   			<#if item.ifDault==0 >
   				<dd class="mustchoose"></dd>
   			<#else>
   				<dd id="del_${prodId}_${item.servId}" class="delete" servSpecId="${item.servSpecId}" onclick="AttachOffer.closeServ(${prodId},${item.servId})"></dd>
   			</#if>
	        <span>${item.servSpecName}</span>
	        <#if item.ifParams =="Y" && item.servSpecId?? && item.servSpecId!="">
	        	<dd class="canshu" id="can_${prodId}_${item.servId}"  onclick="AttachOffer.showServParam(${prodId},${item.servSpecId},1);" isset="N" ></dd>
	        </#if>
	     </li>
    	</#list>
	</ul>
</div>
</#if>

</#if>
</#if>

<script>
	var prodId= ${prodId};
	var openMap=${openMapJson};
	var open = {
		prodId : prodId,
		offerList : []
	};
	var servOpen = {
		prodId : prodId,
		servList : []
	};
	if(openMap!=undefined && openMap.result!=undefined){
		if(openMap.result.offerLists!=undefined && openMap.result.offerLists!=""){
			open.offerList = openMap.result.offerLists; 
			AttachOffer.openedList.push(open);
		}
		if(openMap.result.servLists!=undefined && openMap.result.servLists!=""){
			servOpen.servList = openMap.result.servLists; 
			AttachOffer.openedServList.push(servOpen);
		}
	}
	//页面加载完之后执行js是否有互斥的销售品
	$(function(){
		var isExcludeDepend = query.common.queryPropertiesStatus("EXCLUDEDEPEND_FLAG_" + String(OrderInfo.staff.areaId).substr(0, 3));
		if(isExcludeDepend == true){
			query.offer.queryExcludeDependBomb(openMap, prodId);
		}
		
	})
	
</script>		