<div class="order_confirmation">
	<div class="main_body">
		<div class="cardtabcon">
			<div class="pdcardcon show">
				<h5 class="s_title">可选包/功能</h5>
				<div class="infoBox">
					<#include "/offer/attach-offer-opened.html" />
					<h4>已选可选包</h4>
					<div class="fs_choosed">
						<ul id="open_ul_${prodId}"> </ul>
					    <div class="clear"></div>
					</div>
					<h4>已选功能产品</h4>
					<div class="fs_choosed">
						<ul id="open_serv_ul_${prodId}"> </ul>
					    <div class="clear"></div>
					</div>
					<div id="search_div_${param.prodId}" class="relative">
                        <h4 class="floatleft">可选附属业务</h4>
                        <!--  
                        <input type="text" id="search_text_${param.prodId}" placeholder="请输入您想要办理的附属业务的名称"  
                            onkeydown='if(event.keyCode==13){AttachOffer.searchAttachOfferSpec(${param.prodId},${param.offerSpecId},${param.prodSpecId})}' class="numberTextBox width330">  
                        <input type="button" onclick="AttachOffer.searchAttachOfferSpec(${param.prodId},${param.offerSpecId},${param.prodSpecId})" class="purchase" value="搜索"/> 
                        <div id="attach_div_${param.prodId}" class="absolute"></div>
                        -->
                        <div class="height18"></div>
                    </div>
                    <div id="div_label_${prodId}" class="cardtab" style="padding:0px">
	                    <ul class="pdcard" >
	                        <li id="tab_${prodId}">可订购促销</li>
	                    </ul>
	                    <div class="clear"></div>
                    </div>
                    <div id="div_${param.prodId}" class="fs_tab"></div>
				</div>
				<!-- 发展人 -->
				<div class="height18"></div>
				<div id="dealerAidDiv">
					<@block name="dealer">
						<#include "/order/order-dealer.html" />
					</@block>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 密码弹出框-->  
<div class="easyDialogdiv" style="width:725px;height:400px;display: none;" id="offer_dialog" >
	<div class="easyDialogclose" onclick="easyDialog.close()"></div>
  	<table class="contract_list rule">
        <thead>
            <tr>
                <td colspan="2">信息确认</td>
            </tr>                                                    
        </thead>
  	</table>
  	<br/>
  	<div class="form-content">
	    <div style="margin:0px 10px;">
	    	<div id="offer_serv"></div>
	      	<div align="center" style="margin: 20px auto;">
	      		<a href="javascript:void(0)" onclick="SoOrder.orderPrepare()" class="btna_o"><span>确认</span></a>
	      			<button style="display:none" id="btncustreset" type="reset">ssss</button>
	        	<a href="javascript:easyDialog.close();" class="btna_o" style=" margin-left:20px;"><span>取消</span></a>
	      	</div>
	    </div>
  	</div>
</div>
