@charset "utf-8";
/* CSS Document */
/* 文字样式 */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	color:#595959;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family:微软雅黑,宋体,Arial,Tahoma;
	font-size:12px;
}
a{ text-decoration:none;color:#797979}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;outline:none;}
a:active, a:focus {outline:none;}

.f_green{color:#80B921;}
.f_org{color:#fff6ed;}
.f_org2{ color:#eb6100;}
.f_blue{color:#ec9000;}
.f_gray{color:#acacac;}
.f_darkgray{color:#787878;}
.f_red{color:#ff0000;}
.f_darkred{color:#508652;}

.f_s24{font-size:24px;}
.f_s14{font-size:14px;}
.f_s20{font-size:20px;}
.f_s16{font-size:16px;}
.f_lin25{line-height:2.5;}
.f_bold{font-weight:bold;}

/*字体颜色-缩进*/
.fcorange{color:#ff5a00;}
.fc999{color:#999; line-height:18px}
.fc333{color:#333}
.fcred{color:red}
.fcblue{color:#0188ca}
.txtidt{ text-indent:2em;}
p.txtidt{ line-height:18px; padding:4px 0}
.txtd{ text-decoration:underline}
.linee{ line-height:22px}