<#if (cust.custInfos)?? &&((cust.custInfos)?size>0)>

<#if query??>
<table class="numberList" id="custListTable" custInfoSize="0">
  <thead>
    <tr>
      <td class="borderLTB">姓名</td>
      <td class="borderLTB">证件号</td>
      <td class="borderLTB">地区</td>
    </tr>
  </thead>
  <tbody>
    <#list cust.custInfos as custInfo>
    <tr id="custInfos" custFlag="${custInfo.custFlag}" norTaxPayer="${custInfo.norTaxPayer}" identityName="${custInfo.identityName}" areaId="${custInfo.areaId}" identityCd="${custInfo.identityCd}" addressStr="${custInfo.addressStr}" areaName="${custInfo.areaName}" vipLevel="${custInfo.vipLevel}" vipLevelName="${custInfo.vipLevelName}" segmentId="${custInfo.segmentId}" segmentName="${custInfo.segmentName}" extCustId="${custInfo.extCustId}" <#if query=="prod">onclick="product.query.chooseCust(this)"<#elseif query=="acct">onclick="account.query.chooseCust(this)"</#if> >
      <td id="custListTableParName">${custInfo.partyName}</td>
      <td>${custInfo.identityName}/${custInfo.idCardNumber}</td>
	  <td id="areaName">${custInfo.areaName}</td>
	  <td id="custListTablecustId" style="display:none;">${custInfo.custId}</td>
	</tr>
	</#list>
  </tbody>
</table>
<#else>
	<div class="userclose"></div>
	<table class="contract_list" id="custListTable" style="width:700px;" custInfoSize="${custInfoSize}">
		<thead>
			<tr>
				<td width="100">姓名</td>
				<td width="250">证件号码</td>
				<td>地区</td>
			</tr>
		</thead>
		<tbody>
			<#list cust.custInfos as custInfo>
			<tr id="custInfos" onclick="order.cust.showCustAuth(this)"
				custFlag="${custInfo.custFlag}" norTaxPayer="${custInfo.norTaxPayer}" identityName="${custInfo.identityName}" idCardNumber="${custInfo.idCardNumber}" areaId="${custInfo.areaId}" identityCd="${custInfo.identityCd}" addressStr="${custInfo.addressStr}" areaName="${custInfo.areaName}" vipLevel="${custInfo.vipLevel}" vipLevelName="${custInfo.vipLevelName}" segmentName="${custInfo.segmentName}" segmentId="${custInfo.segmentId}" extCustId="${custInfo.extCustId}">
				<td id="custListTableParName">${custInfo.partyName}</td>
				<td>${custInfo.identityName}/${custInfo.idCardNumber}</td>
				<td id="areaName">${custInfo.areaName}</td>
				<td id="custListTablecustId" style="display:none;">${custInfo.custId}</td>
				<td style="display:none;">${custInfo.idCardNumber}</td>
			</tr>
			</#list>
		</tbody>
	</table>
</#if>
<div><input id="jumpAuthflag" type="hidden" value="${jumpAuthflag}"/></div>
<script>
	order.cust.jumpAuthflag = "";
	var jumpAuthflag=${jumpAuthflag};
	var custInfoSize=${custInfoSize};
	order.cust.jumpAuthflag=jumpAuthflag;
	if(custInfoSize==1){
		//$("#custInfos").click();
		order.cust.checkToDoCustAuth();
	}
</script>
<#else>
false
</#if>