<@override name="title">销账</@override> <@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/mktRes/owing_charge.js?${jsversion}" type="text/javascript"></script>
</@override> <@override name="content">
<div class="main_div"> 
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
	
  <div class="order_confirmation ordertabcon">
  <h2 class="h2_title">销账<span class="showhide"></span>
  </h2>
  <div class="main_body">
  <h5 class="s_title">欠费查询</h5>
  <br/>
  <ul class="fillin show billSearch" style="height:165px">
    <li style="display:none;">
      <label>查询依据：</label>
      <input type="radio"  id="destinationAttr" name="destinationAttr" value="2" checked="checked">
      <label class="radioinput">手机号码</label>
    </li>
    <li class="full">
      <label>接入号码：</label>
      <input type="text"  id="phoneNumber" value="请输入接入号" class="inputWidth315px">
      <label class="f_red">*</label>
    </li>
    <!-- 
    <li class="full">
      <label>欠费查询方式：</label>
      <input type="radio" name="yuhou1" value="" checked="checked">
      <label class="radioinput">账户全部费用</label>
    </li> -->
	<a id="oc_qry_bt" class="btn_h30"  style="margin:20px 0px 0px 20px;"><span>查询</span></a>
  </ul>
  <div class="height18"></div>
  <div id="owing_details">

  </div>
</div>

</div>
    
</div>
<!--订单填写 end-->


</div>
</div>

<!--弹出款的内容-->
<div style="display:none" id="ec-dialog-form-container-owing_charge_div"  class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">缴费</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" >
    <div class="form-content" id="cash">
		<div id="owing_charge_div_content" class="selectList"></div>
				<table>
			         <tr>
						<td>是否打印发票：</td>
						<td><input type="radio" value="0" checked="checked"
							name="invoiceOffer" class="invoiceOffer" />是<input type="radio"
							value="1" name="invoiceOffer" class="invoiceOffer" />否</td>
					</tr>
					
					<tr id ="tr1" name ="tr1">
						<td>发票代码：</td>

						<td><input id="invoiceNbrInp"
							class='inputWidth150px numberTextBox' value="" /></td>

					</tr>

					<tr id ="tr2" name ="tr2">
						<td>发票号码：</td>

						<td><input id="invoiceNumInp"
							class='inputWidth150px numberTextBox' value="" /></td>

					</tr>



					<tr id ="tr3" name ="tr3">
						<td>发票抬头：</td>

						<td><input id="invoiceTitleInp"
							class='inputWidth150px numberTextBox' value="" /></td>

					</tr>

					<tr id ="tr4" name ="tr4">
						<td>发票模板：</td>
                        <td><select id="tempListSel" style="margin-top:8px;">
						</select></td>

					</tr>

					<tr>
						<td>交费方式：</td>
						<td><select id="paymentMethod" style="margin-top:8px;"><option value="11">现金</option>
								<option value="12">支票</option>
								<option value="13">信用卡缴费</option>
								<option value="14">代缴</option></select></td>
					</tr>
				</table>
			</div>
		<div class="ec-dialog-form-bottom-button">
			<input type="button" id="owing_charge_bt" class="ec-dialog-form-cancel ec-dialog-form-button" tabindex="1008"  value="确定"/>
            <input type="button" class="ec-dialog-form-cancel ec-dialog-form-button simplemodal-close" tabindex="1008"  value="关闭"/>
    	</div>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出款的内容-->

</@override> 
<#if Session["_session_portal_type"]?? &&Session["_session_portal_type"]=="MVNO" > 
<@extends name="/mvno-template.html"/> 
<#else>
<@extends name="/content-template.html"/>
</#if>
