<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试页面</title>
<script src="${contextPath}/js/app-js/third-js/jquery-1.11.1.min.js?${jsversion}"></script>

</head>
<body>
<div id="DIV">
<li class="usersearch" style="z-index: 0;">
			<input name="" type="text" class="numberTextBox" id="p_cust_identityNum" onkeyup="value=value.replace(/[^\w]|_/ig,'')" 
				placeHolder="请输入接入号码" data-validate="validate(isTelecomOridCardCheck:请输入合法接入号码) on(blur)" style="width:158px;"/>
 <a class="btn_h30" id="usersearchbtn"  href="javascript:void(0)"  class="btn" style="margin-left:30px;"><span>查 询</span></a>
 </li>
</div>
<a href="${contextPath}/app/main/common?menu=10000&actionFlag=10000">首页</a><br>
<a href="${contextPath}/app/main/common?menu=51&actionFlag=51">选套餐</a><br>
<a href="${contextPath}/app/main/common?menu=52&actionFlag=2">购手机</a><br>
<a href="${contextPath}/app/main/common?menu=52">购手机(旧)</a><br>
<a href="${contextPath}/app/main/common?menu=53&actionFlag=1">选号码</a><br>
<a href="${contextPath}/app/main/common?menu=11">补换卡</a><br>
<a href="${contextPath}/app/main/common?menu=1">实名制客户创建</a><br>
<a href="${contextPath}/app/main/common?menu=2">资料修改</a><br>
<a href="${contextPath}/app/main/common?menu=3">客户资料返档</a><br>
<a href="${contextPath}/app/main/common?menu=4">受理单查询</a><br>
<a href="${contextPath}/app/main/common?menu=6">套餐变更</a><br>
<a href="${contextPath}/app/main/common?menu=7">销售品信息查询</a><br>
<a href="${contextPath}/app/main/common?menu=8">可选包功变更</a><br>
<a href="${contextPath}/app/main/common?menu=9">客户创建</a><br>
<a href="${contextPath}/app/main/common?menu=10">双屏推送</a><br>
<a href="${contextPath}/app/main/common?menu=18">宽带续约</a><br>
<a href="${contextPath}/app/main/common?menu=111">宽带甩单</a><br>
<a href="${contextPath}/app/main/common?menu=12">销售单列表查询</a><br>
<a href="${contextPath}/app/main/common?menu=201&actionFlag=201">橙分期</a><br>
<a href="${contextPath}/app/main/common?menu=112&actionFlag=112">融合新装</a><br>
<a href="${contextPath}/app/main/common?menu=111">宽带甩单</a><br>
<a href="${contextPath}/app/main/common?menu=113">芝麻信用</a><br>
<a href="${contextPath}/app/main/common?menu=301&actionFlag=301">订单补费</a><br>
<a href="${contextPath}/app/main/common?menu=150&actionFlag=150">充值缴费</a><br>
<a href="${contextPath}/app/main/common?menu=160&actionFlag=160">充值记录查询</a><br>
<a href="${contextPath}/app/main/common?menu=302&actionFlag=302">主副卡成员变更</a><br>
</body>
</html>