<link rel="stylesheet" href="${contextPath}/css/app-css/ec.pagination.scroll.css">
<!--picker样式结束-->
<link href="${contextPath}/css/app-css/new-css/style.css" rel="stylesheet" />
<link href="${contextPath}/css/app-css/new-css/patch.css" rel="stylesheet" />
<style>
.modal-open {
  overflow: initial !important;
  padding-right: 0px !important;
}
.btn-uim {display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: white;
  width: 100%;
}
.styled-select {
 -webkit-appearance: listbox;
}  

</style>