<script>
	var contextPath = "${request.getContextPath()}";//上文变量
	var globalAppDesc = "${APPDESC}";
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- ================== BEGIN BASE JS ================== -->
<script src="${contextPath}/js/app-js/new-js/jquery-1.9.1.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/jquery-migrate-1.1.0.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/jquery-ui.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/page.js"></script>
<script src="${contextPath}/js/app-js/new-js/apps.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/switchery.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/ion.rangeSlider.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/form-slider-switcher.demo.min.js"></script>
<script src="${contextPath}/js/app-js/new-js/powerange.min.js"></script>

<script src="${contextPath}/js/app-js/third-js/Validform_v5.3.2_min.js"></script><!-- 表单验证的js 新ui -->
<script src="${contextPath}/js/app-js/third-js/bootstrap.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-select.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-switch.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-datetimepicker.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-datetimepicker.zh-CN.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/jquery.nouislider.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrap-toggle.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/touch.min.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/third-js/bootstrapValidator.js?${jsversion}"></script><!-- 表单验证的js -->
<script src="${contextPath}/js/third-js/jquery/jquery.cookies.js?${jsversion}"></script>
<script src="${contextPath}/js/third-js/utils/UUID.js?${jsversion}"></script>
<script src="${contextPath}/js/pad-js/third-js/iscroll.js"></script>

<!--picker控件开始-->
<!-- Mobiscroll JS and CSS Includes -->
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.core.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.scroller.js"></script>

		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.util.datetime.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.datetimebase.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.datetime.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.select.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.listbase.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.image.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.treelist.js"></script>

		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.android.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.android-holo.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.ios-classic.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.ios.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.jqm.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.sense-ui.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.frame.wp.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.android-holo-light.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.wp-light.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.mobiscroll-dark.js"></script>
		<script src="${contextPath}/js/agent-js/third-js/picker/mobiscroll.i18n.zh.js"></script>
<!--picker控件结束-->

<!-- 以上是第三方js -->
<script src="${contextPath}/js/our-js/common.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/serviceAxClient.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/jquery.overlay.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.dialog.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.jqm.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/bs.beamDialog.js?${jsversion}"></script>
<script src="${contextPath}/js/app-js/our-js/ec.pagination.scroll.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/our-js/ec.util.js?${jsversion}"></script>
<script src="${contextPath}/js/our-js/cordova.js"></script>
<script src="${contextPath}/js/our-js/myplugin.js"></script>
<!-- <script src="${contextPath}/js/our-js/ec.form.dialog.js?${jsversion}"></script>
<script src="${contextPath}/js/4g-js/easydialog.min.js?${jsversion}"></script> -->