<li>
	<label style="width:80px;" id ="uim_lable">
		<select id="selUim" onchange="prod.changeUim.changeUimSel(this,${prodId})">
			<option value="1">预制卡</option>
			<option value="2">空白卡</option>
			<#if newCard =="0">
			<option value="4">测试组件</option>
			</#if>
		</select>
    </label>
    <input type="hidden" id="selUimType" value="1"/>
    <input type="hidden" id="resultCardNo"/>
    <input type="hidden" id="resultCardAsciiFStr"/>
	<input type="text" id="uim_txt_${prodId}" value="" class="inputWidth183px">
	<input id="uim_check_btn_${prodId}" class="purchase" type="button" value="校验" onclick="prod.uim.checkUim(${prodId});">
	<input id="uim_release_btn_${prodId}" class="disablepurchase" disabled="disabled" type="button" value="释放" onclick="prod.uim.releaseUim(${prodId});">
	<input type="button" class="purchase" value="写卡" onclick="order.writeCard.writeReadCard(${prodId});">
	<input type="hidden" id="isMIFI_${prodId}" value="no"/>
	<label class="f_red" id="isMust_${prodId}">*</label>
	<br><label class="f_red" id="isShow_${prodId}" style="display:none;">请核实用户手机终端，如为“不兼容4G卡终端”，需更换4G终端后才能换4G卡。<a href="javascript:AttachOffer.showTerminalInfo()">终端规格查询</a></label>
</li>
<@extends name="/order/write-card.html"/>
