<#if shortnum_data?? >
<#if (shortnum_data.shortnum_num>0) >

<div class=" main_warp">
<div class="ordercon">
<!--订单确认-->
	
<div class="">

  <h2 class="h2_title"><span>改短号</span>
  </h2>
  <div class="main_body">

  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">产品信息</h5>
  
  <script type="text/javascript">
  $("#shortnum_sel").bind("change",function(){
	 var id = $(this).val();
	 $(".ul_shortnum").each(function(){
		 if("ul_"+id==$(this).attr("id")){
			 $(this).css("display","block");
		 }else{
			 $(this).css("display","none");
		 }
		});
  });
  </script>
  
  	<ul class="fillin show" <#if (shortnum_data.shortnum_num<2) >style="display: none" </#if>  >
  	<li class="full" >
  	<label style="width:120px" >短号选择：</label>
  	<select id="shortnum_sel" >
  	<#list shortnum_data.offerProdComps as offerProdComps_row >
  		<#assign compProd = offerProdComps_row.compProd >
  		<option value="${offerProdComps_row.prodCompId}" <#if offerProdComps_row_index==0>selected="selected" </#if> >${compProd.prodSpecName}-${compProd.accessNumber}</option>
  	</#list>
    </select>
    </li>
    </ul>
    
  	<#list shortnum_data.offerProdComps as offerProdComps_row >
  	<#assign compProd = offerProdComps_row.compProd >
  	<ul class="fillin show ul_shortnum" id="ul_${offerProdComps_row.prodCompId}" <#if (offerProdComps_row_index>0)>style="display: none" </#if>
  		accessNumber="${compProd.accessNumber}" areaId="${compProd.areaId}" t_id="${offerProdComps_row.prodCompId}_${shortnum_data.shortnum_code}"
  	 >
  	<#list offerProdComps_row.offerProdCompItems as offerProdCompItems_row >
  	<#if offerProdCompItems_row.itemSpec?? >
  		<#assign itemSpec = offerProdCompItems_row.itemSpec >
  		<#assign itemSpec_name = itemSpec.name >
  	<#else>
  		<#assign itemSpec_name = "" >
  	</#if>
  	<li class="full" id="${offerProdComps_row.prodCompId}" >
      <label style="width:120px" >${itemSpec_name}：</label>
      <input type="text" class="inputWidth183px" value="${offerProdCompItems_row.value}" oldval="${offerProdCompItems_row.value}" changeval=""
        id="${offerProdComps_row.prodCompId}_${offerProdCompItems_row.itemSpecId}" 
        prodCompId = "${offerProdComps_row.prodCompId}" compProdId="${offerProdComps_row.compProdId}" prodCompRelaRoleCd="${offerProdComps_row.prodCompRelaRoleCd}"
        itemSpecId="${offerProdCompItems_row.itemSpecId}" 
        groupNbr = "${compProd.accessNumber}" extProdId="${compProd.prodSpecId}" extPordInstId="${offerProdComps_row.compProdId}" lanId="${compProd.areaId}" 
        productNbr="0" accNbr="1" groupShortNbr="1" statusCd="2" checkSta="0" onchange="order.prodModify.shortnum_change_val(this)"
      	<#if shortnum_data.shortnum_code!=offerProdCompItems_row.itemSpecId >readonly="readonly" </#if>
      />
      <#if shortnum_data.shortnum_code==offerProdCompItems_row.itemSpecId >
      <label class="f_red">*</label>
      <a class="purchase" id="" href="javascript:void(0);" onclick="order.prodModify.shortnum_check();">校验</a>
      </#if>
      <div class="" id="uimCheck"></div>
    </li>
    </#list>
    </ul>
  	</#list>

  </div>

  </div>
  <div class="height18"></div>
  <!--购物车订单属性展示-->
	<div id="orderAttrDiv">
		<@block name="orderAttr">
			<#include "/order/order-attr.html" />
		</@block>
	</div>
  </div>

</div>
   
</div>
<!--订单填写 end-->

<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a class="btna_o" href="javascript:order.prodModify.cancel();"><span >取消</span></a> 
	<a style=" margin-left:20px;" class="btna_o" href="javascript:order.prodModify.shortnum_save()"><span>下一步</span></a>
</div>

</div>

<#else>${shortnum_data.shortnum_num}</#if>
<#else>-1</#if>