<h5 class="s_title">经办人</h5>
<form id="jbrForm">
<ul class="fillin show" style="overflow: hidden;">
   <li  style="padding-right: 50%;" id="li_order_remark1">
		<label>证件类型：</label>
        <select id="orderIdentidiesTypeCd" onchange="order.cust.identidiesTypeCdChoose(this,'orderAttrIdCard')">
        </select>
        <label class="f_red">*</label>
        <a class="btn_h30"   id="orderAttrReadCertBtn" onclick="javascript:order.cust.readCertWhenOrder()" style="margin-top: 0px; display: none;"><span>读 卡</span></a>
        <a class="btn_h30"   id="orderAttrQueryCertBtn"><span>查询</span></a>
         <!-- <#if Session["BIND_STATUS"]?? && Session["BIND_STATUS"] == "Y">
        <a class="btn_h30"   id="discernBtn_4" onclick="javascript:push.busi.reqDispatch(1,4)" ><span>识别</span></a>
        <#else>
        <a class="btn_h30"   id="discernBtn_4" onclick="javascript:push.busi.reqDispatch(1,4)" style="display:none;"><span>识别</span></a>
        </#if> -->
	</li>
	<!-- 经办人为个人用户，证件类型只显示个人证件类型，隐藏客户类型 -->
	<li  id="li_order_remark" style="display: none;">
		<label>客户类型：</label> 
		<select id="orderPartyTypeCd" onchange="order.cust.partyTypeCdChoose(this,'orderIdentidiesTypeCd')">
        	<option value="1" >个人</option>
        </select>
        <label class="f_red">*</label>
	</li>
	<li  id="li_order_attr">
		<label>经办人姓名：</label>
		<input id="orderAttrName" onkeyup="" placeHolder="请输入经办人姓名" data-validate="validate(required:请准确填写经办人姓名) on(blur)" class="inputWidth250px" maxlength="16" type="text">
		<span style="line-height: 28px; float:left;"></span>
		<label class="f_red">*</label>
	</li>
	<li  id="li_order_remark2">
		<label>证件号码：</label> 
		<input id="orderAttrIdCard" placeHolder="请输入证件号码"  class="inputWidth250px"maxlength="50"type="text">
		<span style="line-height: 28px; float:left;"></span>
		<label class="f_red">*</label>
	</li>
</ul>
<ul class="fillin show" style="overflow: hidden;">
	<li  id="li_order_remark3">
		<label>证件地址：</label> 		
		<input id="orderAttrAddr" onkeyup="" placeHolder="请输入证件地址" data-validate="validate(required:请准确填写证件地址) on(blur)"  class="inputWidth250px" maxlength="125"type="text">
		<span style="line-height: 28px; float:left;"></span>
		<label class="f_red">*</label>
	</li>
	<li  id="li_order_remark4">
		<label>联系人号码：</label> 
		<input id="orderAttrPhoneNbr" placeHolder="请输入联系人号码"  class="inputWidth250px" type="text" maxlength="16">
		<label class="f_red"></label>
	</li>
</ul>
</form>
<!--认证相符拍照弹框-->
<div style="display:none;background:#fff;" id="ec-dialog-photo-graph" class="ec-dialog-form-container">
  <div class="easyDialogclose" id="staff_dialog_close" onclick="order.cust.close()"></div>
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">人证相符-拍照</h1>
  </div>
  <div class="order"> 
    <div class="order_nav_new">
      <div class="order-camera-box" >
          <ul class="fillin show" style="overflow: hidden;">
              <li style="width: 80%;">
                  <label>选择设备：</label>
                  <select class="inputWidth183px" id="device">
                  </select>
                  <a href="https://crm.189.cn/portalstatic/assets/camera/DoccameraOcx.exe" class="purchase" id="" >下载控件</a>
                  <span id="tips" style="color:#F00; font-weight:bold;font-size:14px;margin-left:10%;"></span>
              </li>
          </ul>
          <div class="camera-box">
            <div style="overflow: hidden;">
                <a  style="display:inline-block; width: 200px; height: 258px; margin: 54px 50px 0 50px; overflow: hidden;"><img id="img_Cert" src="${contextPath}/image/id_card.jpg" class=""></a>
                <a id="a_obj" style="display:inline-block; width: 640px; height: 360px; margin-right: 50px; vertical-align: top;">
                    <img id = "startPhotos" src="${contextPath}/image/start_photo.jpg"/>
                    <img id="img_Photo">
                </a>
            </div>
          </div>
      </div>                   
      <div align="center" style="margin:30px auto;">
          <a class="btna_o" id="takePhotos"><span >确认拍照</span></a>
          <a style=" margin-left:20px;" class="btna_o" id="rePhotos"><span>重新拍照</span></a>
          <a style=" margin-left:20px;" class="btna_o" id="confirmAgree"><span>人证相符</span></a>
      </div> 
  </div>
</div>
</div>
<!--认证相符拍照弹框 End-->
<div class="height18"></div>
<script>
	//新建客户或老客户，如果是政企客户，经办人必填（2016-3-17回退）
	/* if(OrderInfo.boCustInfos.partyTypeCd != '2' && !order.cust.isCovCust(OrderInfo.cust.identityCd)){ 
		$("#orderAttrDiv .f_red").hide();
	} */
	//$("#orderAttrDiv .f_red").hide();
	// 证件类型初始化（不加不会加载证件）
	$("#orderPartyTypeCd").change();
	if($("#orderIdentidiesTypeCd").val() !="1"){
		$("#orderAttrQueryCertBtn").show(); 
	}
	
	$("#jbrForm").off('formIsValid').bind("formIsValid", function(event, form){			
		order.cust.showCertPicture();
		var src = contextPath+"/image/id_card.jpg";
		$("#img_Cert").attr("src", src);
	}).ketchup({bindElement:"orderAttrQueryCertBtn"});	
	//清空
	if($("#capture")){
		$("#capture").remove();
	}
	
	if(!ec.util.isObj(CONST.realNamePhotoFlag)){
		CONST.realNamePhotoFlag = query.common.queryPropertiesValue("REAL_NAME_PHOTO_" + OrderInfo.staff.areaId.substr(0, 3));
	}
	if (CONST.realNamePhotoFlag == "OFF"){
		$("#orderAttrDiv .f_red").hide();
	//	$("#orderAttrReadCertBtn").hide();
		$("#orderAttrQueryCertBtn").hide();
	} else{
		if(cert.getBrowser()=='FF') {
			$("#a_obj").append("<object type='application/x-itst-activex' clsid='{454C18E2-8B7D-43C6-8C17-B1825B49D7DE}' id='capture'  width='640' height='360'  style='float: right; margin-right: 10px;'></object>");
		}else{
			$("#a_obj").append("<object classid='clsid:454C18E2-8B7D-43C6-8C17-B1825B49D7DE' id='capture'  width='640' height='360'  style='float: right; margin-right: 10px;'></object>");
		}
	}
	if($("#orderIdentidiesTypeCd").val()=="1"){
		$("#orderAttrReadCertBtn").show(); 
	}
</script>