<li>
	<label style="width:80px;" id ="uim_lable">
		<select id="selUim" onchange="prod.changeUim.changeUimSel(this,${prodId})">
			<option value="1">预制卡</option>
			<option value="2">空白卡</option>
			<#if newCard =="0">
			<option value="4">测试组件</option>
			</#if>
		</select>
    </label>
    <input type="hidden" id="selUimType" value="1"/>
    <input type="hidden" id="resultCardNo"/>
    <input type="hidden" id="resultCardAsciiFStr"/>
	<input type="text" id="uim_txt_${prodId}" value="" class="inputWidth183px">
	<input id="uim_check_btn_${prodId}" class="purchase" type="button" value="校验" onclick="prod.uim.checkUim(${prodId});">
	<input id="uim_release_btn_${prodId}" class="disablepurchase" disabled="disabled" type="button" value="释放" onclick="prod.uim.releaseUim(${prodId});">
	<#if Session["BIND_STATUS"]?? && Session["BIND_STATUS"] == "Y">
	<input id="discernBtn_uim" type="button" class="purchase" value="识别" onclick="javascript:push.busi.reqDispatch(2,1,${prodId});">
	<#else>
	<input id="discernBtn_uim" type="button" class="purchase" value="识别" onclick="javascript:push.busi.reqDispatch(2,1,${prodId});" style="display:none;">
	</#if>
	<input type="button" class="purchase" value="写卡" onclick="order.writeCard.writeReadCard(${prodId});">
	<input type="hidden" id="isMIFI_${prodId}" value="no"/>
	<label class="f_red" id="isMust_${prodId}">*</label>
	<input type="button" class="purchase" value="卡信息" onclick="prod.uim.queryUimAppInfo($('#uim_txt_${prodId}').val(),${prodId});">
	<br><label class="f_red" id="isShow_${prodId}" style="display:none;">请核实用户手机终端，如为“不兼容4G卡终端”，需更换4G终端后才能换4G卡。<a href="javascript:AttachOffer.showTerminalInfo()">终端规格查询</a></label>
</li>
<!--弹出框的内容-->
<div style="display: none" id="ec-dialog-form-container-nfc-app-infos${prodId}"
     class="ec-dialog-form-container">
    <div class="ec-dialog-form-top heightChg">
        <h1 class="ec-dialog-form-title">卡应用信息</h1>
        <a id="nfc_app_nav_confirm_a" style="position:absolute; right:16px;top:6px;" class="btn_h30"><span>确定</span></a>
    </div>
    <div class="ec-dialog-form-content">
        <div class="ec-dialog-form-loading" style="display: none"></div>
        <div class="ec-dialog-form-message" style="display: none"></div>
        <div class="ec-dialog-form-form">
            <form action="#" style="" id="dialogForm1">
                <div class="form-content" id="nfcAppContent">
                </div>
            </form>
        </div>
    </div>
    <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出框的内容-->
<@extends name="/order/write-card.html"/>
