<#if (orderSpec.resultCode)?? && (orderSpec.resultCode==0) && (orderSpec.prodSpecParams)?? && ((orderSpec.prodSpecParams)?size>0)>


  <div class="main_warp">
  <div class="ordercon">
  <!--订单确认-->
	
    <div class="">
  <h2 class="h2_title"><span>修改使用人</span>
  </h2>
  <div class="main_body">

  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">产品信息</h5>

  <ul class="fillin show" id="order_spc_update"  partyId="${partyId}" >
	
	<#list orderSpec.prodSpecParams as prodSpec>
	<#if prodSpec.itemSpecId?? && prodSpec.itemSpecId=="800000011">
	<#assign rule=prodSpec.rule />
	<li>
	<label>${prodSpec.name}：</label>
		<input type="hidden" 
			id="${prodSpec.itemSpecId}_${prodId}" name="prodSpec_${prodId}" value="<#if userInfo?? && (userInfo.partyList)??>${userInfo.partyList.partyId}</#if>" 
			itemSpecId="${prodSpec.itemSpecId}" prodSpecItemId="${prodSpec.prodSpecParamId}" 
			check_name="${prodSpec.name}" check_mask="${rule.mask}" check_mess="${rule.maskMsg}" 
			check_len="${rule.attrLen}" check_option="${rule.isOptional}" 
			dataType="${prodSpec.dataTypeCd}" oldValue="<#if userInfo?? && (userInfo.partyList)??>${userInfo.partyList.partyId}</#if>" 
			check_type="check"
			 />
		<input type="text" class="inputWidth183px" id="${prodSpec.itemSpecId}_${prodId}_name" value="<#if userInfo?? && (userInfo.partyList)??>${userInfo.partyList.partyName}</#if>" readonly="readonly" disabled="disabled"/>
		<!-- 使用人 -->
	    <input type="button" value="选择使用人" class="purchase" id="choose_user_btn_${prodId}" />
		<#if prodSpec.rule?? && prodSpec.rule.isOptional=="N" >
			<label class="f_red">*</label>
	      	<div class="order_check" style="display: none"></div>
	      	<div class="order_check_error" style="display: none"></div>
	    </#if>
	
	</li>
	</#if>
	
	</#list>
	
	<li><label> </label></li>
  	
	<li class="full" id="li_order_remark">
		<label>订单备注：</label> 
		<textarea rows="4" id="order_remark" cols="" class="order-remark" name="beizhu"></textarea>
	</li>
   </ul>

</div>

</div>
<div class="height18"></div>
<!--购物车订单属性展示-->
<div id="orderAttrDiv">
	<@block name="orderAttr">
		<#include "/order/order-attr.html" />
	</@block>
</div>
</div>

</div>
   
</div>
<!--订单填写 end-->

<div align="right" style="margin: 20px auto; padding:0 20px;"> 
<a class="btna_o" href="javascript:order.prodModify.cancel();"><span >取消</span></a> 
<a style=" margin-left:20px;" class="btna_o" href="javascript:order.main.spec_parm_change_save()" ><span>下一步</span></a>
</div>

</div>

<script>
	var prodId = '<#if prodId??>${prodId}</#if>';
	<#if userInfo?? && (userInfo.partyList)??>
	//保存使用人详细信息
	var tmpChooseUserInfo = {
			areaId : '<#if userInfo.partyList.areaId??>${userInfo.partyList.areaId}</#if>',
			areaName : '<#if userInfo.partyList.areaName??>${userInfo.partyList.areaName}</#if>',
			custId : '<#if userInfo.partyList.partyId??>${userInfo.partyList.partyId}</#if>',
			idCardNumber : '<#if userInfo.partyList.identities?? && ((userInfo.partyList.identities)?size>0)>${userInfo.partyList.identities[0].identityNum}</#if>',
			identityCd : '<#if userInfo.partyList.identities?? && ((userInfo.partyList.identities)?size>0)>${userInfo.partyList.identities[0].identidiesTypeCd}</#if>',
			identityName : '<#if userInfo.partyList.identities?? && ((userInfo.partyList.identities)?size>0)>${userInfo.partyList.identities[0].identidiesTypeName}</#if>',
			partyName : '<#if userInfo.partyList.partyName??>${userInfo.partyList.partyName}</#if>',
			segmentId : '<#if userInfo.partyList.segmentId??>${userInfo.partyList.segmentId}</#if>',
			segmentName : '<#if userInfo.partyList.segmentName??>${userInfo.partyList.segmentName}</#if>'
	};
	//order.cust.tmpChooseUserInfo = tmpChooseUserInfo;
	OrderInfo.updateChooseUserInfos(prodId, tmpChooseUserInfo);
	</#if>
	//绑定弹出框事件，用于定位客户
	var itemId = CONST.PROD_ATTR.PROD_USER + '_' + prodId;
	$('#'+itemId).attr({'check_option':'N','readonly':'readonly','disabled':'disabled'});
	$('#choose_user_btn_'+prodId).off('click').on('click',function(){
		if (query.common.queryPropertiesValue("REAL_USER_" + OrderInfo.staff.areaId.substr(0, 3)) != "ON"){
			//使用人新模式
			order.main.openChooseDialog(this, {"tipThead"	:"选择使用人"});
		} else{
			//使用人老模式
			order.main.toChooseUser2(prodId);
		}
	}).show();
</script>
<#else>
	<script>
		$("#order_fill_content").empty();
		OrderInfo.order.step = 0;//订单初始页面
		order.prepare.hideStep();
		$("#orderedprod").show();
		$("#order_prepare").show();
		//没有使用人信息，或者查询使用人详情失败，退出，页面变动
		$.alert('提示','查询使用人产品实例属性或使用人详情失败');
	</script>
</#if>