<div class="plan_warp border">
	<input type='hidden' id='current_page' />
	<input type='hidden' id='show_per_page' />
	<table class="contract_list cursor_def"  id="servie_detial">
		<thead>
			<tr>
				<td width="100px">
					&nbsp;&nbsp;
				</td>
				<td width="200px"  style="font-size: 14px;">
					套餐名称
				</td>
				<td  style="font-size: 14px;" width="910px">
					套餐详情
				</td>
				
			</tr>
		</thead>
		<#if resultlst?? &&(resultlst?size>0) >
		<tbody id="offerlistcont">
			<#list resultlst as item>
				<#if (item_index+1) % 2 == 1>
				<tr>
				<#else>
				<tr class="bg">
				</#if>
					<td>
						<#if subPage??>
						<i id="plan_cart" onclick="javascript:order.service.choosedOffer('tcnum'+${item_index},${item.offerSpecId},'${(item.price)?default("")}','${subPage}','${item.offerSpecName}');">订购</i>
						<#else>
						<#if orderflag??>
						<i id="plan_cart" onclick="javascript:order.ysl.confirmoffer('${item.offerSpecId}','${item.offerSpecName}');">订购</i>
						<#else>
						<i id="plan_cart" onclick="javascript:order.service.buyService('tcnum'+${item_index},${item.offerSpecId},'${(item.price)?default("")}');">订购</i>
						</#if>
						</#if>
						<i id="plan_no" style="display:none;">
							<a class="add" href="javascript:void(0);"></a>
							<span><input type="text" value="${item.code}" style="display:none;"></span>
							<input type="text" id="tcnum${item_index}" name="num" value="1" readonly="readonly" class="numberTextBox width22">
							<a class="add2" href="javascript:void(0);"> </a>
						</i>
					</td>
					<td class="">
						${item.offerSpecName}	
					</td>
				<#if !(item.aliasName)??>
                    <td style="text-align:left;padding-right:20px;padding-left:20px;"
                        title="${(item.summary)?default('')}">
						<#if item.htmlvallist?? &&(item.htmlvallist?size>0) >
							<#list item.htmlvallist as htmlval>
							${(htmlval.value)?default('')}
							</#list>
						<#else>
                            &nbsp;
						</#if>
                    </td>
				<#else >
                    <td style="text-align:left;padding-right:20px;padding-left:20px;"
                        title="登记单打印别名：${(item.aliasName)?default('')}
${(item.summary)?default('')}">
						<#if item.htmlvallist?? &&(item.htmlvallist?size>0) >
							<#list item.htmlvallist as htmlval>
							${(htmlval.value)?default('')}
							</#list>
						<#else>
                            &nbsp;
						</#if>
                    </td>
				</#if>
				</tr>
			</#list>
		</tbody>
		</#if>
	</table>
	<table>
		<tr><td id="errinfo"></td></tr>
	</table>
	<div class="clear"></div>
</div>
<div id='page_navigation' class="paging"></div>