<div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
  <h2 class="h2_title"><span>${orderProdInfo.boActionTypeName}</span>${orderProdInfo.accessNumber} ${orderProdInfo.prodOfferName}<span class="showhide"></span>
  </h2>
  <div class="main_body">


<h5 class="s_title">订单信息</h5>
<ul class="fillin">
  <li class="full">
    <label>订单备注：</label>
    <textarea rows="4" cols="" class="order-remark" id="order_remark"></textarea>
  </li>
</ul>
<div class="height18"></div>
<!--购物车订单属性展示-->
<div id="orderAttrDiv">
	<@block name="orderAttr">
		<#include "/order/order-attr.html" />
	</@block>
</div>
</div>

</div>
   
</div>
<!--订单填写 end-->

<div align="right" style="margin: 20px auto; padding:0 20px;"> <a href="业务办理_客户定位完成.html" class="btna_o"><span>取消</span></a> <a href="javascript:order.prodModify.lossRepProdSubmit()" class="btna_o" style=" margin-left:20px;"><span>下一步</span></a> </div>

</div>