<h5 class="s_title">经办人</h5>
<ul class="fillin">
	<li class="full" id="li_order_attr">
		<label>经办人姓名：</label> 
		<input id="orderAttrName" class="inputWidth250px" maxlength="16" type="text" style="width:280px;">
	</li>
	<li class="full" id="li_order_remark">
		<label>客户类型：</label> 
		<select id="orderPartyTypeCd" onchange="order.cust.partyTypeCdChoose(this,'orderIdentidiesTypeCd')">
                                        <option value=1 >个人</option>
                                        <option value=2>政企客户</option>
        </select>
	</li>
	<li class="full" id="li_order_remark4">
		<label>联系人号码：</label> 
		<input id="orderAttrPhoneNbr" class="inputWidth250px" type="text" maxlength="16"style="width:280px;">
	</li>
	<li class="full" id="li_order_remark1">
		<label>证件类型：</label>
        <select id="orderIdentidiesTypeCd" onchange="order.cust.identidiesTypeCdChoose(this,'orderAttrIdCard')">
        </select>
	</li>
	<li class="full" id="li_order_remark2">
		<label>证件号码：</label> 
		<input id="orderAttrIdCard" class="inputWidth250px"maxlength="50"type="text" style="width:280px;">
	</li>
	<li class="full" id="li_order_remark3">
		<label>证件地址：</label> 
		<input id="orderAttrAddr" class="inputWidth250px" maxlength="125"type="text" style="width:280px;">
	</li>
</ul>
<div class="height18"></div>