<#if (modPartyTypeCd)?? >
<div class=" main_warp">
    
        <!--订单确认-->
        <div class="order_confirmation">
        	<h2 class="h2_title">${boActionTypeName}</h2>
            <div class="main_body">
            	<form id="custModifyForm">
            	<h5 class="s_title">基本信息</h5>
                <div class="infoBox">
                    <table class="network">
                          <tbody id="boCustIdentities" partyName="${modPartyTypeCd.partyName}" addressStr="${modPartyTypeCd.addressStr}" partyTypeCd="${modPartyTypeCd.partyTypeCd}" <#if (identities)?? > identidiesTypeCd="${identities[0].identidiesTypeCd}" identityNum="${identities[0].identityNum}"</#if> >
                          <tr>
                                <td width="70"><label class="f_red">*</label>客户姓名</td>
                                <td width="780">
                                  <input type="text" placeHolder="请准确填写客户姓名" data-validate="validate(required:请准确填写客户姓名) on(blur)" value="${modPartyTypeCd.partyName}" class="inputWidth228px" maxlength="64" id="cmCustName"/>
                                </td>
                          </tr>
                          <tr>
                                <td><label class="f_red">*</label> 客户类型</td>
                                <td>
                                      <select id="cmPartyTypeCd" onchange="order.prodModify.partyTypeCdChoose(this)">
                                        <option value=1 <#if modPartyTypeCd.partyTypeCd=="1" >selected="selected"</#if>>个人</option>
                                        <option value=2 <#if modPartyTypeCd.partyTypeCd=="2" >selected="selected"</#if>>政企客户</option>
                                      </select>
                                </td>
                          </tr>
                          <tr>
                                <td><label class="f_red">*</label> 证件类型</td>
                                <td>
                                    <div id="div_cm_identidiesType">
                                	<select id="cm_identidiesTypeCd" onchange="order.prodModify.identidiesTypeCdChoose(this)">
                                    </div>
                                </td>
                          </tr>
                          <tr>
                                <td><label class="f_red">*</label> 证件号码</td>
                                <td width="780">
                                  <input type="text" placeHolder="请输入合法身份证号码" data-validate="validate(idCardCheck:请输入合法身份证号码) on(blur)" <#if (identities)?? >value="${identities[0].identityNum}"</#if>  class="inputWidth228px" id="cmCustIdCard"/>
                                  <a class="btn_h30" id="readCertModifyBtnCreate" onclick="javascript:order.prodModify.readCertWhenCreate()"><span>读 卡</span></a>
                                </td>
                          </tr> 
                          <tr>
                                <td><label class="f_red">&nbsp;</label> 客户地址</td>
                                <td width="780">
                                  <input type="text" placeHolder="请输入客户地址"  value="${modPartyTypeCd.addressStr}" class="inputWidth228px" id="cmAddressStr" maxlength="64"/>
                                </td>
                          </tr> 
                          <tr>
							<td>
							<a href="javascript:void(0)" onclick="order.prodModify.btnMoreProfile()">更多属性>></a>
							</td>
							<td></td>
						  </tr>                    
                          
                        </tbody>
                    </table>                
                </div>
                <div id="modPartyProfile" style="display: none;">
		        <div  class="infoBox" >
		        <h5 class="s_title">详细信息</h5>
		        <!--客户属性tab页-->
                <div class="height18"></div>
					<div class="cardtab" style="padding:0px">
						<ul class="pdcard">
							<li id="cardtab_mod_0" class="setcon" onclick="javasrcrpt:order.prodModify.changeLabel(0)">客户联系人</li>

							<#if (modProfileTabList)?? &&((modProfileTabList)?size>0)>
	                        <#list modProfileTabList as profileTabLists>
	                        <li id="cardtab_mod_${profileTabLists.partyProfileCatgTypeCd}"  onclick="javasrcrpt:order.prodModify.changeLabel(${profileTabLists.partyProfileCatgTypeCd})">${profileTabLists.partyProfileCatgTypeName}</li>
							</#list>
							<script>
							order.prodModify.profiles = [];
							var profiles=${profilesJson};
							order.prodModify.profiles=profiles;
							
							order.prodModify.profileTabLists = [];
							var profileTabLists=${modProfileTabListJson};
							order.prodModify.profileTabLists=profileTabLists;
							
						    </script>
							</#if>
							
							<div class="clear"></div>
						</ul>
					<div class="clear"></div>
				</div> 
			   </div>
<#if (partyContactInfos)?? &&((partyContactInfos)?size>0)>
<table class="network" style="display:none; margin:0px 15px" id="modTabProfile0" click="1" contactAddress="${partyContactInfos[0].contactAddress}" contactDesc="${partyContactInfos[0].contactDesc}" 
contactEmployer="${partyContactInfos[0].contactEmployer}" contactGender="${partyContactInfos[0].contactGender}" contactId="${partyContactInfos[0].contactId}" contactName="${partyContactInfos[0].contactName}"
contactType="${partyContactInfos[0].contactType}" eMail="${partyContactInfos[0].eMail}" fax="${partyContactInfos[0].fax}" headFlag="${partyContactInfos[0].headFlag}"
homePhone="${partyContactInfos[0].homePhone}" mobilePhone="${partyContactInfos[0].mobilePhone}" officePhone="${partyContactInfos[0].officePhone}" postAddress="${partyContactInfos[0].postAddress}"
postcode="${partyContactInfos[0].postcode}"
		  <tbody>
				<tr>
			    <td width="150"> 联系人名称：</td>
			    <td width="300">
						   <input type="text" id="contactName"  class="inputWidth183px" maxlength="32" value="${partyContactInfos[0].contactName}">
				</td>
				
			    <td width="150"> <label class="f_red">*</label>联系类型：</td>
			    <td width="300">
						   <select id="contactType" class="inputWidth183px" check_type="check" >
							<option value="10" <#if partyContactInfos[0].contactType=="10" >selected="selected"</#if>>主要联系人</option>
							<option value="11" <#if partyContactInfos[0].contactType=="11" >selected="selected"</#if>>非主要联系人</option>
							</select>
				</td>
			    </tr>
				<tr>
			    <td width="150"> 是否首要联系人：</td>
			    <td width="300">
						   <select id="headFlag" class="inputWidth183px" check_type="check" >
							<option value="1" <#if partyContactInfos[0].headFlag=="1" >selected="selected"</#if>>是</option>
							<option value="2" <#if partyContactInfos[0].headFlag=="2" >selected="selected"</#if>>否</option>
							</select>
				</td>
				
			    <td width="150"> 性别：</td>
			    <td width="300">
						   <select id="contactGender" class="inputWidth183px" check_type="check" >
							<option value="1" <#if partyContactInfos[0].contactGender=="1" >selected="selected"</#if>>男</option>
							<option value="2" <#if partyContactInfos[0].contactGender=="2" >selected="selected"</#if>>女</option>
							<option value="3" <#if partyContactInfos[0].contactGender=="3" >selected="selected"</#if>>未知</option>
							<option value="4" <#if partyContactInfos[0].contactGender=="4" >selected="selected"</#if>>未说明</option>
							</select>
				</td>
			    </tr>
				<tr>
			    <td width="150"> 联系地址：</td>
			    <td width="300">
						   <input type="text" id="contactAddress" class="inputWidth183px" maxlength="250" value="${partyContactInfos[0].contactAddress}">
				</td>
			    
				
			    <td width="150"> 雇佣单位：</td>
			    <td width="300">
						   <input type="text" id="contactEmployer" class="inputWidth183px" maxlength="250" value="${partyContactInfos[0].contactEmployer}">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 家庭电话：</td>
			    <td width="300">
						   <input type="text" id="homePhone" class="inputWidth183px" maxlength="30" value="${partyContactInfos[0].homePhone}">
				</td>
			    
				
			    <td width="150"> 办公室电话：</td>
			    <td width="300">
						   <input type="text" id="officePhone" class="inputWidth183px" maxlength="32" value="${partyContactInfos[0].officePhone}">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 移动电话：</td>
			    <td width="300">
						   <input type="text" id="mobilePhone" class="inputWidth183px" maxlength="32" value="${partyContactInfos[0].mobilePhone}">
				</td>
			    
				
			    <td width="150"> 联系信息：</td>
			    <td width="300">
						   <input type="text" id="contactDesc" class="inputWidth183px" maxlength="250" value="${partyContactInfos[0].contactDesc}">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 邮箱地址：</td>
			    <td width="300">
						   <input type="text" id="eMail" class="inputWidth183px" maxlength="30" value="${partyContactInfos[0].email}">
				</td>
			    
				
			    <td width="150"> 邮政编码：</td>
			    <td width="300">
						   <input type="text" id="postCode" class="inputWidth183px" maxlength="6" value="${partyContactInfos[0].postCode}">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 邮寄地址：</td>
			    <td width="300">
						   <input type="text" id="postAddress" class="inputWidth183px" maxlength="250" value="${partyContactInfos[0].postAddress}"> 
				</td>
			    
				
			    <td width="150"> 传真号：</td>
			    <td width="300">
						   <input type="text" id="fax" class="inputWidth183px" maxlength="30" value="${partyContactInfos[0].fax}">
				</td>
			    </tr>
		</tbody>
</table>
<#else>
<table class="network" style="display:none; margin:0px 15px" id="modTabProfile0" click="1" contactAddress="" contactDesc="" 
contactEmployer="" contactGender="" contactId="" contactName="" contactType="" eMail="" fax="" headFlag="" homePhone="" mobilePhone="" officePhone="" postAddress=""
postcode=""
		  <tbody>
				<tr>
			    <td width="150"> 联系人名称：</td>
			    <td width="300">
						   <input type="text" id="contactName"  class="inputWidth183px" maxlength="32" value="">
				</td>
				
			    <td width="150"> <label class="f_red">*</label>联系类型：</td>
			    <td width="300">
						   <select id="contactType" class="inputWidth183px" check_type="check" >
							<option value="10" >主要联系人</option>
							<option value="11" >非主要联系人</option>
							</select>
				</td>
			    </tr>
				<tr>
			    <td width="150"> 是否首要联系人：</td>
			    <td width="300">
						   <select id="headFlag" class="inputWidth183px" check_type="check" >
							<option value="1" >是</option>
							<option value="2" >否</option>
							</select>
				</td>
				
			    <td width="150"> 性别：</td>
			    <td width="300">
						   <select id="contactGender" class="inputWidth183px" check_type="check" >
							<option value="1" >男</option>
							<option value="2" >女</option>
							<option value="3" >未知</option>
							<option value="4" >未说明</option>
							</select>
				</td>
			    </tr>
				<tr>
			    <td width="150"> 联系地址：</td>
			    <td width="300">
						   <input type="text" id="contactAddress" class="inputWidth183px" maxlength="250" value="">
				</td>
			    
				
			    <td width="150"> 雇佣单位：</td>
			    <td width="300">
						   <input type="text" id="contactEmployer" class="inputWidth183px" maxlength="250" value="">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 家庭电话：</td>
			    <td width="300">
						   <input type="text" id="homePhone" class="inputWidth183px" maxlength="30" value="">
				</td>
			    
				
			    <td width="150"> 办公室电话：</td>
			    <td width="300">
						   <input type="text" id="officePhone" class="inputWidth183px" maxlength="32" value="">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 移动电话：</td>
			    <td width="300">
						   <input type="text" id="mobilePhone" class="inputWidth183px" maxlength="32" value="">
				</td>
			    
				
			    <td width="150"> 联系信息：</td>
			    <td width="300">
						   <input type="text" id="contactDesc" class="inputWidth183px" maxlength="250" value="">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 邮箱地址：</td>
			    <td width="300">
						   <input type="text" id="eMail" class="inputWidth183px" maxlength="30" value="">
				</td>
			    
				
			    <td width="150"> 邮政编码：</td>
			    <td width="300">
						   <input type="text" id="postCode" class="inputWidth183px" maxlength="6" value="">
				</td>
			    </tr>
				<tr>
			    <td width="150"> 邮寄地址：</td>
			    <td width="300">
						   <input type="text" id="postAddress" class="inputWidth183px" maxlength="250" value=""> 
				</td>
			    
				
			    <td width="150"> 传真号：</td>
			    <td width="300">
						   <input type="text" id="fax" class="inputWidth183px" maxlength="30" value="">
				</td>
			    </tr>
		</tbody>
</table>
</#if>
	<#if (modProfileTabList)?? &&((modProfileTabList)?size>0)>
    <#list modProfileTabList as profileTabLists>
		<#if (profileTabLists.tabProfile)?? &&((profileTabLists.tabProfile)?size>0)>
		<table id="${profileTabLists.tabProfileNum}" class="network" style="display:none; margin:0px 15px">
		  <tbody>
		    <#assign parm_row = 0 />
			<#list profileTabLists.tabProfile as tabProfile1>
			<#if tabProfile1.attrSpecTypeCd?? && tabProfile1.attrSpecTypeCd!="" >
			<#assign rule=tabProfile1.rule />
			<#assign parm_row = parm_row + 1 />
				<#if parm_row%2==1><tr></#if>
			    <td width="300"> ${tabProfile1.attrName}：</td>
			    <td width="150">
						<#if tabProfile1.dsTypeCd==4 >
						  <select class="inputWidth183px" id="${tabProfile1.attrId}"
							attrId="${tabProfile1.attrId}"
							check_type="check">
							<#list tabProfile1.valueRange as valueRange>
								<option value="${valueRange.value}" <#if tabProfile1.value==valueRange.value >selected="selected"</#if> >${valueRange.text}</option>	
							</#list>
						  </select>
						    
						<#else>
						   <input type="<#if tabProfile1.dataTypeCd==8 >password<#else>text</#if>" class="inputWidth183px" id="${tabProfile1.attrId}"
							<#if tabProfile1.dataTypeCd?? && tabProfile1.dataTypeCd="4" >
							readonly="readonly" onclick="$.calendar({ format:'yyyy年MM月dd日 ',real:'#${tabProfile1.itemSpecId}_${prodId}' });" 
							<#elseif tabProfile1.dataTypeCd?? && tabProfile1.dataTypeCd="16" >
							readonly="readonly" onclick="$.calendar({ format:'yyyy年MM月dd日  HH:mm:ss',real:'#${tabProfile1.itemSpecId}_${prodId}' });"
							<#else>
							</#if>
							/>
						</#if>
				</td>
			    <#if parm_row%2==0||((profileTabLists.tabProfile)?size==parm_row)></tr></#if>
		    </#if>
			</#list>
		</tbody>
        </table>
		</#if>
	</#list>
    </#if>	
     </div>
     <!--购物车订单属性展示-->
	<div id="orderAttrDiv">
		<@block name="orderAttr">
			<#include "/order/order-attr.html" />
		</@block>
	</div>
                <!--上下步按钮-->
                <div align="right" style="margin: 20px auto;">
                    <a id="fillLastStep" class="btna_o" href="javascript:void(0)" class="btna_o"><span>取消</span></a>
                    <a href="javascript:void(0)" id="custInfoModifyBtn" class="btna_o" style=" margin-left:20px;"><span>下一步</span></a>
                </div>                  
                <!--上下步按钮 end-->  
                
            </form>
        	</div>
        </div>
        <!--订单确认 end-->
        
    </div>
<#if profilesJson??>
<script>
	order.prodModify.profiles = [];
	var profiles=${profilesJson};
	order.prodModify.profiles=profiles;
	
</script>
</#if>
<#else>
false
</#if>