<!--ActiveX 声明-->
<OBJECT id="ocx${prodId}" style="height: 0px;width: 0px;" Classid="clsid:5e497bde-0e29-4ac0-bfb1-4af7b7940277" codeBase="${contextPath}/card/common.ocx#version=1.0.0.1"></OBJECT>
<div style="display:none" id="ec-dialog-form-container-card${prodId}" class="ec-dialog-form-container">
	<div class="ec-dialog-form-top">
		<h1 class="ec-dialog-form-title" id="writeTitle">写卡</h1>
	</div>
	<div class="ec-dialog-form-content" id="rcard">
		<div class="ec-dialog-form-loading" style="display:none"></div>
		<div class="ec-dialog-form-message" style="display:none"></div>
		<div class="ec-dialog-form-form" >
		<form action="#" id="dialogForm">
			<div>
				<p class="pb" style="height: 30px;">
					<label class="w1">手机号码:</label>
					<input type="text"  id="write_card_phone_number${prodId}" class="txt2 inputDisabled" readonly="readonly" disabled="disabled" />
				</p>
				<p class="pb" id="dk_content">
					<label class="w1">卡序列号:</label>
					<input type="text" class="txt3" id="serialNum${prodId}"/>
				</p>
			</div>
			<div align="left" style="margin-left: 60px;">
				<a class="btna_o" href="javascript:void(0);" id="btnReadCard${prodId}"><span>读卡</span></a>&nbsp; <a class="btna_o" href="javascript:void(0);" id="btnWriteCard${prodId}"><span>写卡</span></a>
			</div>
			<input type="hidden" id="iccid" value=""/>
			<input type="hidden" id="imsi" value=""/>
			<a href = "https://ct.crm.189.cn/phoneimg/card/CardMan3x21_V1_1_1_0.exe">下载写卡器驱动</a>
			
		</form>
		</div>
	</div>
	<div class="ec-dialog-form-content" id="cardt" style="display:none">
		<div class="ec-dialog-form-loading" style="display:none"></div>
		<div class="ec-dialog-form-message" style="display:none"></div>
		<div class="ec-dialog-form-form" >
		<form action="#" id="dialogForm">
			<div>
				<p class="pb" style="font-weight:bold;height: 30px;top:40px;">
				           尊敬的用户，系统卡组件近期有更新，请您下载最新的卡组件<span style="color:#00F" id="dllName"></span>，把最新的卡组件保存到以下目录：<br/>
				      32位系统 C:\Windows\System32<br/>
				      64位系统 C:\Windows\SysWOW64<br/>
				</p>
			</div>
			<div style="height: 30px;"></div>
			<div align="left" style="font-weight:bold;margin-left: 5px;">
			     请点击下载<a id="cardupdate" href = "" style="color:#00F">最新的卡组件</a>
			</div>
		</form>
		</div>
	</div>
	<div class="ec-dialog-form-bottom"></div>
</div>	


