<@override name="title">账户详情查询</@override>

<@override name="header">
<script src="${contextPath}/js/4g-js/order/orderInfo.js" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/soOrder.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/acct/accountQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/cust/cust.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/areaTree.js" type="text/javascript"></script>

<style>
.acct li{
	width:33%;
}
</style>

</@override>

<@override name="content">
<div class="main_div"> 
  <div class=" main_warp">
  	<div class="ordercon">	
  	  <div class="order_confirmation ordertabcon">
        <h2 class="h2_title">帐户详情查询</h2>
        <div class="main_body">
          <h5 class="s_title">帐户定位</h5>
          <br/>
          <ul class="fillin show billSearch" style="height:82px">
          	<li>
          	  <label>所属地区：</label>
          	  <input type="text" class="inputWidth315px" readonly="readonly" id="p_areaId_val" onclick="account.query.chooseArea()" value="${defaultAreaName}"/>
          	  <input type="hidden" id="p_areaId" value="${defaultAreaId}"/>
          	  <label class="f_red">*</label> 
          	</li>
            <li>
              <label>所属客户：</label>              
              <input type="text" class="inputWidth315px" style="width:250px;" readonly="readonly" id="custName" onclick="account.query.showQueryCust()" placeHolder="请查询并选择客户"/>
              <a class="purchase" style="margin-top:1px;" onclick="account.query.resetCust()">重置</a>
            </li>
            <li class="noBorder">
              <select id="query_type" class="selectNumbertype" style="width:70px;margin:1px 7px 10px 13px;" onchange="account.query.changeQueryType(this)">
                <option value="1">接入号</option>
                <option value="2">合同号</option>        
              </select>              
              <input type="text" class="inputWidth315px" style="margin-top:1px;" id="num" placeHolder="请输入有效的中国电信手机号"/>
              <a class="btn_h30" style="margin:0px 0px 0px 20px;" onclick="account.query.queryAccount()"><span>查询</span></a>
            </li>              
          </ul>
          <div class="height18"></div>
          <div id="acctList" style="display:none"></div>
          <div id="acctDetail" style="display:none"></div>         
         
          <!-- 客户查询弹出框 -->     
          <div class="easyDialogdiv" style="width:650px;height:400px;" id="d_cust" >
            <div class="easyDialogclose" id="clientclose"></div>
            <table class="contract_list rule">
              <thead>
                <tr>
                  <td colspan="2">客户查询</td>
                </tr>                                                    
              </thead>
            </table>
            <div class="form-content">
  	          <div class="selectList" style="margin:10px 10px">
  	            <form id="custQueryForm">
                <ul class="fillin">
                  <li class="full noBorder">
                    <select id="cust_id_type" class="selectNumbertype" style="width:220px;margin-top:1px;" onchange="account.query.changeCustIdType(this)">
                      <option value="0">接入号</option>
                    </select>
                    <input type="text" class="inputWidth228px" id="cust" placeHolder="请输入有效的中国电信手机号码" data-validate="validate(isTelecomSection:请输入有效的中国电信号码) on(blur)"/>
                    <input name="custQueryType" id="custQueryType" type="hidden" value="queryOnly" >
                    <a id="bt_cust_query" class="purchase">查 询</a>
                  </li>
                </ul>
                <div class="clear"></div>
                </form>
              </div>
              <div class="phone_warp" style="margin:0px 10px;" id="custlist"></div>
            </div>
          </div> 
          <!-- 客户查询弹出框end -->
        </div>
      </div>    
    </div>
  </div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>