<#if COMPRESS_JS_LEVEL?? && (COMPRESS_JS_LEVEL == "BUSI" || COMPRESS_JS_LEVEL == "BASE")>
<script src="${contextPath}/merge/js/busiPC-${BUSI_VERSION}.min.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/cert/cert.js?${jsversion}" type="text/javascript"></script>
<#else>
<script src="${contextPath}/js/4g-js/card/writeCard.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/attachOffer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/offerChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/offerQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/orderInfo.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/soOrder.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/acct/acctModify.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/main/main.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/cust.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/mktRes/terminal.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/areaTree.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/cacheData.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/calCharge.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/dealer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/memberChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/order.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/orderMain.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/orderProdModify.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/mktRes/phoneNumber.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/prepare.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/prodOffer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/print/print.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/prod/transferModify.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/prod/uim.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/query/queryProd.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/rule/rule.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/order/protocolNbrSel.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/uiCust.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/prod/changeUim.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/order/offer-dealer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/uiCust2.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/uiCust3.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/uiAttachOffer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/pc-js/busi-js/cust/uiOfferQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/cert/cert.js?${jsversion}" type="text/javascript"></script>
</#if>