<@override name="title">协议录入</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>
<script src="${contextPath}/js/busi-js/order/protocol.js?${jsversion}" type="text/javascript">
</script>

</@override>

<@override name="content">
 
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
	
    <div class="order_confirmation ordertabcon">
  <h2 class="h2_title"><span></span>政企团购<span class="showhide"></span>
  </h2>
  <div class="main_body">

  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">协议录入</h5>
  <form id="protCreateForm">
  <ul class="fillin show">
     <li style="height:28px">
      <label>协议号：</label>
      <input type="text" class="inputWidth183px" value="${prtotNbr}" name="prtotNbr" id="prtotNbr" readonly />
      <label class="f_red">*</label>
    </li> 
    <li style="height:28px">
      <label>协议名称：</label>
      <input type="text"   class="inputWidth183px"  placeHolder="请准确填写协议名称" data-validate="validate(required:请准确填写协议名称) on(blur)" name="protocolName" maxlength="500" id="protocolName"/>
      <label class="f_red">*</label>
    </li>
    <li style="height:28px">
      <label>客户名称：</label>
      <input type="text" class="inputWidth183px" placeHolder="请准确填写客户姓名" data-validate="validate(required:请准确填写客户姓名) on(blur)" name="custName" maxlength="100" id="custName"/>
      <label class="f_red">*</label>
    </li>
    <li style="height:28px">
      <label>关联促销：</label>
      <select name="prodOfferId" id="prodOfferId"  data-native-menu="false" data-icon="select">
         
      </select>
      <label class="f_red">*</label>
    </li>
    
    <li style="height:28px">
      <label>生效时间：</label>
      <input type="text" class="inputWidth183px" id="protocolBeginDate" readonly="readonly" data-validate="validate(required:请准确填写生效时间) on(blur)" onclick="$.calendar({minDate:'%y-%M-%d', format:'yyyy年MM月dd日 ',real:'#protocolBeginDate' });" />
      <label class="f_red">*</label>
    </li>
    
    <li style="height:28px">
      <label>失效时间：</label>
      <input type="text" class="inputWidth183px"  id="protocolEndDate" readonly="readonly" data-validate="validate(required:请准确填写失效时间) on(blur)" onclick="$.calendar({format:'yyyy年MM月dd日 ',real:'#protocolEndDate',minDate:$('#protocolBeginDate').val() });" />
      <label class="f_red">*</label>
    </li>
    
   
    <li style="height:28px">
      <label>客户经理信息：</label>
      <input type="text" class="inputWidth183px"  readonly="readonly" id= "dealer_99" staffId = "" name= "dealer_99" placeHolder="请选择客户经理" data-validate="validate(required:请准确填写客户经理) on(blur)" maxlength="12" />
      <label class="f_red">*</label>
      <a class="purchase" href="javascript:order.main.queryStaff(0,'dealer','99');">选择</a>
    </li>
    <!--  <li>
      <label>协议录入时间：</label>
      <input type="text" class="inputWidth183px"  value="" disabled="disabled"/>
      <label class="f_red">*</label>
    </li>
    <li>
      <label>协议录入渠道：</label>
      <input type="text" class="inputWidth183px"  value=""/>
      <label class="f_red">*</label>
    </li>
    <li>
      <label>协议录入工号：</label>
      <input type="text" class="inputWidth183px"  value=""/>
      <label class="f_red">*</label>
    </li>-->
    <li style="height:28px">
      <label></label>
      <input type="text" style="display:none" class="inputWidth183px"/>
      <label class="f_red"></label>
    </li>
    
        <label>
		协议内容：
	   </label>
	   <textarea type="textarea" class="inputWidth183px" placeholder="请准确填写协议内容" data-validate="validate(required:请准确填写协议内容) on(blur)" style="height:160px;width:840px;margin-top:10px;border:1px solid #d3d8d0;"  name="protocolContent" maxlength="4000" id="protocolContent" cols="50" rows="54"/></textarea>
	   <label class="f_red">*</label>
	 </ul>
  </form>
</div>

</div>
</div>

</div>
   
</div>
<!--帐户选择弹窗-->
<div class="easyDialogdiv" style="width:980px;height:460px;" id="div_staff_dialog">

</div>
<!--订单填写 end-->


<div align="right" style="margin: 20px auto; padding:0 20px;"> 
<a  href="javascript:void(0)" id="protobtn" name="protobtn" style="margin-left:20px;" class="btna_o"><span id="baocun">保存</span></a> </div>

<!--内容 end--> 

</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>
