<div class="easyDialogclose" id="" onclick="easyDialog.close()"></div>
<table class="contract_list numberList">
	<thead>
		<tr align="center">
			<td>批次详情查询</td>
			<!-- 
			<td>
				<input type="button" class="numberSearch" value="查 询" onclick="order.batch.queryEcsBatchOrderDetailList('1')"> 
			</td>
			 -->					
		</tr>
	</thead>
	<tbody>
		<input type="hidden" name="batchId_dialog" id="batchId_dialog" value="${batchId_dialog}" />			
	</tbody>
</table>
<div id="queryEcsBatchOrderDetailist"  class="phone_warp"></div>