<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
		<table class="contract_list numberList">
			<thead>
				<tr>
			       <td width="40%">终端仓库名称</td>
			       <td width="10%"></td>
			       <td width="30%">终端仓库操作</td>
			       <td width="20%">终端仓库选择</td>
	     		</tr>
			</thead>
			<tbody>
				<#if (pageModel.list)?? && ((pageModel.list)?size>0)>
					<#list pageModel.list as childList>
	     	 		<tr>
	     	 			<td>${childList.name}</td>
	     	 			<td></td>
			     	 	<td>
			     	 		<#if (childList.pId)?? && (childList.pId) != "">
			     	 			<i id="plan_detail" onclick="order.batch.chooseRepositoryList(1, '${childList.pId}')">返回上级仓库</i>&nbsp;
			     	 		<#else>
			     	 			<i style="text-align:center; font-style:normal">无上级仓库</i>&nbsp;&nbsp;&nbsp;
			     	 		</#if>			     	 		
							<#if (childList.HAS_CHILDREN)?? && (childList.HAS_CHILDREN) != "" && (childList.HAS_CHILDREN) != "0">
			     	 			<i id="plan_detail" onclick="order.batch.chooseRepositoryList(1, '${childList.id}')">查询下级仓库</i>&nbsp;
			     	 		<#else>
			     	 			&nbsp;&nbsp;&nbsp;<i style="text-align:center; font-style:normal">无下级仓库</i>	     	 			
			     	 		</#if>
						</td>
						<td>
							<i id="plan_detail" onclick="order.batch.confirmRepository('${childList.id}', '${childList.name}')">选择仓库</i>
						</td>
	     	 		</tr>
	     			</#list>
				</#if>
			</tbody>
		</table>
		
		<!--页码-->
		<@portal.simplifyModelPagination pageModel "order.batch.chooseRepositoryList"/>
		<!--页码 end-->
		<input type="hidden" name="totalAmount" id="totalAmount" value="${totalAmount}"/>
		
		<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>

	<#else>
	    <div class="no_search"> 
			<div class="h1">
				<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;没有找到相关的记录，请尝试其他筛选条件。
			</div>
		</div>
	</#if>