<div class="main_warp">
	<div class="ordercon">
		<!--订单确认-->
		<div class="order_confirmation">
			<h2 class="h2_title">
				<span>改付费类型</span>
				<span class="showhide"></span>
			</h2>
			<div style="margin: 20px auto; padding: 0 80px;">
			<input type="radio" name="paymentType" value="1200"/>后付费
            <input type="radio" name="paymentType" value="1202"/>准预付费实时信控
            </div>
            <div class="height18"></div>
        </div>
	</div>
	<!--订单填写 end-->
	<div align="right" style="margin: 20px auto; padding: 0 20px;">
		<a class="btna_o" href="javascript:void(0)" id="fillLastStep"><span>取 消</span></a>
		<a style="margin-left: 20px;" class="btna_o" href="javascript:prod.paymentTypeChange.submit()"><span>下一步</span>
		</a>
	</div>
</div>