
<div style="display: none" id="order_prepare">
	<div class="container-fluid">
		<div class="row">
			<div class="row divtab">
				<div class="col-xs-10">
					<div  class="panel-heading">选择套餐</div>
				</div>
				<div class="col-xs-2">
					<button type="button"
						class="btn btn-default navbar-btn nav-justified no-mp"
						data-toggle="modal" data-target="#search-modal">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>
						高级查询
					</button>
				</div>
			</div>
			<div id="offer-list"></div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade modal_search" id="search-modal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal_top">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="panel panel-default">
						<div class="panel-body">
							<form>
								<div class="form-group has-feedback">
									<input type="text" id="qryStr" class="form-control"
										aria-describedby="inputSuccess2Status" placeholder="请输入套餐名称">
									<span class="glyphicon glyphicon-search form-control-feedback"
										aria-hidden="true"></span>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">价格区间（元）</label> 
									<div class="input-group">
									<select
										id="select_price" class="selectpicker show-tick form-control">
										<option value="">不限</option>
									</select>
						            <span class="input-group-addon select-span"></span>
					         		</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">语音时长（分钟）</label> 
									<div class="input-group">
									<select
										id="select_invoice"
										class="selectpicker show-tick form-control">
										<option value="">不限</option>
									</select>
						            <span class="input-group-addon select-span"></span>
					         		</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">流量（G）</label> 
									<div class="input-group">
									<select
										id="select_influx" class="selectpicker show-tick form-control">
										<option value="">不限</option>
									</select>
						            <span class="input-group-addon select-span"></span>
					         		</div>
								</div>
							</form>
						</div>
						<div class=" divfoot modal-footer">
							<div class="col-xs-10">
								<button type="button" class="btn btn-default"
									onclick="order.service.searchPack(1);" data-target="#attach-modal">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
									确定
								</button>
							</div>
							<div class="col-xs-2">
								<button type="button" style="height: 42px; font-size: 14px;"
									class="btn btn-default navbar-btn nav-justified no-mp"
									data-toggle="modal" data-target="#search-modal">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									关闭
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade " id="attach-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal_wrapper">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-body"><strong>正在查询销售品实例中,请稍后....</strong></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 副卡弹出框 -->
<div class="modal fade" id="vice_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal_wrapper">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-default">
          <div class="panel-body">
            <form>
            	<div id="div_content">
                    <!-- <label for="vice" id="vice"></label>
                    <div class="input-group">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"> - </button>
                      </span>
                      <input type="text" class="form-control" id="vice_num" value="0">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"> + </button>
                      </span> </div> -->
                  </div>
            </form>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" id="btn_modal"><span class="glyphicon" aria-hidden="true"></span> 确定</button>
<!--           <button type="button" class="btn btn-default" data-toggle="modal" data-target="#vice_modal"><span class="glyphicon" aria-hidden="true"></span> 取消</button>
 -->          </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- 规则弹窗 -->  
<div class="modal fade" id="ruleDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal_wrapper">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-default">
          <div class="panel-body">
            <form>
            	<div class="panel-heading">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>规则校验提示
				</div>
				<div class="panel-body">
					<p>规则校验未通过</p>
				</div>
				<table class="table table-striped table-bordered tablecenter">
					<thead>
						<tr>
							<th>规则编码</th>
							<th>规则名称</th>
							<th>规则等级</th>
							<th>校验结果</th>
						</tr>
					</thead>
					<tbody class="panel-group" id="ruleBody">
					</tbody>
				</table>
            </form>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" id="closeRule"><span class="glyphicon" aria-hidden="true"></span> 确定</button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

<div id="phonenumberContent" style="display: none;">
</div>
 <!--用户鉴权弹窗 -->

          <div style="background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;-webkit-box-shadow:0 8px 8px rgba(0,0,0,0.4);-moz-box-shadow:0 8px 8px rgba(0,0,0,0.4);box-shadow:0 8px 8px rgba(0,0,0,0.4); border:5px solid #cbced0;
	         
	          overflow-y:auto;" id="auth2">
          </div>
<div id="order" >
</div>
<script>
	//初始化
//	window.onload = function() { 
		OrderInfo.actionFlag=2;
		//OrderInfo.order.soNbr=UUID.getDataId();
		OrderInfo.order.soNbr="${soNbr}";//UUID.getDataId();
		if(OrderInfo.provinceInfo.reloadFlag=="N"){
			offerChangeNew.init();
		}
		else{
			order.prodModify.querySecondBusinessAuth('1','N');
		}
		
	//}
</script>