<html>
<head>
<title>计费调查问卷</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<#include "/common-js-tpl.html"/>
<#include "/common-css-tpl.html"/>
<link href="${contextPath}/css/question/bootstrap.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/question/style.css" rel="stylesheet">
<link href="${contextPath}/js/busi-js/icheck/skins/all.css"
	rel="stylesheet">
<link href="${contextPath}/css/skins/blue.css" rel="stylesheet">
<style>
</style>
<!--  
<script type="text/javascript"
	src="${contextPath}/js/busi-js/question-js/jquery-1.9.1.min.js"></script> -->
<script type="text/javascript"
	src="${contextPath}/js/busi-js/question-js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="${contextPath}/js/busi-js/icheck/icheck.js"></script>
<script type="text/javascript"
	src="${contextPath}/js/busi-js/question-js/jquery.artDialog.js"></script>
<script type="text/javascript"
	src="${contextPath}/js/busi-js/question-js/demo.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 nobgcolor" style="background-color: #FFFFFF">
				<h2 id='head' class="text-center"></h2>
				<h4 class="text-left text-muted">
					&nbsp;&nbsp;&nbsp;&nbsp; <small id='welcome'
						style="line-height: 1.8;"></small>
				</h4>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div id="btn" class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 nobgcolor" style="background-color: #FFFFFF">

				<button type="button" onclick="question.term.myd.submit()"
					class="btn btn-primary btn-lg">提交问卷</button>
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>

</body>
</html>

