<!-- 首页置顶滚动公告 -->
  <input type="hidden" value="3000" id="intervalTime">
  <a id="updateNews" style="position: fixed; left: 5px;margin-left:80px" onclick="main.home.queryNotice()" class="newsmore" href="javascript:void(0)">公告更新</a>
<div id="new" style="width: 90%;margin-left:100px">
	<marquee direction="left" scrollamount="3" style="width: 100%;" onMouseOver="this.stop()" onMouseOut="this.start()">
		<#if noticeList?? &&(noticeList?size>0)>
		<#list noticeList as notice>
			<a href="javascript:void(0)" id="${contextPath}/main/noticeInfo/${notice.bulletinId}" onclick="main.home.queryNotice(${notice.bulletinId})">
				[ ${notice.bulletinName}  ${notice.createDate} ]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</a>
		</#list>
		<#else>
			<a href="javascript:void(0)">[ 暂无公告，请刷新 ]</a>
		</#if>
	</marquee>
</div>

<!-- 公告详情 -->
<div id="noticeDetail" style="display:none;"></div>

<!-- 弹窗公告 -->
<#if popNotice??>
<style type="text/css">

	#popNotice {
		position : fixed;
		bottom : 0px;
		right : 0px;
		width : 225px;
		height : 0px;
		background-color : #FFFFFF;
		line-height : 17px;
		text-indent : 0px;
		border : solid 2px #95B27B;
		border-top-left-radius : 8px;
		border-top-right-radius : 8px;
		transition : height 1s;
		display : none;
	}
	
	#popNoticeTitle {
		position : absolute;
		top : 0px;
		left : 0px;
		width : 200px;
		height : 25px;
		line-height : 25px;
		background-color : #95B27B;
		padding-left : 10px;
		color : #FFFFFF;
	}
	
	#popClose {
		position : absolute;
		top : 0px;
		right : 0px;
		width : 25px;
		height : 25px;
		background : url(../image/common/close.png) #95B27B;
		background-size : 100% 100%;
	}
	
	#popNoticeInfo {
		position : absolute;
		left : 0px;
		top : 25px;
		width : 225px;
		height : 125px;
		cursor : pointer;
	}
	
	#popInfo {
		position : relative;
		top : 0px;
		left : 0px;
		width : 225px;
		height : 125px;
	}
	
	#popIssuer {
		position : absolute;
		top : 10px;
		left : 10px;
	}
	
	#publishTime {
		position : absolute;
		top : 30px;
		left : 10px;
	}
	
	#popNoticeName {
		position : absolute;
		top : 50px;
		left : 10px;
		width : 205px;
	}
	
	#popDetail {
		position : absolute;
		bottom : 0px;
		left : 75px;
	}

</style>

<div id="popNotice">
	<div id="popNoticeTitle">重要通知</div>
	<a id="popClose" onclick="main.home.hidePopNotice()"></a>
	<div id="popNoticeInfo" onclick="main.home.queryNotice(${popNotice.bulletinId})">
		<div id="popInfo">
			<p id="popIssuer">发布人：${popNotice.issuerName}</p>
			<p id="publishTime">发布时间：${popNotice.createDate}</p>
			<p id="popNoticeName">${popNotice.bulletinName}</p>
			<a id="popDetail">点击查看详情</a>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#popNotice").show();
		setTimeout('$("#popNotice").css("height", "150px");', 1000);
	});
</script>
</#if>
