<@override name="title">中国电信4G营业受理</@override>
<@override name="header">
<#include "/busi-js-tpl.html"/>

</@override>

<@override name="content">
<!--内容-->
<div class="main_div" style="width:100%;" >
    <div class="main_content" style="background:#71ab5a;">
        <#if Session["_session_pad_flag"]??&&Session["_session_pad_flag"]=="1">
            <div>
                <#else>
                    <div class="homecon">
        </#if>

        <!--公告
        
<div class="news">
	<div id="new">
	<#if (infoList)?? &&((infoList)?size>0)>
	<#list infoList as info>
		<a href="javascript:void(0)" id="${contextPath}/main/noticeInfo/${info.bulletinId}">
			[ ${info.bulletinName}  ${info.createDate} ]<span>${info.bulletinText}</span>
		</a> 
	</#list>
	<#else> 
		<a href="javascript:void(0)">[ 暂无公告 ]</a>
	</#if>
	-->
        <!--
             <a href="#">[ 营业门户2.0风格即将上线  2014/01/04 ]</a>
             <a href="#">[ 营业门户2.0风格即将上线1  2014/01/04 ]<span>测试测试测试TEST测试数据内容测试测试测试TEST...</span></a>
           <a href="#">[ 营业门户2.0风格即将上线2  2014/01/04 ]</a>
           <a href="#">[ 营业门户2.0风格即将上线3  2014/01/04 ]<span>测试测试测试TEST测试数据内容测试测试测试TEST...</span></a>

         </div>
         <!-- <a href="javascript:main.home.hideMainIco()" class="newsmore">测试隐藏</a>
    </div>
    <!--公告 end-->
        <!--客户定位未定位-->


        <div id="div_main_index" class="main_index">
            <div id="framecenter" style="min-height: 300px;height: auto !important; repeat-x fixed center;" >
                <div title="门户首页">
                    <div>
                        <#include "/order-template.html"/>
                    </div>

                    <div class="main_quick_div" >
                        <div class="main_bottom"></div>


                        <div class="main_title"><h5><div class="quick_star"></div>常用操作<span>
            <a href="javascript:main.home.createDialog()" id="q_menu" style="display:block" ><div class="quick_setting"></div></a></span></h5></div>
                        <div class="main_index">
                            <div class="main_index_warp">
                                <div class="faster">
                                    <ul class="faster_ul" id="faster_ul">
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="main_bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="easyDialogdiv" style="width:800px;height:485px;" id="q_menu_dialog" >
    <div class="easyDialogclose" id="q_menuclose"></div>
    <table class="contract_list rule">
        <thead>
        <tr>
            <td colspan="2">常用操作设置</td>
        </tr>
        </thead>
    </table>
    <div class="quick">
        <div class="quick_top_warp">
            <div class="quick_top clearfix" id="shortcut_getmylist">
                <!-- main-query-shortcut -->
            </div>
        </div>
        <div class="set">
            <div class="set_l">
                <div class="side_nav" id="parentslist">
                    <!-- main-query-parents -->
                </div>
            </div>
            <div class="set_r">
                <div class="a1 sidelisthide" style="display: block;">
                    <div class="ul_list" id="son_list">
                        <!-- main-query-son -->
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<#include "/validate-window.html"/>
<input type="hidden" id="writeCardNewDLL" value="${writeCardNewDLL}"/>
<script>
	var hintCode = '${hintCode}';
	if(hintCode == "4"){
		$.alert("提示","您超过60天未修改密码，请移步【密码修改】界面修改密码.");
	}

    OrderInfo.specialtestauth = '${specialtestauth}' == '0'? true:false;
    $(".allsort").addClass("showme");
    var obj=$("#p_cust_areaId_val").val();
    $(document).ready(function(e) {
        //加载首页公告
        main.home.queryNotice();   //main.js中初始化载入公告，这里重复，先取消
        //加载首页快捷菜单
        main.home.queryMainShortcut();

        //Tab
        var menuWidth = 220;
        var contentDiv = $("#framecenter");
        contentDiv.attr("position", "center");
        //$("#accordion").attr("position", "left").width(menuWidth);

        $("#layout").ligerLayout({
            leftWidth: menuWidth,
            //heightDiff: -45,
            space: 17,
            isLeftCollapse: false
        });

        var height = $("div.l-layout-center").height();
        main.home.tabManager = contentDiv.ligerTab({height: height});

        $('#q_menu').onclick = function(){
            easyDialog.open({
                container : 'q_menu_dialog'
            });
        };

        var objs=obj.split(">");
        if(objs.length>2){
            $("#p_cust_areaId_val").val($.trim(objs[1])+" > "+$.trim(objs[2]));
        }
        $("#p_cust_areaId_val").focus(function(){
            $("#p_cust_areaId_val").val(obj);
        });
        $("#p_cust_areaId_val").blur(function(){
            objs=obj.split(">");
            if(objs.length>2){
                $("#p_cust_areaId_val").val($.trim(objs[1])+" > "+$.trim(objs[2]));
            }
        });
    });
</script>

</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
    <@extends name="/mvno-template.html"/>
    <#else>
        <@extends name="/main-template.html"/>
</#if>
<#if Session._loginUrl ?? && (Session._loginUrl!="") >
<iframe style="display:none;"  src='${Session._loginUrl}'></iframe>
</#if>

<div><a id="camera_obj" style="display:inline-block;"/></div>