<@override name="title">充值缴费</@override>
<@override name="header">
<script src="${contextPath}/js/busi-js/main/main.js" type="text/javascript"></script>
<script src="${contextPath}/js/busi-js/main/main-bill.js?${jsversion}" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_content">
	<div>
		<div class="main_warp"/>
		<div class="main_list" id="bill_list" >
			<#list billList as biitem>
			<ul class="main_list_ul" url="${contextPath}${biitem.MENU_PATH}">
				<div class="list_ul_padding">
					<img src="${contextPath}${biitem.RESOURCE_PATH}" width="92" height="92" />
					<ul>
						<h2>${biitem.RESOURCE_NAME}</h2>
						<p>
							${biitem.DESCRIPTION}
						</p>
					</ul>
				</div>
			</ul>
			</#list>
		</div>
	</div>
</div>
</div>
</@override>
<@extends name="/content-template.html"/>