
<table class="numberList">
	<thead>
		<tr>
			<td width="80">发布人</td>
           	<td width="130">手册描述</td>
          	<td width="80">发布时间</td>
           	<td width="80">手册下载</td>
		</tr>
	</thead>
	<tbody>
	<#if pageModel?? && (pageModel.list?size>0)>
		<#list pageModel.list as manual>
		<tr>
			<td>${manual.issuerName}</td>
			<td>${manual.manualDesc}</td>
			<td>${manual.createDate}</td>
			<td><a style="text-decoration:underline;" href="${manual.attachmentUrl}">${manual.attachmentName}</a></td>
		</tr>
		</#list>
	<#else>
		<tr>
			<td colspan="4">没有查询到操作手册</td>
		</tr>
	</#if>
	</tbody>
</table>

<#if pageModel?? && (pageModel.list?size>0)>
<!--页码-->
<@portal.modelPagination pageModel 5 "manual.search.queryManualList" />
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<!--页码 end-->
</#if>
