<div style="display: none" id="ec-dialog-form-container-notice-items"
	class="ec-dialog-form-container">
	<div class="ec-dialog-form-top heightChg">
		<h1 class="ec-dialog-form-title">公告详情</h1>
	</div>
	<div class="ec-dialog-form-content">
		<div class="ec-dialog-form-loading" style="display: none"></div>
		<div class="ec-dialog-form-message" style="display: none"></div>
		<div class="ec-dialog-form-form">
			<div class="selectList">
				<dl class="width120">
					<dt>公告标题：</dt>
					<dd><#escape x as x?html>${bulletinName}</#escape></dd>
				</dl>
				<dl class="width120">
					<dt>发布人：</dt>
					<dd>${issuer}</dd>
				</dl>
				<dl class="width120">
					<dt>发布时间：</dt>
					<dd>${createDate}</dd>
				</dl>
				<dl class="width120">
					<dt id="shoujuDt">公告内容：</dt>
					<dd><#escape x as x?html>${bulletinText}</#escape></dd>
				</dl>
				<dl class="width120">
					<dt>附件下载：</dt>
					<dd><a href="${noticeurl}" >${name}</a></dd>
				</dl>
			</div>
			<div class="ec_dialog_form_btn_div bottom20px">
				<a id="noticeItemsConCancel" class="btn_h30 ec_dialog_form_btn_cls"><span>取消</span></a>
			</div>
		</div>
	</div>
	<!-- <div class="ec-dialog-form-bottom"></div> -->
</div>