<#if code?? && (code>=0) ><table class="numberList" id="tab_starList" >
              <thead>
                <tr>
                    <td width="130">编号</td>
					<td width="80">权益名称</td>
					<td width="120">使用时间</td>
					<td width="80">使用次数</td>
					<td width="50">使用来源</td>
				</tr>
              </thead>
              <tbody>
               <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
              <#list pageModel.list as pointInfo >
              <tr>
              <td>${pointInfo.exchangeId}</td>
              <td>${pointInfo.giftDes}</td>
              <td>${pointInfo.pointCosumeTime}</td>
              <td>${pointInfo.giftAmount}</td>
              <td>${pointInfo.exchangeSource}</td>
              </tr>
              </#list>
              <#else>
              <tr>
                <td colspan="10">没有查询到结果</td> 
              </tr>
              </#if>
              </tbody>
    </table>
<#else>${mess}</#if>