<#if menuList?? >
<#list menuList as menu>
<li>
	<div class="faster_ul_img"><a href="${contextPath}/${menu.menuPath}"><img src="${contextPath}/${menu.resourcePath}" /></a></div>
	<p>${menu.resourceName}</p>
	<a class="quick_del" href="${contextPath}/${menu.menuPath}"></a> 
</li>  
</#list>
<#else>
<li>
	<div class="faster_ul_img"><a href="javascript:main.home.createDialog()"><div class="icon00"></div></a></div>
	<p>添加快捷</p>
	<a class="quick_del" href="javascript:main.home.createDialog()"></a>
</li>
</#if>
<!-- 
<li class="quick_add" onclick="javascript:main.home.createDialog()">
<a class="quick_del" href="javascript:main.home.createDialog()" ></a>
</li>
  -->

<!-- 
<#list getmyList as staff>
<li onclick="javascript:ec.agent.page.pageNewLoad('${contextPath}${staff.MENU_PATH}')">
	<div class="faster_ul_img">
		<img src="${contextPath}${staff.RESOURCE_PATH}" />
	</div>
	<p>${staff.RESOURCE_NAME}</p>
</li>
</#list>
 -->