@charset "UTF-8";
.wrapper {
	position:absolute; z-index:1;left:0;width:100%;background:#f6f6f6;overflow:auto;
}
.scroller {
	position:relative;float:left;width:100%;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.scroller ul {
	position:relative;list-style:none;padding:0;margin:0;width:100%;text-align:left;
}
.scroller table {
	position:relative;width:100%;
}
#pullDown, #pullUp {
	background:#fff;height:40px;line-height:40px;padding:1px 2px;border-bottom:1px solid #ccc;font-weight:bold;font-size:14px;color:#888;text-align:center;
}
#pullDown .pullDownIcon{
	display:block; float:left;position: absolute;width:40px; height:40px;left:41%;background:url(../../image/pad-image/pull-icon@2x.png) 0 0 no-repeat;
	background-size:40px 80px;-webkit-background-size:40px 80px;-ms-background-size:40px 80px;-o-background-size:40px 80px;-moz-background-size:40px 80px;
	transition-property:transform;-webkit-transition-property:-webkit-transform;-ms-transition-property:-ms-transform;-o-transition-property:-o-transform;-moz-transition-property:-moz-transform;	
	transition-duration:250ms;-webkit-transition-duration:250ms;/* Safari and Chrome */-ms-transition-duration:250ms;/* IE 9 */-o-transition-duration:250ms;/* Opera */-moz-transition-duration:250ms;/* Firefox */
}
#pullUp .pullUpIcon  {
	display:block; float:left;position: absolute;width:40px; height:40px;left:37%;background:url(../../image/pad-image/pull-icon@2x.png) 0 0 no-repeat;
	background-size:40px 80px;-webkit-background-size:40px 80px;-ms-background-size:40px 80px;-o-background-size:40px 80px;-moz-background-size:40px 80px;
	transition-property:transform;-webkit-transition-property:-webkit-transform;-ms-transition-property:-ms-transform;-o-transition-property:-o-transform;-moz-transition-property:-moz-transform;	
	transition-duration:250ms;-webkit-transition-duration:250ms;/* Safari and Chrome */-ms-transition-duration:250ms;/* IE 9 */-o-transition-duration:250ms;/* Opera */-moz-transition-duration:250ms;/* Firefox */
}
#pullDown .pullDownIcon {
	transform:rotate(0deg) translateZ(0);-webkit-transform:rotate(0deg) translateZ(0);-o-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0);-moz-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	transform:rotate(-180deg) translateZ(0);-webkit-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	transform:rotate(-180deg) translateZ(0);-webkit-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	transform:rotate(0deg) translateZ(0);-webkit-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0);-o-transform:rotate(0deg) translateZ(0);-moz-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;transform:rotate(0deg) translateZ(0);-o-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0);-moz-transform:rotate(0deg) translateZ(0);-webkit-transform:rotate(0deg) translateZ(0);
	transition-duration:0ms;-o-transition-duration:0ms;-ms-transition-duration:0ms;-moz-transition-duration:0ms;-webkit-transition-duration:0ms;
	animation-name:loading;-o-animation-name:loading;-webkit-animation-name:loading;-moz-animation-name:loading;-ms-animation-name:loading;
	animation-duration:2s;-webkit-animation-duration:2s;-o-animation-duration:2s;-ms-animation-duration:2s;-moz-animation-duration:2s;
	animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;-o-animation-timing-function:linear;-moz-animation-timing-function:linear;-ms-animation-timing-function:linear;-webkit-animation-timing-function:linear;
}
@keyframes loading {
	from {transform: rotate(0deg) translateZ(0);}
	to {transform: rotate(360deg) translateZ(0);}
}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0);}
	to { -webkit-transform:rotate(360deg) translateZ(0);}
}
@-o-keyframes loading {
	from { -o-transform:rotate(0deg) translateZ(0);}
	to { -o-transform:rotate(360deg) translateZ(0);}
}
@-ms-keyframes loading {
	from { -ms-transform:rotate(0deg) translateZ(0);}
	to { -ms-transform:rotate(360deg) translateZ(0);}
}
@-moz-keyframes loading {
	from { -moz-transform:rotate(0deg) translateZ(0);}
	to { -moz-transform:rotate(360deg) translateZ(0);}
}

.myScrollbarH {
	position:absolute;z-index:100;height:7px;bottom:1px;left:2px;right:7px
}

.myScrollbarH > div {
	height:100%;
}

.myScrollbarV {
	position:absolute;z-index:100;width:7px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	width:100%;
}

.myScrollbarH > div,.myScrollbarV > div {
	position:absolute;
	z-index:100;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
	border-width:3px;-webkit-border-image:url(../../image/pad-image/scrollbar.png) 6 6 6 6;-moz-border-image:url(../../image/pad-image/scrollbar.png) 6 6 6 6;-o-border-image:url(../../image/pad-image/scrollbar.png) 6 6 6 6;border-image:url(../../image/pad-image/scrollbar.png) 6 6 6 6;
}
