<#if code?? && (code>=0) >
<table class="numberList" id="tab_orderList">
	<thead>
		<tr>
			<td width="130">交易流水号</td>
			<td width="130">外部订单号</td>
			<td width="120">创建时间</td>
			<td width="70">订单类型</td>
			<td width="70">订单状态</td>
			<td width="70">号码</td>
			<td width="130">销售点</td>
			<td width="80">省份</td>
			<td width="80">地区</td>
			<td width="80">状态历史</td>
			<td width="80">订单详情</td>
			<td width="80">备注</td>
		</tr>
	</thead>
	<tbody>
		<#if (pageModel.list)?? &&((pageModel.list)?size>0)> 
		<#list pageModel.list as orderLists >
		<tr>
			<td>${orderLists.transactionId}</td>
			<td>${orderLists.extCustOrderId}</td>
			<td>${orderLists.createDt}</td>
			<td>${orderLists.orderTypeName}</td>
			<td>${orderLists.statusCdName}</td>
			<td>${orderLists.accNbr}</td>
			<td>${orderLists.channelName}</td>
			<td>${orderLists.provinceName}</td>
			<td>${orderLists.regionName}</td>
			<td><a class="purchase"
			    href="javascript:essOrder.main.orderEvent('${orderLists.olId}')"
				type="main">状态详情</a>
			</td>
			<td><a class="purchase"
				href="javascript:essOrder.main.queryOrderInfo('${orderLists.olId}','${orderLists.splitOrderOlId}','${orderLists.commonRegionId}')"
				type="main">订单详情</a>
			</td>
			<td>${orderLists.remark}</td>
		</tr>
		</#list>
		<#else>
		<tr>
			<td colspan="9">没有查询到结果</td>
		</tr>
		</#if>
	</tbody>
</table>
<@portal.simplifyModelPagination pageModel "essOrder.main.queryOrderList"/>
<!--历史订单轨迹弹窗-->
<div class="easyDialogdiv" style="width:500px;height:460px;" id="div_orderEvent_dialog">
</div>
<!--页码 end-->
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}"
	type="text/javascript"></script>
<#else>
    ${mess}
</#if>
