<div id="new">
<#if (infoList)?? &&((infoList)?size>0)>
	<#list infoList as info>
		<a href="javascript:void(0)" id="${contextPath}/main/noticeInfo/${info.bulletinId}" onclick="main.home.queryNotice(${info.bulletinId})">
			[ ${info.bulletinName}  ${info.createDate} ]
		</a> 
	</#list>
<#else>
		<a href="javascript:void(0)">[ 暂无公告 ]</a>
</#if>
</div>
<#if (infoList)?? &&((infoList)?size>0)>
     <a href="javascript:void(0)" class="newsmore">历史公告</a>
</#if>
<!--弹出框的内容-->
<div class="detail">
<!--弹出层-->
<!--弹出款的内容-->