
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
	
    <div class="">
  <h2 class="h2_title"><span>改产品密码</span>
  </h2>
  <div class="main_body">
 
  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">产品信息</h5>
  <form id="password_form">
  <ul class="fillin show">
  	<li class="full" <#if ValidateAccNbrFlag=="true" >style="display: none"</#if> id="li_password_old" >
      <label>原产品密码：</label>
      <input type="password" class="inputWidth183px" id="password_old"  value="${password_session}" placeholder="请输入原密码" 
      	data-validate="validate(required:密码不能为空,checkLen:密码长度需{arg1}位(6) ) on(blur)" />
      <label class="f_red">*</label>
    </li>
    <li class="full">
      <label>产品密码：</label>
      <input type="password" class="inputWidth183px" id="password_change1"  value="" placeholder="请输入产品密码" 
      	data-validate="validate(simple_password_num1:密码长度需{arg1}位数字，且不能过于简单(6),simple_password_eql1:两次密码不一致(password_change2)) on(blur)" />
      <label class="f_red">*</label>（密码为6位数字，不能与接入号中信息重复，不能包含连续相同数字，不可连续6位数字）
    </li>
    <li class="full">
      <label>确认密码：</label>
      <input type="password" class="inputWidth183px" id="password_change2"  value="" placeholder="请输入确认密码" 
      	data-validate="validate(simple_password_num2:两次密码不一致(password_change1)) on(blur)" onblur="order.prodModify.checkProPSW('password_change1')"/>
      <label class="f_red">*</label>
    </li>
  </ul>
  </form>
</div>
</div>
<div class="height18"></div>、
<!--购物车订单属性展示-->
<div id="orderAttrDiv">
	<@block name="orderAttr">
		<#include "/order/order-attr.html" />
	</@block>
</div>
</div>

</div>
   
</div>
<!--订单填写 end-->
<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a class="btna_o" href="javascript:order.prodModify.cancel();"><span >取消</span></a> 
	<a style=" margin-left:20px;" id="btsubmit" class="btna_o" href="javascript:void()"><span>下一步</span></a> </div>

</div>
