<h5 class="s_title">管理属性</h5>
<table class="contract_list">
	<thead>
    	<tr>
    		<td width="10%">号码</td>
    		<td width="25%">发展业务</td>
    		<td width="16%">发展人类型</td>
            <td width="30%">发展人
            <a id="adddealer" class="purchase" href="javascript:order.dealer.showOfferList();" style="margin: 0px -53px 0 10px;">添加发展人</a></td>
        	<td width="20%">发展渠道</td>
        </tr>                                                    
    </thead>
    <tbody id="dealerTbody">
    </tbody>
</table>
<div class="height18"></div>