<#if (pageModel.list)?? &&((pageModel.list)?size>0)>
    <table class="numberList" >
       <thead>
	     <tr>
	       <!-- <td width="5%"><input type="checkbox" id="chooseAll" /></td> -->
	       <td width="10%">号码</td>
	       <td width="5%">号码等级</td>
	       <td width="15%">客户名称</td>
	       <td width="15%">证件号码</td>
	       <td width="20%">预约时间</td>
	       <td width="20%">预约渠道</td>
	       <!-- <td width="10%">操作</td> -->
	     </tr>
	     </thead>
	     <tbody>
	     <#list pageModel.list as childList>
	     	 <tr>
	     	 	<!-- <td><input type="checkbox" name="ids" value="${childList.phoneNumber}_${childList.staffId}" style="margin-left: 0px; margin-top:7px"/></td> -->
	     	 	<td>${childList.phoneNumber}</td>
	     	 	<td>${childList.pnLevelCd}</td>
	     	 	<td>${childList.custName}</td>
	     	 	<td>${childList.identityId}</td>
	     	 	<td>${childList.orderDate}</td>
	     	 	<td>${childList.channelName}</td>
	     	 	<!-- <td><a class="purchase" href="javascript:order.reserveNumber.releaseNum('${childList.phoneNumber}','${childList.identityId}','${childList.staffId}','${childList.staffCode}')" type="main" >释放</a></td> -->
	     	 </tr>
	     </#list>
	   </tbody>
	</table>
	
<@portal.modelPagination pageModel 5 "order.reserveNumber.queryReserve"/>
<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script>
<#else>
    <div class="no_search"> 
		<div class="h1">
			<img style="vertical-align:middle" src="${contextPath}/image/common/query_search.gif" />&nbsp;&nbsp;抱歉，没有找到相关的记录，请尝试其他筛选条件。
		</div>
	</div>
</#if>
<script>
	$(function() {
		var list = $('[name=ids]').size();
		// 全选，反选
		$('#chooseAll').click(function() {
			if (this.checked) {
				$('[name=ids]').attr("checked", true);
			} else {
				$('[name=ids]').attr("checked", false);
			}
		});

		$('[name=ids]').click(function() {
			var chk = 0;
			$('[name=ids]').each(function() {
				if (this.checked) {
					chk++;
				}
			});
			if (list == chk) {
				$("#chooseAll").attr("checked", true);
			} else {
				$("#chooseAll").attr("checked", false);
			}
		});
	}); 
</script>