<script src="${contextPath}/js/busi-js/cart/cart.js?${jsversion}" type="text/javascript"></script>
<!-- 地区选择展示-->
<input type="hidden" id="areaId" value="${main.areaId}">
<input type="hidden" id="mainAccNbr" value="${main.mainAccNbr}">
<div class="order_confirmation ordertabcon" style="display: none" id="ordertabcon">
	<h2 class="h2_title">
		<span> ${main.boActionTypeName} </span>
		${main.mainAccNbr}
		<span class="showhide"></span>
	</h2>
	<div class="main_body">
		<div id="orderRemarkDiv" >
		<h5 class="s_title">虚号地区信息</h5>
        <ul class="fillin">
	        <li class="full" id="li_order_remark">
		        <label>虚号地区选择：</label> 
		        <input type="text" class="numberTextBox width198" readonly="readonly" id="p_areaId_val" onclick="order.prodModify.chooseAccNbrArea()" value="${p_areaId_val}" placeholder="请选择地区" />
                <input type="hidden" id="p_areaId" value="${p_areaId}">
                <label class="f_red">*</label>
	        </li>
        </ul>
		</div>
	</div>
</div>
<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a id="fillLastStep" href="javascript:void(0)" class="btna_o"><span>
		<#if main.actionFlag == 6>取消<#else>上一步</#if>
	</span></a> <a id="queryAccNbrList"
		href="javascript:void(0)" class="btna_o" style=" margin-left:20px;"><span>下一步</span></a>
</div>