<#if (modPartyTypeCd)?? >
<div class=" main_warp">
	<h2 class="h2_title">
		<span>
			${orderProdInfo.boActionTypeName}
		</span>
	</h2>
	<a id="boCustIdentities" partyName="${modPartyTypeCd.partyName}"
		pName="${modPartyTypeCd.pName}"
		addressStr="${modPartyTypeCd.addressStr}"
		address="${modPartyTypeCd.address}"
		partyId="${modPartyTypeCd.partyId}"
		partyTypeCd="${modPartyTypeCd.partyTypeCd}"<#if (identities)?? >
		identidiesTypeCd="${identities[0].identidiesTypeCd}"
		identityNum="${identities[0].identityNum}"
		certNum="${identities[0].certNum}"</#if> ></a>
	<div class="main_body">
		<h5 class="s_title">客户定位</h5>
		<ul class="fillin">
			<li class="full">
		    	<form id="custTransferForm">
		    		<select onchange="order.cust.custidentidiesTypeCdChoose(this,'TransferNum')" id="p_cust_tra_identityCd" class="selectNumbertype">
            		</select>
		    		<input id="TransferNum" type="text" class="inputWidth183px" />
		    		<a href="javascript:void(0)" id="custTransferBtn" class="purchase">查询</a>
		    		<a onclick="javascript:prod.transferModify.readCert()" id="readCertTransferBtn" class="purchase">读卡</a>
		    		<a style="display:none" onclick="javascript:prod.transferModify.showCustCreate(this)" class="purchase" id="addCust">新增</a>
		    		<label class="f_red">*</label>
		    	</form>
		  	</li>		  		  
		</ul>
		<ul id="custTransferInfo" class="fillin"></ul>
		<ul class="fillin">
		    <div id="govUser" style="display:none">
		        <li class="full">
		            <input type="hidden" id="800000011_-1"/>
 					<label style="line-height:22px;">使用人：</label>
					<input type="text" class="inputWidth183px" id="800000011_-1_name" readonly="readonly" disabled="disabled"/>
	                <input type="button" value="选择使用人" class="purchase" id="choose_user_btn_-1" />
					<label class="f_red">*</label>
				</li>
		    </div>
		</ul>
		 <div class="height18"></div>
		 <div id="accountDiv" style="display:none">
			<h5 class="s_title">帐户信息</h5>
			<ul class="fillin">
  				<li id="account" class="full">
 					<label style="line-height:22px;">可选帐户：</label>
					<select id="acctSelect" class="inputWidth250px" style="width:282px;" onchange="order.prodModify.ifNewAcct('#acctSelect')"></select>
					<a class="purchase" onclick="order.prodModify.chooseAcct()">帐户查询</a>
					<a class="purchase" onclick="order.main.createAcct()">新建帐户</a>
					<a class="purchase" onclick="prod.transferModify.showCustUpdate()">账户名称修改</a>
					<label class="f_red">*</label>
				</li>
			</ul>
			<ul class="fillin" id="defineNewAcct" style="display:none;">
				<li class="full">
    				<label>帐户名称：</label>
    				<input type="text" class="inputWidth250px" id="acctName" style="width:280px;"/>
    				<label class="f_red">*</label>
  				</li>  
				<li>
					<label>支付方式：</label>
					<select id="paymentType" class="inputWidth250px" style="width:95px;" onchange="acct.acctModify.paymentType()">
						<option value="100000">现金</option>						
<!-- 						<option value="110000">银行</option> -->
					</select> 
					<input type="text" class="inputWidth183px bank" readonly="readonly" onclick="acct.acctModify.queryBank(0)" id="bankName" placeHolder="请查询并选择银行"/>
					<label class="f_red bank">*</label>
					<input type="hidden" id="bankId"/>										
				</li>
				<li class="bank">
					<label>银行帐号：</label>
					<input type="text" class="inputWidth250px" style="width:140px;" id="bankAcct"/>
					<label class="f_red">*</label>
				</li>
				<li class="bank">
					<label>支付人：</label>
					<input type="text" class="inputWidth250px" style="width:140px;" id="paymentMan"/>
					<label class="f_red">*</label>
				</li>
				<li class="bank">
					<label>协议号：</label>
					<input type="text" class="inputWidth250px" style="width:140px;" id="protocalNbr"/>
				</li>
				<li>
	 				<label>账单投递方式：</label>
	 				<select id="postType" class="inputWidth250px" style="width:95px;" onchange="acct.acctModify.billPostType()">
	 					<option value="-1">不投递账单</option>	
	   		   <!-- <option value="11">邮寄</option>
	   				   <option value="12">传真</option>
	 				   <option value="13">Email</option>
	 				   <option value="14">短信</option>
	 				   <option value="15">快递</option> --> 
	 				</select>	 	
					<input type="text" class="inputWidth183px billPost" id="postAddress"/>
					<label class="f_red billPost">*</label>		
	 			</li>
	 			<li class="billPost">
	 				<label>邮编：</label>
					<input type="text" class="inputWidth183px" style="width:140px;" id="zipCode"/>	
					<label style="margin-left:15px;width:60px;">收件人：</label>
					<input type="text" class="inputWidth183px" style="width:80px;" id="consignee"/>		 	 	
	 			</li>
	 			<li class="billPost">
	 				<label>账单内容：</label>
					<select id="billContent" class="inputWidth250px" style="width:95px;" onchange="acct.acctModify.billContent()">
	   			<!-- <option value="11">账单</option>
						<option value="12">账单和详单</option>
						<option value="13">详单</option>
						<option value="14">发票</option> -->  
					</select>
					<label class="f_red">*</label>
					<label id="receipt" style="width:115px;text-align:center;color:red;display:none;">不支持电子寄送方式</label>				
	 			</li>
	 			<li class="billPost">
	 				<label>投递周期：</label>
					<select id="postCycle" class="inputWidth250px" style="width:65px;margin-left:3px;">
	   			<!-- <option value="3">月</option>
						<option value="4">季度</option>
						<option value="5">半年</option>
						<option value="6">年</option> -->
					</select>
					<label class="f_red">*</label>		 		
	 			</li>
			</ul>
		</div>
		 <div id="modAccountProfile" style="display: none;">
					<div class="height18"></div>
					<h5 class="s_title">帐户信息</h5>
					<div class="height18"></div>
					<div class="infoBox">
						<table class="network">
							<tr>
								<td><label class="f_red">&nbsp;</label>帐户名称</td>
								<td><input id="accountName" class="inputWidth228px"
								placeHolder="请输入账户名称"	type="text" maxlength="64"></td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
				</div>
		<div class="height18"></div>
		<h5 class="s_title">订单信息</h5>
		<ul class="fillin">
		  	<li class="full">
		    	<label>订单备注：</label>
		   		<textarea  cols="" rows="4" class="order-remark" id="order_remark"></textarea>
		  	</li>
		</ul>
		<div class="height18"></div>
		<!--购物车订单属性展示-->
		<div id="orderAttrDiv">
			<@block name="orderAttr">
				<#include "/order/order-attr.html" />
			</@block>
		</div>
	</div>
	<div align="right" style="margin: 20px auto;">
        <a id="fillLastStep" class="btna_o" href="javascript:void(0)" class="btna_o"><span>取消</span></a>
  		<a href="javascript:prod.transferModify.returnFile_Submit()" id="custInfoModifyBtn" class="btna_o" style=" margin-left:20px;"><span>下一步</span></a>
	</div>                    	
</div>
<!-- 客户查询选择弹出框 -->
<div id="custTransferList"></div>
<!-- 客户查询选择弹出框 end -->
<!--客户新增弹出窗-->
<div class="easyDialogdiv" style="width:580px;height:315px;display:none" id="transfer_cust_add">
	<div class="easyDialogclose" id="usercreateclose"></div>
    <form id="ransferCustCreateForm">
    	<table class="contract_list" >
        	<thead>
            	<tr>
                	<td>客户新增</td>
                </tr>                                                    
            </thead>
        </table>
        <div class="infoBox">
        	<table class="network" style="margin: 0px 15px;">
            	<tbody>
                	<tr>
                    	<td width="70"> 客户姓名</td>
                        <td width="430" id="td_custName">
                        	<input type="text" placeHolder="请准确填写客户姓名" data-validate="validate(required:请准确填写客户姓名) on(blur)" class="inputWidth228px" id="transfercCustName"/>
                        	<label class="f_red">*</label>
                       	</td>
                  	</tr>
                   	<tr>
                   		<td> 客户类型</td>
                       	<td>
                      		<select id="div_tra_partyTypeCd" onchange="prod.transferModify.partyTypeCdChoose(this)">
                           		<option value="1">个人</option>
                         		<option value="2">组织</option>
                       		</select>
                       		<label class="f_red">*</label>
          				</td>
                	</tr>
              		<tr>
                    	<td> 证件类型</td>
                 		<td>
                        	<select  id="div_tra_identidiesTypeCd" onchange="prod.transferModify.identidiesTypeCdChoose(this)">
                   			</select>
                   			<label class="f_red">*</label>
               			</td>
          			</tr>
            		<tr>
                  		<td> 证件号码</td>
                  		<td id="td_custIdCard">
                 			<input type="text" placeHolder="请输入合法身份证号码" data-validate="validate(idCardCheck:请输入合法身份证号码) on(blur)" class="inputWidth228px" id="transfercCustIdCard"/>
                 			<label class="f_red">*</label>
                 			<a class="btn_h30" id="readCertTransferBtnCreate" onclick="javascript:prod.transferModify.readCertWhenCreate()"><span>读 卡</span></a>
                     	</td>
         			</tr>
         			<tr id="tr_ransferCustPhoto" style="display:none">
                        <td> 证件相片：</td>
                        <td>
                            <img id="img_ransferCustPhoto" alt="相片" src=""/>
                        </td>
                    </tr>
            		<tr>
                  		<td> 客户地址</td>
                  		<td id="td_addressStr">
                 			<input type="text" data-validate="validate(required:请准确填写客户地址) on(blur)" placeHolder="请输入客户地址"  class="inputWidth228px" id="transfercAddressStr"/>
                 			<label class="f_red">*</label>
                     	</td>
         			</tr>                                   
				</tbody>
 			</table>                
		</div>            
        <div align="center" style="margin: 20px auto;">
       		<a class="btna_o" id="ransferAddcustsussbtn"  href="javascript:void(0)"><span >确认</span></a>
      		<a style=" margin-left:20px;" class="btna_o" href="javascript:void(0)" id="ransferCustresetBtn"><span>重置</span></a>
		</div> 
	</form>
</div>
<!--客户新增弹出窗结束 -->
<!-- 帐户查询与选择 -->
<div class="easyDialogdiv" style="width:980px;height:400px;" id="queryAcctDialog">
	<div class="easyDialogclose" id="queryAcctClose"></div>
	<table class="contract_list">
		<thead>
			<tr>
				<td>帐户查询</td>
			</tr>
		</thead>
	</table>
	<div class="form-content">
		<div class="selectList">
			<form id="acctQueryForm">
				<dl>
					<select id="chooseQueryAcctType" style="width:120px">
						<option value=1>接入号码</option>
						<option value=2>帐户合同号</option>
					</select>
					<dd id="d_query_nbr" style="display:none">
						&nbsp;<input type="text" data-validate="validate(required:接入号不能为空) on(keyup blur)" value="" class="inputWidth150px">
					</dd>
				<!-- 	<dd id="d_query_pwd" style="display:none">
						&nbsp;&nbsp;产品密码：<input type="password" data-validate="validate(required:密码不能为空) on(keyup blur)" value="" class="inputWidth150px">
					</dd>  -->
					<dd id="d_query_cd" style="display:none">
						&nbsp;<input type="text" data-validate="validate(required:合同号不能为空) on(keyup blur)" value="" class="inputWidth150px">
					</dd> 
					<dd>
						&nbsp;<input type="button" id="querAcctBtn" class="numberSearch" value="查 询" onclick="order.prodModify.queryAccount('#acctSelect')">   
					</dd>
				</dl>
			</form>
		</div>
		<div class="phone_warp">
			<table id="acctListTab" class="contract_list">
				<thead>
					<tr>
						<td class="borderLTB">帐户名称</td>
						<td class="borderLTB">合同号</td>
						<td class="borderLTB">帐户属主</td>
						<td class="borderLTB">代表号码</td>
					</tr>
				</thead>
				<tbody>						
				</tbody>
			</table>		
			<div id="acctPageDiv2"></div>
		</div>
	</div>
</div>
<!-- 帐户查询与选择 end -->
<!-- 银行查询与选择 -->
<div class="easyDialogdiv" style="width:980px;height:400px;" id="div_bank_dialog">

</div>
<!-- 银行查询与选择 end -->
<#else> false </#if>