
  <div class=" main_warp">
  <div class="ordercon">
  <!--订单确认-->
	
    <div class="">
  <h2 class="h2_title"><span>紧急开机</span>
  </h2>
  <div class="main_body">
 
  <div class="cardtabcon">
  <div class="pdcardcon show">
  <h5 class="s_title">产品信息</h5>
  <#if jjkj?? && (jjkj=="have") >
        紧急开机<input class="purchasebtn" type="button" value="确定" onclick="order.prodModify.phoneOpen();"/>
  <#else>您好，您无紧急开机的权益！</#if>
</div>
</div>
<div class="height18"></div>
</div>

</div>
   
</div>
