<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>unifyLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
		<error-code>400</error-code>
		<location>/error/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QRLoginServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.QRLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QRLoginServlet</servlet-name>
    <url-pattern>/qrlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataGuardServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.DataGuardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGuardServlet</servlet-name>
    <url-pattern>/getDataGuardUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.PasswordMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/staff/getVoucherToPrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OLPosServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.OLPosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OLPosServlet</servlet-name>
    <url-pattern>/order/GetOLpos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessTokenServlet</display-name>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.AccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/accessToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModePCServlet</display-name>
    <servlet-name>ModePCServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.ModePCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModePCServlet</servlet-name>
    <url-pattern>/mode/pc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModeAppServlet</display-name>
    <servlet-name>ModeAppServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.ModeAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeAppServlet</servlet-name>
    <url-pattern>/mode/app</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AesServlet</display-name>
    <servlet-name>AesServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.AesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AesServlet</servlet-name>
    <url-pattern>/aes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModePADServlet</display-name>
    <servlet-name>ModePADServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.ModePADServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModePADServlet</servlet-name>
    <url-pattern>/mode/pad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PubPortalServlet</display-name>
    <servlet-name>PubPortalServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.PubPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubPortalServlet</servlet-name>
    <url-pattern>/pubPortal/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServerIpServlet</display-name>
    <servlet-name>GetServerIpServlet</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.GetServerIpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServerIpServlet</servlet-name>
    <url-pattern>/getServerIp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCtrlSecret</display-name>
    <servlet-name>getCtrlSecret</servlet-name>
    <servlet-class>com.al.lte.portal.servlet.CtrlSecretServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCtrlSecret</servlet-name>
    <url-pattern>/properties/getCtrlSecret</url-pattern>
  </servlet-mapping>
</web-app>