<div class="order_confirmation">
    <div class="main_body">
    	<h2 class="s_title">主号信息</h2>
<#if resMap.resultCode==0>
<form method="post" id="blacklistEvidence" enctype="multipart/form-data" action="${contextPath}/report/addBlackUserInfo">
<input type="hidden" id="virtualAccNbr" name="virtualAccNbr" value="${param.virtualAccNbr}">
<input type="hidden" id=virtualAreaId name=virtualAreaId value="${param.areaId}">
<table class="numberList" id="tab_accNbrList" >
<tr>
<td>主号号码</td>
<td>主号地区</td>
<td>订购时间</td>
</tr>
<tr>
<td><input type="hidden" name="mainAccNbr" id="mainAccNbr" value="${accNbrMap.accNbr}">${accNbrMap.accNbr}</td>
<td><input type="hidden" name="mainAreaId" id="mainAreaId" value="${accNbrMap.areaId}">${accNbrMap.areaName}</td>
<td>${accNbrMap.finishDate}</td>
</tr>
</table>
<div id="blacklist_evidence">
<div class="height18"></div>
<h5 class="s_title">黑名单证据：</h5>
<ul class="fillin">
  <li class="full">
    <label>黑名单证据：&nbsp;&nbsp;</label>
    <input type="file"  name="evidenceFile" id="evidenceFile" style="text-indent:0px;height:20px;"/>
  </li>
</ul>
</div>
<div id="blacklist_reason">
<div class="height18"></div>
<h5 class="s_title">黑名单原因：</h5>
<ul class="fillin">
  <li class="full">
    <label>黑名单原因：</label>
    <textarea id="blacklistReason" class="order-remark" name="blacklistReason" rows="4"></textarea>
  </li>
</ul>
</div>
</form>
<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a id="ubsubLastStep" href="javascript:void(0)" class="btna_o"><span>
		上一步
	</span></a> <a id="undoAccNbr"
		href="javascript:void(0)" class="btna_o" style=" margin-left:20px;"><span>退订</span></a>
</div>
<#else>
<div class="height18"></div>
	    		<table id="ruleTable" class="com_table">
	    			<thead>
		    			<tr>
			                <th>查询失败</th>
		              	</tr>
		    		</thead>
		    		<tbody id="ruleTbody">		            	
		            	<tr>				            
				        	<td>失败原因：${resMap.resultMsg}</td>
			          	</tr>
		            </tbody>
	    		</table>
	    		<div align="right" style="margin: 20px auto; padding:0 20px;">
	<a id="ubsubLastStep" href="javascript:void(0)" class="btna_o"><span>
		返回
	</span></a>
</div>
</#if>
</div>
</div>

	

