@charset "UTF-8";
/* CSS Document */
ul {
	list-style:none;
}
.ui-page-theme-a a {
	color:#444;
	text-decoration:none;
	font-weight:normal;
}
.ui-page-theme-a a:hover {
	color:#5a9203;
}
.ui-page-theme-a a:visited {
	color:#f444;
}
.ui-page-theme-a a:active {
	color:#5a9203;
}
.ui-page-theme-a.index {
	background:#f5f5f5;
}
.ui-header.ui-bar-i {
	background:#fff;
	-moz-box-shadow:0px 3px 3px #DBDBDB;              
    -webkit-box-shadow:0px 3px 3px #DBDBDB;           
    box-shadow:0px 3px 3px #DBDBDB;
	/* 投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色 */
	border:0;
}
.logo4g {
	width:81px;
	height:54px;
	background:url(../../image/pad-image/logo4g.jpg) no-repeat;
	float:left;
}
form.usersearch {
	margin:0;
	padding:0;
	height:54px;
	overflow:hidden;
	float:left;
}
form.usersearch > label {
	font-size:14px;
	color:#444444;
	padding:0 10px;
}
form.usersearch .searchtext {
	width:240px;
}
form.usersearch .searchselect {
	width:76px;
}
form.usersearch > *, form.usersearch label {
	display:inline-block;
	vertical-align:middle;
}
form.usersearch div.ui-slider-switch {
	border:0;
	width:120px;
}
.navbar4g {
	width:90%;
	float:right;
}
.navbar4g > li {

}
.navbar4g > li .ui-btn{
	background:none;
	color:#e3ffb2;
	text-shadow:none;
	font-size:15px;
	border:none;
}
.navbar4g > li .ui-btn:hover{
	background:none;
	color:#e3ffb2;
	text-shadow:none;
	font-size:15px;
	border:none;
	-moz-box-shadow:0px 5px 5px #426d00 inset;              
    -webkit-box-shadow:0px 5px 5px #426d00  inset;           
    box-shadow:0px 5px 5px #426d00 inset;
}
.navbar4g > li .ui-btn.onclick{
	background:none;
	color:#e3ffb2;
	text-shadow:none;
	font-size:15px;
	border:none;
	-moz-box-shadow:0px 5px 5px #426d00 inset;              
    -webkit-box-shadow:0px 5px 5px #426d00  inset;           
    box-shadow:0px 5px 5px #426d00 inset;
}
.navbar4g > li .ui-btn.ui-btn-active {
	background:none;
}
.navbar4g > li .ui-btn.ui-btn-icon-left::after, .navbar4g > li .ui-btn.ui-btn-icon-right::after, .ui-btn-icon-top::after, .navbar4g > li .ui-btn.ui-btn-icon-bottom::after, .navbar4g > li .ui-btn.ui-btn-icon-notext::after {
	background-color:inherit /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: none;
	border-radius: 0;
	width:34px;
	height:34px;
}
.navbar4g > li .ui-btn.ui-btn-icon-notext::after, .navbar4g > li .ui-btn.ui-btn-icon-top::after, .navbar4g > li .ui-btn.ui-btn-icon-bottom::after {
	margin-left:-17px;
}
.navbar4g > li .ui-btn.ui-btn-icon-top::after {
	top:8px;
}
.navbar4g > li .ui-btn.ui-btn-icon-top {
	padding-top:45px;
}
.ui-icon-bar01::after {
	background:url(../../image/pad-image/icon_bar01.png) no-repeat;
}
.ui-icon-bar02::after {
	background:url(../../image/pad-image/icon_bar02.png) no-repeat;
}
.ui-icon-bar03::after {
	background:url(../../image/pad-image/icon_bar03.png) no-repeat;
}
.ui-icon-bar04::after {
	background:url(../../image/pad-image/icon_bar04.png) no-repeat;
}
.ui-icon-bar05::after {
	background:url(../../image/pad-image/icon_bar05.png) no-repeat;
}
.ui-icon-bar06::after {
	background:url(../../image/pad-image/icon_bar06.png) no-repeat;
}
.ui-icon-select::after {
	background:url(../../image/pad-image/icon_select.png) no-repeat;
}
.navbar4g > .ui-block-a {
	clear:none;
}
.ui-footer.ui-bar-i {
	height:67px;
	background:url(../../image/pad-image/navbarbg.jpg) repeat-x;
	border:none;
}
.logo {
	background:url(../../image/pad-image/logo.png);
	width:43px;
	height:43px;
	display:block;
	position:fixed;
	left:15px;
	bottom:10px;
	z-index:1004;
	cursor:pointer;
}
#navbar {
	display:none;
	z-index:1003;
}
.ui-page-theme-a .ui-btn-g {
	background-image: -moz-linear-gradient(top, #7dcd00, #5a9203); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7dcd00), color-stop(1, #5a9203)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dcd00', endColorstr='#5a9203', GradientType='0'); /* IE*/
	border:1px solid #557100;
	color:#fff;
	text-shadow:none;
	font-size:14px;
	padding:8px 20px 8px 40px;
}
.ui-page-theme-a .ui-btn-g:hover {
	background-image: -moz-linear-gradient(top, #5a9203, #7dcd00); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5a9203), color-stop(1, #7dcd00)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a9203', endColorstr='#7dcd00', GradientType='0'); /* IE*/
	border:1px solid #557100;
	color:#fff;
	text-shadow:none;
	font-size:14px;
	padding:8px 20px 8px 40px;
}
.ui-page-theme-a .ui-btn-g:active {
	background-image: -moz-linear-gradient(top, #5a9203, #7dcd00); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5a9203), color-stop(1, #7dcd00)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a9203', endColorstr='#7dcd00', GradientType='0'); /* IE*/
	border:1px solid #557100;
	color:#fff;
	text-shadow:none;
	font-size:14px;
	padding:8px 20px 8px 40px;
}
.ui-page-theme-a .ui-btn-g:visited {
	background-image: -moz-linear-gradient(top, #7dcd00, #5a9203); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7dcd00), color-stop(1, #5a9203)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dcd00', endColorstr='#5a9203', GradientType='0'); /* IE*/
	border:1px solid #557100;
	color:#fff;
	text-shadow:none;
	font-size:14px;
	padding:8px 20px 8px 40px;
}

/* 整体 */
.ui-content {
	padding:0;
}
.ui-content .ui-listview {
	margin:0;
}

/* 内页 */
/* 搜索 */
.search {
	background:#f7f7f7;
	border:0;
	display:block;
	width:100%;
	border-bottom:1px solid #e0e0e0;
	float:left;
	position:fixed;
	top:55px;
	left:0;
	z-index:1001;
	-moz-box-shadow:0px -3px 3px #DBDBDB inset;              
    -webkit-box-shadow:0px -3px 3px #DBDBDB inset;           
    box-shadow:0px -3px 3px #DBDBDB inset;
	/* 投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色 */
}
.search > * {
	float:left;
}
.search > span {
	width:81px;
	height:42px;
	line-height:42px;
	color:#5a9203;
	text-align:center;
	display:block;
}
.ui-content .search .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-radio-on {
	background:#ffffff;
}
#moresearch {
	display:none;
}
.moresearch {
	height:43px;
	background:#f7f7f7;
	width:100%;
	padding-left:60px;
	float:left;
	-moz-box-shadow:0px -3px 3px #DBDBDB inset;              
    -webkit-box-shadow:0px -3px 3px #DBDBDB inset;           
    box-shadow:0px -3px 3px #DBDBDB inset;
}
.moresearch > * {
	float:left;
}
.moresearch label {
	font-size:14px;
	color:#444;
	margin:14px 0 0 20px;
}
.moresearch .ui-select {
	margin:0;
	padding:0;
}
.moresearch .ui-select .ui-btn {
	margin:5px 0 0 0;
	padding:8px 60px 8px 20px;
	border-radius:1.5em;
}
.moresearch .ui-slider {
	margin:5px 0 0 0;
	padding:0;
	border-radius:1.5em;
	width:70px;
}
.search > * {
	float:left;
}
.search label {
	font-size:14px;
	color:#444;
	margin:14px 0 0 20px;
}
.search .ui-select {
	margin:0;
	padding:0;
}
.search .ui-select .ui-btn-w {
	width:219px;
	text-align:left;
}
.search .ui-btn-g {
	margin:3px 0 0 5px;
}
.search .ui-select .ui-btn {
	margin:5px 0 0 0;
	padding:5px 60px 6px 20px;
	border-radius:1.5em;
}
.ui-controlgroup.ui-group-theme-s {
	margin:0;
	padding:0;
}

.ui-controlgroup.ui-group-theme-s .ui-radio .ui-btn {
	background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType='0'); /* IE*/
	color:#6a6a6a;
	margin:0;
	padding:0;
	width:146px;
	height:42px;
	text-align:center;
	line-height:42px;
	border:none;
	border-left:1px solid #e0e0e0;
	text-shadow:none;
	border-radius:0;
}
.ui-controlgroup.ui-group-theme-s .ui-radio .ui-btn span {
	position:absolute;
	right:0;
	background:url(../../image/pad-image/icon_radio_s_a.png) no-repeat;
	width:20px;
	height:42px;
}
.ui-controlgroup.ui-group-theme-s .ui-radio .ui-btn-active {
	background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType='0'); /* IE*/
	color:#444444;
	margin:0;
	padding:0;
	width:146px;
	height:39px;
	text-align:center;
	font-weight:bold;
	line-height:39px;
	border:none;
	border-top:3px solid #5a9203;
	border-left:1px solid #e0e0e0;
	text-shadow:none;
	border-radius:0;
}
.ui-controlgroup.ui-group-theme-s .ui-radio .ui-btn-active span {
	position:absolute;
	right:0;
	background:url(../../image/pad-image/icon_radio_s.png) no-repeat;
	width:20px;
	height:42px;
}
.ui-controlgroup.ui-group-theme-s .ui-radio .ui-btn.ui-last-child {
	border-right:1px solid #e0e0e0;
}
.searchpakeage {
	float:right;
}
.ui-input-search.ui-body-r {
	border-color:#ddd;
	margin:0;
	margin-top:5px;
	margin-left:10px;
	padding:0px;
	border-radius:1.5em;
	height:32px;
	line-height:32px;
}
.ui-input-search.ui-body-r input {
	height:32px;
	line-height:32px;
	margin:0;
	padding-top:2px;
	padding-botom:0;
}
.ui-input-search.ui-body-r input.pks {
	width:270px;
}
.ui-input-search.ui-body-r input.yzs {
	width:260px;
}
.ui-btn-r {
	float:right;
	margin:0;
	padding:0;
	margin-top:5px;
	margin-right:5px;
}
/*列表*/
.ui-content .ui-listview.pakeagelist {
	margin-top:81px;
}
.ui-content .ui-listview.pakeagelist li {
	margin:0;
	padding:0;
}
.pakeagelist li > dl {
	width:100%;
	margin:0;
	padding:0;
}
.pakeagetitle {
	height:36px;
	position:fixed;
	left:0;
	top:98px;
	width:100%;
	background:#fff;
	border-bottom:2px solid #eeeeee;
	z-index:1000;
	padding:0;
	margin:0;
}
.pakeagetitle dt, .pakeagelist li > dl dd {
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
	text-shadow:none;
}
.pakeagetitle dt {
	height:36px;
	line-height:36px;
	font-size:18px;
	color:#f6b219;
}
.pakeagelist li > dl dd {
	height:48px;
	line-height:48px;
	color:#699c1b;
	font-size:18px;
	background:url(../../image/pad-image/borderbg.png) repeat-y right top;
}
.pakeagetitle dt:first-child {
	width:36%;
	text-align:left;
	text-indent:15px;
}
.pakeagelist li > dl dd:first-child {
	width:36%;
	text-align:left;
	text-indent:15px;
	color:#444;
}
.pakeagetitle dt:nth-child(2), .pakeagelist li > dl dd:nth-child(2) {
	width:10%;
}
.pakeagetitle dt:nth-child(3), .pakeagelist li > dl dd:nth-child(3) {
	width:10%;
}
.pakeagetitle dt:nth-child(4), .pakeagelist li > dl dd:nth-child(4) {
	width:10%;
}
.pakeagetitle dt:nth-child(5), .pakeagelist li > dl dd:nth-child(5) {
	width:10%;
}
.pakeagetitle dt:nth-child(6), .pakeagelist li > dl dd:nth-child(6) {
	width:10%;
}
.pakeagetitle dt:nth-child(7), .pakeagelist li > dl dd:nth-child(7) {
	width:10%;
	background:none;
}
.ui-page-theme-a .ui-body-inherit.pakeagelistlibg {
	background:url(../../image/pad-image/pakeagechoose.png) right no-repeat #5a9203;
	color:#fff;
}
.pakeagelist li.pakeagelistlibg > dl dd:first-child {
	color:#eaff00;
}
.pakeagelist li.pakeagelistlibg > dl dd:nth-child(2), .pakeagelist li.pakeagelistlibg > dl dd:nth-child(3), .pakeagelist li.pakeagelistlibg > dl dd:nth-child(4), .pakeagelist li.pakeagelistlibg > dl dd:nth-child(5), .pakeagelist li.pakeagelistlibg > dl dd:nth-child(6), .pakeagelist li.pakeagelistlibg > dl dd:nth-child(7) {
	color:#fff;
}

/*号码列表*/
.numbertitle {
	height:36px;
	position:fixed;
	top:98px;
	left:0;
	width:100%;
	background:#fff;
	border-bottom:2px solid #eeeeee;
	z-index:1000;
	padding:0;
	margin:0;
	color:#f6b219;
	line-height:36px;
}
.numbertitle .ui-grid-b {
	width:50%;
	float:left;
}
.numbertitle .ui-grid-b .ui-block-a {
	width:40%;
	text-indent:10px;
	text-align:left;
}
.numbertitle .ui-grid-b .ui-block-b, .numbertitle .ui-grid-b .ui-block-c {
	width:20%;
	text-align:right;
}

.ui-content .ui-listview.numberlist {
	margin:0;
	padding:0;
	margin-top:81px;
}
.ui-content .ui-listview.numberlist li {
	padding:0;
}
.numberlist li .ui-grid-b {
	width:50%;
	float:left;
	height:51px;
	line-height:51px;
}
.numberlist li .ui-grid-b:first-child {
	background:url(../../image/pad-image/borderbg.png) repeat-y right top;
}
.numberlist li .ui-grid-b .ui-block-a {
	width:40%;
	text-indent:10px;
	text-align:left;
	color:#699c1b;
	font-size:24px;
}
.numberlist li .ui-grid-b .ui-block-b, .numberlist .ui-grid-b .ui-block-c {
	width:20%;
	text-align:right;
	color:#858585;
	font-size:18px;
}
.numberlist li .ui-grid-b.numlistbg {
	background:url(../../image/pad-image/pakeagechoose.png) right no-repeat #5a9203;
}
.numberlist li .ui-grid-b.numlistbg div {
	color:#fff;
	text-shadow:none;
}
.page {
	text-align:center;
	font-size:14px;
	color:#c9e1df;
	height:30px;
	line-height:30px;
}
.page span {
	float:right;
	color:#9c9c9c;
	font-size:18px;
	padding:0 10px;
}
.page span .green {
	color:#5a9203;
}
.pakeage {
	padding:5px 0;
}
.pakeage span {
	color:#5a9203;
	font-size:18px;
	display:block;
	border-left:4px solid #f2ba37;
	line-height:18px;
	height:18px;
	text-indent:10px;
	margin-left:20px;
}
.pakeage p {
	color:#888888;
	font-size:14px;
	line-height:16px;
	margin:5px 0 0 20px;
	padding:0;
}
.ui-footer.ui-bar-n {
	border:none;
	background:#f9f9f9;
}
.ui-footer.ui-bar-n .ui-btn {
	float:right;
	background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #d1d1d1)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType='0'); /* IE*/
	border:2px solid #578f00;
	font-size:20px;
	color:#444;
	padding:8px 30px 13px 50px;
	line-height:20px;
	margin-right:10px;
}
.ui-footer.ui-bar-n .ui-btn:hover {
	background-image: -moz-linear-gradient(top, #d1d1d1, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.ui-footer.ui-bar-n .ui-btn:active {
	background-image: -moz-linear-gradient(top, #d1d1d1, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.ui-icon-next::after {
	background:url(../../image/pad-image/icon_next.png) no-repeat;
	margin-top:-10px;
}
.ui-icon-prev::after {
	background:url(../../image/pad-image/icon_prev.png) no-repeat;
	margin-top:-10px;
}

#userresult {
	z-index:1;
}
.loader-bg {
	background:#000;
}

/*客户定位结果*/
.ui-panel-inner {
	padding:0;
	margin:0;
}
.panel_title {
	height:55px;
	width:17em;
	background-image: -moz-linear-gradient(top, #7dcd00, #5a9203); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7dcd00), color-stop(1, #5a9203)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dcd00', endColorstr='#5a9203', GradientType='0'); /* IE*/
	text-align:center;
	position:fixed;
	top:0;
	right:0;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:55px;
	text-shadow:none;
	z-index:1000;
}
.ui-btn-p {
	background:#3C6;
	position:absolute;
	left:10px;
	top:10px;
	margin:0;
}
.ui-panel-inner > .ui-listview {
	margin:0;
	margin-top:55px;
	border-left:1px solid #ccc;
}

/*首页*/
.width100 {
	width:95%;
	background:#fff;
	border-radius: 5px;
	height:40px;
	line-height:40px;
	margin:auto;
	margin-top:20px;
}
.w100 {
	width:95%;
	margin:auto;
	margin-top:20px;
	overflow:hidden;
}
.wleft {
	width:48%;
	float:left;
	background:#fff;
	border-radius: 5px;
	height:40px;
	line-height:40px;
}
.wright {
	width:48%;
	float:right;
	background:#fff;
	border-radius: 5px;
	height:40px;
	line-height:40px;
}
.iconindex {
	margin-left:5px;
	width:40px;
	height:40px;
}
.icon-news {
	background:url(../../image/pad-image/icon-index/icon-news.png) center no-repeat;
}
.icon-user {
	background:url(../../image/pad-image/icon-index/icon-user.png) center no-repeat;
}
.icon-channel {
	background:url(../../image/pad-image/icon-index/icon-channel.png) center no-repeat;
}
.icon-quick {
	background:url(../../image/pad-image/icon-index/icon-quick.png) center no-repeat;
}
.width100 span, .width100 a, .w100 span, .w100 a, .width48 span, .width48 a {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.ui-btn.ui-btn-i {
	float:right;
	width:34px;
	height:34px;
	margin:2px 2px 0 0;
	border-radius:3px;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
.ui-btn.ui-btn-i:hover {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.ui-btn.ui-btn-i:active {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.time {
	color:#f2ba37;
	font-size:16px;
}
.font14 {
	font-size:14px;
}
.font20 {
	font-size:20px;
}
.font16 {
	font-size:16px;
}
.font12 {
	font-size:12px;
}
.ui-icon-out::after {
	background:url(../../image/pad-image/icon-index/icon-out.png) no-repeat center;
}
.ui-icon-choose::after {
	background:url(../../image/pad-image/icon-index/icon-choose.png) no-repeat center;
}
.ui-icon-settings::after {
	background:url(../../image/pad-image/icon-index/icon-settings.png) no-repeat center;
}
.ui-icon-optional::after {
	background:url(../../image/pad-image/icon-optional.png) no-repeat center;
}
.ui-btn-i.ui-btn-icon-left::after, .ui-btn-i.ui-btn-icon-right::after, .ui-btn-i.ui-btn-icon-top::after, .ui-btn-i.ui-btn-icon-bottom::after, .ui-btn-i.ui-btn-icon-notext::after {
	border-radius:0;
}
ul.go {
	text-align:center;
	margin:40px 0;
	overflow:hidden;
}
ul.go li {
	display:inline-block;
	background:url(../../image/pad-image/icon-index/go-bg.png);
	width:281px;
	height:127px;
	margin:0 20px;
	cursor:pointer;
}
ul.go li:hover {
	background:url(../../image/pad-image/icon-index/bg-bghover.png) no-repeat;
}
ul.go li:active {
	background:url(../../image/pad-image/icon-index/bg-bghover.png) no-repeat;
}
ul.go li .goimg {
	width:91px;
	height:91px;
	margin:3px 4px 0 5px;
	display:block;
	float:left;
	text-align:center;
	position:relative;
}
ul.go li .goimg p {
	position:absolute;
	left:18px;
	bottom:-13px;
	width:61px;
	height:13px;
	margin:0;
	padding:0;
	font-size:10px;
	font-family:arial;
	float:left;
	text-align:center;
	color:#fff;
	text-shadow:none;
}
ul.go li a {
	width:180px;
	float:left;
	font-size:26px;
	color:#000;
	font-weight:bold;
	text-align:center;
	display:block;
	margin-top:40px;
}
.icon-package {
	background:url(../../image/pad-image/icon-index/icon-package.png) no-repeat center;
}
.icon-phone {
	background:url(../../image/pad-image/icon-index/icon-phone.png) no-repeat center;
}
.icon-number {
	background:url(../../image/pad-image/icon-index/icon-number.png) no-repeat center;
}
.index ul.quick {
	width:95%;
	margin:auto;
}
ul.quick {
	padding:20px 0;
}
ul.quick li {
	display:inline-block;
	width:104px;
	height:104px;
	margin:0 10px;
	border:1px solid #dedede;
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
	cursor:pointer;
	transition:All 0.3s ease-in-out;
	-webkit-transition:All 0.3s ease-in-out;
	-moz-transition:All 0.3s ease-in-out;
	-o-transition:All 0.3s ease-in-out;
}
ul.quick li.set {
	border-bottom:5px solid #5a9203;
	-webkit-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	-ms-transform:translate(0,-5px);
}
ul.quick li:hover {
	border:1px solid #dedede;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
ul.quick li .quickimg {
	display:block;
	width:102px;
	height:72px;
}
ul.quick li p {
	width:98px;
	height:26px;
	line-height:26px;
	color:#5a9203;
	font-size:14px;
	text-align:center;
	border-top:3px solid #dbdbdb;
	margin:0;
	padding:0;
}
.ul-slide-left{margin-left: 1400px;overflow: hidden;height: 106px;}
.icon-q01 {
	background:url(../../image/pad-image/icon-index/icon-q01.png) no-repeat center;
}
.icon-q02 {
	background:url(../../image/pad-image/icon-index/icon-q02.png) no-repeat center;
}
.icon-q03 {
	background:url(../../image/pad-image/icon-index/icon-q03.png) no-repeat center;
}
.icon-q04 {
	background:url(../../image/pad-image/icon-index/icon-q04.png) no-repeat center;
}
.icon-q05 {
	background:url(../../image/pad-image/icon-index/icon-q05.png) no-repeat center;
}

/*填单*/
.orderpackage {
	float:left;
	margin:20px 0 0 150px;
	color:#5a9203;
	font-size:18px;
}
.orderpackage span {
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:18px;
	color:#000;
	border-left:5px solid #f2ba37;
	text-indent:20px;
	padding-right:15px;
}
ul.user {
	float:left;
	margin:0;
	padding:0;
}
ul.user li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#5a9203;
	font-size:16px;
	border-right:1px solid #f0f0f0;
	height:47px;
	text-indent:5px;
	padding-top:7px;
}
ul.user li span {
	display:block;
	font-size:13px;
	color:#c4c4c4;
	margin-top:2px;
}
ul.user li:first-child {
	width:120px;
}
ul.user li:nth-child(2) {
	width:240px;
}
ul.user li:nth-child(3) {
	width:130px;
}
ul.user li:nth-child(4) {
	width:80px;
}
ul.user li:nth-child(5) {
	width:80px;
}
.topbutton {
	float:right;
	margin-right:10px;
}
.popup-bottom-button {
	text-align:right;
	padding-right:10px;
}
.popup-content-height {
	line-height:60px;
	height:60px;
	padding:10px;
}
.ordercona {
	display:none;
	overflow:auto;
}
.orderform {
	width:100%;
	background:#fff;
	position:relative;
}
.orderconb {
	width:100%;
	height:326px;
	position:fixed;
	bottom:67px;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #f0bd8a;
	background:#fff;
}
.orderform > .ui-grid-a {
	width:96%;
	margin:auto;
	border-bottom: 1px solid #f0f0f0;
	height:60px;
	line-height:60px;
}
.orderform > .ui-grid-b {
	width:96%;
	margin:auto;
	border-bottom: 1px solid #f0f0f0;
	height:60px;
	line-height:60px;
}
.orderform .ui-slider {
	margin:15px 0 0 0;
}
.orderform .ui-input-text {
	margin:10px 0 0 0;
	border:1px solid #5a9203;
}
.orderform .ui-input-text.ui-state-disabled {
	filter: Alpha(Opacity=50);
	opacity: .5;
	background:#eeeeee;
}
.orderform .ui-select {
	margin:10px 0 0 0;
}
.orderform .ui-select .ui-btn {
	border:1px solid #5a9203;
	padding-top:7px;
	padding-bottom:8px;
}
.orderform button.ui-btn {
	margin-left:5px;
	width:90%;
	margin-top:11px;
	border:1px solid #5a9203;
	border-radius:1px;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
.orderform button.ui-btn:hover {
	border:1px solid #5a9203;
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.orderform button.ui-btn:active {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.orderform button.ui-btn:visited {
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}

.orderform label {
	margin:0;
	padding:0;
	font-size:14px;
	text-indent:10px;
}
.orderform > .ui-grid-a .ui-grid-a .ui-block-a, .orderform > .ui-grid-a .ui-grid-b .ui-block-a, .orderform > .ui-grid-a .ui-grid-c .ui-block-a {
	width:25%;
}
.orderform > .ui-grid-a .ui-grid-a .ui-block-b {
	width:75%;
}
.orderform > .ui-grid-a .ui-grid-b .ui-block-b {
	width:45%;
}
.orderform > .ui-grid-a .ui-grid-b .ui-block-c {
	width:30%;
}
.orderform > .ui-grid-a .ui-grid-c .ui-block-b {
	width:45%;
}
.orderform > .ui-grid-a .ui-grid-c .ui-block-c {
	width:15%;
}
.orderform > .ui-grid-a .ui-grid-c .ui-block-d {
	width:15%;
}
.orderform .ui-block-a label font {
	color:#f60;
	padding-right:5px;
}
.orderform > .ui-grid-b .ui-grid-a .ui-block-a ,.orderform > .ui-grid-b .ui-grid-b .ui-block-a {
	width:35%;
}
.orderform > .ui-grid-b .ui-grid-a .ui-block-b {
	width:65%;
}
.orderform > .ui-grid-b .ui-grid-b .ui-block-b {
	width:40%;
}
.orderform > .ui-grid-b .ui-grid-b .ui-block-c {
	width:25%;
}
.orderform > .ui-grid-b .ui-grid-b .ui-block-c .ui-slider-switch {
	margin-top:11px;
	width:90%;
	float:right;
}

.ordertitle {
	background:#f8f8f8;
	border-top:1px solid #ededed;
	height:40px;
	line-height:40px;
	text-indent:15px;
	font-weight:bold;
	font-size:18px;
	/*
	-moz-box-shadow:0px 5px 5px #DBDBDB;              
    -webkit-box-shadow:0px 5px 5px #DBDBDB;           
    box-shadow:0px 5px 5px #DBDBDB;
	*/
	border-bottom:5px solid #ccc;
}
.ui-listview.develist li {
	margin:0;
	padding:0;
}
.ui-listview.develist {
	width:100%;
}
.ui-listview.develist .ui-field-contain {
	margin:0;
}
.ui-listview.develist .ui-select .ui-btn {
	border:1px solid #5a9203;
}
.ui-listview.develist .ui-select {
	width:90%;
}
.ui-listview.develist .ui-input-text {
	border:1px solid #5a9203;
	width:90%;
	margin-top:6px;
	padding:1px;
}
.ui-listview.develist .ui-grid-a .ui-btn {
	margin-left:5px;
	width:90%;
	margin-top:6px;
	border:1px solid #5a9203;
	border-radius:1px;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
.ui-listview.develist .ui-grid-a .ui-btn:hover {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.ui-listview.develist .ui-grid-a .ui-btn:active {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.ui-listview.develist .ui-grid-a .ui-btn:visited {
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
.develist li > dl {
	width:100%;
	margin:0;
	padding:0;
}
.devetitle {
	height:46px;
	border-bottom:1px solid #eeeeee;
	padding:0;
	margin:0;
	width:100%;
}
.devetitle dt, .develist li > dl dd {
	float:left;
	margin:0;
	padding:0;
	text-align:left;
	overflow:hidden;
	text-shadow:none;
}
.devetitle dt {
	height:46px;
	line-height:46px;
	font-size:18px;
	color:#f6b219;
}
.develist li > dl dd {
	height:48px;
	line-height:48px;
	font-size:16px;
}
.devetitle dt:first-child {
	width:10%;
	text-indent:15px;
}
.develist li > dl dd:first-child {
	width:10%;
	text-indent:15px;
	color:#5a9203;
}
.devetitle dt:nth-child(2), .develist li > dl dd:nth-child(2) {
	width:45%;
	text-indent:5px;
}
.devetitle dt:nth-child(3), .develist li > dl dd:nth-child(3) {
	width:15%;
}
.devetitle dt:nth-child(4), .develist li > dl dd:nth-child(4) {
	width:15%;
}
.devetitle dt:nth-child(5), .develist li > dl dd:nth-child(5) {
	width:15%;
}
.phonedeve.develist {
	width:500px;
	border:1px solid #ddd;
	border-top:0;
	border-bottom:0;
}
.phonedeve.develist li dd:first-child {
	width:30%;
}
.phonedeve.develist li dd:first-child .ui-select {
	margin-left:5px;
}
.phonedeve.develist li dd:nth-child(2) {
	width:40%;
}
.phonedeve.develist li dd:nth-child(3) {
	width:30%;
}
.phonedevetitle.devetitle {
	width:500px;
	height:36px;
	background:#fff;
	border:1px solid #ddd;
	border-bottom:0;
	font-weight:bold;
}
.phonedevetitle.devetitle dt {
	height:36px;
	line-height:36px;
}
.phonedevetitle.devetitle dt:first-child {
	width:30%;
}
.phonedevetitle.devetitle dt:nth-child(2) {
	width:70%;
}
.ui-field-contain > label {
	width:10%;
	font-size:14px;
	text-indent:15px;
	margin:0;
}
.ui-field-contain > label ~ [class*="ui-"] {
	width:82%;
}
textarea#textarea.ui-input-text {
	border:1px solid #5a9203;
}
.optional {
	width:150px;
	position:absolute;
	right:10px;
	top:140px;
	height:40px;
	line-height:40px;
	color:#5a9203;
	font-size:14px;
}
.many {
	background-image: url(themes/images/nav_bg.jpg);
    width:100%;
	height:44px;
	overflow:hidden;
}
.many .ui-btn, .many .tabsdiv {
	float:left;
}
.many .ui-btn {
	margin:6px 3px 0 3px;
	padding:0;
}
.many .tabsdiv {
	overflow:hidden;
	height:44px;
}
.many ul 
{
    list-style: none outside none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.many ul li
{
	float: left;
	margin-left:1px;
}
.tab-nav{
	padding:0 20px;
	height:35px;
	line-height:35px;
	background:#d1d1d1;
	color:#fff;
	cursor:pointer;
	text-shadow:none;
	text-align:center;
	margin-top:4px;
	font-size:12px;
}
.tab-nav-action{
	padding:0 20px;
	height:42px;
	line-height:42px;
	margin-top:1px;
	background:#5a9203;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-shadow:none;
}

/*可选包功能产品*/
#optional {
	width:100%;
	height:300px;
	Filter:Alpha(opacity=95);
	-moz-opacity:0.95;
	opacity:0.95;
	z-index:999;
}
#optional * {
	Filter:Alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
width: auto;
}
/* disable "dismiss" on wide viewports */
.ui-panel-dismiss {
display: none;
}
/* same as the above but for panels with display mode "push" only */
.ui-panel-dismiss-display-push {
display: none;
}
.closeoptional {
	position:absolute;
	top:55px;
	right:10px;
}
.optionalcon {
	width:100%;
	margin-top:55px;
	position:relative;
	overflow:hidden;
	border-bottom:1px solid #557100;
}
.otabs {
    width:100%;
	position:absolute;
	top:0;
	left:0;
}
.otabs ul 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
	overflow:hidden;
	padding-top:5px;
}
.otabs ul li {
    float:left;
    margin:0;
	font-size:16px;
	height:41px;
	line-height:41px;
	padding:3px 20px 0 20px;
	margin-left:15px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.otabs ul li span {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.otab-nav {
	 cursor:pointer;
	 border:1px solid #5a9203;
	 border-bottom:1px solid #5a9203;
}
.otab-nav-action{
	cursor:pointer;
	border:1px solid #5a9203;
	border-bottom:1px solid #fff;
	color:#5a9203;
	font-size:16px;
	font-weight:bold;
}
.otabs-body
{
    width:100%;
	margin-top:50px;
	border-top:1px solid #5a9203;
	overflow-y:auto;
}
.otabs-body > div 
{
	display:none;
}
.ui-input-search.ui-body-o {
	display:inline-block;
	width:300px;
	margin:0;
}
.otabs .ui-select {
	display:inline-block;
	margin:0;
}
.otabs .ui-select .ui-btn {
	border:1px solid #5a9203;
	padding:7px 30px 7px 20px;
	background:#fff;
}
.orderleft {
	width:66%;
	float:left;
	overflow:hidden;
	background:url(../../image/pad-image/borderbg.png) right repeat-y;
}
.orderright {
	width:34%;
	float:right;
	overflow:hidden;
	background:#f8f8f8;
}
.optionallist.ui-listview {
	padding:0;
	margin:0;
	overflow-y:auto;
	background:none;
}
.optionallist.ui-listview li {
	padding:0;
	white-space:normal;
	border:none;
	margin-top:10px;
	background:none;
}
.block.ui-grid-a {
	margin:0;
	padding:0;
}
.block {
	overflow:hidden;
	position:relative;
	margin:auto;
	width:90%;
	padding:5px;
	min-height:70px;
	line-height:20px;
	font-size:14px;
	background:#f8f8f8;
	border:1px solid #d2d2d2;
}
.orderright .block {
	border:1px solid #5a9203;
	background:#ffffff;
}
.block span:first-child {
	position:absolute;
	left:5px;
	bottom:5px;
	display:block;
}
.block span:nth-child(2) {
	position:absolute;
	right:5px;
	bottom:5px;
	display:block;
}
.block span:first-child a {
	width:30px;
	height:30px;
	line-height:30px;
	background:#5a9203;
	border-radius:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
	text-shadow:none;
	font-size:14px;
}
.block span:nth-child(2) a {
	width:30px;
	height:30px;
	line-height:30px;
	border-radius:3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
	text-shadow:none;
	font-size:14px;
	margin-right:2px;
}
.block span:nth-child(2) a.abtn01 {
	background:#e78324;
}
.block span:nth-child(2) a.abtn02 {
	background:#bcbcbc;
}
.block span:nth-child(2) a.abtn03 {
	background:#5a9203;
}
.block span:nth-child(2) a:hover {
	width:26px;
	height:26px;
	line-height:26px;
	border-radius:3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:center;
	color:#fff;
	margin:2;
	text-shadow:none;
	font-size:14px;
	margin-right:4px;
}
.block span:nth-child(2) a:active {
	background:#f6b219;
}
.block span:nth-child(2) a.abtn02.icon-del {
	background:url(../../image/pad-image/icon-del.png) center no-repeat #bcbcbc;
}
.block span:nth-child(2) a.abtn03.icon-nodel {
	background:url(../../image/pad-image/icon-nodel.png) center no-repeat #5a9203;
}
.block span:nth-child(2) a.abtn03.icon-buy {
	background:url(../../image/pad-image/icon-buy.png) center no-repeat #5a9203;
}
.listtitle {
	height:30px;
	width:100%;
	line-height:30px;
	font-size:14px;
	color:#444444;
	margin-top:10px;
	font-weight:bold;
	text-indent:40px;
	background:url(../../image/pad-image/icon-ok.png) center left no-repeat;
}

/*手机列表*/
.phonelist.ui-listview {
	margin:0;
	padding:0;
}
.phonelist.ui-listview li {
	margin:0;
	padding:0;
	border:none;
}
.phonelist.ui-listview li .ui-grid-d .phone {
	border:1px solid #fff;
	margin:10px;
	border-radius:5px;
	padding:5px;
	cursor:pointer;
}
.phonelist.ui-listview li .ui-grid-d .phone:hover {
	-moz-box-shadow:0px 5px 5px #DBDBDB;              
    -webkit-box-shadow:0px 5px 5px #DBDBDB;           
    box-shadow:0px 5px 5px #DBDBDB;
	border:1px solid #5a9203;
}
.phonelist.ui-listview li .ui-grid-d .phone.choose {
	-moz-box-shadow:0px 5px 5px #DBDBDB;              
    -webkit-box-shadow:0px 5px 5px #DBDBDB;           
    box-shadow:0px 5px 5px #DBDBDB;
	border:1px solid #5a9203;
	background:url(../../image/pad-image/phonechoose.png) top right no-repeat;
}
.phonelist.ui-listview li .ui-grid-d .phone span {
	text-align:center;
	display:block;
}
.phonelist.ui-listview li .ui-grid-d .phone span img {
	width:170px;
	height:170px;
}
.phonelist.ui-listview li .ui-grid-d .phone span:first-child {

}
.phonelist.ui-listview li .ui-grid-d .phone span:nth-child(2) {
	color:#585858;
	font-size:15px;
	width:100%;
	margin-top:10px;
}
.phonelist.ui-listview li .ui-grid-d .phone span:nth-child(3) {
	color:#5a9203;
	font-size:15px;
	width:100%;
}
.phonedetails.ui-grid-a > .ui-block-a {
	width:342px;
	padding-top:30px;
}
.phonedetails.ui-grid-a > .ui-block-b {
	padding-top:30px;
	float:right;
}
.phonedetails.ui-grid-a .ui-block-a span {
	display:block;
	padding:10px;
	border:1px solid #dddddd;
	background:#fff;
	margin:10px;
	width:300px;
	height:300px;
}
.phonedetails.ui-grid-a .ui-block-a span img {
	width:300px;
	height:300px;
}
.phonedetails.ui-grid-a .ui-block-a ul {
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	margin:10px;
	text-align:center;
}
.phonedetails.ui-grid-a .ui-block-a ul li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #dddddd;
	padding:1px;
	background:#fff;
}
.phonedetails.ui-grid-a .ui-block-a ul li img {
	width:60px;
	height:60px;
}
.phonename {
	width:100%;
	border-bottom:1px solid #dddddd;
	font-size:26px;
	line-height:50px;
}
.ui-content .ui-radio .ui-btn {
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
	border:1px solid #5a9203;
}
.ui-radio .ui-btn:hover {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
	border:1px solid #5a9203;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
	border-right-width:0;
}
.ui-content .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-radio-on {
	background:#5a9203;
}
.ui-page-theme-a .ui-slider-track .ui-btn-active {
	background:#5a9203;
}
input.orderinput {
	border:1px solid #5a9203;
}
.phonecode.ui-grid-a {
	width:500px;
}
.phonecode.ui-grid-a .ui-block-a {
	width:80%;
}
.phonecode.ui-grid-a .ui-block-b {
	width:20%;
}
.phonecode.ui-grid-a button.ui-btn {
	margin-left:5px;
	width:90%;
	margin-top:9px;
	border:1px solid #5a9203;
	border-radius:1px;
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
.phonecode.ui-grid-a button.ui-btn:hover {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.phonecode.ui-grid-a button.ui-btn:active {
	background-image: -moz-linear-gradient(top, #ebebeb, #ffffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.phonecode.ui-grid-a button.ui-btn:visited {
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
h2.phonemoney {
	font-size:27px;
	color:#ec9000;
	line-height:30px;
	margin:10px 0;
}
.ui-header.ui-bar-t {
	background:#fff;
	-moz-box-shadow:0px 5px 5px #DBDBDB;              
    -webkit-box-shadow:0px 5px 5px #DBDBDB;           
    box-shadow:0px 5px 5px #DBDBDB;
	border:none;
	color:#5a9203;
	font-weight:bold;
}
.usercon {
	margin-top:10px;
	position:relative;
	overflow:hidden;
}
.morecon .ui-collapsible-content {
	padding:0;
}
.orderok .ui-grid-a {
	border-bottom:1px solid #f0f0f0;
	height:40px;
	line-height:40px;
}
.orderok .ui-grid-a .ui-block-a {
	width:20%;
	text-align:right;
	color:#999;
}
.orderok .ui-grid-a .ui-block-b {
	width:80%;
	text-indent:20px;
	color:#444;
}
.orderok.orderdetails .ui-grid-a {
	border-bottom:1px solid #f0f0f0;
	height:40px;
	line-height:40px;
}
.orderok.orderdetails > .ui-grid-a .ui-block-a {
	width:50%;
	text-align:right;
	color:#999;
}
.orderok.orderdetails > .ui-grid-a .ui-block-b {
	width:50%;
	text-indent:20px;
	color:#444;
}
.orderok.orderdetails > .ui-grid-a > .ui-block-a .ui-block-a,.orderok.orderdetails > .ui-grid-a > .ui-block-b .ui-block-a {
	width:30%;
}
.orderok.orderdetails > .ui-grid-a > .ui-block-a .ui-block-b,.orderok.orderdetails > .ui-grid-a > .ui-block-b .ui-block-b {
	width:70%;
	text-align:left;
}
.ui-content.ui-body-w {
	background:#fff;
}

/*算费*/
.ui-content .ui-listview.paylist {
	margin-top:38px;
}
.ui-content .ui-listview.paylist li {
	margin:0;
	padding:0;
	border-color:#f0f0f0;
}
.paylist li > dl {
	width:100%;
	margin:0;
	padding:0;
}
.paytitle {
	height:36px;
	position:fixed;
	left:0;
	width:100%;
	border-bottom:2px solid #eeeeee;
	z-index:1000;
	padding:0;
	margin:0;
}
.paytitle dt, .paylist li > dl dd {
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
	text-shadow:none;
}
.paytitle dt {
	height:36px;
	line-height:36px;
	font-size:18px;
	color:#f6b219;
}
.paylist li > dl dd {
	height:48px;
	line-height:48px;
	color:#444444;
	font-size:14px;
	background:url(../../image/pad-image/borderbg.png) repeat-y right top;
}
.paytitle dt:first-child {
	width:32%;
}
.paylist li > dl dd:first-child {
	width:32%;
	text-align:left;
	text-indent:50px;
	color:#444;
}
.ui-content .ui-listview.paylist li.paydd > dl dd:first-child {
	text-indent:5px;
	color:#5a9203;
	font-size:16px;
}
.ui-content .ui-listview.paylist li.paydd > dl dd:first-child button {
	float:right;
}
.paytitle dt:nth-child(2) {
	width:13%;
}
.paylist li > dl dd:nth-child(2) {
	width:13%;
	text-align:left;
	text-indent:5px;
}
.paytitle dt:nth-child(3) {
	width:8%;
}
.paylist li > dl dd:nth-child(3) {
	width:8%;
	text-align:right;
	color:#f60;
}
.paylist li > dl dd:nth-child(3) span {
	margin-right:5px;
}
.paytitle dt:nth-child(4) {
	width:8%;
}
.paylist li > dl dd:nth-child(4) {
	width:8%;
	text-align:right;
	color:#f60;
}
.paylist li > dl dd .ui-input-text {
	width:90%;
	margin:auto;
	margin-top:8px;
	border-color:#fff;
}
.paylist li > dl dd:nth-child(4) .ui-input-text input {
	text-align:right;
	color:#f60;

}
.paytitle dt:nth-child(5) {
	width:15%;
}
.paylist li > dl dd:nth-child(5) {
	width:15%;
	text-align:left;
	text-indent:5px;
}
.paytitle dt:nth-child(6) {
	width:12%;
}
.paylist li > dl dd:nth-child(6) {
	width:12%;
	text-align:left;
	text-indent:5px;
}
.paylist li > dl dd:nth-child(6) .edit {
	display:none;
}
.paylist li > dl dd:nth-child(6) .ui-block-a {
	width:60%;
}
.paylist li > dl dd:nth-child(6) .ui-block-b {
	width:40%;
}
.paytitle dt:nth-child(7) {
	width:12%;
	background:none;
}
.paylist li > dl dd:nth-child(7) {
	width:12%;
	background:none;
	text-align:left;
	text-indent:5px;
}
.paylist li.paylistlibg > dl dd:first-child {
	color:#eaff00;
}
.paylist li.paylistlibg > dl dd:nth-child(2), .paylist li.paylistlibg > dl dd:nth-child(3), .paylist li.paylistlibg > dl dd:nth-child(4), .paylist li.paylistlibg > dl dd:nth-child(5), .paylist li.paylistlibg > dl dd:nth-child(6), .paylist li.paylistlibg > dl dd:nth-child(7) {
	color:#fff;
}
.ui-content .ui-listview.paylist li.paydd {
	border-top:1px dotted #f6b219;
}
.ui-content .ui-listview.paylist .ui-select {
	width:90%;
	margin:auto;
	margin-top:8px;
}
.ui-content .ui-listview.paylist .ui-select .ui-btn {
	padding-top:6px;
	padding-bottom:6px;
	background:#fff;
	border-color:f0f0f0;
	font-size:12px;
}
.footform {
	text-align:right;
	border-bottom:1px solid #f6b219;
}
.footform span {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:10px 20px;
}
.footform span font {
	color:#f60;
	border-bottom:1px solid #CCC;
}
.footform .orderform {
	float:left;
	width:500px;
	background:none;
}
.footform .orderform label {
	padding:10px 0;
}
.footform .orderform .ui-input-text {
	margin-top:5px;
}

/*弹窗*/
.popwindow {
	overflow:hidden;
}
.popwindow .ui-content {
	overflow-y:auto;
	margin-top:7px;
	overflow-x:hidden;
}

/*列表*/
.ui-content .ui-listview.userorderlist {
	margin-top:82px;
}
.ui-content .ui-listview.userorderlist li {
	margin:0;
	padding:0;
	height:49px;
	overflow: inherit;
}
.userorderlist li dl {
	width:100%;
	margin:0;
	padding:0;
}
.userordertitle {
	height:36px;
	background:#fff;
	position:absolute;
	top:94px;
	border-bottom:2px solid #eeeeee;
	z-index:1000;
	padding:0;
	margin:0;
	width:100%;
	left:0;
}
.userordertitle dt, .userorderlist li dl dd {
	float:left;
	margin:0;
	padding:0;
	text-align:left;
	text-indent:10px;
	overflow:hidden;
	text-shadow:none;
}
.userordertitle dt {
	height:36px;
	line-height:36px;
	font-size:18px;
	color:#f6b219;
}
.userorderlist li dl dd {
	height:48px;
	line-height:48px;
	color:#444;
	font-size:16px;
	background:url(../../image/pad-image/borderbg.png) repeat-y right top;
}
.userordertitle dt:first-child {
	width:25%;
	text-align:left;
	text-indent:15px;
}
.userorderlist li dl dd:first-child {
	width:25%;
	text-align:left;
	text-indent:15px;
	color:#699c1b;
}
.userordertitle dt:nth-child(2), .userorderlist li dl dd:nth-child(2) {
	width:30%;
}
.userorderlist li dl dd:nth-child(2) {
	line-height:24px;
}
.userorderlist li dl dd:nth-child(2) span {
	display:inline-block;
	width:100%;
	color:#b7b6b6;
	font-size:13px;
}
.userordertitle dt:nth-child(3), .userorderlist li dl dd:nth-child(3) {
	width:23%;
}
.userordertitle dt:nth-child(4), .userorderlist li dl dd:nth-child(4) {
	width:8%;
}
.userordertitle dt:nth-child(5), .userorderlist li dl dd:nth-child(5) {
	width:8%;
}
.userordertitle dt:nth-child(6), .userorderlist li dl dd:nth-child(6) {
	width:6%;
	background:none;
}
.userorderlist li dl dd:nth-child(6) .ui-btn {
	width:95%;
	margin-left:2px;
}
.ui-page-theme-a .userorderlistlibg {
	background:#5a9203;
	color:#fff;
}
.userorderlist li.userorderlistlibg > dl dd:first-child {
	color:#eaff00;
}
.userorderlist li.userorderlistlibg > dl dd:nth-child(2), .userorderlist li.userorderlistlibg > dl dd:nth-child(3), .userorderlist li.userorderlistlibg > dl dd:nth-child(4), .userorderlist li.userorderlistlibg > dl dd:nth-child(5), .userorderlist li.userorderlistlibg > dl dd:nth-child(6), .userorderlist li.userorderlistlibg > dl dd:nth-child(7) {
	color:#fff;
}
.popwindow .search {
	position:absolute;
	top:50px;
	-moz-box-shadow:none;              
    -webkit-box-shadow:none;           
    box-shadow:none;
    height:40px;
}
#userorder.popwindow .ui-content {
	margin:0;
}
.popwindow .search .ui-input-search {
	margin-top:3px;
	float:right;
	margin-right:5px;
}
.popwindow .page {
	margin-bottom:67px;
}
.popwindow .panel_title {
	height:42px;
	line-height:42px;
}
.popwindow .panel_title .ui-btn {
	margin:-5px;
}
.popwindow .ui-listview {
	margin-top:42px;
}

.searchdiv {
	position:fixed;
	width:100%;
	top:55px;
	z-index:1001;
}
.ui-collapsible {
	margin:0;
	padding:0;
}
.ui-collapsible.searchdiv .ui-collapsible-content {
	-moz-box-shadow:0px 5px 5px #DBDBDB;              
    -webkit-box-shadow:0px 5px 5px #DBDBDB;           
    box-shadow:0px 5px 5px #DBDBDB;
	border-bottom:1px solid #dddddd;
}
.ui-collapsible-content {
	margin:0;
	padding:0;
}
.ui-collapsible h3,.ui-collapsible h3 a.ui-collapsible-heading-toggle {
	background:#fff;
}
.searchbtn {
	width:100%;
	height:50px;
}
.searchbtn span {
	width:120px;
	display:block;
	float:right;
	margin-top:0px;
	margin-right:20px;
}
.ui-collapsible .ui-btn {
	margin:0;
}
.searchtable {
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
}
.searchtable th {
	height:36px;
	line-height:36px;
	font-size:18px;
	color:#f6b219;
}
.searchtable td {
	border:1px solid #f2f2f2;
	line-height:36px;
	height:36px;
	text-indent:5px;
	font-size:14px;
	color:#444;
	padding:0;
}
.searchtable td:last-child .ui-btn {
	margin:auto;
}
.multidiv {
	display:none;
}
.tabnav {
	display:none;
}
.tabnav > div {
	width:100%;
	height:146px;
	position:absolute;
	bottom:-146px;
	transition:All 0.6s ease-in-out;
	-webkit-transition:All 0.6s ease-in-out;
	-moz-transition:All 0.6s ease-in-out;
	-o-transition:All 0.6s ease-in-out;
	color:#fff;
	z-index:1002;
	background:#fff;
	filter: Alpha(Opacity=90);
	opacity: .9;
	border-top:5px solid #5a9203;
}
.tabnav > div.onmouse {
    -webkit-transform:translate(0,-213px);
	-moz-transform:translate(0,-213px);
	-o-transform:translate(0,-213px);
	-ms-transform:translate(0,-213px);
}
.tabnav > div.onmouseout {
    -webkit-transform:translate(0,213px);
	-moz-transform:translate(0,213px);
	-o-transform:translate(0,213px);
	-ms-transform:translate(0,213px);
}