<div class="easyDialogclose" id="" onclick="easyDialog.close()"></div>
<table class="contract_list">
	<thead>
		<tr>
			<td align="center">终端仓库查询</td>
			<!-- 
			<td align="right" style="width: 230px">
				<input type="hidden" class="numberSearch" value="确 认" onclick=""> 
				<input type="hidden" class="numberSearch" value="取 消" style="margin-right: 20px" onclick="easyDialog.close();">
				<input type="hidden" id="batchType_dialog" value="${qryParam.batchType}"/>
			</td>
			 -->			
		</tr>
	</thead>
</table>
<div class="form-content">
	<div class="selectList">
		<form method="post" id=""></form>
		<dl>
			<dt>终端仓库：</dt>
			<dd>
				<input type="text" id="repositoryName" class="inputWidth183px" placeholder="输入终端仓库名称查询"/>				
			</dd>
			<dd>
				&nbsp;<input type="button" class="numberSearch" value="查 询" onclick="order.batch.chooseRepositoryList('1', '')">
			</dd>
		</dl>
	</div>
	<div id="queryRepositorylist" class="phone_warp"></div>
</div>