<div id="terminal_info">
<#if mktResMap??>
    <#if mktResMap.mktResBaseInfo??>
        <div style="display: block;" class="order_tab_panel">
            <!--手机基本信息-->
            <div class="phone_info">
                <div class="phone_info_l floatleft">
                    <div id="preview">
                        <div class="jqzoom">
                            <#assign intf_pic = false>
                            <#assign p_pic =
                            contextPath+'/image/temp_term_pic/mobile_phone.png'>
                            <#if (mktResMap.mktResBaseInfo.mktPicA)??>
                                <#assign p_pic = mktResMap.mktResBaseInfo.mktPicA>
                                <#assign intf_pic = true>
                            </#if>
                            <img src="${p_pic}" width="170" height="170" id="term_pic_id"/>
                        </div>
                    </div>
                </div>
                <div class="phone_info_r floatleft">
                    <div class="Info_txt">
                        <table>
                            <tr>
                                <td class="tdright">终端串码：</td>
                                <td class="tdleft">${mktResMap.mktResBaseInfo.instCode}</td>
                            </tr>
                            <tr>
                                <td class="tdright">价格：</td>
                                <td class="tdleft">${mktResMap.mktResBaseInfo.salePrice?number/100}元</td>
                            </tr>
                            <#if mktResMap.mktResAttrList?? &&(mktResMap.mktResAttrList?size>0)>
                                <#list mktResMap.mktResAttrList as mkt>
                                <#--60010001	终端名称-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010001'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft">${mkt.attrValue}</td>
                                        </tr>
                                    </#if>
                                <#--60010002	终端品牌-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010002'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft">${mkt.attrValue}</td>
                                        </tr>
                                    </#if>
                                <#--60010003	终端机型-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010003'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft">${mkt.attrValue}</td>
                                        </tr>
                                    </#if>
                                <#--60010004	终端颜色-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010004'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft">${mkt.attrValue}</td>
                                        </tr>
                                    </#if>
                                <#--60010007	终端编码（营销资源编码/串号）-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010007'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft">${mkt.attrValue}</td>
                                        </tr>
                                    </#if>
                                <#--60010013	终端规格类型(4G/3G)-->
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010013'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft"><#if mkt.attrValue=='10080'>4G<#elseif mkt.attrValue=='10090'||mkt.attrValue=='10091'>3G<#else>未知</#if></td>
                                        </tr>
                                    </#if>
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010023'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft"><#if mkt.attrValue=="2">否<#else >是</#if></td>
                                        </tr>
                                    </#if>
                                    <#if (mkt.attrId)?? && (mkt.attrId) =='60010024'>
                                        <tr>
                                            <td class="tdright">${mkt.attrName}：</td>
                                            <td class="tdleft"><#if mkt.attrValue=="1">是<#else >否</#if></td>
                                        </tr>
                                    </#if>
                                </#list>
                            </#if>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <#else>
        <div>未查询到终端信息</div>
    </#if>
</#if>
</div>
