<@override name="title">终端规格查询</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>


<script src="${contextPath}/js/busi-js/mktRes/terminal.js?${jsversion}" type="text/javascript"></script>

<style>
.cartLink_fail:hover {
	text-decoration : underline;
	cursor : pointer;
}
</style>
</@override>

<@override name="content">
<input type="hidden" id="pageType" value="${pageType}">
<div class="main_div" id="d_query" >

    <div class="main_warp" >
        <!--订单准备-->       
        <h2 class="h2_title" id="pageType" name="${pageType}">终端规格查询<span></span>
        	<!-- <a href="业务办理_客户定位完成.html" class="numberSearch back3"><span>返回</span></a> -->
        </h2>
        <div class="order">
            <div class="order_content" style="border:none; padding:10px">
                
                <!--挑靓号-->
                <div class="order_tab_panel" style="display:block;">
                        <div class="selectList">      
                            <dl>
                            	  <dt>终端型号：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" id="p_phoneType" value=""/>
                                    <label class="f_red">&nbsp;</label>
                                  </dd>
                             	  <dt style="width:100px">终端名称：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" id="p_mktResName" value=""/>
                                    <label class="f_red">&nbsp;</label>
                                  </dd>
                          	</dl>
                          	<dl>
                          	    <dt>终端串码：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" id="p_instCode" value=""/>
                                    <label class="f_red">&nbsp;</label>
                                  </dd>
                             	  <dt style="width:100px">终端品牌：</dt>
                                  <dd>
                                    <input type="text" class="numberTextBox width198" id="p_brand" value=""/>
                                    <label class="f_red">&nbsp;</label>
                                  </dd>
                                  <dd>
									<label class="f_red">&nbsp;&nbsp;</label>
                                    <input type="button" value="搜 索" class="numberSearch" id="bt_terminalInfoQry" onclick="mktRes.terminal.btnQueryTerminal(1);"/>
								  </dd>
                            </dl>
                </div>
              <!-- 查询结果列表 -->
		      <div id="order_term_list"  class="phone_warp">
		            
		      </div>                     
                    </div>
                                       
                                       
                </div>
                                        
            </div>
        </div>
        <!--订单准备 end-->
    </div>

	
</div>
<!--内容 end-->

</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>