<#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >


<#if canOrder?? && canOrder=="true" >


<!--客户定位开始-->
<!--客户定位未定位-->
	<div id="custQryDiv" class="main_div location main_warp">
		<form id="custQueryFirstForm">
		<input type="hidden" value="${fromProvFlag}" id="fromProvFlag"/>
		<input type="hidden" value="${provIsale}" id="provIsale"/>
		<input type="hidden" value="${provIdentityCd}" id="provIdentityCd"/>
		<input type="hidden" value="${provIdentityNum}" id="provIdentityNum"/>
		<input type="hidden" value="${provAreaId}" id="provAreaId"/>
	    <ul class="usercon">
	    <li class="ulocation" >
		<h2 style="margin: 4px 8px 0 5px;">受理地区</h2>
		</li>
		<li class="usersearch">
		   <input id="diffPlaceFlag" type="hidden" value="${DiffPlaceFlag}"> 
			<#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
			  <input type="text" class="numberTextBox" style="margin-left:5px; width:100px" readonly id="p_cust_areaId_val" onclick="order.cust.<#if DiffPlaceFlag=="local">chooseArea<#else>chooseAllArea</#if>()" value="${Session["_ecs_login_session_key"].currentAreaAllName}" placeholder="请选择地区" readonly />
	          <input type="hidden" id="p_cust_areaId" value="${Session["_ecs_login_session_key"].currentAreaId}">
	          <input type="hidden" DiffPlaceFlag="${DiffPlaceFlag}">
	        <#else>
	          <input type="text" class="numberTextBox" style="margin-left:5px; width:100px" readonly id="p_cust_areaId_val" onclick="order.cust.chooseArea()"   value="" placeholder="请选择地区" />
	          <input type="hidden" id="p_cust_areaId" >
	          <input type="hidden" DiffPlaceFlag="${DiffPlaceFlag}">
	         </#if>
	         	<#if menuName??>
				<input type="hidden" menuName="${menuName}" id="menuName">
			 </#if>
        </li>
		<li class="ulocation">
			<h2 style="margin: 4px 8px 0 5px;">客户定位</h2>
		</li>
		<li class="usersearch">
		<#if menuName?? && menuName=="FD">
		<select id="p_cust_identityCd" class="selectNumbertype" style="width:118px;"  disabled="disabled">
            <option value="-1" >接入号码</option>
        </select>
		<#else>
		<select onchange="order.cust.custidentidiesTypeCdChoose(this,'p_cust_identityNum')" id="p_cust_identityCd" class="selectNumbertype" style="width:118px;">
                                  	  	<option value="-1" >接入号码</option>
                                  	  	<option value="acctCd" >合同号</option>
                                  	  	<option value="custNumber" >客户编码</option>
                                  	  	<option value="bizId" >计费标识</option>
        </select>
        </#if>
        <select id="prodTypeCd" class="selectNumbertype">
        	<option value="12" selected>移动电话</option>
        	<option value="15">无线上网卡</option>
        </select>
        <div id="custList" class="usersearchcon" style="z-index: 9000;background-color: white;"></div>
        <div id="custListOverlay" style="margin: 0px; padding: 0px; border: medium none; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.6; z-index: 8999; position: fixed; top: 0px; left: 0px; display: none;"></div>
        </li>
		<li class="usersearch" style="z-index: 0;">
			<input name="" type="text" class="numberTextBox" id="p_cust_identityNum" onkeyup="value=value.replace(/[^\w]|_/ig,'')" 
				placeHolder="请输入接入号码" data-validate="validate(isTelecomOridCardCheck:请输入合法接入号码) on(blur)" style="width:158px;"/>
		</li>
		
        <li>
        <input id="isAppointNum" type="checkbox" checked="true" style="margin: 15px 5px 0px 5px;float:left" onclick="order.cust.isAppointNum()">
        <label style="float:left; margin:10px 5px 0px 0px">指定号码</label>
        </li>
        <li class="ubtn">
		    <a class="btn_h30" id="usersearchbtn"  href="javascript:void(0)"  class="btn" style="margin-left:30px;"><span>查 询</span></a>
		    <#if menuName?? && menuName=="FD">
		    <#else>
		    <a class="btn_h30" id="readCertBtn" onclick="javascript:order.cust.readCert()"><span>读 卡</span></a>
		    <#if DiffPlaceFlag=="local">
		    <a class="btn_h30" id="createUserbtn" onclick="javascript:order.cust.showCustCreate(this)"><span>新建客户</span></a>
		     </#if>
		    </#if>
		</li>
		</ul>
		</form>
	</div>
	<#--<!--客户定位未定位 end&ndash;&gt;-->
    <#--<div class="easyDialogdiv" style="width:500px;height:390px;display:none" id="user_info">-->
        <#--<div class="easyDialogclose" id="userinfoclose"></div>-->
        <#--<form id="custInfoForm">-->
        <#--<table class="contract_list">-->
            <#--<thead>-->
                <#--<tr>-->
                    <#--<td>客户信息</td>-->
                <#--</tr>-->
            <#--</thead>-->
        <#--</table>-->
        <#--<div class="infoBox">-->
            <#--<table class="network" style="margin: 0px 15px;">-->
                <#--<tbody>-->
                    <#--<tr>-->
                        <#--<td width="60"> 客户姓名：</td>-->
                        <#--<td id="td_cust_name"></td>-->
                    <#--</tr>-->
                    <#--<tr>-->
                        <#--<td> 证件号码：</td>-->
                        <#--<td id="td_cust_idCard"></td>-->
                    <#--</tr>-->
                    <#--<tr id="tr_cust_photo" style="display:none">-->
                        <#--<td> 证件相片：</td>-->
                        <#--<td>-->
                            <#--<img id="img_cust_photo" alt="相片" src=""/>-->
                        <#--</td>-->
                    <#--</tr>-->
                    <#--<tr>-->
                        <#--<td width="60"> 客户地址：</td>-->
                        <#--<td id="td_address_str"></td>-->
                    <#--</tr>-->
                <#--</tbody>-->
            <#--</table>-->
        <#--</div>-->
        <#--<div align="center" style="margin: 20px auto;">-->
            <#--<a class="btna_o" id="custsussbtn" href="javascript:void(0)"><span>确定</span></a>-->
        <#--</div> -->
        <#--</form>-->
    <#--</div>-->
	<#--<!--客户定位已定位&ndash;&gt;-->
	<!--客户定位未定位 end-->
    <div style="display:none" id="user_info2">
        <form id="custInfoForm">
        <div class="infoBox">
            <table class="network" style="margin: 0px 15px;">
                <tbody>
                    <tr>
                        <td width="60"> 客户姓名：</td>
                        <td id="td_cust_name"></td>
                    </tr>
                    <tr>
                        <td> 证件号码：</td>
                        <td id="td_cust_idCard"></td>
                    </tr>
                    <tr id="tr_cust_photo" style="display:none">
                        <td> 证件相片：</td>
                        <td>
                            <img id="img_cust_photo" alt="相片" src=""/>
                        </td>
                    </tr>
                    <tr>
                        <td width="60"> 客户地址：</td>
                        <td id="td_address_str"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>
	<!--客户定位已定位-->
	<div id="custInfo"  style="display:none"></div>
	<!--客户定位已定位 end-->

<#--<!--用户鉴权弹窗&ndash;&gt;-->
	<#--<div class="easyDialogdiv" style="height:300px;display:none" id="auth">-->
	<#--<div class="easyDialogclose" id="authClose"></div>-->
	<#--<form id="custAuthForm">-->
	<#--<h1 class="easyDialogTitle">客户身份鉴权</h1>-->
	<#--<div class="infoBox">-->
		<#--<table class="network">-->
                          <#--<tbody>-->
                          <#--<tr>-->
                                <#--<td width="100"><label class="f_red">*</label><label id="custAuthTypeName">产品密码：</label></td>-->
                                <#--<td width="300"><input id="authPassword" type="password" placeHolder="请输入密码" data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)" class="inputWidth150px"><a  class="purchase" id="custAuthbtn" href="javascript:void(0)">校验</a><a class="purchase" id="jumpAuth" style="display:none" onclick="order.cust.jumpAuth()">跳过校验</a>-->
                                <#--</td>-->
                          <#--</tr>   -->

                        <#--</tbody>-->
         <#--</table>-->
    <#--</div>-->
    <#--</form>-->
	<#--</div>-->
<#--<!--用户鉴权弹窗 end&ndash;&gt;-->

<!--用户鉴权弹窗-->
	<div class="easyDialogdiv" style="height:320px;display:none" id="auth3">
    <div class="easyDialogclose" id="authClose" onclick="easyDialog.close()"></div>
    <h1 class="easyDialogTitle">客户身份鉴权</h1>
<div class="infoBox">
<ul class="pdcard">
    <li id="auth_tab1" onclick="order.cust.changeTab('auth3',1)" class="setcon">产品密码鉴权</li>
    <li id="auth_tab2" onclick="order.cust.changeTab('auth3',2)">个人证件鉴权</li>
    <li id="auth_tab3" onclick="order.cust.changeTab('auth3',3)">短信鉴权</li>
    <li id="auth_tab5" onclick="order.cust.changeTab('auth3',5)" style="display: none;">单位证件+使用人证件</li>
    <li id="auth_tab6" onclick="order.cust.changeTab('auth3',6)" style="display: none;">单位证件</li>
    <li id="auth_tab7" onclick="order.cust.changeTab('auth3',7)" style="display: none;">使用人证件</li>
</ul>
    <div id="contents" style="float:left">
        <div id="content1">
            <form id="custAuthFormM1">
                <table class="network">
                    <tbody>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="custAuthTypeName1">产品密码：</label>
                        </td>
                        <td width="300">
                            <input id="authPassword2" type="password" placeHolder="请输入密码"
                                   data-validate="validate(required:密码不能为空, maxlength:密码长度最多为{arg1}(12)) on(blur)"
                                   class="inputWidth150px">
                            <a class="purchase" id="custAuthbtn1"  onclick="order.cust.productPwdAuth('1')" href="javascript:void(0)">校验</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="content2" style="display: none">
            <form id="custAuthFormM2">
                <table class="network">
                    <tbody>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="idCardType2">证件类型：</label>
                        </td>
                        <td width="300">
                            <input id="idCardNumber2" type="password" placeHolder="请输入证件号码"
                                   data-validate="validate(required:密码证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                                   class="inputWidth150px">
                            <a class="purchase" id="custAuthbtn2"  onclick="order.cust.identityTypeAuth('1','2')" href="javascript:void(0)">校验</a>
                            <a class="purchase" id="readCertBtnID2" onclick="order.cust.readCertWhenAuth2('1','2')"
                               style="display: none">读卡</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="content3" style="display: none">
            <form id="custAuthForm3">
                <table width="400px" border="0" cellspacing="0" cellpadding="0" class="SMScode">
                    <tr>
                        <td><p>为确保您的个人信息安全，在办理该业务前，请输入随机短信验证码</p></td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:left; margin-top:5px">短信验证码</span>

                            <form id="loginSmsForm">
                                <input type="text" class="txt2 inputWidth183px" style="float:left; margin:0px 5px;"
                                       name="smspwd" id="smspwd2"
                                       data-validate="validate(required:短信验证码不能为空) on(blur)"
                                       placeholder="请输入您手机收到的验证码" maxlength="6"/>
                                <a class="purchase" id="custAuthbtn3" onclick="order.cust.smsvalid('1')" href="javascript:void(0)">校验</a><a
                                    class="purchase" id="smsSend" onclick="order.cust.smsResend('1')"
                                    href="javascript:void(0)">短信发送</a>
                            </form>
                        </td>
                    </tr>
                    <tr class="randomCode">
                        <td>
                            <span style="float:left; margin-top:5px">随机序列号</span>
                            <form id="num">
                                <input class="txtnum" disabled='disabled'  style="float:left; margin:0px 5px;height:24px" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>- 验证码在5分钟内有效，3次错误输入后失效。</p>

                            <p>- 如您在30秒内仍未收到验证码，请点击上面短信发送重新获取。</p>

                            <p>- 如果您连续3次重试都没有成功收到短信验证码，建议您稍后再试。</p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="content5" style="display: none">
            <form id="custAuthFormM5">
                <table class="network">
                    <tbody>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="idCardTypeUnit5">单位证件：</label>
                        </td>
                        <td width="300">
                            <input id="idCardNumberUnit5" type="password" placeHolder="请输入证件号码"
                                   data-validate="validate(required:单位证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                                   class="inputWidth150px">
                        </td>
                    </tr>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="idCardType5">使用人证件：</label>
                        </td>
                        <td width="300">
                            <input id="idCardNumber5" type="password" placeHolder="请输入证件号码"
                                   data-validate="validate(required:使用人证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                                   class="inputWidth150px">
                            <a class="purchase" id="custAuthbtn5"  onclick="order.cust.multiIdentityTypeAuth('1','5')" href="javascript:void(0)">校验</a>
                            <a class="purchase" id="readCertBtnID5" onclick="order.cust.readCertWhenAuth2('1','5')"
                               style="display: none">读卡</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="content6" style="display: none">
            <form id="custAuthFormM6">
                <table class="network">
                    <tbody>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="idCardType6">单位证件：</label>
                        </td>
                        <td width="300">
                            <input id="idCardNumber6" type="password" placeHolder="请输入证件号码"
                                   data-validate="validate(required:单位证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                                   class="inputWidth150px">
                            <a class="purchase" id="custAuthbtn6"  onclick="order.cust.identityTypeAuth('1','6')" href="javascript:void(0)">校验</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="content7" style="display: none">
            <form id="custAuthFormM7">
                <table class="network">
                    <tbody>
                    <tr>
                        <td width="150"><label id="auth7userName_lb">使用人名称：</label><label id="auth7userName"></label>
                        </td>
                        <td width="150"><label id="auth7accName_lb">账户名称：</label><label id="auth7accountName"></label>
                        </td>
                        <td width="100"><label id="auth7isSame_lb">是否一致：</label><label id="auth7isSame"></label>
                        </td>
                    </tr>
                    <tr>
                        <td width="100"><label class="f_red">*</label><label id="idCardType7">使用人证件：</label>
                        </td>
                        <td width="300">
                            <input id="idCardNumber7" type="password" placeHolder="请输入证件号码"
                                   data-validate="validate(required:密码证件号码, maxlength:密码长度最多为{arg1}(20)) on(blur)"
                                   class="inputWidth150px">
                            <a class="purchase" id="custAuthbtn7"  onclick="order.cust.identityTypeAuth('1','7')" href="javascript:void(0)">校验</a>
                            <a class="purchase" id="readCertBtnID7" onclick="order.cust.readCertWhenAuth2('1','7')"
                               style="display: none">读卡</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div style="float: left; width: 450px;text-align: center;"><a class="purchase" id="jumpAuth"  style="display:none"
                                       onclick="order.cust.jumpAuth()">跳过校验</a></div>
</div>

</div>
<!--用户鉴权弹窗 end-->

<#--<!--用户鉴权弹窗-身份证号&ndash;&gt;-->
	<#--<div class="easyDialogdiv" style="height:300px;display:none" id="authID">-->
	<#--<div class="easyDialogclose" id="authIDClose"></div>-->
	<#--<form id="custAuthFormID">-->
	<#--<h1 class="easyDialogTitle">客户身份鉴权</h1>-->
	<#--<div class="infoBox">-->
		<#--<table class="network">-->
                          <#--<tbody>-->
                          <#--<tr>-->
                                <#--<td width="100">-->
                                    <#--<label class="f_red">*</label>-->
                                    <#--<label id="custAuthTypeNameID">身份证号：</label>-->
                                <#--</td>-->
                                <#--<td width="300">-->
                                    <#--<input id="authIDTD" type="password" placeHolder="请输入身份证号" data-validate="validate(required:身份证不能为空,idCardCheck:请准确填写身份证号码) on(blur)" class="inputWidth150px">-->
                                    <#--<a class="purchase" id="readCertBtnID" onclick="order.cust.readCertWhenAuth()">读卡</a>-->
                                    <#--<a  class="purchase" id="custAuthbtnID" href="javascript:void(0)">校验</a>-->
                                    <#--<a class="purchase" id="jumpAuthID" style="display:none" onclick="order.cust.jumpAuth()">跳过校验</a>-->
                                <#--</td>-->
                          <#--</tr>-->
                        <#--</tbody>-->
         <#--</table>-->
    <#--</div>-->
    <#--</form>-->
	<#--</div>-->
<!--用户鉴权弹窗-身份证号 end-->
<div style="height:300px;display:none;background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;-webkit-box-shadow:0 8px 8px rgba(0,0,0,0.4);-moz-box-shadow:0 8px 8px rgba(0,0,0,0.4);box-shadow:0 8px 8px rgba(0,0,0,0.4); border:5px solid #cbced0;
	display:none;
	overflow-y:auto;" id="auth2"></div>
<!--客户新增弹出窗-->
<div class="easyDialogdiv" style="width:650px;height:450px;display:none" id="user_add">
    	<div class="easyDialogclose" id="useraddclose"></div>
    	<form id="custCreateForm">
    	<table class="contract_list">
            <thead>
                <tr>
                    <td>客户新增</td>
                </tr>
            </thead>
        </table>
                <div class="infoBox">
                    <table class="network" style="margin: 0px 15px;">
                          <tbody>
                          <tr>
                                <td width="60"> 客户姓名：</td>
                                <td width="430" id="td_custName">
                                  <input type="text" placeHolder="请准确填写客户姓名" data-validate="validate(required:请准确填写客户姓名) on(blur)" class="inputWidth228px" maxlength="64" id="cCustName"/><label class="f_red">*</label>
                                </td>
                          </tr>
                          <tr>
                                <td> 客户类型：</td>
                                <td>
                                      <select id="partyTypeCd" onchange="order.cust.partyTypeCdChoose(this,'identidiesTypeCd')">
                                        <option value=1 >个人</option>
                                        <option value=2>政企客户</option>
                                      </select>
                                      <label class="f_red">*</label>
                                </td>
                          </tr>
                          <tr>
                                <td> 证件类型：</td>
                                <td> 
                                	<div id="div_identidiesType">
                                	<select id="identidiesTypeCd" onchange="order.cust.identidiesTypeCdChoose(this,'cCustIdCard')"></select>
                                    <label class="f_red">*</label>
                                    <a class="btn_h30" id="readCertBtnCreate" onclick="javascript:order.cust.readCertWhenCreate()" style="margin-top:0px;display:none"><span>读 卡</span></a>
                                    </div>
                                </td>
                          </tr>
                          <tr>
                                <td> 证件号码：</td>
                                <td id="td_custIdCard">
                                  <input type="text" onkeyup="value=value.replace(/[^\w]|_/ig,'')" placeHolder="请输入合法身份证号码" data-validate="validate(idCardCheck:请输入合法身份证号码) on(blur)" maxLength="100" class="inputWidth228px" id="cCustIdCard"/><label class="f_red">*</label>
                                </td>
                          </tr>
                          <tr id="tr_custPhoto" style="display:none">
                                <td> 证件相片：</td>
                                <td>
                                    <img id="img_custPhoto" alt="相片" src=""/>
                                </td>
                          </tr>
                          <tr>
                                <td width="60"> 客户地址：</td>
                                <td width="430" id="td_addressStr">
                                  <input type="text" placeHolder="请填写客户地址"  class="inputWidth228px" data-validate="validate(required:请准确填写客户地址) on(blur)" maxlength="128" id="cAddressStr"/><label class="f_red">*</label>
                                </td>
                          </tr>
                          <tr>
                                <td width="60"> 通信地址：</td>
                                <td width="430">
                                  <input type="text" placeHolder="请填写通信地址"  class="inputWidth228px" data-validate="validate(required:请准确填写通信地址) on(blur)" maxlength="128" id="cMailAddressStr"/><label class="f_red">*</label>
                                </td>
                          </tr>
                          <tr>
                          <tr>
                                <td> 联系人名称：</td>
                                <td>
                                  <input type="text" placeHolder="请填写联系人名称"  class="inputWidth228px" maxlength="32" id="discontactName" onchange="javascript:$('#contactName').val($(this).val())"/>
                                </td>
                          </tr><tr>
                                <td> 家庭电话：</td>
                                <td>
                                  <input type="text" placeHolder="请填写家庭电话"  class="inputWidth228px" maxlength="30" id="dishomePhone" data-validate="validate(contactTel2) on(blur)" onchange="javascript:$('#homePhone').val($(this).val())"/>
                                </td>
                          </tr><tr>
                                <td> 办公室电话：</td>
                                <td>
                                  <input type="text" placeHolder="请填写办公室电话"  class="inputWidth228px" maxlength="32" id="disofficePhone" data-validate="validate(contactTel2) on(blur)" onchange="javascript:$('#officePhone').val($(this).val())"/>
                                </td>
                          </tr><tr>
                                <td> 移动电话：</td>
                                <td>
                                  <input type="text" placeHolder="请填写移动电话"  class="inputWidth228px" maxlength="32" id="dismobilePhone" data-validate="validate(isTelPhone:请输入11位手机号码.) on(blur)" onchange="javascript:$('#mobilePhone').val($(this).val())"/>
                                </td>
                          </tr>
                                <td ><a onclick="order.cust.btnMoreProfile()" href="javascript:void(0)">更多属性>></a></td><td></td>
                          </tr>
                        </tbody>
                    </table>
                    <div id="partyProfile" style="display:none"></div>               
                </div>
                <!--上下步按钮-->
                <div align="center" style="margin: 20px auto;">
                    <a class="btna_o" id="createcustsussbtn"  href="javascript:void(0)"><span >确认</span></a>
                    <button type="reset" id="btncustreset"style="display:none">ssss</button>
                    <a style=" margin-left:20px;" class="btna_o" href="javascript:void(0)" id="custresetBtn"><span>重置</span></a>
                </div> 
               </form>    
    </div>
<!--客户新增弹出窗结束 -->
	<!--客户定位结束-->
<!-- 首页跳转 begin -->
<div>
	
	<#if mktRes??> 
	<input id="mktResHidId" type="hidden" mktResTypeCd="${mktRes.mktResTypeCd}" mktResCd="${mktRes.mktResCd}" mktResId="${mktRes.mktResId}" 
	  brand="${mktRes.brand}" phoneType="${mktRes.phoneType}" phoneColor="${mktRes.phoneColor}" 
	  mktName="${mktRes.mktName}" mktPrice="${mktRes.mktPrice}" mktPicA="${mktRes.mktPicA}"
	   />
	<input id="offerSpecHidId" type="hidden" value="${mktRes.prodOfferId}" />
	</#if>
	
	<input id="DiffPlaceFlag" type="hidden" value="${DiffPlaceFlag}" />
	
</div>
<!-- 首页跳转 end -->
<div class="main_div" id="orderContent">
<!--内容-->
	<!--步骤1 -->
    <div id="step1" class="step "  style="display:none">
        <ul class="quickthreelink" id="order_quick_nav">
        	<li url="${contextPath}/mktRes/terminal/prepare" for="order_tab_panel_terminal" id="tab1" onclick="order.cust.realCheck('${contextPath}')"><a class="orderbutton" href="javascript:void(0)"><span>购手机</span></a></li>
            <li url="${contextPath}/order/prodoffer/prepare" for="order_tab_panel_offer" id="tab2" onclick="order.cust.realCheck('${contextPath}')"><a class="orderbutton1" href="javascript:void(0)"><span>办套餐</span></a></li>
            <li url="${contextPath}/mktRes/phonenumber/prepare" for="order_tab_panel_phonenumber" id="tab3" onclick="order.cust.realCheck('${contextPath}')"><a class="orderbutton2" href="javascript:void(0)"><span>选号码</span></a></li>
        </ul>
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div> 
     <!--步骤2 -->
    <div id="step2" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div>   
    <!--步骤3 -->
     <div id="step3" class="step"  style="display:none">
        <ul>
            <li class="fore1"><a href="javascript:void(0);">第一步:订单准备</a><b></b></li>
            <li class="fore2"><a href="javascript:void(0);">第二步:订单确认</a><b></b></li>
            <li class="fore3"><a href="javascript:void(0);">第三步:收银台</a></li>
        </ul>
    </div>   
    <div class="clear"></div>
    <!--步骤 end-->  
    <div id="order_prepare" class="main_index">
        <!--订单准备-->
        <div class="order">
            <div class="order_nav_new">
                <ul class="order_nav_ul" id="order_nav">
                	<li id="tab1" for="order_tab_panel_terminal" url="${contextPath}/mktRes/terminal/prepare" onclick="order.cust.realCheck('${contextPath}')">
						<a href="javascript:void(0)"><div class="buy_phone_home"></div>购手机</a>
					</li>
					<li id="tab2" for="order_tab_panel_offer" url="${contextPath}/order/prodoffer/prepare" onclick="order.cust.realCheck('${contextPath}')">
						<a href="javascript:void(0)"><div class="buy_pack_home"></div>办套餐</a>
					</li>
					<li id="tab3" for="order_tab_panel_phonenumber" url="${contextPath}/mktRes/phonenumber/prepare" onclick="order.cust.realCheck('${contextPath}')">
						<a href="javascript:void(0)"><div class="buy_nbr_home"></div>选号码</a>
					</li>
                </ul>
                <div class="tips">注：请按照你的需求选择最便捷的入口办理业务</div>
            </div>
        </div>
        <!--订单准备 end-->
    </div> 
    <div id="nothreelinks" class="main_warp main_index" style="height:300px; display:none;"></div>
    <div id="orderTitleDiv" class="main_order_title main_warp">
	    <h2 class="h2_title">
	    	<span id="orderTitleSpan"></span>
		</h2>
    </div>
    <div class="main_warp" id="order_tab_panel_content" style="display:none">
        
    </div>
    <!-- 填单页面用 -->
    <div class="main_warp" id="order_fill_content" style="display:none">
    
    </div>
    <!-- 订单确认页面-->
    <div class="main_warp" id="order_confirm" style="display:none"></div>
    
    <!-- 订单确认页面（分段受理专用）-->
    <div class="main_warp" id="step_order_confirm" style="display:none"></div>
<!--内容 end-->
</div>
<!--弹出款-选择号码的内容-->
<div style="display:none" id="ec-dialog-form-container-phonenumber" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title">选择号码</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" >
      <form action="#" style="" id="dialogForm">
        <div class="form-content" id="phonenumberContent" style="min-height:200px">      
        </div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出款的内容-->
<!--帐户选择弹窗-->
<div class="easyDialogdiv" style="width:1080px;height:460px;" id="div_staff_dialog">

  </div>

<!-- 发展人管理弹窗 -->  
<div id="div_attach_dialog" class="easyDialogdiv" style="width:980px;height:460px;">
	<div class="easyDialogclose" id="staff_dialog_close" onclick="easyDialog.close()"></div>
	<table class="contract_list">
		<thead>
			<tr><td><input type="checkbox" name="attach_dealer_check_all" onclick="order.dealer.checkAllAttach(this)">操作</td><td>号码</td><td>发展业务</td></tr>
		</thead>
		<tbody id="attach_tbody">
		</tbody>
	</table>
	<div align="center" style="margin: 20px auto;">
		<a class="btna_o" href="javascript:void(0)" onclick="order.dealer.addAttachDealer()"><span>确认</span></a>
		<a class="btna_o" href="javascript:void(0)" onclick="easyDialog.close()" style=" margin-left:20px;"><span>取消</span></a>
	</div>
</div>

<!-- 功能产品销售品详情弹窗 -->
<div id="div_detail_dialog" class="easyDialogdiv" style="width:980px;height:460px;">
	<div class="easyDialogclose" id="staff_dialog_close" onclick="easyDialog.close()"></div>
	<table class="contract_list">
		<thead>
			<tr><td>产品名称</td><td>描述</td></tr>
		</thead>
		<tbody id="detail_tbody">
		</tbody>
	</table>
	<div align="center" style="margin: 20px auto;">
		<a class="btna_o" href="javascript:void(0)" onclick="easyDialog.close()" style=" margin-left:20px;"><span>返回</span></a>
	</div>
</div> 

<!-- 销售品时间设置弹窗-->  
<div id="div_time_dialog" class="easyDialogdiv" style="width:650px;height:420px;z-index: 1" id="yilai_dialog" >
	<div class="easyDialogclose" onclick="easyDialog.close()"></div>
  	<table class="contract_list rule">
    	<thead>
       		<tr>
                <td colspan="2" id="attachName"></td>
            </tr>                                                    
         </thead>
  	</table>
  	<br/>
  	<div class="form-content">
    	<div class="phone_warp" style="margin:0px 10px;">
	    	<table class="numberList">
		        <tbody>
		          	<tr>
			            <td class="borderLTB" align="left" style="font-size:14px; padding:12px" colspan="5">
			            	<span style="color:#518652; font-size:14px;">生效方式：</span>
			            </td>
		          	</tr>
		          	<tr>
			          	<td align="left" width="25px"></td>
			            <td align="left" width="100px"><input type="radio" checked="checked" value="1" name="startTimeType">默认生效</td>
			            <td align="left" width="100px"><input type="radio" value="2" name="startTimeType">立即生效</td>
			            <td align="left" colspan="2"><input type="radio" value="3" name="startTimeType">次月生效</td>  
		          	</tr>
		          	<tr id="startTimeTr">
		          		<td align="left"></td>
		            	<td align="left"><input type="radio" value="4" name="startTimeType"><label>指定时间生效</label> 
		            	<td align="left" colspan="3">
		            		<input id="startDt" placeholder="请选择指定的时间" class="numberTextBox" type="text" 
		            			style="width:160px" onclick="AttachOffer.showStartTime()" readonly="readonly" >
		          		</td>
		          	</tr>
		          	<tr>
		           		<td class="borderLTB" align="left" style="font-size:14px; padding:12px" colspan="5">
		            		<span style="color:#518652; font-size:14px;">失效方式：</span>
		            	</td>
		          	</tr>
		          	<tr>
		          		<td align="left" width="25px"></td>
		            	<td align="left"><input type="radio" checked="checked" value="1" name="endTimeType">默认失效</td>
		            	<td align="left" colspan="3">
		            		<input type="radio" value="5" name="endTimeType"><label>有效时长</label>
		            		<input type="number" id="endTime" class="inputWidth40px">
		            		<select id="endTimeUnit">
		            			<option value="1">天</option>
		            			<option value="2">周</option>
		            			<option value="3" selected="selected">月</option>
		            			<option value="4">季度</option>
		            			<option value="5">半年</option>
		            			<option value="6">年</option>
		            			<option value="7">月初失效</option>
		            		</select>
		            	</td>
		          	</tr>
		          	<tr id="endTimeTr">
		          		<td align="left"></td>
		            	<td><input type="radio" value="4" name="endTimeType"><label>指定时间失效</label></td>
		            	<td align="left" colspan="3">
		            		<input id="endDt" class="numberTextBox" type="text" placeholder="请选择指定的时间"  style="width:160px"
		            		onclick="AttachOffer.showEndTime();" readonly="readonly"  >
		            	</td>
		          	</tr>
		        </tbody>
	      	</table>
    	</div>
  	</div>
  	
  	<div align="center" style="margin: 20px auto;">
  		<a class="btna_o" href="javascript:void(0)" style=" margin-left:20px;" id="timeSpan"><span>确认</span></a>
		<a class="btna_o" href="javascript:void(0)" style=" margin-left:20px;" onclick="easyDialog.close()"><span>取消</span></a>
	</div>
</div>

<!-- 销售品构成-->  
<div id="div_member_dialog" class="easyDialogdiv" style="width:650px;height:420px;z-index: 1" id="yilai_dialog" >
	<div class="easyDialogclose" onclick="easyDialog.close()"></div>
  	<table class="contract_list rule">
    	<thead>
       		<tr>
                <td colspan="2" id="memberName"></td>
            </tr>                                                    
         </thead>
  	</table>	          	
  	<br/>
  	<div id="main_member_div" class="fs_choosed">
		
	</div>
  	
  	<div align="center" style="margin: 20px auto;">
		<a class="btna_o" href="javascript:void(0)"><span id="memberSpan">确认</span></a>
		<a class="btna_o" href="javascript:void(0)" style=" margin-left:20px;" onclick="easyDialog.close()"><span>取消</span></a>
	</div>
</div>

<!--弹出框的内容-->
<div class="easyDialogdiv" style="width:700px;height:450px;" id="member_dialog" >
	<div class="easyDialogclose" onclick="try{easyDialog.close()} catch(e) {$('#member_dialog').hide();$('#overlay').hide();}"></div>
  	<table class="contract_list rule">
        <thead>
            <tr>
                <td colspan="2" id="main_title"></td>
            </tr>                                                    
        </thead>
  	</table>
  	<br/>
  	<div class="form-content">
	    <div class="phone_warp" style="margin:0px 10px;">
	    	<table class="numberList">
	        	<tbody id="member_tbody">	
	        	</tbody>
	      	</table>
	      	<div align="center" style="margin: 20px auto;">
	      		<a href="javascript:void(0)" id="member_btn" class="btna_o"><span>确认</span></a>
	      			<button style="display:none" id="btncustreset" type="reset">ssss</button>
	        	<a id="custresetBtn" href="javascript:try{easyDialog.close()} catch(e) {$('#member_dialog').hide();$('#overlay').hide();}" class="btna_o" style=" margin-left:20px;"><span>取消</span></a>
	      	</div>
	    </div>
  	</div>
</div>

<!-- 规则弹窗 -->  
<div id="ruleDiv" style="width: 650px; height: 400px; display: none; margin: 0px;" class="easyDialogdiv" >
  <div id="ruleclose" class="easyDialogclose"></div>
  <table class="contract_list rule">
            <thead>
                <tr>
                    <td colspan="2">业务规则提示</td>
                </tr>                                                    
            </thead>
        </table>
  		<div id="rules_div">
        	<table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td align="right" style="width:45%"><i class="rule_icon_wrong"></i></td>
                <td><span class="rule_font">规则校验未通过！</span></td>
              </tr>
            </tbody></table>
        </div>
  <div class="form-content">
    <div style="margin:0px 10px;" class="phone_warp">
      <table class="numberList">
        <thead>
          <tr>
            <td style="width:24%" class="borderLTB">规则编码</td>
            <td style="width:44%" class="borderLTB">规则名称</td>
            <td style="width:18%" class="borderLTB">规则等级</td>
            <td style="width:14%" class="borderLTB">校验结果</td>
          </tr>
        </thead>
        <tbody id="ruleBody">
          
        </tbody>
      </table>
    </div>
    <div style="margin:0px 10px;border:none;" class="selectList">
      <dl style="border:none;text-align:center;">
        <dd style="float:none;">
          <!--  <input type="text" style="margin-left:108px;" value="" class="numberTextBox inputWidth183px">
          <input type="button" id="credit" value="授 信" class="numberSearch">-->
          <input type="button" id="closedialog" value="确 定" class="numberSearch">
          <!--<input type="button" value="取 消" class="numberSearch"> -->
        </dd>
      </dl>
    </div>
  </div>
</div>
<!-- 规则弹窗 -->
<div id="ruleDiv2" style="width: 800px; height: 400px; display: none; margin: 0px;">
  <div class="form-content">
    <div style="margin:0px 10px;" class="phone_warp">
      <table class="numberList">
        <thead>
          <tr>
            <td style="width:24%" class="borderLTB">规则编码</td>
            <td style="width:44%" class="borderLTB">规则名称</td>
            <td style="width:18%" class="borderLTB">规则等级</td>
            <td style="width:14%" class="borderLTB">校验结果</td>
          </tr>
        </thead>
        <tbody id="ruleBody2">
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--主副卡变更弹窗-->
<div style="display:none" style="width:1100px;" id="ec-dialog-form-container-memeberChange" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title" id="memeberChangeTitle">主副卡成员变更</h1>
  </div>
  <div class="ec-dialog-form-content" style="height: 350px;width:560px;">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" >
      <form action="#" style="" id="dialogForm">
        <div class="form-content"  id="memeberChange">  
          <table class="numberList">
	        	<tbody id="maincard_member_tbody">	
	        	</tbody>
	      	</table>
		
		  <!--上下步按钮-->
		  <div align="center" style="margin: 20px auto;">
		      <a class="btna_o" href="javascript:void(0)"><span >确认</span></a>
		      <a style=" margin-left:20px;" class="btna_o" href="javascript:void(0)"><span>取消</span></a>
		  </div>     
        </div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出款-选择套餐的内容-->
<div style="display:none" id="ec-dialog-form-container-delephone" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title" id="delPhoneTitle">欠费拆机-是否保留副卡</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form" >
      <form action="#" style="" id="dialogForm">
        <div class="form-content" style="min-height:200px" id="delPhoneNumber">  
          <ul class="fillin show">
		  	<h5 class="s_title">主卡</h5>
		    <li>
		      <!--a id="" class="purchase" href="#">选择</a-->
		    </li>
		    <div class="clear"></div>
		  </ul>
		  
		  <div class="height18"></div>
		  <ul class="fillin show" style='height:160px'>
		  <h5 class="s_title">副卡</h5>
		
		    <div class="clear"></div>
		  </ul>
		
		  <!--上下步按钮-->
		  <div align="center" style="margin: 20px auto;">
		      <a class="btna_o" href="javascript:void(0)"><span >确认</span></a>
		      <a style=" margin-left:20px;" class="btna_o" href="javascript:void(0)"><span>取消</span></a>
		  </div>     
        </div>
      </form>
    </div>
  </div>
  <div class="ec-dialog-form-bottom"></div>
</div>
<!--弹出款的内容-->
<!--拆机弹窗-->
<div class="easyDialogdiv" style="width:1100px;height:450px;" id="chooseofferspec">
  <div class="easyDialogclose" id="chooseofferspecclose"></div>
  <table class="contract_list">
            <thead>
                <tr>
                    <td id="chooseofferspecTitle">选择套餐</td>
                </tr>                                                    
            </thead>
        </table>
   <div class="height18"></div>    
  <div id="offerspecContent" style="min-height:200px">      
  </div>
</div>
<!--主副卡成员变更-->
<div class="easyDialogdiv" style="width:1100px;height:450px;" id="choosechofferspec">
  <div class="easyDialogclose" id="choosechofferspecclose"></div>
  <table class="contract_list">
            <thead>
                <tr>
                    <td id="chooseofferspecTitle">选择套餐</td>
                </tr>                                                    
            </thead>
        </table>
   <div class="height18"></div>    
  <div id="chofferspecContent" style="min-height:200px">      
  </div>
</div>

<!-- 群号弹出框-->  
<div style="display:none" id="ec-dialog-form-container-group" class="ec-dialog-form-container">
  <div class="ec-dialog-form-top">
    <h1 class="ec-dialog-form-title" align="center">参数设置</h1>
  </div>
  <div class="ec-dialog-form-content">
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="ec-dialog-form-form">
		<form action="#" style="text-align:center;" id="dialogForm1">
			<div class="form-content" id="groupContent">
				<div id="div_group">
		    	</div>
		      	<div id="div_group_btn" align="left" style="margin-top: 20px;margin-left: 70px;">
		      	</div>
			</div>
		</form>
	</div>
  </div>
</div>

<!-- <div style="display:none;width:360px;" id="ec-dialog-form-container-group" class="easyDialogdiv">
  <div style="background: url('../image/common/title_bg.png') repeat-x scroll 0 0 #f4f4f4;border-bottom: 1px solid #dcdcdc;height: 38px;margin: 0;padding: 0;">
    <h1 style="color: #71ab5a;font-size: 16px;font-weight: bold;line-height: 34px;margin: 0;padding-left: 12px;text-align: left;">参数设置</h1>
  </div>
  <div>
    <div class="ec-dialog-form-loading" style="display:none"></div>
    <div class="ec-dialog-form-message" style="display:none"></div>
    <div class="contract_list">
				<div id="div_group">
		    	</div>
		      	<div id="div_group_btn" align="left" style="margin-top: 20px;margin-left: 70px;">
		      	</div>
	</div>
  </div>
</div> -->

<!--弹出款-客户定位，选择使用人-->
<div id="choose_user_dialog" class="easyDialogdiv" style="width:700px;height:250px;">
<div class="easyDialogclose" id="chooseUserClose" onclick="easyDialog.close()"></div>
    	<table class="contract_list">
            <thead>
                <tr>
                    <td>选择使用人</td>
                </tr>                                                    
            </thead>
        </table>
        <div id="chooseUserDiv" class="main_div location main_warp" style ="float:left;width:100%;">
		<form id="custQueryForChooseForm">
	    <ul class="usercon">
	    <li class="ulocation" >
		<h2 style="margin: 4px 8px 0 5px;">受理地区</h2>
		</li>
		<li class="usersearch">
		   <input id="diffPlaceFlag_choose" type="hidden" value="${DiffPlaceFlag}"> 
			<#if Session["_ecs_login_session_key"].currentChannelId ?? && (Session["_ecs_login_session_key"].currentChannelId!="") >
			  <input type="text" class="numberTextBox" style="margin-left:5px; width:100px" readonly id="p_cust_areaId_val_choose" onclick="<#if DiffPlaceFlag=="local">order.cust.chooseAreaForChooseUser()</#if>" value="${Session["_ecs_login_session_key"].currentAreaAllName}" placeholder="请选择地区" readonly />
	          <input type="hidden" id="p_cust_areaId_choose" value="${Session["_ecs_login_session_key"].currentAreaId}">
	          <input type="hidden" DiffPlaceFlag="${DiffPlaceFlag}">
	         </#if>
        </li>
		<li class="ulocation">
			<h2 style="margin: 4px 8px 0 5px;">客户定位</h2>
		</li>
		<li class="usersearch">
		<select onchange="order.cust.custidentidiesTypeCdChoose(this,'p_cust_identityNum_choose')" id="p_cust_identityCd_choose" class="selectNumbertype" style="width:118px;">
                                  	  	<option value="-1" >接入号码</option>
                                  	  	<option value="acctCd" >合同号</option>
                                  	  	<option value="custNumber" >客户编码</option>
        </select>
        <div id="custList" class="usersearchcon" ></div>
        </li>
		<li class="usersearch">
			<input name="" type="text" class="numberTextBox" id="p_cust_identityNum_choose" onkeyup="value=value.replace(/[^\w]|_/ig,'')" 
				placeHolder="请输入接入号码" data-validate="validate(isTelecomOridCardCheck:请输入合法接入号码) on(blur)" style="width:158px;"/>
		</li>
		<!-- 
        <li>
        <input id="isAppointNum" type="checkbox" checked="true" style="margin: 15px 5px 0px 5px;float:left" onclick="order.cust.isAppointNum('p_cust_identityCd_choose')">
        <label style="float:left; margin:10px 5px 0px 0px">指定号码</label>
        </li>
		 -->
        <li class="ubtn">
		    <a id="userSearchForChooseBtn" href="javascript:void(0)"  class="btn_h30 btn" style="margin-left:30px;" onclick=""><span>查 询</span></a>
		</li>
		
		</ul>
		</form>
		
		<table class="contract_list" id="chooseUserList" style="display: none;">
		<thead>
			<tr>
				<td width="100">姓名</td>
				<td width="350">证件号码</td>
				<td width="100">地区</td>
			</tr>
		</thead>
		<tbody>
			<tr id="chooseUserInfo">
				<td id="chooseUserInfoName"></td>
				<td id="chooseUserInfoNum"></td>
				<td id="chooseUserInfoAreaName"></td>
			</tr>
		</tbody>
	</table>
	
	
	</div>
  	<div align="center" style="margin: 20px auto;">
        <a id="chooseUserBtn" class="btna_o" href="javascript:void(0)"><span >确认</span></a>
        <a id="cancelChooseUserBtn" class="btna_o" href="javascript:void(0)" style=" margin-left:20px;" onclick="easyDialog.close()"><span>取消</span></a>
    </div>
</div>
<!--弹出框-当客户定位，选择使用人，有多个客户要选择时-->
<div id="choose_multiple_user_dialog" class="easyDialogdiv" style="width:700px;">
</div>
<object id="CertCtl" type="application/cert-reader" width="0" height="0"></object>
<#else>

<div id="nothreelinks" class="main_warp main_index" style="height:300px; display:block;text-align:center;margin-top:100px;">
	<font color="#fff">无受理权限，无法受理业务！</font>
</div>

</#if>

<#else>

<div id="nothreelinks" class="main_warp main_index" style="height:300px; display:block;text-align:center;margin-top:100px;">
	<font color="#fff">无受理渠道，无法受理业务！</font>
</div>


</#if>

<script src="${contextPath}/js/4g-js/easydialog.min.js?${jsversion}" type="text/javascript"></script>
