<!--认证相符拍照弹框-->
<div style="display:none;background:#fff;" id="ec-dialog-photo-graph" class="ec-dialog-form-container">
	<div class="easyDialogclose" id="staff_dialog_close" onclick="order.cust.close()"></div>
  	<div class="ec-dialog-form-top">
    	<h1 class="ec-dialog-form-title">人证相符-拍照</h1>
  	</div>
  	<div class="order"> 
    	<div class="order_nav_new">
      		<div class="order-camera-box" >
          		<ul class="fillin show" style="overflow: hidden;">
              		<li style="width: 90%;">
                  		<label>选择设备：</label>
                  		<select class="inputWidth183px" id="device"></select>
	                  	<#if Session["_camera_driver_download_url"]?? >
	                		<a href="${Session['_camera_driver_download_url']}" class="purchase" id="" >下载控件</a>
	                	<#else>
	                		<a href="https://crm.189.cn/portalstatic/assets/camera/DoccameraOcx.exe" class="purchase" id="" >下载控件</a>
	                	</#if>
                  		<span id="tips" style="color:#F00; font-weight:bold;font-size:14px;margin-left:10%;"></span>
              		</li>
          		</ul>
          		<div class="camera-box">
		        	<div style="overflow: hidden;">
		            	<a style="display:inline-block; width: 200px; height: 258px; margin: 54px 50px 0 50px; overflow: hidden;"><img id="img_Cert" src="${contextPath}/image/id_card.jpg" class=""></a>
		                <a id="a_obj" style="display:inline-block; width: 640px; height: 360px; margin-right: 50px; vertical-align: top;">
		                    <img id = "startPhotos" src="${contextPath}/image/start_photo.jpg"/>
		                    <img id="img_Photo">
		            	</a>
		        	</div>
	        	</div>
      		</div>                   
      		<div align="center" style="margin:30px auto;" id="photographReviewDiv">
      			<#if Session["PHOTOGRAPH_REVIEW_FLAG"] ?? 
      				&& (Session["PHOTOGRAPH_REVIEW_FLAG"]=="ON") 
      				&& Session["RXSHGN"] ?? 
      				&& (Session["RXSHGN"]?string("true","false")=="true")>
			    	<select id="auditStaffList">
			        	<option value="-1">--请选择审核人员--</option>
			        </select>
			        <select id="auditMode">
			        	<option value="-1" >--请选择审核方式--</option>
			            <option value="1" >现场审核</option>
			            <option value="2" >远程审核</option>
			        </select>
		        </#if>
		        <a class="btna_o" id="takePhotos"><span >确认拍照</span></a>
		        <a style=" margin-left:20px;" class="btna_o" id="rePhotos"><span>重新拍照</span></a>
		    	<a style=" margin-left:20px;" class="btna_o" id="confirmAgree"><span>人证相符</span></a>
	      	</div>
	      	<div align="center" style="margin:30px auto;display: none;" id="auditDiv">
	      		<span id="auditStaffTips"></span>
	          	<input class="txt2 inputWidth228px"  name="auditSmsPwd" id="auditSmsPwd" data-validate="validate(required:短信验证码不能为空) on(blur)" placeholder="请输入您手机收到的验证码" maxlength="6"/>
	          	<a style=" margin-left:20px;" class="btna_o" onclick="order.cust.auditFailureRePhoto()"><span>重新拍照</span></a>
	          	<a style=" margin-left:20px;" class="btna_o" onclick="order.cust.auditConfirm()"><span>审核通过</span></a>
	          	<p>验证码在5分钟内有效，3次错误输入自动失效，如您<font id="auditDefaultTimeResend"></font>仍未收到验证码，请点击<a id="confirmagreesmsresend" class="cf" onclick="javascript:void(0);">重新获取验证码</a>，如果您连续3次没有成功收到短信验证码，建议您稍后再试。</p>
      		</div> 
		</div>
	</div>
</div>
<!--认证相符拍照弹框 End-->

<script>
	if(cert.getBrowser()=='FF') {
		$("#a_obj").append("<object type='application/x-itst-activex' clsid='{454C18E2-8B7D-43C6-8C17-B1825B49D7DE}' id='capture'  width='640' height='360'  style='float: right; margin-right: 10px;'></object>");
	}else{
		$("#a_obj").append("<object classid='clsid:454C18E2-8B7D-43C6-8C17-B1825B49D7DE' id='capture'  width='640' height='360'  style='float: right; margin-right: 10px;'></object>");
	}
</script>