          <table class="contract_list numberList222" >
              <thead>
              <tr>
                  <td width="130">主销售品名称</td> 
                  <td width="80">客户名称</td>
                  <td width="150">接入号</td>
                  <!-- <td width="70">地区名称</td> -->
                  <td width="120">证件名称</td>
                  <td width="120">证件号</td>
                  <td width="120">订购时间</td>
                  <!-- <td width="100">关联促销</td> 
                  <td width="60">订单操作</td>-->
               	 </tr>
              </thead>
             <tbody>
               <#if (pageModel.list)?? &&((pageModel.list)?size>0)>
              <#list pageModel.list as protInfo >
                 <tr>
                  <td>${protInfo.prodOfferName}</td>
                  <td>${protInfo.custName}</td>
                  <td>${protInfo.accessNbr}</td>
                  <!-- <td>${protInfo.areaName}</td> -->
                  <td>${protInfo.certName}</td>
                  <td>${protInfo.certNumber}</td>
                  <td>${protInfo.createDate}</td>
                 <!-- <td>${protInfo.prodOfferName}</td>
                  <td>
                  	<a class="purchase" href="" type="main">详情</a>
                  </td>-->
                </tr>
            
              </#list>	
              <#else>
              <tr>
                <td colspan="9">没有查询到结果</td> 
              </tr>
              </#if>
              
              </tbody>
            </table>
            
            <!--页码-->
			 <@portal.modelPagination pageModel 5 "order.protocol.queryProtocolOfferInfo"/>
			<!--页码 end-->

<script src="${contextPath}/js/our-js/ec.pagination.js?${jsversion}" type="text/javascript"></script> 
