<@override name="title">我的密码</@override>
<@override name="header">
<script src="${contextPath}/js/busi-js/staff/staffMgr.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/order/orderInfo.js" type="text/javascript"></script>
</@override>
<@override name="content">
<div class="main_div" id="main_content">
	<div class="main_warp">
		<div class="order_confirmation">
			<h2 class="h2_title">密码修改</h2>
			<div class="main_body"> 				
                <label id="msg" style="display:none;margin-left:100px;color:red;"></label>                  
				<div class="infoBox">
					<form id="staffPwdForm">
					<table class="network">
						<tbody>
							<tr>
								<td align="right" width="80px"><label class="f_red">*</label>旧密码</td>
								<td>
									<input type="password" id="password" placeholder="请输入旧密码"  data-validate="validate(required:旧密码不能为空) on(blur)" class="inputWidth228px" maxlength="6"/>
								</td>
							</tr>
							<tr>
								<td align="right"><label class="f_red">*</label>新密码</td>
								<td>
									<input type="password" id="newPassword" placeholder="请输入新密码"  data-validate="validate(required:密码不能为空,checkLen:密码必须为{arg1}位.(6),isSimplePwd:密码强度太低，至少包含一位数字和字母) on(blur)" class="inputWidth228px" maxlength="6"/>
								</td>
							</tr>
							<tr>
								<td>
									<label class="f_red">*</label>确认新密码
								</td>
								<td>
									<input type="password" id="confirm_password" placeholder="请输入确认密码"  data-validate="validate(depEq:两次密码必须一致(newPassword)) on(blur)" class="inputWidth228px" maxlength="6"/>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
				
				<div align="right" style="margin:20px auto;">
					<a id="btn_staffPwd_submit" style="margin-right:60px;" class="btna_o" href="javascript:void(0);"><span>提交</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
</@override>
<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/main-template.html"/>
</#if>
