@charset "utf-8";


/*弹出窗口样式*/
/*window*/
.l-window-mask{
	    position:absolute;left:0;top:0;width:100%;height:100%; filter:alpha(opacity=50);opacity:0.5;background:#d0d0d0;display:none;font-size:1px; *zoom:1;overflow:hidden; display:none;z-index: 9000;
    }
.l-window-mask-nobackground{
	    position:absolute;left:0;top:0;width:100%;height:100%; display:none;font-size:1px; *zoom:1;overflow:hidden; display:none;z-index: 9000;
    }
.l-window-dragging
{
    filter:alpha(opacity=50);opacity:0.50;
}
.l-window-dragging .l-window-content
{
    visibility:hidden;
}
/*window end*/

.l-dialog-tl, .l-dialog-tc, .l-dialog-tr {
    height:41px;
}
.l-dialog-bl, .l-dialog-bc, .l-dialog-br {
    height: 10px;
}
.l-dialog-tl, .l-dialog-tr, .l-dialog-bl, .l-dialog-br, .l-dialog-cl, .l-dialog-cr {
    width:10px;
}
.l-dialog-tl {
    background:#f8f8f8;
	border-bottom:1px solid #dcdcdc;
}
.l-dialog-tc {
    background:#f8f8f8;
	border-bottom:1px solid #dcdcdc;
}
.l-dialog-tr {
    background:#f8f8f8;
	border-bottom:1px solid #dcdcdc;
}
.l-dialog-cl {
    background:#fff;
}
.l-dialog-cr {
    background:#fff;
}
.l-dialog-bl {
    background:#fff;
}
.l-dialog-bc {
    background:#fff;
}
.l-dialog-br {
    background:#fff;
}
.l-dialog-tc-inner {
    height: 41px;
    line-height:41px;
    position: relative;
    width: 100%;
	font-weight:bold;
	text-align:center;
}
.l-dialog-title{
	font-size:16px;
	color:#518652;
}
.l-dialog-winbtns {
    position: absolute;
    right:-26px;
    top:-14px;
	*right:-20px
}
.l-dialog-close {
    background-image: url(../image/dialog-winbtns.gif.gif);
    background-position: 0px 0;
}
.l-dialog-close:hover {
	background-position:0px 0px
}
.l-dialog-winbtn {
    background: url(../image/close.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height:28px;
    overflow: hidden;
    width:28px;
}
.l-dialog-buttons {
	width:90%;
    border-top:1px solid #dcdcdc;
    height:42px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top:0px;
    overflow: hidden;
    padding-top: 7px;
    position: relative;
	margin:0 auto
}
.l-dialog-buttons-inner {
	margin:0px auto;
	width:180px;
}
.l-dialog-btn {
    cursor: pointer;
    float: left;
    margin-right:0px;
    position: relative;
}

/* 多页签样式 */
.l-tab-content-item iframe{width:100%; height:100%; border:none;}
.l-tab-loading{ position: absolute;z-index: 91000; top:0; left:0;background:white url('../../../image/loading.gif') no-repeat center 40%; width:100%; height:100%;_height:800px;display:none;}
.l-tab-links-left{
position:absolute; 
top: 8px; 
left:0; 
width:19px; 
height:19px; 
overflow:hidden; 
background:url(../image/tabs-tools.png) 0px 0px; 
z-index:13; 
cursor:pointer;
}
.l-tab-links-right{ 
position:absolute; 
top:8px; 
right:0;
width:19px; 
height:19px; 
overflow:hidden;
background:url(../image/tabs-tools.png) -19px 0px;
z-index:13; 
cursor:pointer;
}
.l-tab-links-left-over{ background-position:-38px 0px;}
.l-tab-links-right-over{ background-position:right 0px;}
.l-tab-links-left-invalid{ background-position:-38px 0px;}
.l-tab-links-right-invalid{ background-position:-57px 0px;}

.l-tab-links {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D3D8D0;
    height: 35px;
    position: relative;
}
.l-tab-links ul {
    left: 0;
    list-style: none outside none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top:5px;
    width: 9999px;
}
.l-tab-links li {
    background: #f2f2f2;
    border: medium none;
    cursor: pointer;
    float: left;
    height:30px;
    line-height:30px;
    margin: 0 0 0 4px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    color:#fff;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.l-tab-links li.l-selected {
    background: #fff;
    color:#327501;
    border:1px solid #D3D8D0;
    border-bottom:0px;
    font-weight: bold;
}
.l-tab-links li a {
    display: block;
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: none;
}
.l-tab-links li.l-selected a {
    color:#71ab5a
}
#tabitem1 a {
    margin-right:20px;
}
.l-tab-links li div.l-tab-links-item-left {
    height:30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.l-tab-links li div.l-tab-links-item-right {
    height:30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}

.l-tab-links li.l-selected div.l-tab-links-item-left {
}

.l-tab-links li.l-selected div.l-tab-links-item-right {
}

.l-tab-links-item-close {
    background: url(../image/icon-close.png) repeat scroll 0 28px transparent;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    z-index: 12;
}
.l-tab-links-item-close-hover {
    background: url(../image/icon-close.png) repeat scroll 0 0 transparent;
}
.l-tab-links li.l-selected div.l-tab-links-item-close {
    background: url(../image/icon-close.png) repeat scroll 0 12px transparent;
}
.l-tab-content {
    border: medium none;
    margin: 0 auto;
    padding: 0;
}
.l-tab-content-item {
    overflow: hidden;
    position: relative;
}
/* 多页签样式  end*/