<script type="text/javascript">
var contextPath = "${request.getContextPath()}";
var globalAppDesc = "${APPDESC}";
function getToken(){
	var token="${Request['_al_ec_token']}";
	return token;
}
</script>

<#if TOKENCOMPRESS_JS_LEVEL?? &&  TOKENCOMPRESS_JS_LEVEL == "BUSI">
<script src="${contextPath}/merge/js/busiAPP-${BASE_VERSION}.min.js?${jsversion}" type="text/javascript"></script>
<#else>
<script src="${contextPath}/js/busi-js/common/const.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/common/common.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order/orderProdModify.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/orderInfo.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/soOrder.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/attachOffer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/calCharge.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/order.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/orderMain.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/offerQuery.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/offerChange.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order/cacheData.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cust/custMgr.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cust/cust.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/cart/cart.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/order/order-ysl.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/rule/rule.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/mktRes/phoneNumber.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/mktRes/terminal.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/uim.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/query/queryProd.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/busi-js/print/print.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/order/dealer.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/app-js/op-js/offerChangeNew.js?${jsversion}" type="text/javascript"></script>
</#if>