<!-- Bootstrap 公共样式-->
<link href="${contextPath}/css/app-css/bootstrap.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/app-css/nouislider.fox.css"
	rel="stylesheet">
<link href="${contextPath}/css/app-css/bootstrap-select.css"
	rel="stylesheet">
<link href="${contextPath}/css/app-css/bootstrap-toggle.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/app-css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<link href="${contextPath}/css/app-css/bootstrapValidator.css"
	rel="stylesheet"><!-- 表单验证的css -->	
<link rel="stylesheet" href="${contextPath}/css/app-css/ec.pagination.scroll.css">
<link href="${contextPath}/css/app-css/style.css" rel="stylesheet">

<!--picker样式开始-->
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.animation.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.icons.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.android.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.android-holo.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.ios-classic.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.ios.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.jqm.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.sense-ui.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.frame.wp.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.android.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.android-holo.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.ios-classic.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.ios.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.jqm.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.sense-ui.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.scroller.wp.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.image.css" rel="stylesheet" type="text/css" />

		<link href="${contextPath}/css/agent-css/picker/mobiscroll.android-holo-light.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.wp-light.css" rel="stylesheet" type="text/css" />
		<link href="${contextPath}/css/agent-css/picker/mobiscroll.mobiscroll-dark.css" rel="stylesheet" type="text/css" />
<!--picker样式结束-->

<style>
.modal-open {
  overflow: initial !important;
  padding-right: 0px !important;
}
.btn-uim {display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: white;
  width: 100%;
}
.styled-select {
 -webkit-appearance: listbox;
}  

</style>