<div id="order-error" style="display: none;">
<div class="container-fluid">
	<div class="row">
		<div class="panel panel-default paneltop">
			<!-- Default panel contents -->
			<div class="panel-heading" id="alertM-modal-title">
			</div>
			<div class="panel-body">
	        <p></p>
	      	</div>
			<table class="table table-striped table-bordered tablecenter">
				<tbody class="panel-group" id="accordion" style="word-break: break-all;">
				    <tr>
						<td><a id="content-title" data-toggle="collapse" data-parent="#accordion" href="#collapse-1"></a></td>
					</tr>
					<tr id="collapse-1" class="panel-collapse collapse">
						<td class="panel-body" id="content-body">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="btn-group btn-group-justified navbar-btn" role="group"
			aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary btn-lg" id="btn_error_info">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 确定
				</button>
			</div>

		</div>
	</div>
</nav>
</div>