<html>
	<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
	<META HTTP-EQUIV="Expires" CONTENT="0">		
	<#include "/pcpublic/common-js-tpl.html"/>
	<#include "/common-css-tpl.html"/>
	<style type="text/css">	
	 	.inputTest{margin:3px 0px;}
	 	.divTest{margin:10px 0px;}	 
	 	.btn {
				BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 16px; font-weight :bold;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
			}
	</style>
	<script type="text/javascript">
		function commit(){
			var reParams = {
				"staffCodeFF":$("#staffCode").val(),
				"staffName":escape($("#staffName").val()),
				"areaId":$("#areaId").val(),
				"areaCode":$("#areaCode").val(),
				"areaName":escape($("#areaName").val()),
				"cityName":escape($("#cityName").val()),
				"cityCode":$("#cityCode").val(),
				"provinceName":escape($("#provinceName").val()),
				"provinceCode":$("#provinceCode").val(),
				"channelCode":$("#channelCode").val(),
				"systemId":$("#systemId").val(),
				"publicKey":$("#publicKey").val(),
				"privateKey":$("#privateKey").val(),
				"provIsale":$("#provIsale").val(),
				"provCustIdentityCd":$("#provCustIdentityCd").val(),
				"custNumber":$("#custNumber").val(),
				"provCustIdentityNum":$("#provCustIdentityNum").val(),
				"provCustAreaId":$("#provCustAreaId").val(),
				"mainProdOfferId":$("#mainProdOfferId").val(),
				"actionFlag": $("input[name='actionFlag']:checked").val(),			
				"reloadFlag":$("#reloadFlag").val(),
				"redirectUri":$("#redirectUri").val(),
				"mainPhoneNum":$("#mainPhoneNum").val(),
				"newSubPhoneNum":$("#newSubPhoneNum").val(),
				"oldSubPhoneNum":$("#oldSubPhoneNum").val(),
				"isFee":$("#isFee").val(),	
				"uimCode":$("#uimCode").val(),
				"acctNumber":$("#acctNumber").val(),
				"termCode":$("#termCode").val(),
				"salesCode":$("#salesCode").val(),
				"typeCd":$("#typeCd").val(),
				"verifyLevel":$("verifyLevel").val(),
				"unifyLoginUri":$("#unifyLoginUri").val(),
				"attrInfos":[],
				"handlecustNumber":$("#handlecustNumber").val(),	
				"handleprovCustAreaId":$("#handleprovCustAreaId").val(),
				"lanId":$("#lanId").val()
			};
			var attrSpecStr = $("#attrSpecId").val();
			var attrValueStr = $("#attrValue").val();
			var attrSpecArr = attrSpecStr.split(";");
			var attrValueArr = attrValueStr.split(";");
			for(var i =0;i<attrSpecArr.length;i++){
				for(var j=0;j<attrValueArr.length;j++){
					if(i==j){
						var  attrInfo = {
								"attrSpecId":attrSpecArr[i],
								 "attrValue":attrValueArr[j]		
						     }
						reParams.attrInfos.push(attrInfo);
					     }
				}
			}
			var version = $("#version").val();			
			$.callServiceAsJson(contextPath+"/test/getModelUrl",reParams,{
				"before":function(){
					$.ecOverlay("<strong>正在处理中,请稍等会儿....</strong>");
				},
				"always":function(){
					$.unecOverlay();
				},
				"done" : function(response){
					if(response.code==0){								
						var data = $.parseJSON(response.data) ;
						if(data.code==0){				
							var params = data.params;
							var accessToken = data.accessToken;
							var toUrl=data.toUrl;
							var url="";
							if(toUrl=="1000"){
								url = contextPath + "/mode/"+version+"?params="+params+"&accessToken="+accessToken;
							}else{
								url = toUrl + "/mode/"+version+"?params="+params+"&accessToken="+accessToken;
							}
							
							$("#form11").attr("action",contextPath + "/mode/"+version);
							
							$("#params").val(params);
							
							$("#accessToken").val(accessToken);
							
							//$("#form11").submit();
							
							window.open(url);							
							//$("#modelIframe").attr("src",url);		
							return;						
						}else if(data.code==1){
							$.alert("提示",data.data);
						}
					}else{
						$.alert("提示","页面回调异常！");
					}
				},
				fail:function(response){
					$.unecOverlay();
					$.alert("提示","生成token可能发生异常，请稍后再试！");
				}
			});	
		}
		
		function decryptEncryption(type){
			if(type==null || type==""){
				alert("加解密类型丢失");
				return;
			}
			
			$("#outResult"+type).val("");
			
			var content=$("#content"+type).val();
			var pwd=$("#pwd"+type).val();
			
			if(content==null || content==""){
				alert("请输入加解密内容");
				return ;
			}
			
			if(pwd==null || pwd==""){
				alert("请输入加解密密钥");
				return ;
			}
			
			//去除空格等
			content=content.replace(/\ +/g,"").replace(/[ ]/g,"").replace(/[\r\n]/g,"");
			$("#content"+type).val(content)
			pwd=pwd.replace(/\ +/g,"").replace(/[ ]/g,"").replace(/[\r\n]/g,"");
			$("#pwd"+type).val(pwd);
			
			var reParams = {
				"content":content,
				"pwd":pwd,
				"type":type
			};
			
			$.callServiceAsHtmlGet(contextPath+"/test/decryptEncryption",reParams,{
				"before":function(){
					$.ecOverlay("<strong>正在处理中,请稍等...</strong>");
				},
				"always":function(){
					$.unecOverlay();
				},
				"done" : function(response){
					if(response.code==0){								
						var data = $.parseJSON(response.data) ;
						if(data.code==0){				
							var outResult = data.data.outResult;
							
							if(outResult==null || outResult==""){
								alert("加密或解密异常,请检查报文或密钥!");
								return;
							}
							
							$("#outResult"+type).html(outResult);
							
						}else if(data.code==1){
							$.alert("提示",data.data);
						}
					}else{
						$.alert("提示","加解密异常!");
					}
				},
				fail:function(response){
					$.unecOverlay();
					$.alert("提示","加解密异常");
				}
			});	
		}
		
		//读卡加密
		function certEncrypt(){
			$("#secretResult").val("");
			var mode = $("#mode").val();
			var secretContent = $("#secretContent").val();
			var secretKey = $("#secretKey").val();
			var secretResult = null;
		
			if(ec.util.isObj(secretContent) && ec.util.isObj(secretKey)){
				var params = {
					"mode"			:mode,			//AES算法或3DES
					"encrypt"		:true,			//解密
					"secretKey"		:secretKey,		//密钥
					"secretContent"	:secretContent	//解密内容
				};
				var response = $.callServiceAsJson(contextPath+"/test/ctrlSecret",params,{});
				if(ec.util.isObj(response)){
					secretResult = response.data;
				}
			} else{
				secretResult = "你有一处没有填写，认真点";
			}
		
			$("#secretResult").val(secretResult);
		}
		//读卡解密
		function certDecrypt(){
			$("#secretResult").val("");
			var mode = $("#mode").val();
			var secretContent = $("#secretContent").val();
			var secretKey = $("#secretKey").val();
			var secretResult = null;
		
			if(ec.util.isObj(secretContent) && ec.util.isObj(secretKey)){
				var params = {
					"mode"			:mode,			//AES算法或3DES
					"encrypt"		:false,			//解密
					"secretKey"		:secretKey,		//密钥
					"secretContent"	:secretContent	//解密内容
				};
				var response = $.callServiceAsJson(contextPath+"/test/ctrlSecret",params,{});
				if(ec.util.isObj(response)){
					secretResult = response.data;
				}
			} else{
				secretResult = "你有一处没有填写，认真点";
			}
		
			$("#secretResult").val(secretResult);
		}
	</script>
</head>
<body>
	<div class="main" style="float: left;width: 53%;margin-left: 40px;">
		<div class="divTest"><span class="info_title" style="font-size: 20px; color: #71ab5a; ">测试版本：</span>		
			<select id="version">  
				<option value ="pc">PC</option>  
				<option value ="app">APP</option>
				<option value ="pad">PAD</option>
			</select><br/>
	    </div>
		<div class="divTest">
			<span class="info_title" style="font-size: 20px; color: #71ab5a; ">令牌获取接口参数：</span>
			<br/>		
			员工工号：<input id="staffCode" class="inputWidth250px inputTest" value="HUANGYI"/><br/>
			员工姓名：<input id="staffName" class="inputWidth250px inputTest" value="黄一"/><br/>
			员工归属地区ID：<input id="areaId" class="inputWidth250px inputTest" value="8330100"/><br/>
			归属地区编号：<input id="areaCode" class="inputWidth250px inputTest" value=""/><br/>
			归属地区名称：<input id="areaName" class="inputWidth250px inputTest" value="杭州市"/><br/>
			归属市名称：<input id="cityName" class="inputWidth250px inputTest" value="杭州市"/><br/>
			归属地市编码：<input id="cityCode" class="inputWidth250px inputTest" value=""/><br/>
			归属省份名称：<input id="provinceName" class="inputWidth250px inputTest" value="浙江省"/><br/>
			归属省份编码：<input id="provinceCode" class="inputWidth250px inputTest" value="8330000"/><br/>
			渠道编码：<input id="channelCode" class="inputWidth250px inputTest" value="89461"/><br/>
			系统标识：<input id="systemId" class="inputWidth250px inputTest" value=""/><br/>
			公钥：<input id="publicKey" class="inputWidth250px inputTest" value="PUBLIC_TOKEN_KEY"/><br/>
			私钥：<input id="privateKey" class="inputWidth250px inputTest" value="TOKEN_8110000_KEY"/><br/>
			<br/>
		</div>
		<div class="divTest">
			<span class="info_title" style="font-size: 20px; color: #71ab5a; ">单点页面集成接口参数：</span>
			<br/>		
			省份流水：<input id="provIsale" class="inputWidth250px inputTest" value="8110000000000000000000001"/><br/>
			客户定位证件类型：<select id="provCustIdentityCd"><option value ="1">身份证</option></select><br/>
			客户编码：<input id="custNumber" class="inputWidth250px inputTest" value="171100052872830"/><br/>
			客户定位对应证件类型的编码值：<input id="provCustIdentityNum" class="inputWidth250px inputTest" value="1"/><br/>
			客户所属区域编码：<input id="provCustAreaId" class="inputWidth250px inputTest" value="8330100"/><br/>
			主套餐内部ID ：<input id="mainProdOfferId" class="inputWidth250px inputTest" value="134017670"/><br/>		
			业务类型： <input type="radio" name="actionFlag" value="1" checked="checked">新装  <input type="radio" name="actionFlag" value="2">套餐变更
				   <input type="radio" name="actionFlag" value="3">主副卡成员变更 <input type="radio" name="actionFlag" value="14">可选包变更<br/>					
			重新加载标识：
			<select id="reloadFlag">  
				<option value ="Y">新加载</option>  
				<option value ="N">二次加载</option>
			</select> <br/>
			<!--  
			回调URL地址：<input id="redirectUri" class="inputWidth250px inputTest" value=""/><br/>
			-->
			主号码：<input id="mainPhoneNum" class="inputWidth250px inputTest" value="17767073265"/><br/>
			新装成员号码：<input id="newSubPhoneNum" class="inputWidth250px inputTest" value=""/><br/>
			老用户成员号码：<input id="oldSubPhoneNum" class="inputWidth250px inputTest" value=""/><br/>			
			是否集团收费：<select id="isFee">  
						<option value ="1">不收费</option>  
						<option value ="2">收费</option>
					</select>  <br/>
			UIM卡号:<input id="uimCode" class="inputWidth250px inputTest" value=""/>[多个用","隔开]<br/>
			帐户合同号:<input id="acctNumber" class="inputWidth250px inputTest" value=""/><br/>
			终端串码:<input id="termCode" class="inputWidth250px inputTest" value=""/><br/>
			发展人工号:<input id="salesCode" class="inputWidth250px inputTest" value=""/><br/> 
			鉴权方式:<input id="typeCd" class="inputWidth250px inputTest" value="4"/><br/>
			鉴权级别:<input id="verifyLevel" class="inputWidth250px inputTest" value="2"/><br/>
			属性编码:<input id="attrSpecId" class="inputWidth250px inputTest" value="40010040"/>(订单编码和属性值一一对应用逗号";"分割，如：40010040;40010033;40010034)<br/>
			属性值:<input id="attrValue" class="inputWidth250px inputTest" value="N"/>(属性值对应关系如：SH01;SH02)<br/>
			经办人客户编码：<input id="handlecustNumber" class="inputWidth250px inputTest" value="171100052872830"/><br/>
			经办人客户所属区域编码：<input id="handleprovCustAreaId" class="inputWidth250px inputTest" value="8330100"/><br/>
			客户选择受理地区：<input id="lanId" class="inputWidth250px inputTest" value="8330100"/><br/>
			
		</div>
		
		<form action="" method="POST" id="form11">
			<input type="text" id="params" name="params" value="">
	
			<input type="text" id="accessToken" name="accessToken" value=""/>
		</form>
		
		<button class="btn" style="width: 200px;margin-bottom: 20px;cursor: pointer;" onclick="commit();">确定</button>		
		</br>
	</div>
<!-- 	<iframe id="modelIframe" style="width:100%;height: 1000px;" src=""></iframe> -->
	<div style="float:right;width:40%; ">
		<div class="divTest">
		<span class="info_title" style="font-size: 20px; color: #71ab5a; ">参数加密：</span><br/>		
			加密参数:<input id="content1" class="inputWidth250px inputTest" value=""/><br/>
			加密密钥:<input id="pwd1" class="inputWidth250px inputTest" value=""/><br/>
			加密结果:
			<div id="outResult1" style="max-width:350px;min-width:350px; border-color: gray;min-height: 80px;width:80px; overflow:auto"></div></br>
			加密操作:<input type="button" class="inputWidth250px inputTest " style="cursor: pointer;" value="加密" onclick="decryptEncryption('1');"/><br/>
		<br/>
		</div>
		
		<div class="divTest">
		<span class="info_title" style="font-size: 20px; color: #71ab5a; ">参数解密：</span><br/>		
			解密参数:<input id="content2" class="inputWidth250px inputTest" value=""/><br/>
			解密密钥:<input id="pwd2" class="inputWidth250px inputTest" value=""/><br/>
			解密结果:
			<div id="outResult2" style="max-width:350px;min-width:350px; border-color: gray;min-height: 30px;overflow:auto"></div></br>
			解密操作:<input type="button" class="inputWidth250px inputTest" style="cursor: pointer;" value="解密" onclick="decryptEncryption('2');"/><br/>
		<br/>
		</div>
	</div>

	<div style="float: right; width: 40%;">
		<div class="divTest">
			<span class="info_title" style="font-size: 20px; color: #71ab5a;">统一登录地址：</span><br />
			统一登录地址:<input id="unifyLoginUri" class="inputWidth250px inputTest" value="" /><br />
			<div class="divTest">
				<span>例如：http://crm.189.cn/ltePortal</span><br/>
				<span>或者：http://10.128.97.35:8100/ltePortal</span><br/>
				<span>若直接跳转到单台应用，可使用：http://10.128.97.35:8102/provPortal</span><br/>
			</div>
		</div>
	</div>
	
	<div style="float: right; width: 40%;">
		<div class="divTest">
			<span class="info_title" style="font-size: 20px; color: #71ab5a;">读卡加解密</span>
			<div class="divTest">
				<span>内容：</span>
				<input id="secretContent" class="inputWidth250px inputTest" value="" /><br/>
				<span>密钥：</span>
				<input id="secretKey" class="inputWidth250px inputTest" value="" /><br/>
				<span>结果：</span>
				<input id="secretResult" class="inputWidth250px inputTest" value="" /><br/>
				<span>
					<select id="mode">
						<option value ="AES">AES</option>
						<option value ="3DES">3DES</option>
					</select>
				</span>
				<span>
					<a class="purchase" href="javascript:void(0)" onclick="certEncrypt();">加 密</a>
					<a class="purchase" href="javascript:void(0)" onclick="certDecrypt();">解 密</a>
				</span>
			</div>
		</div>
	</div>
</body>
</html>