<html>
	<head>
	<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate"> 
		<META HTTP-EQUIV="Expires" CONTENT="0">		
		<#include "/pcpublic/common-js-tpl.html"/>
		<#include "/common-css-tpl.html"/>
	<style type="text/css">	
	 	.inputTest{margin:3px 0px;}
	 	.divTest{margin:10px 0px;}	 
	 	.btn {
				BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 16px; font-weight :bold;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
			}
	</style>
	<script type="text/javascript">
		function commit(){
			var reParams = {
				"staffCodeFF":$("#staffCode").val(),
				"staffName":escape($("#staffName").val()),
				"areaId":$("#areaId").val(),
				"areaCode":$("#areaCode").val(),
				"areaName":escape($("#areaName").val()),
				"cityName":escape($("#cityName").val()),
				"cityCode":$("#cityCode").val(),
				"provinceName":escape($("#provinceName").val()),
				"provinceCode":$("#provinceCode").val(),
				"channelCode":$("#channelCode").val(),
				"systemId":$("#systemId").val(),
				"publicKey":$("#publicKey").val(),
				"privateKey":$("#privateKey").val(),
				"provIsale":$("#provIsale").val(),
				"provCustIdentityCd":$("#provCustIdentityCd").val(),
				"custNumber":$("#custNumber").val(),
				"provCustIdentityNum":$("#provCustIdentityNum").val(),
				"provCustAreaId":$("#provCustAreaId").val(),
				"mainProdOfferId":$("#mainProdOfferId").val(),
				"actionFlag": $("input[name='actionFlag']:checked").val(),			
				"reloadFlag":$("#reloadFlag").val(),
				"redirectUri":$("#redirectUri").val(),
				"mainPhoneNum":$("#mainPhoneNum").val(),
				"newSubPhoneNum":$("#newSubPhoneNum").val(),
				"oldSubPhoneNum":$("#oldSubPhoneNum").val(),
				"isFee":$("#isFee").val(),	
				"uimCode":$("#uimCode").val(),
				"acctNumber":$("#acctNumber").val() 
			};
			var version = $("#version").val();			
			$.callServiceAsHtmlGet(contextPath+"/test/getModelUrl",reParams,{
				"before":function(){
					$.ecOverlay("<strong>正在处理中,请稍等会儿....</strong>");
				},
				"always":function(){
					$.unecOverlay();
				},
				"done" : function(response){
					if(response.code==0){								
						var data = $.parseJSON(response.data) ;
						if(data.code==0){				
							var params = data.data.params;
							var accessToken = data.data.accessToken;
							var toUrl=data.data.toUrl;
							var url="";
							if(toUrl=="1000"){
								url = contextPath + "/mode/"+version+"?params="+params+"&accessToken="+accessToken;
							}else{
								url = toUrl + "/mode/"+version+"?params="+params+"&accessToken="+accessToken;
							}
							
							$("#form11").attr("action",contextPath + "/mode/"+version);
							
							$("#params").val(params);
							
							$("#accessToken").val(accessToken);
							
							//$("#form11").submit();
							
							window.open(url);							
							//$("#modelIframe").attr("src",url);		
							return;						
						}else if(data.code==1){
							$.alert("提示",data.data);
						}
					}else{
						$.alert("提示","页面回调异常！");
					}
				},
				fail:function(response){
					$.unecOverlay();
					$.alert("提示","生成token可能发生异常，请稍后再试！");
				}
			});	
		}
	</script>
</head>
<body>

	<div class="main">
		<div class="divTest"><span class="info_title" style="font-size: 20px; color: #71ab5a; ">测试版本：</span>		
			  <select id="version">  
					<option value ="pc">PC</option>  
					<option value ="app">APP</option>
					<option value ="pad">PAD</option>
			  </select><br/>
	    </div>
		<div class="divTest"><span class="info_title" style="font-size: 20px; color: #71ab5a; ">令牌获取接口参数：</span><br/>		
			员工工号：<input id="staffCode" class="inputWidth250px inputTest" value="HUANGYI"/><br/>
			员工姓名：<input id="staffName" class="inputWidth250px inputTest" value="黄一"/><br/>
			员工归属地区ID：<input id="areaId" class="inputWidth250px inputTest" value="8330100"/><br/>
			归属地区编号：<input id="areaCode" class="inputWidth250px inputTest" value=""/><br/>
			归属地区名称：<input id="areaName" class="inputWidth250px inputTest" value="杭州市"/><br/>
			归属市名称：<input id="cityName" class="inputWidth250px inputTest" value="杭州市"/><br/>
			归属地市编码：<input id="cityCode" class="inputWidth250px inputTest" value=""/><br/>
			归属省份名称：<input id="provinceName" class="inputWidth250px inputTest" value="浙江省"/><br/>
			归属省份编码：<input id="provinceCode" class="inputWidth250px inputTest" value="8330000"/><br/>
			渠道编码：<input id="channelCode" class="inputWidth250px inputTest" value="89461"/><br/>
			系统标识：<input id="systemId" class="inputWidth250px inputTest" value=""/><br/>
			公钥：<input id="publicKey" class="inputWidth250px inputTest" value="PUBLIC_TOKEN_KEY"/><br/>
			私钥：<input id="privateKey" class="inputWidth250px inputTest" value="TOKEN_8110000_KEY"/><br/>
		<br/>
		</div>
		<div class="divTest">
		<span class="info_title" style="font-size: 20px; color: #71ab5a; ">单点页面集成接口参数：</span><br/>		
			省份流水：<input id="provIsale" class="inputWidth250px inputTest" value="8110000000000000000000001"/><br/>
			客户定位证件类型：<select id="provCustIdentityCd"><option value ="1">身份证</option></select><br/>
			客户编码：<input id="custNumber" class="inputWidth250px inputTest" value="171100052872830"/><br/>
			客户定位对应证件类型的编码值：<input id="provCustIdentityNum" class="inputWidth250px inputTest" value=""/><br/>
			客户所属区域编码：<input id="provCustAreaId" class="inputWidth250px inputTest" value="8330100"/><br/>
			主套餐内部ID ：<input id="mainProdOfferId" class="inputWidth250px inputTest" value=""/><br/>		
			业务类型： <input type="radio" name="actionFlag" value="1" checked="checked">新装  <input type="radio" name="actionFlag" value="2">套餐变更
				   <input type="radio" name="actionFlag" value="3">主副卡成员变更 <input type="radio" name="actionFlag" value="14">可选包变更<br/>					
			重新加载标识：<select id="reloadFlag">  
						<option value ="Y">新加载</option>  
						<option value ="N">二次加载</option>
					</select>  <br/>
			回调URL地址：<input id="redirectUri" class="inputWidth250px inputTest" value=""/><br/>
			主号码：<input id="mainPhoneNum" class="inputWidth250px inputTest" value="17767073265"/><br/>
			新装成员号码：<input id="newSubPhoneNum" class="inputWidth250px inputTest" value=""/><br/>
			老用户成员号码：<input id="oldSubPhoneNum" class="inputWidth250px inputTest" value=""/><br/>			
			是否集团收费：<select id="isFee">  
						<option value ="1">不收费</option>  
						<option value ="2">收费</option>
					</select>  <br/>
			UIM卡号:<input id="uimCode" class="inputWidth250px inputTest" value=""/>[多个用","隔开]<br/>
			帐户合同号:<input id="acctNumber" class="inputWidth250px inputTest" value=""/><br/>
		<br/>
		</div>
		
		<form action="" method="POST" id="form11">
	<input type="text" id="params" name="params" value="">
	
	<input type="text" id="accessToken" name="accessToken" value=""/>
</form>
		
		<button class="btn" onclick="commit();">确定</button>		
	</div><br/>
<!-- 	<iframe id="modelIframe" style="width:100%;height: 1000px;" src=""></iframe> -->


</body>
</html>