<link rel="stylesheet" href="${contextPath}/css/pad-css/jquery.mobile-1.4.2.css">
<link rel="stylesheet" href="${contextPath}/css/pad-css/pad.css">

<link href="${contextPath}/js/third-js/validate/css/jquery.ketchup.css" rel="stylesheet" media="screen" type="text/css" />
<link href="${contextPath}/js/third-js/jquery/zebra-dialog/css/zebra_dialog.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/js/third-js/jquery/jquery.overlay/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="${contextPath}/js/third-js/jquery/jquery.lhgcalendar/skins/lhgcalendar.css" rel="stylesheet" type="text/css" />