<@override name="title">证件关系查询</@override>

<@override name="header">
<#include "/busi-js-tpl.html"/>

<script src="${contextPath}/js/busi-js/query/queryCertNumRel.js?${jsversion}" type="text/javascript"></script>
<script src="${contextPath}/js/4g-js/cert/cert.js?${jsversion}" type="text/javascript"></script>
<object id="CertCtl" type="application/cert-reader" width="0" height="0"></object>

</@override>

<@override name="content">

<div class="main_div" id="div_query" >

    <div class="main_warp" id="d_undo_main" >
        <!--订单准备-->
        <h2 class="h2_title">证号关系查询<span></span>
        	<!-- <a href="业务办理_客户定位完成.html" class="numberSearch back3"><span>返回</span></a> -->
        </h2>
        <div class="order">
            <div class="order_content" style="border:none; padding:10px">
                
                <!--挑靓号-->
                <div class="order_tab_panel" style="display:block;">
                <form id="certNumRelForm">
                        <div class="selectList">
                            <dl>
                                 <dt>证件类型：</dt>
                                  <dd>
                                    <select id="identidiesTypeCd" onchange="query.cert.identidiesTypeCdChoose(this,'orderAttrIdCard')">
                                        <#list list as item>  
                                         <#if item.certTypeCd != 34 && item.certTypeCd != 15 &&  item.certTypeCd != 43 &&  item.certTypeCd != 6 &&  item.certTypeCd != 7>
                                             <option value="${item.certTypeCd}">${item.name}</option>
                                         </#if>
										</#list>
									</select>
                                  	<label class="f_red">*</label>
                                 </dd>
                                  
                                  
                                  <dt>证件号码：</dt>
                                  <dd>
                                    <input id="orderAttrIdCard" placeHolder="请输入证件号码"  class="inputWidth250px"maxlength="50"type="text">
                                    <label class="f_red">*</label>
                                  </dd>
                                 
                                 <dd>
                                 
                                    <input type="button" value="读卡" class="numberSearch" id="orderAttrReadCertBtn" onclick="javascript:query.cert.readCertWhenOrder()"/>
                                    <input type="button" value="查询" class="numberSearch" id="bt_Qry" />
                                   
                                   <!-- <a class="btn_h30" id="orderAttrReadCertBtn"  style="margin-top: 0px; display: none;"><span>c</span></a>-->
                                 </dd>
                            </dl>
                  </div>
                  </form>
                    <!--关系列表-->
                    <div class="phone_warp" id="cmlist" >
           <table class="numberList">
              <thead>
                <tr>
                  <td width="80">省</td>
                  <td width="200">地区</td>
                  <td width="70">号码</td>
                  <td width="120">状态</td>
                </tr>
              </thead>
              <tbody>
 				
              </tbody>
            </table>
                       
                    
                    </div>
                                       
                                       
                </div>
                                        
            </div>
        </div>
       
    </div>
	
	
</div>


</@override>

<#if Session["_session_portal_type"]?? && Session["_session_portal_type"]=="MVNO" >
<@extends name="/mvno-template.html"/>
<#else>
<@extends name="/content-template.html"/>
</#if>